eon-textarea[theme="claro"] {
  position: relative;
  display: flex;
  flex-direction: column;
  /* LABEL */
  /* BOTTOM bar*/
  /* Counter div*/
  /* active state */
}
eon-textarea[theme="claro"] .textareaGroup {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
}
eon-textarea[theme="claro"] .textareaWrapper {
  background-color: green;
}
eon-textarea[theme="claro"] .textarea {
  font-size: 15px;
  font-family: sans-serif;
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 10px;
  resize: none;
  word-wrap: break-word;
  color: #ababab;
  border: none;
  background-color: #A01A1A;
  width: 100%;
  overflow: hidden;
}
eon-textarea[theme="claro"] .disableTextareaGroup {
  pointer-events: none;
  color: #747474;
}
eon-textarea[theme="claro"] .readonlyTextareaGroup {
  pointer-events: none;
}
eon-textarea[theme="claro"] .focusTextarea {
  color: #ffffff;
  outline: none;
}
eon-textarea[theme="claro"] .displayLabel {
  font-size: 15px;
  height: 18px;
  margin-bottom: 5px;
}
eon-textarea[theme="claro"] .focusLabel {
  font-size: 14px;
  color: #c718be;
}
eon-textarea[theme="claro"] .inputBar {
  position: relative;
  display: block;
  width: auto;
}
eon-textarea[theme="claro"] .inputBar:before,
eon-textarea[theme="claro"] .inputBar:after {
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
  background: #c718be;
}
eon-textarea[theme="claro"] .inputBar:before {
  left: 50%;
}
eon-textarea[theme="claro"] .inputBar:after {
  right: 50%;
}
eon-textarea[theme="claro"] .counter {
  font-size: 14px;
  display: flex;
  margin: 5px;
  justify-content: flex-end;
}
eon-textarea[theme="claro"] .focusCounter {
  color: #c718be;
}
eon-textarea[theme="claro"] .textarea:focus ~ .inputBar:before,
eon-textarea[theme="claro"] .textarea:focus ~ .inputBar:after {
  width: 50%;
}
@media (max-width: 768px) {
  eon-textarea[theme="claro"] {
    width: auto !important;
  }
}
