eon-gutter[theme="claro"] {
  position: relative;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
eon-gutter[theme="claro"].eon-gutter-vertical {
  flex-direction: column;
}
eon-gutter[theme="claro"] .eon-gutter-section {
  position: absolute;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  left: 0;
  min-height: 0;
  min-width: 0;
}
eon-gutter[theme="claro"].eon-gutter-vertical > .eon-gutter-section {
  top: 0;
  width: 100%;
  height: 50%;
}
eon-gutter[theme="claro"] .eon-gutter-sectionSecond {
  left: auto;
  right: 0;
}
eon-gutter[theme="claro"].eon-gutter-vertical > .eon-gutter-sectionSecond {
  top: auto;
  bottom: 0;
}
eon-gutter[theme="claro"] .eon-gutter-splitter {
  position: absolute;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  cursor: col-resize;
  text-align: center;
  background-color: #414141;
  z-index: 1;
}
eon-gutter[theme="claro"].eon-gutter-vertical > .eon-gutter-splitter {
  z-index: 1;
  left: auto;
  width: 100%;
  height: 6px;
  margin-top: -3px;
  margin-left: 0;
  cursor: row-resize;
}
eon-gutter[theme="claro"] .eon-gutter-splitterClickable {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 35px;
  margin-top: -17px;
  margin-left: 0;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.2s;
  background-color: #525252;
  color: #6b6b6b;
}
eon-gutter[theme="claro"] .eon-gutter-splitterClickable:hover {
  background-color: #6b6b6b;
  color: #525252 !important;
}
eon-gutter[theme="claro"].eon-gutter-vertical > .eon-gutter-splitter > .eon-gutter-splitterClickable {
  z-index: 1;
  top: 0;
  left: 50%;
  width: 35px;
  height: 100%;
  margin-top: 0;
  margin-left: -17px;
}
eon-gutter[theme="claro"] .eon-gutter-splitterCollapseIcon {
  padding-top: 0px;
  font-size: 15px;
  align-items: center;
  transition: color 0.2s;
}
