app-doc-viewer{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: row;
}
app-doc-viewer .app-doc-viewer-menu-overlay{
width:100%;
height:100%;
z-index: 199;
position:absolute;
background-color:rgba(0, 0, 0, 0.2);
display:none;
}
app-doc-viewer .app-doc-viewer-toggleMenu{
position:absolute;
left:5px;
font-size: 40px;
cursor:pointer;
display:none;
}
app-doc-viewer .app-doc-viewer-menu-header{
    width:100%;
    height:155px; 
    padding-top:40px;
    box-sizing: border-box;
}
app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 100%;
}
app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-logo img{
    max-width: 100%;
    max-height: 50px;
}
app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-logo a{
    width: calc(100% - 120px);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-search{
    color:red;
}
app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-search eon-searchbar{
    width: 220px;
    display: flex;
    margin: 20px auto 10px auto;
    padding: 0px 20px 2px 20px;
    box-sizing: border-box;
}
app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-search eon-searchbar .eon-searchbar-main{
    box-shadow: 0px 0px 10px #d8d8d8;
    border: none !important;
    border-radius: 20px;
    flex-grow: 1;
    padding: 0 !important;
    justify-content: center;
    height: 30px;
}
app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-search eon-searchbar .eon-searchbar-main .eon-text-underline{
    display:none;
}
app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-search eon-searchbar .eon-searchbar-main .eon-searchbar-searchbar, app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-search eon-searchbar .eon-searchbar-main .eon-searchbar-searchbar .eon-searchbar-field, app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-search eon-searchbar .eon-searchbar-main .eon-searchbar-searchbar .eon-searchbar-field .eon-text-main{
    border-color: transparent !important;
}
app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-search eon-searchbar .eon-searchbar-main .eon-searchbar-searchbar .eon-searchbar-field .eon-text-main{
    position:relative;
    background-color: transparent !important;
}
app-doc-viewer .app-doc-viewer-menu-header .app-doc-viewer-menu-header-search eon-searchbar .eon-searchbar-main .eon-searchbar-searchbar .eon-searchbar-field input{
    top: 5px;
    left: 0px;
    position: absolute;
    outline: none;
    background: transparent;
    border: none;
    color: #888888;
}


app-doc-viewer .app-doc-viewer-menu{
    min-width: 300px;
    width:300px;
    max-width:90%;
    height: 100%;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 21px 0px rgb(197, 204, 216);
    z-index: 200;
}
app-doc-viewer .app-doc-viewer-menu eon-tree .eon-tree-tree{
    width:100%;
    padding-top:40px;
    padding-left: 10px;
    box-sizing: border-box;
}
app-doc-viewer .app-doc-viewer-menu-tree{
    height:calc(100% - 155px);
}

app-doc-viewer .app-doc-viewer-viewer{
    flex-grow: 1;
    width: calc(100% - 300px);
}

.app-doc-viewer-display-none{
    display:none !important;
}

.app-doc-viewer-private-display-none{
    display:none !important;
}

app-doc-viewer .app-doc-viewer-menu-show{
    left: 0px !important;
}

app-doc-viewer .app-doc-viewer-content{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 700px) {
    app-doc-viewer .app-doc-viewer-menu{
        left: -300px;
        position: absolute;
        min-width: auto;
    }
    app-doc-viewer .app-doc-viewer-toggleMenu{
        display:block;
    }
    app-doc-viewer .app-doc-viewer-viewer{
        width: 100%;
    }
}