@element: eon-slider;

@{element} {
  & {
    position: relative;
  }

  &[inline="true"] {
    display: inline-block;
  }
  
  &[inline="true"] .@{element}-wrapper {
    width: auto;  
  }

  &[orientation="vertical"] .@{element}-wrapper {
    display: inline-flex;
    width: auto;
  }

  &[orientation="vertical"] .@{element}-shell {
    width: auto;
  }


  &[display-visibility="true"] .@{element}-display {
    display: flex;
  }

  // Makes transparent all the default elements of the range input.
 	// Uses color:transparent to eliminate the default tick marks in IE. 
  input[type=range] {
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 0;
    color: transparent;
    border: 0 none;
    background: transparent;
  }
  input[type=range]::-ms-track {
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 0;
    color: transparent;
    border: 0 none;
    background: transparent;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    border: transparent;
    background: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  // Make the thumbs the same size as the custom sliderThumb.
 	// they will not be visible but they will be draggable. 	
  input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: transparent;
  }
  input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: transparent;
  }
  input[type=range]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: transparent;

    -webkit-appearance: none;
  }
  // Microsoft IE10+ and Edge - eliminates default fills before and after thumb 
  input[type=range]::-ms-fill-lower {
    border: 0 none;
    background: transparent;
  }
  input[type=range]::-ms-fill-upper {
    border: 0 none;
    background: transparent;
  }
  input[type=range]::-ms-tooltip {
    display: none;
  }
  // Thumb active 
  &[disable="false"] .@{element}-thumb:active {
    transform: scale(1.2);
  }

  // ******* HORIZONTAL slider *******
  &[orientation="horizontal"] .@{element}-slider {
    height: 10px;
    width: 100%;
    min-width: 150px;
  }

  &[orientation="horizontal"] .@{element}-shell {
    // width: ~"calc(100% - 45px)";
    height: 10px; // Necessary to work on iOS
  }

  &[orientation="horizontal"] .@{element}-display {
    margin-left: 15px;
    justify-content: center;
  }

  // IE and iOS
  &[orientation="horizontal"] .@{element}-track {
    top: ~"calc(50% - 2px)";
  }

  // IE and iOS
  &[orientation="horizontal"] .@{element}-fill {
    top: ~"calc(50% - 2px)";
  }

  &[orientation="horizontal"] .@{element}-thumb {
    top: -5.7px;
  }

  // Display position
  &[orientation="horizontal"][display-align="left"] .@{element}-wrapper {
    flex-direction: row-reverse;
    align-items: center;
  }
  &[orientation="horizontal"][display-align="right"] .@{element}-wrapper {
    align-items: center;
  }

  &[orientation="horizontal"][display-position="top"] .@{element}-wrapper {
    flex-direction: column-reverse;

    align-items: center;
  }

  &[orientation="horizontal"][display-position="bottom"] .@{element}-wrapper {
    flex-direction: column;

    align-items: center;
  }

  // Display margin
  &[orientation="horizontal"][display-align="right"] .@{element}-display {
    margin-left: 15px;
    align-items: center;
  }
  
  &[orientation="horizontal"][display-align="left"] .@{element}-display {
    margin-right: 15px;
    align-items: center;
  }

  &[orientation="horizontal"][display-position="bottom"] .@{element}-display {
    width: 100%;
    margin-top: 10px;
  }

  &[orientation="horizontal"][display-position="top"] .@{element}-display {
    width: 100%;
    margin-bottom: 10px;
  }

  // ******* VERTICAL slider *******

  &[orientation="vertical"] .@{element}-wrapper {
    flex-direction: column;
  }

  &[orientation="vertical"] .@{element}-shell {
    height: ~"calc(100% - 35px)";
  }

  &[orientation="vertical"] .@{element}-track {
    left: ~"calc(50% - 2px)";
  }

  &[orientation="vertical"] .@{element}-fill {
    left: ~"calc(50% - 2px)";
  }

  &[orientation="vertical"] {
    min-height: 150px; 
  }

  &[orientation="vertical"] .@{element}-shell {
    min-height: 150px; 
  }
  
  &[orientation="vertical"][inline="false"] .@{element}-slider {
    height: 100%;
  }

  &[orientation="vertical"] .@{element}-slider {
    flex-grow: 1;
    width: 10px;
    left:  ~"calc(50% - 5px)";

    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
            appearance: slider-vertical;
  }


  &[orientation="vertical"] .@{element}-track {
    top: 0;
    height: 100%;
  }

  &[orientation="vertical"] .@{element}-fill {
    bottom: 0;
  }

  &[orientation="vertical"] .@{element}-thumb {
    left: -5.7px;
  }

  &[orientation="vertical"] .@{element}-display {
    justify-content: center;
    height: 20px;
    margin-top: 15px;
  }

  // Display position
  &[orientation="vertical"][display-position="top"] .@{element}-wrapper {
    flex-direction: column-reverse;
  }

  &[orientation="vertical"][display-position="left"] .@{element}-wrapper {
    flex-direction: row-reverse;
  }

  &[orientation="vertical"][display-position="right"] .@{element}-wrapper {
    flex-direction: row;
  }

  // Display margin
  &[orientation="vertical"][display-position="bottom"] .@{element}-display {
    margin-top: 15px;
  }

  &[orientation="vertical"][display-position="top"] .@{element}-display {
    margin-bottom: 15px;
  }

  &[orientation="vertical"][display-position="left"] .@{element}-display {
    margin-right: 15px;
  }

  &[orientation="vertical"][display-position="right"] .@{element}-display {
    margin-left: 15px;
  }

}

.@{element}-wrapper {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  flex-direction: row;
}

.@{element}-shell {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}
.@{element}-slider {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: all !important;
}
.@{element}-track {
  position: absolute;
  width: 4px;
  height: 4px;
  pointer-events: none;
}
.@{element}-fill {
  position: absolute;
  z-index: 20;
  left: 0;
  width: 4px;
  height: 4px;
  pointer-events: none;
}
.@{element}-thumb {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
  pointer-events: all !important;
  border: 0 none;
  border-radius: 50%;
  transition: transform .3s cubic-bezier(.4,0,.2,0);
  display: flex;
  justify-content: center;
  align-items: center;
}

@{element}:not([disabled="true"]):not([readonly="true"]) .@{element}-thumb:hover{
  cursor: pointer;
  transform: scale(1.15);
}

.@{element}-display {
  position: relative;
  display: none;
  min-width: 30px;
  min-height: 20px;
  justify-content: center;
}

.@{element}-description {
  font-size: 14px;
  width: 100%;
}
