.vc-scroll-container {
  overflow: hidden !important;
}
vc-scroll[theme="noire"][native-on-device="true"][native="true"] .vc-scroll-content {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
}
vc-scroll[theme="noire"][native-on-device="true"][native="true"] .vc-scroll-verticalScroll {
  display: none;
}
vc-scroll[theme="noire"][native-on-device="true"][native="true"] .vc-scroll-horizontalScroll {
  display: none;
}
vc-scroll[theme="noire"] {
  /* Animations Mode*/
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
vc-scroll[theme="noire"].active-transitions .vc-scroll-verticalBar {
  transition: top 0.4s cubic-bezier(0, 0, 0.54, 1.01);
}
vc-scroll[theme="noire"].active-transitions .vc-scroll-horizontalBar {
  transition: left 0.4s cubic-bezier(0, 0, 0.54, 1.01);
}
vc-scroll[theme="noire"].active-transitions .vc-scroll-content {
  transition: 0.4s all cubic-bezier(0, 0, 0.54, 1.01);
}
vc-scroll[theme="noire"][fit="true"] {
  height: 100%;
  width: 100%;
}
vc-scroll[theme="noire"][fit="true"] > .vc-scroll-content {
  height: 100%;
  width: 100%;
}
vc-scroll[theme="noire"] .vc-scroll-content {
  flex-grow: 1;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  box-sizing: border-box;
}
vc-scroll[theme="noire"] > object[data="about:blank"],
vc-scroll[theme="noire"] .vc-scroll-content > object[data="about:blank"] {
  visibility: hidden;
}
vc-scroll[theme="noire"] .vc-scroll-verticalScroll {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  height: 100%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
  background-color: transparent;
}
vc-scroll[theme="noire"] .vc-scroll-verticalRail {
  position: relative;
  flex-grow: 1;
}
vc-scroll[theme="noire"] .vc-scroll-verticalBar {
  position: absolute;
  width: 100%;
  opacity: 1;
  background-color: #333232;
}
vc-scroll[theme="noire"] .vc-scroll-horizontalScroll {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: row;
  width: 100%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
  background-color: transparent;
}
vc-scroll[theme="noire"] .vc-scroll-horizontalRail {
  position: relative;
  flex-grow: 1;
}
vc-scroll[theme="noire"] .vc-scroll-horizontalBar {
  position: absolute;
  height: 100%;
  opacity: 1;
  background-color: #333232;
}
vc-scroll[theme="noire"] .vc-scroll-square {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
  background-color: #333232;
}
vc-scroll[theme="noire"] .vc-scroll-active {
  display: flex;
}
vc-scroll[theme="noire"] .vc-scroll-arrowButton {
  display: flex;
  cursor: default;
  color: #606060;
  background-color: #333232;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
}
vc-scroll[theme="noire"] .vc-scroll-arrowButton:hover {
  color: #ffffff;
}
vc-scroll[theme="noire"] .vc-scroll-static {
  opacity: 1;
}
@media (max-width: 800px) {
  vc-scroll[theme="noire"] .vc-scroll-arrowButton {
    display: none;
  }
}
