@element: eon-stack;

@{element} {
  & {
    height: 100%;
    display: flex;
  }

  &.@{element}-flex {
    flex-grow: 1;
  }

  &.@{element}-flex > eon-panel {
    height: auto;
    flex-grow: 1;
  }

  eon-panel.@{element}-visible {
    display: block;
  }

  &.@{element}-flex eon-panel.@{element}-visible {
    display: flex;
  }
}