@element: vc-togglemenu;

@{element} {
  & {
    z-index: 100;
    display: flex;
    overflow: visible;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    background-color: transparent;
    position: relative;
  }

  .@{element}-button {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 30px;
    padding: 20px 5px;
    cursor: pointer;
    border-width: 3px;
    border-style: solid;
    border-bottom: none;
    
    align-items: center;
    justify-content: center;
  }

  .@{element}-button:hover {
    box-sizing: border-box;
  }

  // .@{element}-buttonActive:hover {
  //   background-color: transparent;
  // }

  .@{element}-title {
    display: flex;
    
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }

  .@{element}-arrow {
    font-size: 22px;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
  }

  .@{element}-buttonActive .@{element}-arrow {
    transform: rotate(180deg);
  }

  .@{element}-content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    // overflow: auto;
    flex-direction: column;
    height: 0;
    border-width: 3px;
    border-style: solid;
    border-top: none;
  }

  .@{element}-content .vc-scroll-content {
    // display: flex;
    // flex-direction: column;
    // flex: none; 
  }

  .@{element}-transition {
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }

  .@{element}-contentDisplay {
    z-index: 100;
  }

  // TO BE REMOVED (Replaced by default style)
  // .@{element}-item {
  //   padding: 10px;
  // }

  // ****** DEPLOY OVERLAP ******
  &[deploy="overlap"] .@{element}-content {
    z-index: 100;
  }

  // ****** OCCUPY FIT ******
  &[occupy="fit"] {
    height: auto;
  }

  // ****** TABLET AND MOBILE VERSION ******
  @media (max-width: 800px) {
    & {
      width: auto;
    }

    .@{element}-content {
      width: 100%;
    }
  }

  // DEFAULT STYLE 
  .@{element}-content.vc-spaced .@{element}-item{
    padding: 10px;
  }

}
