app-vicon {
    border-radius: 50%;
    background-color: transparent;
    padding: 8px;
    transition: 0.5s all;
    position: relative;
    user-select: none;
    z-index: 1;
}

app-vicon .app-vicon-hover{
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

app-vicon .vicon {
    z-index: 3;
    position: relative;
}

app-vicon:hover {
    cursor: pointer;
}

app-vicon .app-vicon-effect {
    z-index: 1;
    position: absolute;
    height: 0%;
    width: 0%;
    background-color: rgba(255, 255, 255, 0.2);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

app-vicon .app-vicon-effect-show {
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    transition: ease-out 0.3s all;
}

app-vicon .app-vicon-title {
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    position: absolute;
    max-width: 100px;
    background-color: rgba(68, 68, 68, 0.8);
    top: 150%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 0px;
    padding: 0px 8px;
    transition: 0.1s all;
    pointer-events: none;
    color: white;
    z-index: 999;
}

app-vicon .app-vicon-title-show {
    height: 20px;
}

@media (max-width: 500px) {
    app-vicon .app-vicon-title {
        display: none;
    }
} 