.gutterContainer {
  height: 250px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.gutterContainer > vc-gutter {
  border: #353535 2px solid;
}
.innerCard {
  height: 50px;
  width: 50px;
  min-width: 50px;
  margin: 8px;
  background-color: #478b9c;
}
.orange {
  background-color: #b78f47;
}
.red {
  background-color: #9c4747;
}