vc-combobox[theme="noire"] .vc-combobox-main {
  border-bottom: 1px solid #e6e6e6;
}
vc-combobox[theme="noire"] .vc-combobox-underline:before,
vc-combobox[theme="noire"] .vc-combobox-underline:after {
  background: #18c796;
}
vc-combobox[theme="noire"].noMatches .vc-combobox-main {
  border-bottom: 1px solid #c33232;
}
vc-combobox[theme="noire"].noMatches .vc-combobox-underline:before,
vc-combobox[theme="noire"].noMatches .vc-combobox-underline:after {
  background: #c33232;
}
