vc-checkbox[theme="noire"] {
  /* Create the tick inside the checkbox */
  /* Style of the box when the checkbox it's disabled */
  /* Box style when the checkbox it's checked and disabled */
}
vc-checkbox[theme="noire"] .vc-checkbox-checked[type="checkbox"] + .vc-checkbox-label:after {
  border: 2px solid #303030;
  border-top: none;
  border-right: none;
  background: transparent;
}
vc-checkbox[theme="noire"] .vc-checkbox-checkbox[type="checkbox"]:disabled + .vc-checkbox-label span {
  border: 2px solid #747474;
}
vc-checkbox[theme="noire"] .vc-checkbox-checked[type="checkbox"]:disabled + .vc-checkbox-label span {
  border: 2px solid #747474;
  background-color: #747474;
}
vc-checkbox[theme="noire"] .vc-checkbox-checkbox:disabled + .vc-checkbox-label,
vc-checkbox[theme="noire"] .checkbox[type="checkbox"]:disabled + .vc-checkbox-label span,
vc-checkbox[theme="noire"] .vc-checkbox-checkbox[type="checkbox"]:disabled + .vc-checkbox-label:after {
  color: #747474;
}
