vc-datebox {
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
}
vc-datebox .vc-datebox-subInputs div[data-field] input:focus {
  background-color: #9a9a9a;
  /* IE does not support transparencies, use the above rule */
  background-color: rgba(99, 99, 99, 0.4);
}
vc-datebox:not([data-touch="true"]) .vc-datebox-subInput:hover {
  background-color: #9a9a9a;
  /* IE does not support transparencies, use the above rule */
  background-color: rgba(99, 99, 99, 0.2);
}
vc-datebox .vc-datebox-underline:before,
vc-datebox .vc-datebox-underline:after {
  background: #18c796;
}
vc-datebox .vc-datebox-underline.noMatches:before,
vc-datebox .vc-datebox-underline.noMatches:after {
  background: #c33232;
}
vc-datebox[disabled="true"] ::-webkit-input-placeholder {
  color: #565656;
}
vc-datebox[disabled="true"] :-moz-placeholder {
  color: #565656;
}
vc-datebox[disabled="true"] ::-moz-placeholder {
  color: #565656;
}
vc-datebox[disabled="true"] :-ms-input-placeholder {
  color: #565656 !important;
}
