/* Elements colors */
/* datebox */
vc-toggle .vc-toggle-input[type="checkbox"] + .vc-toggle-label::after {
  background: #e6e6e6;
}
vc-toggle .vc-toggle-input:checked ~ .vc-toggle-label .vc-toggle-span {
  background: #45e9bb;
}
vc-toggle .vc-toggle-input[type="checkbox"]:checked + .vc-toggle-label::after {
  background: #18c796;
}
vc-toggle .vc-toggle-input:disabled ~ .vc-toggle-label .vc-toggle-span {
  background: #ababab;
}
vc-toggle .vc-toggle-input:disabled ~ .vc-toggle-label::after {
  background: #9a9a9a;
}
vc-toggle .vc-toggle-input[type="checkbox"]:disabled + .vc-toggle-label::after {
  background: #9a9a9a;
}
