
@element: vc-gutterflex;

@{element}[theme="noire"] {
  & {
    position: relative;
    overflow: hidden;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }
  .@{element}-splitter {
    position: relative;
    width: 6px;
    height: 100%;
    // margin-left: -3px;
    cursor: col-resize;
    text-align: center;
    z-index: 1;
  }
}
