@import "variables";
@element: eon-headerpanel;

/* Vimlet panel element */
eon-headerpanel[theme="@{theme}"],
div[data-theme="@{theme}"] eon-headerpanel,
body[data-theme="@{theme}"] eon-headerpanel {
  /* Header */
  .@{element}-header{
    display: none;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    background-color: @sect5;
    color: @fg0;
    font-weight: bold;
    font-family: arial;
    transition: height .3s cubic-bezier(.4,0,.2,0);
  }
  /* Content top shadow div */
  .@{element}-shadowDrop{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    opacity: 0;
    pointer-events: none;
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
    transition: opacity .3s cubic-bezier(.4,0,.2,0);
  }
}