@import "variables";
@element: eon-label;

@{element}[theme="@{theme}"] {

    .@{element}-placeholder {
        color: @placeholder-color;
    }

    &.@{element}-focus .@{element}-label {
        color: @eonFrontColor;
    }

    .@{element}-underline:before, .@{element}-underline:after { 
        background: @eonFrontColor;  
    }

}
