@import "variables.less";
@element: eon-menu;

eon-menu[theme="@{theme}"],
eon-overlay[theme="@{theme}"],
div[data-theme="@{theme}"] eon-menu,
body[data-theme="@{theme}"] eon-menu {

  .@{element}-button,
  .@{element}-modalButton {
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  }
  .@{element}-button:hover,
  .@{element}-modalButton:hover {
    color: @eonFrontColor;
  }

  eon-item {
    background-position: center;
    transition: color @animation, background @animation;
  }
  eon-item:hover {
    color: @eonFrontColor;
    background: @ripple-inner-bg1-hover radial-gradient(circle, transparent 1%, @ripple-inner-bg1-hover 1%) center/15000%; 
  }
  eon-item:active {
    background-color: @ripple-inner-bg1;
    background-size: 100%;
    transition: background 0s;
  }

}