
@import "variables.less";
@element: eon-bubble;

eon-bubble[theme="@{theme}"],
div[data-theme="@{theme}"] eon-bubble,
body[data-theme="@{theme}"] eon-bubble {
  & {
    background-position: center;
    box-shadow: @boxshadow7;
    transition: background 0.6s, box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 0),
                transform 0.2s cubic-bezier(0.4, 0, 0.2, 0), color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  }
  &:hover {
    box-shadow: @boxshadow7-hover;
    background: @ripple-inner-bg1-hover radial-gradient(circle, transparent 1%, @ripple-inner-bg1-hover 1%) center / 15000%;
  }
  &:active {
    background-color: @ripple-inner-bg1;
    background-size: 100%;
    transition: background 0s;
  }
}

