
@import "variables";
@element: eon-tabs;

eon-tabs[theme="@{theme}"],
div[data-theme="@{theme}"] eon-tabs,
body[data-theme="@{theme}"] eon-tabs {
    
  .@{element}-scrolls.enabled div {
      color: @fg0;
  }
    
  .@{element}-scrolls.enabled div:hover {
      color: @white;
  }
    
  .@{element}-selected span {
      color: @fg1;
  }

  .@{element}-closing {
    background-color: @error1;
  }

  .@{element}-dragTarget {
    background-color: @bg2-hover;
  }

}