@import "variables";
@element: eon-tree-node;

eon-tree-node[theme="@{theme}"],
div[data-theme="@{theme}"] eon-tree-node,
body[data-theme="@{theme}"] eon-tree-node {
  
  .@{element}-selected::before, .@{element}-selected:hover::before {
    background-color: @sect1-hover;
  }

  .@{element}-selected {
    transition: color .3s cubic-bezier(.4,0,.2,0);
  }
  .@{element}-head {
    transition: color .3s cubic-bezier(.4,0,.2,0);
  }
  .@{element}-head i{
    transition: color .3s cubic-bezier(.4,0,.2,0);
  }
  .@{element}-selected::before {
    transition: background-color .3s cubic-bezier(.4,0,.2,0);
  }
  .@{element}-head::before {
    transition: background-color .3s cubic-bezier(.4,0,.2,0);
  }

  .@{element}-head:hover::before {
    background-color: @sect1;
  }
  .@{element}-selected:hover::before{
    background-color: @sect1-hover;
  }
  .@{element}-head:hover .@{element}-name{
    color: @white;
  }
  .@{element}-head:hover i {
    color: @white;
  }
  .@{element}-selected:hover .@{element}-name{
    color: @white;
  }

}