@import "variables.less";
@element: eon-contextmenu;

eon-contextmenu[theme="@{theme}"],
eon-overlay[theme="@{theme}"],
div[data-theme="@{theme}"] eon-contextmenu,
body[data-theme="@{theme}"] eon-contextmenu {
  
  .eon-contextmenu-contextmenu eon-item {
    background-position: center;
    transition: color @animation, background @animation;
  }
  .eon-contextmenu-contextmenu eon-item:hover {
    background: @ripple-inner-bg1-hover radial-gradient(circle, transparent 1%, @ripple-inner-bg1-hover 1%) center/15000%; 
  }
  .eon-contextmenu-contextmenu eon-item:active {
    background-color: @ripple-inner-bg1;
    background-size: 100%;
    transition: background 0s;
  }
  .eon-contextmenu-label.eon-contextmenu-movedLabel {
    color: @placeholder-color;
  }

}
