@import "variables.less";
@element: eon-button;

@{element}[theme="@{theme}"] {
  & .@{element}-button {
    background-position: center;
    transition: background @animation;
  }
  &[design="filled"] .@{element}-button:hover {
    background: @bg2-filled-hover radial-gradient(circle, transparent 1%, @bg2-filled-hover 1%) center/15000%; 
  }
  &[design="filled"] .@{element}-button:active {
    background-color: @ripple-btn-bg1;
    background-size: 100%;
    transition: background 0s; 
  }
  & .@{element}-button:hover {
    background: @bg-sBtn-hover radial-gradient(circle, transparent 1%, @bg-sBtn-hover 1%) center/15000%; 
  }
  & .@{element}-button:active {
    background-color: @ripple-btn-bg2;
    background-size: 100%;
    transition: background 0s;
  }
  
} 