@import "variables";
@element: eon-video;

eon-video[theme="@{theme}"],
div[data-theme="@{theme}"] eon-video,
body[data-theme="@{theme}"] eon-video {
  .@{element}-timeline {
    background-color: @eonFrontColor;
  }

  .@{element}-poster {
    background-color: rgba(51, 51, 51, 0.5);
  }
}
