@import "variables";
@element: eon-slider;

eon-slider[theme="@{theme}"],
div[data-theme="@{theme}"] eon-slider,
body[data-theme="@{theme}"] eon-slider {
    
    &.@{element}-error .@{element}-fill, &.@{element}-error .@{element}-thumb {
        background-color: @error1;
    }

    &.@{element}-error .@{element}-fill, &.@{element}-error .@{element}-thumb {
        background-color: @error1;
    }

    &.@{element}-error .@{element}-description {
        color: @error1;
    }

}