@theme: "noire";

// ----- COLORS ---------
// @eonFrontColor: #47cce2; //#18c796
@eonFrontColor: #3da5b7; //#18c796

@fg1: #e6e6e6;
@fg1-hover: #ffffff;
@bg0: #ffffff;
@margin: 5px;
@padding: 5px;

/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
@fg0: #9a9a9a;
@bg1: #2d2d2d;
@bg1-hover: #3da5b7;
@bg1-hover2: #383838;
@bg1-hover3: #333333;
@bg1-border2: #383838;
@bg1-border3: #454545;
@bg1-border: #3da5b7;
@bg1-border-hover: #3da5b7;
@sect1: #383838;
@sect1-hover: #454545;
@sect2: #272727;
@sect2-border-hover: #565656;
@sect3: #454545;
@sect3-hover: #454545;
@sect4: black;
@boxshadow1: 0 2px 16px 0 @boxshadow1-color;
@boxshadow1-color: #242424;
@boxshadow2: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.12);
@boxshadow3: inset 0px 5px 11px -6px @boxshadow1-color;
@boxshadow4: 0px 2px 9px 0px @bg1;
@boxshadow5: inset 0px -33px 37px -39px @bg1;
@bg1-modal: rgba(51, 51, 51, 0.5);
@bg1-modal2-hover: rgba(0, 0, 0, 0.2);
@fg7: #f3f3f3;

/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
radio, contextmenu, slider, treenode) */
@bg2: #3a3a3a;
// Filled button specific
@bg2-filled: #3da5b7; //
@bg2-filled-hover: #54b7c7; //
@boxshadow-filled-hover: 0 3px 9px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12);
@fg2-filled-disabled: #797979;//
@bg2-filled-disabled: #c3c3c3;//
// @bg2-hover: #47cce2;
@bg2-hover: rgba(61, 165, 183, 0.5);
@bg2-border: #3da5b7; //
@bg2-active: #3da5b7;
@bg2-boxshadow: 0 2px 16px 0 @bg2-boxshadow-color;
@bg2-boxshadow-color: #242424;
@bg3: #2d2d2d;
@bg3-border: #e6e6e6;
@bg3-hover: #383838;
@bg4: rgba(99, 99, 99, 0.2);
@bg5: rgba(99, 99, 99, 0.4);
@bg5-disabled: #3b1a1a;
@fg2: #e6e6e6;
@fg2-filled: #ffffff; //
@fg2-hover: #ffffff;
@fg2-disabled: #747474;
@fg2-placeholder-disabled: #565656;
@placeholder-color: #9a9a9a;
@fg3: #3da5b7;
@error1: #c33232;
@error2: #e63939;
@txt0-shadow: 0px 0px 20px rgba(63, 63, 63, 0.66); //

// Set 3 - Elements (toggle, video, date)
@bg6: #747474;
@bg6-disabled2: #797979;
@bg6-disabled3: #c3c3c3;
@bg6-boxshadow: 0px 2px 9px 0px @bg6-boxshadow-color;
@bg6-boxshadow-color: #242424;
@bg7: #3da5b7;
@bg7-light: #72def1;
@fg6-active: #e6e6e6;

// Set 4 - Elements (gutter, loader, scroll, separator)
@bg8: #464646;
@bg8-hover: #565656;
@fg4: #9a9a9a;

@white: #ffffff;

// set 5 - Ripple effect (button, combobox, toggle, radio, checkbox)
@ripple-outer-bg1: rgba(61, 165, 183, 0.5);
@ripple-outer-bg2: rgba(158, 158, 158, 0.5);
@ripple-inner-bg1: #368897;
// Specific flat button hover
@ripple-inner-bg1-hover: #245d67;
// Specific filled button bubble
@ripple-filled-bg1: #99c8d0;
@ripple-filled-bg1-hover: #54b7c7;

@animation: .3s cubic-bezier(.4,0,.2,0);