@element: vc-datebox;

.vc-datebox-overlay {
  position: fixed;
  margin: 0;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vc-datebox-picker {
  position: fixed;
}

.vc-datebox-overlay.vc-datebox-device {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vc-datebox-overlay.vc-datebox-device .vc-datebox-picker {
  width: 90%;
  max-width: 90%;
  min-width: 90%;
}

.vc-datebox-overlay.vc-datebox-device .vc-datepicker-close {
  display: flex;
}

.vc-datebox-picker.hidden {
  display: none;
}

@{element} {

  &[inline="true"] {
    display: inline-block; 
    width: 200px; 
  }

  .@{element}-data {
    height: 18px;
    margin-bottom: 5px;
    flex-grow: 0;
    display: flex;
  }

  &[label=""][counter="false"] .@{element}-data {
    display: none;
  }

  .@{element}-label {
    font-size: 15px;
    height: 100%;
    flex-grow: 1;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  .@{element}-counter {
    height: 100%;
    flex-grow: 0;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &[disabled="true"] {
    pointer-events: none;
  }

  .@{element}-main {
    position: relative;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    min-width: 200px;
  }
  
  .@{element}-input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
  }
  
  .@{element}-input .@{element}-wrapper {
    display: flex;
    flex-direction: row;
  
    align-items: center;
  }
  
  .@{element}-subInputs {
    display: flex;
    background-color: transparent;
    padding: 10px;
  
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .@{element}-subInputs div[data-field="day"], .@{element}-subInputs div[data-field="month"] {
    text-align: center;
  
    flex-basis: 0;
    flex-grow: 1;
  }
  
  .@{element}-subInputs div[data-field="year"] {
    text-align: center;
  
    flex-basis: 0;
    flex-grow: 1.5;
  }
  
  .@{element}-subInputs div[data-field] {
    transition: 0.3s all;
    outline: none;
    display: flex;
  }
  
  .@{element}-subInput input {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: inherit;
    font-size: 15px;
    padding: 0;
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  .@{element}-separator {
    display: flex;
    padding: 0 5px;
  
    align-items: center;
    flex-basis: 0;
    flex-grow: 0;
    justify-content: center;
    font-size: 15px;
  }
  
  .vc-datebox-button {
    margin-right: 10px;
    flex-grow: 0;
  }
  
  &:not([readonly="true"]) .vc-datebox-button {
    cursor: pointer;
  }
  
  /*Underline animation*/
  .@{element}-underline {
    position: relative;
    display: block;
    width: auto;
  }
  .@{element}-underline:before, .@{element}-underline:after {
    position: absolute;
    bottom: -1px;
    width: 0;
    height: 2px;
    content: "";
    -webkit-transition: 0.5s ease all;
       -moz-transition: 0.5s ease all;
            transition: 0.5s ease all;
  }
  .@{element}-underline:before {
    left: 50%;
  }
  .@{element}-underline:after {
    right: 50%;
  }
  
  .@{element}-underline.animate:before, .@{element}-underline.animate:after {
    width: 50%;
  }
  
  /* TOOLBAR DISPLAY*/

  &[toolbar="true"] {
    border: none;
  }
  
  &[toolbar="true"] .@{element}-underline {
    display: none;
  }
  
  &[toolbar="true"] .@{element}-main {
    border: none;
  }

  &[toolbar="true"] .@{element}-data {
    display: none;
  }

}