@import "variables";
@element: eon-label;

@{element} {

    &.@{element}-focus .@{element}-label {
        color: @eonFrontColor;
    }

    .@{element}-underline:before, .@{element}-underline:after { 
        background: @eonFrontColor; 
    }

}
