vc-radiogroup[theme="claro"] {
  position: relative !important;
  display: flex !important;
  flex-direction: column;
  /* Hide native radio*/
  /* Create the circle for the radio */
  /* Change the radio style when it's checked */
  /* Initial inside radio style*/
  /* Change the inside radio style when it's checked */
  /* Style of the circle when the radio it's disable */
  /* Circle style when the radio it's checked and disable */
}
vc-radiogroup[theme="claro"] .vc-radiogroup-radio[type="radio"] {
  display: none;
}
vc-radiogroup[theme="claro"] .vc-radiogroup-radio[type="radio"] + .vc-radiogroup-radioLabel .vc-radiogroup-outspan {
  display: inline-block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  margin: -1px 5px 0 0;
  cursor: pointer;
  vertical-align: middle;
  border: 2px solid #e6e6e6;
  border-radius: 100%;
  background-color: transparent;
}
vc-radiogroup[theme="claro"] .vc-radiogroup-radio[type="radio"] + .vc-radiogroup-radioLabel {
  display: flex;
  cursor: pointer;
}
vc-radiogroup[theme="claro"] .vc-radiogroup-radio[type="radio"] + .vc-radiogroup-radioLabel .vc-radiogroup-outspan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
vc-radiogroup[theme="claro"] .vc-radiogroup-radio[type="radio"]:checked + .vc-radiogroup-radioLabel .vc-radiogroup-outspan {
  cursor: pointer;
  border: 2px solid #c718be;
}
vc-radiogroup[theme="claro"] .vc-radiogroup-radio[type="radio"] + .vc-radiogroup-radioLabel .vc-radiogroup-outspan .vc-radiogroup-inspan {
  position: relative;
  box-sizing: border-box;
  width: 1px;
  height: 1px;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border: 1px solid transparent;
  border-radius: 100%;
}
vc-radiogroup[theme="claro"] .vc-radiogroup-radio[type="radio"]:checked + .vc-radiogroup-radioLabel .vc-radiogroup-inspan {
  position: relative;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border: 1px solid #c718be;
  border-radius: 100%;
  background-color: #c718be;
  align-items: center;
}
vc-radiogroup[theme="claro"] .vc-radiogroup-radio[type="radio"]:disabled + .vc-radiogroup-radioLabel .vc-radiogroup-outspan {
  border: 2px solid #747474;
}
vc-radiogroup[theme="claro"] .vc-radiogroup-radio:disabled + .vc-radiogroup-radioLabel,
vc-radiogroup[theme="claro"] .vc-radiogroup-radio[type="radio"]:disabled + .vc-radiogroup-radioLabel .vc-radiogroup-outspan {
  cursor: auto;
  color: #747474;
}
vc-radiogroup[theme="claro"] .vc-radiogroup-checkedDisableRadio[type="radio"]:checked + .vc-radiogroup-radioLabel .vc-radiogroup-inspan,
vc-radiogroup[theme="claro"] .vc-radiogroup-disableRadio[type="radio"]:checked + .vc-radiogroup-radioLabel .vc-radiogroup-inspan {
  border: 1px solid #747474;
  background-color: #747474;
}
