vc-togglemenu[theme="claro"] {
  z-index: 1000;
  display: flex !important;
  overflow: visible;
  flex-direction: column;
  box-sizing: border-box;
  width: 300px;
  background-color: transparent;
  /******* DEPLOY OVERLAP *******/
  /******* OCCUPY AUTO *******/
  /******* TABLET AND MOBILE VERSION *******/
}
vc-togglemenu[theme="claro"] .vc-togglemenu-button {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 30px;
  padding: 20px 5px;
  cursor: pointer;
  border: 3px solid #c718be;
  border-bottom: none;
  align-items: center;
  justify-content: center;
}
vc-togglemenu[theme="claro"] .vc-togglemenu-button:hover {
  box-sizing: border-box;
  background-color: #c718be;
}
vc-togglemenu[theme="claro"] .vc-togglemenu-buttonActive:hover {
  background-color: transparent;
}
vc-togglemenu[theme="claro"] .vc-togglemenu-title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
vc-togglemenu[theme="claro"] .vc-togglemenu-arrow {
  font-size: 22px;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
vc-togglemenu[theme="claro"] .vc-togglemenu-buttonActive .vc-togglemenu-arrow {
  transform: rotate(180deg);
}
vc-togglemenu[theme="claro"] .vc-togglemenu-content {
  position: relative;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 0;
  max-height: 100%;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  border: 3px solid #c718be;
  border-top: none;
  background-color: #272727;
}
vc-togglemenu[theme="claro"] .vc-togglemenu-contentDisplay {
  z-index: 100;
}
vc-togglemenu[theme="claro"] .vc-togglemenu-item {
  margin: 10px;
}
vc-togglemenu[theme="claro"][deploy="overlap"] .vc-togglemenu-content {
  z-index: 100;
}
vc-togglemenu[theme="claro"][occupy="auto"] {
  height: auto;
}
@media (max-width: 800px) {
  vc-togglemenu[theme="claro"] {
    width: auto;
  }
  vc-togglemenu[theme="claro"] .vc-togglemenu-content {
    width: 100%;
  }
}
