.d-headerpanel-pg{
    height: 362px;
}

@media (max-width: 785px) {
    .d-headerpanel-pg {
      height: 585px;
    }
  }
@media (max-width: 565px) {
    .d-headerpanel-pg {
        height: 805px;
    }
}