html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #2d2d2d;
    color: #e6e6e6;
    overflow: hidden;
}

.d-left-margin {
    margin-left: 20px;
}
.d-top-margin {
    margin-top: 20px;
}

.main {
    width: 100%;
    height: 100%;
}

/* Theme Menu Bar */
.tMenuBar {
    width: 100%;
    height: 60px;
    flex-grow: 0;
    z-index: 2;
    box-sizing: border-box;
}
.tStickyClass {
    background-color: #272727;
    border-bottom: 4px solid #18c796;
    box-shadow: 0 2px 14px 0 #242424;
    flex-grow: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;;
    align-items: center;
}
@media (min-width: 1300px) {
    .tStickyClass {
        justify-content: flex-end !important;
    }
}

.tVLogo {
    position: absolute;
    font-size: 40px;
    left: 0;
    top: 9px;
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-left: 6px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms;
}
.tMenuBtn {
    font-size: 40px;
    left: 0;
    top: 0;
    height: 40px;
    margin-top: 1px;
    margin-left: 6px;
    cursor: pointer;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
    visibility: visible;
}
@media (min-width: 1300px) {
    .tVLogo {
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
        visibility: visible;
        font-size: 36px !important;
    }
    .tMenuBtn {
        opacity: 0;
        visibility: hidden;
        transition: opacity 300ms;
    }
}
.tIcon {
    background-image: url(../img/eon-logo.svg);
    width: 115px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
    margin-top: 0px;
}
/* Theme Menu Bar End */

/* Theme Tester Content */

.tContent {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

/* Theme Tester Tree */

.tTreeContainer {
    background-color: #2d2d2d;
    width: 300px;
    box-shadow: 0px 0px 14px 0 #242424;
    z-index: 1;
    flex-grow: 0;
}

@media (max-width: 1024px) {
    .tTreeContainer {
        width: 300px !important;
    }
}
@media (max-width: 1299px) {
    .tMenuBtn{
        display: block;
    }
}

/* Searchbar */
.tSearchbar {
    height: 50px;
    /* width: 300px; */
    display: flex;
    margin: 0px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    border-bottom: 2px gainsboro solid;
}

.tSearchbar:hover .eon-searchbar-searchButton {
    color: #ffffff;
}

.tSearchbar .eon-searchbar-main {
    box-shadow: none;
    background-color: transparent;
}

.tSearchbar .eon-searchbar-field {
    background-color: transparent !important;
    /* margin-left: 10px; */
}

.tSearchbar .eon-searchbar-main {
    border: none !important;
    flex-grow: 1;
    padding: 0 !important;
    justify-content: center;
}

.tSearchbar .eon-searchbar-field input {
    outline: none;
    background: transparent;
    border: none;
    color: #e6e6e6;
    /* padding: 0 10px; */
}
/* END Searchbar */

.tTree .notVisible {
    display: none;
}
.tTree {
    flex-grow: 1;
    margin-left: 5px;
    height: calc(100% - 60px);
}

/* END Theme Tester Tree */

/* Theme Tester View */

.tViewContainer {
    background-color: #383838;
    /* padding: 20px; */
    flex-grow: 1;
}

.tScrollContainer {
    width: 100%;
    height: 100%;
}

#tViewContent {
    width: 100%;
}

#tViewContent>.eon-scroll-content {
    padding: 20px;
}

/* END Theme Tester View */

/********************/

.card {
    padding: 10px;
    margin: 40px 10px !important;
    background-color: #2d2d2d;
    margin: 10px;
    box-sizing: border-box;
    width: calc(100% - 20px);
}

.card h1 {
    color: #dcdcdc;
    font-weight: bold;
    font-size: 25px;
    padding: 0 20px;
}

.d-pg {
    height: 350px;
}
.d-pg-wrapper {
    padding: 7px 10px 10px 10px;
}

/* GENERAL COLOURED*/
.pink {
    background-color: #b73ba2;
}
.blue {
    background-color: #3b78b7;
}
.yellow {
    background-color: #b78f47;
}
.green {
    background-color: #519a51;
}
.red {
    background-color: #9c4747;
}
.purple {
    background-color: #6c479c;
}

/********************/

eon-button, eon-checkbox, eon-combobox, eon-datebox, eon-text {
    margin: 5px;
}

eon-combobox {
    width: 300px;
}

/* eon-scroll overrides */
.eon-scroll-verticalBar {
    background-color: #696969;
}

/* -- ** TODO - Theming - Playground override -- */
eon-playground.d-pg iframe {
    margin: 3px 3px 3px 0 !important;
}
eon-playground eon-panel{
    padding: 0 !important;
}