
.d-swiper-excluded {
    width: 200px;
    height: 100px;
    background: #801a65;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 4px;
}

.d-swiper-row {
    padding-left: 0;
    margin-left: -5px;
}
.d-swiper-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 500px;
    max-width: 550px;
    overflow: hidden;
    padding-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}