vc-combobox {
  /* Begin underline animation*/
  /* End underline animation*/
}
vc-combobox[inline="true"] {
  display: inline-block;
  width: 200px;
}
vc-combobox .vc-combobox-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
}
vc-combobox[label=""] .vc-combobox-data {
  display: none;
}
vc-combobox .vc-combobox-label {
  font-size: 15px;
  height: 100%;
  flex-grow: 1;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
vc-combobox .vc-combobox-main {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
vc-combobox[filter="false"] input:hover {
  cursor: pointer;
}
vc-combobox .vc-combobox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
vc-combobox .vc-combobox-input {
  flex-grow: 1;
}
vc-combobox .vc-combobox-underline {
  position: relative;
  display: block;
  width: auto;
}
vc-combobox .vc-combobox-underline:before,
vc-combobox .vc-combobox-underline:after {
  position: absolute;
  bottom: 0;
  width: 0;
  top: 0;
  height: 2px;
  content: "";
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
vc-combobox .vc-combobox-underline:before {
  left: 50%;
}
vc-combobox .vc-combobox-underline:after {
  right: 50%;
}
vc-combobox .vc-combobox-underline.animate:before,
vc-combobox .vc-combobox-underline.animate:after {
  width: 50%;
}
vc-combobox .vc-combobox-dropButton {
  flex-grow: 0;
  margin-right: 5px;
}
vc-combobox input {
  font-size: 15px;
  padding: 10px;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
}
vc-combobox input:focus {
  outline: none;
}
vc-combobox[disabled="true"],
vc-combobox[readonly="true"] {
  pointer-events: none;
}
.vc-combobox-dropdown {
  font-size: 16px;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
.vc-combobox-dropdown vc-scroll {
  flex-grow: 1;
}
.vc-combobox-dropdown vc-scroll .vc-scroll-content {
  max-height: 150px;
}
.vc-combobox-dropdown.hidden {
  display: none;
}
.vc-combobox-dropdown vc-item {
  display: flex;
  height: 50px;
  padding: 0 20px;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.vc-combobox-dropdown vc-item.hidden {
  display: none;
}
.vc-combobox-dropdown vc-item:hover {
  cursor: pointer;
}
.vc-combobox-matchingError {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}
