eon-combobox[inline="true"] {
  display: inline-block;
  width: 200px;
}
eon-combobox[label=""] .eon-combobox-data {
  display: none;
}
eon-combobox .eon-combobox-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
}
eon-combobox[label=""] .eon-combobox-data {
  display: none;
}
eon-combobox .eon-combobox-label {
  font-size: 15px;
  height: 100%;
  flex-grow: 1;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
eon-combobox .eon-combobox-main {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
eon-combobox[filter="false"] input:hover {
  cursor: pointer;
}
eon-combobox .eon-combobox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
eon-combobox .eon-combobox-input {
  flex-grow: 1;
}
eon-combobox .eon-combobox-underline {
  position: relative;
  display: block;
  width: auto;
}
eon-combobox .eon-combobox-underline:before,
eon-combobox .eon-combobox-underline:after {
  position: absolute;
  bottom: 0;
  width: 0;
  top: 0;
  height: 2px;
  content: "";
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
eon-combobox .eon-combobox-underline:before {
  left: 50%;
}
eon-combobox .eon-combobox-underline:after {
  right: 50%;
}
eon-combobox .eon-combobox-underline.animate:before,
eon-combobox .eon-combobox-underline.animate:after {
  width: 50%;
}
eon-combobox .eon-combobox-dropButton {
  flex-grow: 0;
  margin-right: 5px;
}
eon-combobox input {
  font-size: 15px;
  padding: 10px;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
}
eon-combobox input:focus {
  outline: none;
}
eon-combobox[disabled="true"],
eon-combobox[readonly="true"] {
  pointer-events: none;
}
.eon-combobox-dropdown {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: calc(100% - 10%);
}
.eon-combobox-overlay:not(.eon-combobox-device) .eon-combobox-dropdown {
  max-height: 150px;
}
.eon-combobox-dropdown eon-scroll {
  flex-grow: 1;
}
.eon-combobox-dropdown .eon-combobox-modalFilter {
  box-sizing: border-box;
  padding: 0 20px;
  display: none;
}
.eon-combobox-dropdown .eon-combobox-modalFilter input {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  border: none;
  background: transparent;
  outline: none;
}
.eon-combobox-dropdown.hidden {
  display: none;
}
.eon-combobox-dropdown eon-item {
  display: flex;
  height: 50px;
  padding: 0 20px;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.eon-combobox-dropdown eon-item.hidden {
  display: none;
}
.eon-combobox-dropdown eon-item:hover {
  cursor: pointer;
}
.eon-combobox-overlay {
  position: fixed;
  margin: 0;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.eon-combobox-overlay.eon-combobox-device {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eon-combobox-overlay.eon-combobox-device .eon-combobox-dropdown {
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  position: relative;
}
.eon-combobox-overlay.eon-combobox-device .eon-combobox-modalFilter {
  display: block;
}
.eon-combobox-overlay.eon-combobox-device .eon-combobox-modalFilter input {
  font-size: 16px;
}
.eon-combobox-overlay.eon-combobox-device .eon-combobox-close {
  display: flex;
}
.eon-combobox-matchingError {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}
.eon-combobox-description {
  margin-top: 5px;
  font-size: 14px;
  width: 100%;
}
