@element: eon-viewer;

@{element} {
  & {
    width: 100%;
    position: relative;
    min-height: 290px;
    box-shadow: 0px 0px 10px #d8d8d8;
    background-color: #ffffff;
    overflow: hidden;
  }
  .@{element}-views {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .@{element}-view {
    height: 100%;
    width: 100%;
    display: none;
  }
  .@{element}-view-visible {
    display: flex;
    flex-wrap: wrap;
  }
  .@{element}-edit {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 12px;
    transition: color .2s;
  }
}