@element: eon-viewer;

@{element} {
  & {
    width: 100%;
    position: relative;
    min-height: 290px;
    overflow: hidden;
  }
  .@{element}-views {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .@{element}-view {
    height: 100%;
    width: 100%;
    display: none;
  }
  .@{element}-example {
    padding-top: 16px;
  }
  .@{element}-view-visible {
    display: flex;
    flex-wrap: wrap;
  }
  .@{element}-edit {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 12px;
    transition: color .2s;
    text-decoration: underline;
  }
}