/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
radio, contextmenu, slider, treenode) */
eon-grid[theme="noire"],
div[data-theme="noire"] eon-grid,
body[data-theme="noire"] eon-grid {
  color: #e6e6e6;
}
eon-grid[theme="noire"][editable="true"] eon-cell:hover,
div[data-theme="noire"] eon-grid[editable="true"] eon-cell:hover,
body[data-theme="noire"] eon-grid[editable="true"] eon-cell:hover {
  background: #454545;
}
eon-grid[theme="noire"] .eon-grid-header .eon-grid-wrapper eon-cell:hover,
div[data-theme="noire"] eon-grid .eon-grid-header .eon-grid-wrapper eon-cell:hover,
body[data-theme="noire"] eon-grid .eon-grid-header .eon-grid-wrapper eon-cell:hover {
  background-color: #454545;
}
eon-grid[theme="noire"] .eon-row-dropdown,
div[data-theme="noire"] eon-grid .eon-row-dropdown,
body[data-theme="noire"] eon-grid .eon-row-dropdown {
  background: #383838;
}
eon-grid[theme="noire"] .eon-grid-entryRow:first-child,
div[data-theme="noire"] eon-grid .eon-grid-entryRow:first-child,
body[data-theme="noire"] eon-grid .eon-grid-entryRow:first-child {
  border-top: 1px solid #424242;
}
eon-grid[theme="noire"] .eon-grid-entryRow:not(.eon-bg2-active),
div[data-theme="noire"] eon-grid .eon-grid-entryRow:not(.eon-bg2-active),
body[data-theme="noire"] eon-grid .eon-grid-entryRow:not(.eon-bg2-active) {
  color: #c2c2c2;
}
eon-grid[theme="noire"] .eon-grid-entryRow,
div[data-theme="noire"] eon-grid .eon-grid-entryRow,
body[data-theme="noire"] eon-grid .eon-grid-entryRow {
  border-bottom: 1px solid #424242;
}
eon-grid[theme="noire"] .eon-grid-expandedRow,
div[data-theme="noire"] eon-grid .eon-grid-expandedRow,
body[data-theme="noire"] eon-grid .eon-grid-expandedRow {
  border-width: 1px;
  border-style: solid;
  border-color: #3da5b7;
}
