@element: eon-showcase-item;

@{element} {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  box-sizing: border-box;
}

.@{element}-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.@{element}-content {
  height: calc(100% - 33px);
}
