eon-gutter {
  position: relative;
  overflow: hidden;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
eon-gutter.eon-gutter-vertical {
  flex-direction: column;
}
eon-gutter.eon-gutter-vertical > .eon-gutter-section {
  top: 0;
  width: 100%;
  height: auto;
}
eon-gutter.eon-gutter-vertical > .eon-gutter-splitter {
  width: 100%;
  cursor: n-resize;
}
eon-gutter.eon-gutter-vertical > .eon-gutter-splitter > .eon-gutter-splitterClickable > .eon-gutter-clickableZone {
  position: absolute;
  height: 210%;
  width: 100%;
}
eon-gutter.eon-gutter-vertical > .eon-gutter-splitter > .eon-gutter-splitterClickable {
  top: 0;
  left: 50%;
  width: 35px;
  height: 100%;
  margin-top: 0;
  margin-left: -17px;
}
eon-gutter.eon-gutter-vertical > .eon-gutter-splitter .eon-gutter-splitterCollapseIcon {
  padding-top: 2px;
}
.eon-gutter-section {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  min-height: 0;
  min-width: 0;
}
.eon-gutter-splitter {
  position: relative;
  height: 100%;
  cursor: e-resize;
  text-align: center;
  z-index: 1;
}
.eon-gutter-secondary {
  flex-grow: 1;
  height: 100%;
  width: 0;
  flex-basis: 0;
}
.eon-gutter-splitterClickable {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 35px;
  margin-top: -17px;
  margin-left: 0;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
.eon-gutter-clickableZone {
  position: absolute;
  height: 100%;
  width: 210%;
}
.eon-gutter-splitterCollapseIcon {
  padding-top: 0px;
  font-size: 11px;
  align-items: center;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
