vc-grid {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
vc-grid vc-scroll {
  flex-grow: 1;
  display: flex;
}
vc-grid vc-scroll .vc-scroll-content {
  flex-grow: 1;
}
vc-grid vc-row {
  display: flex;
  flex-direction: row;
}
vc-grid vc-cell {
  display: flex;
  box-sizing: border-box;
  min-width: 150px;
  word-break: break-all;
  align-items: center;
  flex-basis: 150px;
  flex-grow: 1;
  justify-content: center;
}
vc-grid .vc-grid-cellContent {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
vc-grid .vc-grid-header {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  flex-grow: 0;
}
vc-grid .vc-grid-header .vc-grid-wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  align-items: center;
  flex-grow: 0;
}
vc-grid .vc-grid-header .vc-grid-wrapper vc-cell {
  position: relative;
  height: 100%;
  min-height: 50px;
  font-weight: bold;
}
vc-grid .vc-grid-header .vc-grid-wrapper vc-cell:hover {
  cursor: pointer;
}
vc-grid .vc-grid-sortIcon {
  position: absolute;
  right: 10px;
}
vc-grid .vc-grid-autofitRows {
  overflow-y: hidden;
}
vc-grid .vc-grid-entryRow {
  box-sizing: border-box;
  min-height: 50px;
  border-width: 1px;
  border-bottom-style: solid;
}
vc-grid .vc-grid-entryRow:hover vc-cell {
  border-color: transparent;
}
vc-grid .vc-grid-entryRow vc-cell {
  min-height: 100%;
}
vc-grid .vc-grid-entryRow vc-cell:last-child {
  border: none;
}
vc-grid .vc-grid-autofit {
  flex-grow: 1;
}
vc-grid .vc-grid-dummyRow {
  min-height: 50px;
  border: none;
}
vc-grid .vc-grid-footer {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  padding: 0 20px;
  align-items: center;
  flex-grow: 0;
  justify-content: flex-end;
}
vc-grid .vc-grid-pagControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}
vc-grid .vc-grid-pagIcon {
  margin: 0 5px;
  cursor: pointer;
}
vc-grid .vc-grid-pagIcon:first-child {
  margin-left: 0;
}
vc-grid .vc-grid-disabled {
  cursor: default;
}
vc-grid .vc-grid-currentPage {
  display: flex;
  box-sizing: border-box;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}
vc-grid .vc-grid-currentPage:hover {
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}
vc-grid .vc-grid-resizeIndicator {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -7px;
  bottom: 0;
  width: 15px;
  cursor: col-resize;
  background-color: transparent;
}
vc-grid .vc-grid-rows {
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  flex-grow: 1;
}
vc-grid .vc-grid-rows .vc-grid-wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}
vc-grid .vc-grid-stripPageSelector {
  display: flex;
  flex-direction: row;
}
vc-grid .vc-grid-stripPage {
  display: flex;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
}
vc-grid .vc-grid-stripPage:hover {
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}
vc-grid .vc-grid-stripPageSelector .vc-grid-currentPage:hover {
  cursor: default;
  border: none;
}
@media (max-width: 800px) {
  vc-grid .vc-grid-pagControls {
    justify-content: center;
  }
  vc-grid .vc-grid-entriesCount {
    display: none;
  }
}
