
#explorerIframe {
  width: 100%;
  height: 100%;
  border: none;
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto/Roboto-Regular.ttf');
}
html, body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 100%;
  min-width: 320px !important;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
::-webkit-input-placeholder {
    color:    #d8d8d8;
}
:-moz-placeholder {
    color:    #d8d8d8;
   opacity:  1;
}
::-moz-placeholder {
    color:    #d8d8d8;
   opacity:  1;
}
:-ms-input-placeholder {
    color:    #d8d8d8;
}
::-ms-input-placeholder {
    color:    #d8d8d8;
}

#tree {
  z-index:500;
  position: relative;
  width: 300px;
      color: #6b6b6b;
    overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#fakeMenuShadow{
    left: -5px;
    width: calc(100% + 10px);
  position:fixed;
  top:0;
  height:55px;
  z-index:999;
  background-color:transparent;
  pointer-events: none;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.75);
          box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.75);
}

#treeData {
  font-size: 17.5px;
  padding-right:11px;
  padding-top: 5px;
  overflow: auto;
    position: relative;
    height: calc(100% - 60px);
}


.ps > .ps__rail-y {
  opacity: 0.6 !important;
  background-color: #cbcbcb !important;
  height:100% !important;
}
.ps__thumb-y{
  height:0px;
}
.ps__thumb-x{
height:11px !important;
}

.treeHideFiles{
display:none !important;
}

.treeLink {
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 15px;
  cursor: pointer;
  font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: inline-block;
    width: calc(100% - 20px);
}
.fa .treeFolder{
  display:block;
}
.treeFolder{
/*  width: 100%;*/
    padding-top: 2px;
  cursor:pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold !important;
}
.treeFolder:before{
margin-right:5px;
font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.treeClickableFolder{
  z-index:300;
  position:relative;
  margin-top: -23px;
    width: 286px;
    height: 26px;
}
.treeClickableFile{
  position:relative;
  margin-top:-21px;
    width: 286px;
    height: 26px;
    margin-top: -23px;
}

.treeClickableFileHover{
  position:relative;
  margin-top:-26px;
    width: 286px;
    height: 26px;
      z-index:-1;
}


.treeClickableFileHoverOn{
background-color:rgba(51,51,51,0.5);
}

.treeLinkHoverOn{
  color:white;
}

.treeSelected {
  z-index:-1;
  background-color:#18c796;
}
.treeSelectedParent{
color:white;
}

#treeSearch {
    box-sizing: border-box;
    z-index: 100;
  position:absolute;
  font-size: 18px;
  width: 100%;
  height: 50px;
  padding-left: 5px;
  color: white;
  border: none;
  background-color: #333333;
  background-image: url("img/menu/searchBack.png");
    padding-right: 25px;
}
.searchInput:focus {
  outline:none;
}
.searchInputCross{
    color: white;
    right: 5px;
    top: 20px;
    cursor: pointer;
  position:absolute;
  z-index:101;
}
#treeSearch::-webkit-search-cancel-button {
  color: white;
  background-color: white;
}
#treeClose{
background-color: rgba(0, 0, 0, 0.5);
  display:none;
width: 100%;
height: 100%;
    position: absolute;
    top: 0px;
}
.showTreeClose{
  display:inline-block !important;
}
#explorer {
  flex: 1;
}

.menuSearchHide {
  display: none !important;
}

#hideTreeButton {
  display: none;
  cursor: pointer;
    font-size: 26px;
}

.showTreeMobile {
  position: absolute !important;
  width: 300px !important;
  height: 100% !important;
      background-color: #fff;
}

@media only screen and (max-width: 720px) {
  #tree {
    width: 33px;
    height: 50px;
    position: absolute;
  }
  #hideTreeButton {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    display: flex;
    height: 50px;
    color: white;
    background-color: #333333;
    box-sizing: border-box;
    padding: 5px;

    align-items: center;
  }

  #treeSearch {
    background-image: url("img/menu/searchBackMobile.png");
  }
}
@media only screen and (min-width: 720px) {
  #tree {
  width: 300px;
  }
  #hideTreeButton {
    display: none;
  }
  .showTreeMobile {
    position: relative !important;
  }
}



/* Perfect scrollbar */
.ps__thumb-y, .ps__thumb-x{
  background-color: #6b6b6b !important;
}
.ps__thumb-y{
width:11px !important;
}
.ps__thumb-x{
height:11px !important;
}
.ps > .ps__rail-x,
.ps > .ps__rail-y {
  background-color:transparent;
  /*  background-color: #d2d2d2 !important;*/
    display: block !important;
}
.ps > .ps__rail-y {
background-color: #cbcbcb !important;
/*  opacity: 0.6;*/
  /*height:100% !important;*/
}



.colorBand{
  width:100%;
  height:5px;
  background-color: #18c796;
  margin-top: 50px;
}


video{
  max-width: 100%;
}
.video-js{
  max-width: 100%;
  margin-bottom:20px;
}


.video-js .vjs-big-play-button {
  top:calc(50% - 0.75em) !important;
  left: calc(50% - 1.5em) !important;
}

.selectDisabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

