language: node_js
node_js:
- lts/*
cache:
  directories:
  - "${HOME}/.npm"
  - node_modules
  - eon-core/node_modules
  - eon-ui/node_modules
env:
  global:
  - secure: VMvMZAsJUiSu2qhAJBI4S+T5KnObEWy+WtN0hjQItRWz9e+mAtNNtow1GwI21opEJEq9CbjhmuT1NB6KyO6VWpdOge+vWDDrqBmiPcHCr8WoPWsWC/rLzQfps+zFajlZKQ54UVO9hfQ1H2K9XFP7ToADXS6Bg7eBFR38Z3eF7ceHe/sNdVBL1s2Ye9/K2BXxG1+7uQvGSXUKOijU+E4XhnW9bDm/6u27ANe3UoDiNHc0rs06OeZNpHgG6uqrTKSFUVUtO0uZhSaS2gr06nhXgHvpXj05Axplu9jpbmGwCucRFzIjpgkozrKV5dsrsNYH/p2xakZPRS0o3XRX/tePbV9lrmKhIYX8wPbTM9sDxqDWQug0RuN2Rqh0BUBxY+b63qEdvfJfUMO2tr90QB8gEaC7rD5FLLBftczKMPcJwxMK18xOr3Pe5QN4iBsJzD5fzXju+Y9t4m1Otg9+BM/4QkeRAv1sQeAsNFwoPlhahDv6Pw5z9GexIKv0drGUL1Jo5rSOgf3AklJjwJ/7bWASR/csrmh+e0CvuP+l+Y58s99UWVx3aQpDH89+pBTrRQAj+YoXE8V/Vlr+enxOHHYLuK6ivK1CpEQIMOdLcMP8SXdDo9RTVM+FqM0L8A87mElWpQUn0yuL6z7BzVEzH8OzLmIYfMyCVFiviYbBs9Vi0ew=
  - secure: vT7TrzjqjM0hnMb0UYamEZeemSP2Qn4wuwfbDtZ0pElRtNFwtc+/dZicoarsbiIw3y+AxMrTDHDuNd9E6mA+ULoOYngXiPoR2QA4X/niNTlgOAXObyot62QMuDP1/DJrPHwbwi1HDmq8f4srUK2xltyw6gJsgdWycukMdPSJCy3VzC26bsT/q35ne+OvEkL0dRCI8jf1FCcdJTGCBMlICo1Kep106LRXDOlvnMzFkNxk522SWnPVT8DckIHeliw7ZZcZ1UwaTn1uDN3cGgD0YQiwM0ieqpUuWGmAfqwNOA2DBOtfqlvwhzVpwHRm6R63g6mZLpEhLhJhf6VGQgwYVa7BnkXRFU1kWSPx0w6M0yCjmbq9Ur4BR6y10P+nu37HSgyJINFoNHivGq2FZ8fBP1p2tH87gJLzQqOYoWJAP13tSSfIoiUZOr9Il8iv59wgMGH0o6Yt4iqAAouvAVVI09Gny2osoQ3tyJJfB7P/wC5z225pR5wODMuTpYGBLU0Lzzd6g/lQCg9dgrnzuF8O0UZxM3ZqKWFEmq/l8xCQseiSiejJF8VwPT/llZQ2n9k+MHOuIyZEEqWPPCJM7OXBqASGyX9PEd4Zkf+v8y5mCkn0UtGbGoa7BoQYIs1o4HyJIRnIpOT0NhsrzzVqrUEYMYP2d/qLJsAx5UC9Wjso4g0=
  - secure: JU6XmO0NQ9IUp01eER+0WY7vACjnzzTfo701WW89q1TlW3AndJ3UWl3yXa2jNPfuo+HEL9zN2d0hh9fNjh/NBv04DgtsDHHuBzehA18jM72fB16HDJAiL3Q27sVSnapPjBbkna391qC9WvVPYT3mmtzSBkq1yEGFcEmNVjckysGG9d1AFhiJaqY1wTHnW/5yJoK9IUO38kP1KMmaz5pGOA34fk4kBJNTJpjQM3u88Kl+uFBOMxOKqd74vfQks+1BoCm5z4gDohOLZqlwaz/zi0r7w4JPPBoJzpXKle2af6guTFLWpf4ODTg+FaRgfkFwIC/LeChOQrhwAGtaQ1vRjEuz9ZeqDK10/uyr3zX/PDb64o2CYR+p5JpuocZtki55KXa1Ix8HUDW+oBzjYabvxcNFjHhT7o61T/ZUbYbw41sfBmWm5TBekDxyufbYOW8r88rkozDeIv7oAkWXGudvKfKpJ09M3m3idghJ1eoowEq/5wBWTYeFI30sJ86iwsUw+GpZPaM/qov3CDrIoLYhXeVEGQXFNgnQDNDxdvF81SQUt8REcMrNtbqqW014z7KtiqWrYVp9f2TuOuPJukZbmW9u8HhJgC9BbPMkvuPQyDfkGGBisJyMy+OkJgvZQfoQ9Z/pnqJsBl1xOTLk+bZtkPNBts2ogcioIe8habNirRc=
install:
- npm install
script:
- npm run build
- npm run test
before_deploy:
- npm run release
- cd ${TRAVIS_BUILD_DIR}
deploy:
  provider: releases
  api_key:
    secure: 4cyFvl0AXd+PRkaW/HXV2gmHlxjeNNjyntpuLYUvjE2T3LWbe2hVmRJZ9OZOns/oXus5mKcTPaj6CiqS4UAfnPI83C3DcNQHgkZgQ6aWR8N/0qP3GII1BGIMItYOZkv/9NEL3AcioHObaZ6Af2CpZART2hRCSIPpEyvqLywbW3SxJZ441Dhy7oLMAdAfNCHg5v6cz1XspFCQf94IuuyK9xuDiLFQrsQypHvN5hmuIVl0coXKDKhvpsLTYy+u37F+t8iFzW4SmXtuixPPglEIdWM1ydrs8WxY0Ckqf0WEjJ/Af+byXvsBSE76q4wQS+uAzqdA84nu9aaIB5ZLN8Ew58H7ZgO6/ULJhV55vrkj8orhpWfYthLWJaBSUI15vo713aCU+5upd5+oj3wCH6d8k88VcMWYlFP3Z4js344h0fziR6hIAbUcIqrrzRKybypVXteppTE2DGZRRiV+rpmSVpOjP45J/Ugvs21tBVjYNGWz/ASDmPxOC9kvtix8qRN4DrN/HlwkzKlsLEdlKYo5ocIZ/90io8mLcUZLVcpRczfGd0ogt1Li7VSyXki6wH4Pu2g+43yKrYjHCf26xVd9D92MtdZylQnMW2X4V8PGfzoBSo93gfp5RUDb9E465tfZ5cGIdD6N+thQcaryy8fyr657zgthKiP2Syz+Zo7nNMU=
  file:
  - eon-core/release/eon-core.zip
  - eon-ui/release/eon-ui.zip
  skip_cleanup: true
  on:
    repo: vimlet/eon
    tags: true
    all_branches: true
    condition: "$TRAVIS_TAG =~ ^release-.*$"
after_deploy:
- MESSAGE=$(git log --format=%B -n 1 $TRAVIS_COMMIT)
- cd ${TRAVIS_BUILD_DIR}
- git clone git://github.com/vimlet/eon-cdn.git
- cp -rf eon-core/build eon-cdn
- cp -rf eon-ui/build eon-cdn
- cd eon-cdn
- git remote
- git config user.email eon@mail.com
- git config user.name eon
- git add .
- git commit -am ${TRAVIS_TAG}
- git push "https://${CDN_TOKEN}@github.com/vimlet/eon-cdn.git" master > /dev/null
  2>&1
- git tag ${TRAVIS_TAG}
- git push "https://${CDN_TOKEN}@github.com/vimlet/eon-cdn.git" ${TRAVIS_TAG} > /dev/null
  2>&1
