/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-spinner[theme="noire"][readonly="true"] .eon-spinner-control:hover {
  color: #e6e6e6;
}
eon-spinner[theme="noire"] .eon-spinner-inputBar:before,
eon-spinner[theme="noire"] .eon-spinner-inputBar:after {
  background: #47cce2;
}
eon-spinner[theme="noire"].eon-spinner-error .eon-spinner-label {
  color: #c33232;
}
eon-spinner[theme="noire"].eon-spinner-error .eon-spinner-group {
  border-bottom: 1px solid #c33232;
}
eon-spinner[theme="noire"].eon-spinner-error .eon-spinner-inputBar:before,
eon-spinner[theme="noire"].eon-spinner-error .eon-spinner-inputBar:after {
  background: #c33232;
}
eon-spinner[theme="noire"].eon-spinner-error .eon-spinner-description {
  color: #c33232;
}
