/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
radio, contextmenu, slider, treenode) */
eon-grid[theme="noire"],
div[data-theme="noire"] eon-grid,
body[data-theme="noire"] eon-grid {
  color: #e6e6e6;
}
eon-grid[theme="noire"][editable="true"] eon-cell:hover,
div[data-theme="noire"] eon-grid[editable="true"] eon-cell:hover,
body[data-theme="noire"] eon-grid[editable="true"] eon-cell:hover {
  background: #454545;
}
eon-grid[theme="noire"] .eon-grid-header .eon-grid-wrapper eon-cell:hover,
div[data-theme="noire"] eon-grid .eon-grid-header .eon-grid-wrapper eon-cell:hover,
body[data-theme="noire"] eon-grid .eon-grid-header .eon-grid-wrapper eon-cell:hover {
  background-color: #454545;
}
eon-grid[theme="noire"] .eon-row-dropdown,
div[data-theme="noire"] eon-grid .eon-row-dropdown,
body[data-theme="noire"] eon-grid .eon-row-dropdown {
  background: #383838;
}
eon-grid[theme="noire"] .eon-grid-disabled,
div[data-theme="noire"] eon-grid .eon-grid-disabled,
body[data-theme="noire"] eon-grid .eon-grid-disabled {
  color: #565656 !important;
}
eon-grid[theme="noire"] .eon-grid-expandedRow,
div[data-theme="noire"] eon-grid .eon-grid-expandedRow,
body[data-theme="noire"] eon-grid .eon-grid-expandedRow {
  border-width: 1px;
  border-style: solid;
  border-color: #3da5b7;
}
