/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
radio, contextmenu, slider, treenode) */
eon-tree[theme="noire"],
div[data-theme="noire"] eon-tree,
body[data-theme="noire"] eon-tree {
  height: 100%;
}
eon-tree[theme="noire"] .eon-tree-tree .eon-tree-wrapper,
div[data-theme="noire"] eon-tree .eon-tree-tree .eon-tree-wrapper,
body[data-theme="noire"] eon-tree .eon-tree-tree .eon-tree-wrapper {
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
