vc-treenode[theme="noire"] {
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0 5px 0 0;
  overflow: hidden;
  user-select: none;
}
vc-treenode[theme="noire"] .vc-treenode-draggable {
  user-drag: element;
  -moz-user-select: element;
  -webkit-user-drag: element;
}
vc-treenode[theme="noire"] .vc-treenode-head {
  display: flex;
  min-height: 20px;
  padding: 5px 5px 5px 0;
  overflow: hidden;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
vc-treenode[theme="noire"] .vc-treenode-head > .vc-treenode-expand {
  font-size: 19px;
  width: 19px;
  cursor: pointer;
  z-index: 0;
}
vc-treenode[theme="noire"] .vc-treenode-name {
  font-size: 12px;
  color: white;
  z-index: 0;
  line-height: 20px;
  margin-left: 2px;
}
vc-treenode[theme="noire"] .vc-treenode-icon {
  font-size: 18px;
  display: inline-block;
  vertical-align: sub;
  z-index: 1;
}
vc-treenode[theme="noire"] .vc-treenode-expand {
  visibility: hidden;
}
vc-treenode[theme="noire"] .vc-treenode-selected::before,
vc-treenode[theme="noire"] .vc-treenode-selected:hover::before {
  content: "";
  height: 25px;
  margin-top: -3px;
  position: absolute;
  background-color: #444548;
  left: 0;
  right: 0;
}
vc-treenode[theme="noire"] .vc-treenode-head:hover::before {
  content: "";
  height: 25px;
  margin-top: -3px;
  position: absolute;
  background-color: #363638;
  left: 0;
  right: 0;
}
vc-treenode[theme="noire"] .vc-treenode-selected:hover::before {
  background-color: #444548;
}
vc-treenode[theme="noire"] .vc-treenode-marked::before,
vc-treenode[theme="noire"] .vc-treenode-marked:hover::before {
  content: "";
  height: 25px;
  margin-top: -3px;
  position: absolute;
  background-color: #444548;
  left: 0;
  right: 0;
}
vc-treenode[theme="noire"] .vc-treenode-head:hover .vc-treenode-name {
  color: #cdcdcd;
}
vc-treenode[theme="noire"] .vc-treenode-selected:hover .vc-treenode-name {
  color: white;
}
vc-treenode[theme="noire"] .vc-treenode-wrapper {
  display: none;
  flex-direction: column;
}
vc-treenode[theme="noire"] .vc-treenode-wrapper > vc-treenode {
  margin: 0px 0px 0px 14px;
}
