eon-tree {
  height: 100%;
}
.eon-tree-tree {
  position: relative;
  padding: 0;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  overflow: hidden;
}
.eon-tree-tree .eon-tree-wrapper {
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
