html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #e6e6e6;
  background-color: #fafcff;
}
body {
  min-width: 320px;
}
a {
  color: #dcdcdc;
}
button {
  background-color: transparent;
  border: 3px solid #18c796;
  /* color: #dcdcdc; */
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 10px;
}
button:hover {
  background-color: #18c796;
}
h1 {
  color: #919191;
  font-weight: bold;
  font-size: 25px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > * {
  width: 90%;
}
.card {
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px #d8d8d8;
  margin: 10px;
}
.buttonsWrapper {
  display: flex;
}
.row {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.example {
  /* background-color: #2d2d2d; */
  padding: 10px;
  box-sizing: border-box;
  min-height: 150px;
  margin: 0;
}
.twoColumns {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.twoColumns > * {
  width: calc(50% - 10px);
}
.twoRows {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: bold;
}