eon-loadingmask {
  display: none;
  align-items: center;
  justify-content: center;
}
eon-loadingmask.eon-loadingmask-active {
  display: flex;
}
eon-loadingmask .eon-loadingmask-complete {
  position: fixed;
}
eon-loadingmask .eon-loadingmask-descendant {
  position: absolute;
}
eon-loadingmask .eon-loadingmask-loadingmask {
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  transition: visibility 1s, opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  align-items: center;
  justify-content: center;
}
eon-loadingmask .eon-loadingmask-visible {
  visibility: visible;
  opacity: 1;
}
eon-loadingmask .eon-loadingmask-hidden {
  display: none;
}
eon-loadingmask .eon-loadingmask-noTransition {
  transition: none !important;
}
eon-loadingmask .eon-loadingmask-rotator {
  position: relative;
  overflow: hidden;
  width: 4em;
  animation: rotate 2000ms infinite linear;
  border-radius: 4em;
}
eon-loadingmask .eon-loadingmask-rotator:before {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  content: "";
  border-width: 4px;
  border-style: solid;
  border-radius: 100%;
}
eon-loadingmask .eon-loadingmask-inner-spin {
  width: 2em;
  height: 4em;
  transform-origin: 2em 2em;
  animation: rotate-left 2500ms infinite cubic-bezier(0.65, 0.05, 0.36, 1);
  border-radius: 2em 0 0 2em;
}
eon-loadingmask .eon-loadingmask-inner-spin:last-child {
  float: right;
  margin-top: -4em;
  transform-origin: 0 50%;
  animation: rotate-right 2500ms infinite cubic-bezier(0.46, 0.03, 0.52, 0.96);
  border-radius: 0 2em 2em 0;
}
@keyframes rotate-left {
  60%,
  75%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-right {
  0%,
  25%,
  45% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
