.vc-contextmenu-wrapper {
  position: fixed;
  display: none;
}
.vc-contextmenu-wrapper-visible {
  display: flex;
}
.vc-contextmenu-container {
  display: flex;
  flex-direction: column;
}
.vc-contextmenu-container .vc-scroll-content {
  max-height: 250px;
}
.vc-contextmenu-wrapper vc-item:hover {
  cursor: pointer;
}
.vc-contextmenu-contextmenu {
  z-index: 100;
  overflow: auto;
}
.vc-contextmenu-itemSpan {
  margin: 0 10px;
}
.vc-contextmenu-itemIcon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}
.vc-contextmenu-close {
  display: none;
  padding: 5px;
  justify-content: flex-end;
  flex-grow: 0;
}
.vc-contextmenu-closeVisible {
  display: flex;
}
.vc-contextmenu-container vc-scroll {
  flex-grow: 1;
}
.vc-contextmenu-wrapper-visible[data-version="device"] {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.vc-contextmenu-wrapper-visible[data-version="device"] .vc-contextmenu-container {
  width: 40%;
  min-width: 350px;
}
@media (max-width: 800px) {
  .vc-contextmenu-wrapper-visible[data-version="device"] .vc-contextmenu-container {
    width: calc(100% - 400px);
    min-width: 350px;
  }
}
@media (max-width: 450px) {
  .vc-contextmenu-wrapper-visible[data-version="device"] .vc-contextmenu-container {
    width: calc(100% - 100px);
    min-width: inherit;
  }
}
/* DEFAULT STYLE */
.vc-contextmenu-wrapper.vc-spaced .vc-contextmenu-contextmenu {
  word-break: break-all;
}
.vc-contextmenu-wrapper.vc-spaced vc-item {
  display: flex;
  flex-direction: row;
  height: 48px;
  padding: 0 16px;
  text-decoration: none;
  align-items: center;
}
