vc-contextmenu[theme="noire"] {
  display: none;
}
vc-contextmenu[theme="noire"][visible="true"] {
  display: flex;
}
vc-contextmenu[theme="noire"][click-open="true"] {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}
vc-contextmenu[theme="noire"][click-open="true"] .vc-contextmenu-wrapper {
  min-width: 400px;
  display: block;
}
@media (max-width: 800px) {
  vc-contextmenu[theme="noire"][click-open="true"] .vc-contextmenu-wrapper {
    width: calc(100% - 400px);
    min-width: 350px;
  }
  vc-contextmenu[theme="noire"] .vc-contextmenu-wrapper vc-scroll {
    max-height: 150px !important;
  }
}
@media (max-width: 450px) {
  vc-contextmenu[theme="noire"][click-open="true"] .vc-contextmenu-wrapper {
    width: calc(100% - 100px);
    min-width: inherit;
  }
  vc-contextmenu[theme="noire"] .vc-contextmenu-wrapper vc-scroll {
    max-height: 250px !important;
  }
}
.vc-contextmenu-wrapper {
  position: fixed;
  display: none;
}
.vc-contextmenu-wrapper[visible="true"] {
  display: flex;
}
.vc-contextmenu-wrapper vc-scroll {
  max-height: 250px !important;
}
.vc-contextmenu-wrapper vc-item {
  display: flex !important;
  flex-direction: row;
  height: 48px;
  padding: 0 16px;
  text-decoration: none;
  align-items: center;
}
.vc-contextmenu-wrapper vc-item:hover {
  cursor: pointer;
}
.vc-contextmenu-contextmenu {
  z-index: 100;
  overflow: auto;
  word-break: break-all;
}
.vc-contextmenu-itemSpan {
  margin: 0 10px;
}
.vc-contextmenu-itemIcon {
  font-size: 20px !important;
  width: 20px;
  height: 20px;
}
.vc-contextmenu-close {
  display: none;
  padding: 5px;
  justify-content: flex-end;
}
.vc-contextmenu-closeVisible {
  display: flex;
}
