eon-tabs {
  width: 100%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  word-wrap: break-word;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}
eon-tabs div[data-position="left"] {
  left: 0;
}
eon-tabs div[data-position="right"] {
  right: -3px;
}
eon-tabs div[data-visible="true"] {
  display: flex;
}
eon-tabs .selectable {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  -o-user-select: auto;
}
.eon-tabs-tab {
  font-size: 12px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100px;
  min-width: 100px;
  cursor: pointer;
  border-right-width: 3px;
  border-right-style: solid;
  align-items: center;
  justify-content: center;
}
.eon-tabs-tab:hover .eon-tabs-title {
  opacity: 1;
}
.eon-tabs-closeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
}
.eon-tabs-tabsSection {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 30px;
}
.eon-tabs-region {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.eon-tabs-tabsWrapper {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  min-width: 100%;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
.eon-tabs-dropArea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
}
.eon-tabs-hidden {
  visibility: hidden;
}
.eon-tabs-scrolls {
  display: flex;
  padding: 0 4px;
  flex-grow: 0;
}
.eon-tabs-scrolls.enabled {
  display: flex;
}
.eon-tabs-scrolls div {
  display: flex;
  cursor: pointer;
  height: 100%;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.eon-tabs-scrolls.enabled div {
  cursor: pointer;
}
.eon-tabs-scrolls.eon-tabs-auto div {
  display: none;
}
.eon-tabs-scrolls i {
  font-size: 20px;
}
.eon-tabs-closeButton i {
  font-size: 15px;
}
.eon-tabs-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
  text-align: left;
}
.eon-tabs-selected {
  border-bottom: 0;
}
.eon-tabs-contentsSection {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}
.eon-tabs-contentsWrapper {
  position: relative;
  display: flex;
  overflow-y: auto;
  width: 100%;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.eon-tabs-panel {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.eon-tabs-draggingOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.eon-tabs-dropIndicator {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  width: 5px;
  height: 90%;
  -webkit-transition: 0.2s left;
  -moz-transition: 0.2s left;
  -o-transition: 0.2s left;
  transition: 0.2s left;
  pointer-events: none;
}
.eon-tabs-hidden {
  display: none;
}
