vc-togglemenu[theme="noire"] {
  z-index: 100;
  display: flex !important;
  overflow: visible;
  flex-direction: column;
  box-sizing: border-box;
  width: 300px;
  background-color: transparent;
  position: relative;
  /******* DEPLOY OVERLAP *******/
  /******* OCCUPY FIT *******/
  /******* TABLET AND MOBILE VERSION *******/
}
vc-togglemenu[theme="noire"] .vc-togglemenu-button {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 30px;
  padding: 20px 5px;
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  align-items: center;
  justify-content: center;
}
vc-togglemenu[theme="noire"] .vc-togglemenu-button:hover {
  box-sizing: border-box;
}
vc-togglemenu[theme="noire"] .vc-togglemenu-buttonActive:hover {
  background-color: transparent;
}
vc-togglemenu[theme="noire"] .vc-togglemenu-title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
vc-togglemenu[theme="noire"] .vc-togglemenu-arrow {
  font-size: 22px;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
vc-togglemenu[theme="noire"] .vc-togglemenu-buttonActive .vc-togglemenu-arrow {
  transform: rotate(180deg);
}
vc-togglemenu[theme="noire"] .vc-togglemenu-content {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 0;
  border-width: 3px;
  border-style: solid;
  border-top: none;
}
vc-togglemenu[theme="noire"] .vc-togglemenu-transition {
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
vc-togglemenu[theme="noire"] .vc-togglemenu-contentDisplay {
  z-index: 100;
}
vc-togglemenu[theme="noire"] .vc-togglemenu-item {
  margin: 10px;
}
vc-togglemenu[theme="noire"][deploy="overlap"] .vc-togglemenu-content {
  z-index: 100;
}
vc-togglemenu[theme="noire"][occupy="fit"] {
  height: auto;
}
@media (max-width: 800px) {
  vc-togglemenu[theme="noire"] {
    width: auto;
  }
  vc-togglemenu[theme="noire"] .vc-togglemenu-content {
    width: 100%;
  }
}
