html,
body {
  font-family: sans-serif;
  color: #e6e6e6;
}
.bg1 {
  background-color: #303030;
}
.bg1-active {
  background-color: #9a9a9a;
}
.bg1-hoverable:hover {
  background-color: #18c796;
}
.bg1-border {
  border-color: #18c796;
}
.bg1-hoverable-border {
  border-color: transparent;
}
.bg1-hoverable-border:hover {
  border-color: #18c796;
}
.bg1-disable {
  border-color: #747474;
  color: #747474;
  cursor: auto;
}
.bg1-boxshadow {
  -webkit-box-shadow: 0px 2px 9px 0px #2f2f2f;
  -moz-box-shadow: 0px 2px 9px 0px #2f2f2f;
  box-shadow: 0px 2px 9px 0px #2f2f2f;
}
.bg1-modal {
  background-color: rgba(51, 51, 51, 0.5);
}
.fg1 {
  color: #18c796;
}
.fg1-active {
  background-color: #18c796;
}
.fg1-disable {
  cursor: auto;
  background-color: #747474;
}
.fg1-hoverable:hover {
  color: #ffffff;
}
.fg1-border {
  color: #e6e6e6;
}
.bg2 {
  background-color: #2d2d2d;
}
.bg2-border {
  border-color: #303030;
}
.bg2-hoverable:hover {
  background-color: #383838;
}
.bg2-boxshadow {
  -webkit-box-shadow: 0 8px 16px 0 #242424;
  -moz-box-shadow: 0 8px 16px 0 #242424;
  box-shadow: 0 8px 16px 0 #242424;
}
.fg2 {
  color: #c1c1c1;
}
.bg3 {
  background-color: #454545;
}
.bg4 {
  background-color: #3a3a3a;
}
.bg5 {
  background-color: #747474;
}
.unselectable {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none;
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
}
/* Material icons font */
@font-face {
  font-family: Material Icons;
  font-weight: 400;
  font-style: normal;
  src: url("../font/material/MaterialIcons-Regular.woff2") format("woff2"), url("../font/material/MaterialIcons-Regular.woff") format("woff"), url("../font/material/MaterialIcons-Regular.eot") format("eot"), url("../font/material/MaterialIcons-Regular.ttf") format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-size: 24px;
  /* Preferred icon size */
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  direction: ltr;
  /* Support for IE. */
  font-feature-settings: "liga";
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}
/* vicon font */
@font-face {
  font-family: "vimlet-font";
  src: url("../font/vimlet/fonts/vimlet-font.eot");
  src: url("../font/vimlet/fonts/vimlet-font.eot?#iefix") format("embedded-opentype"), url("../font/vimlet/fonts/vimlet-font.woff") format("woff"), url("../font/vimlet/fonts/vimlet-font.ttf") format("truetype"), url("../font/vimlet/fonts/vimlet-font.svg#vimlet-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
.vicon {
  font-size: 20px;
  /* Preferred icon size */
  display: flex;
  justify-content: center;
  /* Support for IE. */
  font-feature-settings: "liga";
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}
[data-icon]:before {
  font-family: "vimlet-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="vicon-"]:before,
[class*=" vicon-"]:before {
  font-family: "vimlet-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vicon-apps:before {
  content: "\61";
}
.vicon-arrow-back:before {
  content: "\62";
}
.vicon-arrow-back-o:before {
  content: "\63";
}
.vicon-arrow-down:before {
  content: "\64";
}
.vicon-arrow-down-o:before {
  content: "\65";
}
.vicon-arrow-forward:before {
  content: "\66";
}
.vicon-arrow-forward-o:before {
  content: "\67";
}
.vicon-arrow-up:before {
  content: "\68";
}
.vicon-arrow-up-o:before {
  content: "\69";
}
.vicon-bookmark:before {
  content: "\6a";
}
.vicon-bookmark-o:before {
  content: "\6b";
}
.vicon-chevron-down:before {
  content: "\6c";
}
.vicon-chevron-left:before {
  content: "\6d";
}
.vicon-chevron-right:before {
  content: "\6e";
}
.vicon-chevron-up:before {
  content: "\6f";
}
.vicon-circle-pause:before {
  content: "\70";
}
.vicon-circle-pause-o:before {
  content: "\71";
}
.vicon-circle-play:before {
  content: "\72";
}
.vicon-circle-play-o:before {
  content: "\73";
}
.vicon-circle-stop:before {
  content: "\74";
}
.vicon-circle-stop-o:before {
  content: "\75";
}
.vicon-close:before {
  content: "\76";
}
.vicon-contact:before {
  content: "\77";
}
.vicon-file:before {
  content: "\78";
}
.vicon-file-o:before {
  content: "\79";
}
.vicon-folder:before {
  content: "\7a";
}
.vicon-folder-open:before {
  content: "\41";
}
.vicon-fullscreen:before {
  content: "\42";
}
.vicon-fullscreen-exit:before {
  content: "\43";
}
.vicon-maximize:before {
  content: "\44";
}
.vicon-menu:before {
  content: "\45";
}
.vicon-minimize:before {
  content: "\46";
}
.vicon-pause:before {
  content: "\47";
}
.vicon-play:before {
  content: "\48";
}
.vicon-restore:before {
  content: "\49";
}
.vicon-share:before {
  content: "\4a";
}
.vicon-stop:before {
  content: "\4b";
}
.vicon-unicorn:before {
  content: "\4c";
}
.vicon-vimlet-comet:before {
  content: "\4d";
}
.vicon-vimlet-iso-h:before {
  content: "\4e";
}
.vicon-vimlet-iso-h-o:before {
  content: "\4f";
}
.vicon-vimlet-iso-v:before {
  content: "\50";
}
.vicon-vimlet-iso-v-o:before {
  content: "\51";
}
.vicon-vimlet-logo:before {
  content: "\52";
}
.vicon-vimlet-logo-o:before {
  content: "\53";
}
.vicon-vimlet-mo:before {
  content: "\54";
}
.vicon-vimlet-mo-1:before {
  content: "\55";
}
.vicon-vimlet-scale:before {
  content: "\56";
}
.vicon-vimlet-text:before {
  content: "\57";
}
.vicon-vimlet-text-o:before {
  content: "\58";
}
.vicon-vmo:before {
  content: "\59";
}
.vicon-volume-off:before {
  content: "\5a";
}
.vicon-volume-on:before {
  content: "\30";
}
