vc-combobox[theme="noire"] .comboboxWrapper {
  border-bottom: 1px solid #e6e6e6;
}
vc-combobox[theme="noire"] .comboboxWrapperNoMatches {
  border-bottom: 1px solid #c33232;
}
vc-combobox[theme="noire"] .underline:before,
vc-combobox[theme="noire"] .underline:after {
  background: #18c796;
}
vc-combobox[theme="noire"] .underlineNoMatches:before,
vc-combobox[theme="noire"] .underlineNoMatches:after {
  background: #c33232;
}
