/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
vc-combobox {
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
  - Internet Explorer Mobile 10-11 */
}
vc-combobox ::-webkit-input-placeholder {
  color: #9a9a9a;
}
vc-combobox :-moz-placeholder {
  color: #9a9a9a;
}
vc-combobox ::-moz-placeholder {
  color: #9a9a9a;
}
vc-combobox :-ms-input-placeholder {
  color: #9a9a9a !important;
}
vc-combobox.focus .vc-combobox-label {
  color: #18c796;
}
vc-combobox .vc-combobox-underline:before,
vc-combobox .vc-combobox-underline:after {
  background: #18c796;
}
vc-combobox.vc-combobox-error .vc-combobox-label {
  color: #c33232;
}
vc-combobox.vc-combobox-error .vc-combobox-main {
  border-bottom: 1px solid #c33232;
}
vc-combobox.vc-combobox-error .vc-combobox-underline:before,
vc-combobox.vc-combobox-error .vc-combobox-underline:after {
  background: #c33232;
}
