/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
vc-datepicker:not([data-touch="true"]) .vc-datepicker-previous:hover,
vc-datepicker:not([data-touch="true"]) .vc-datepicker-next:hover,
vc-datepicker:not([data-touch="true"]) .vc-datepicker-back:hover,
vc-datepicker:not([data-touch="true"]) .vc-datepicker-close:hover {
  background-color: #454545;
}
vc-datepicker .vc-bg2-active {
  color: #ffffff;
}
