vc-datepicker[theme="noire"]:not([data-touch="true"]) .vc-datepicker-previous:hover,
vc-datepicker[theme="noire"]:not([data-touch="true"]) .vc-datepicker-next:hover,
vc-datepicker[theme="noire"]:not([data-touch="true"]) .vc-datepicker-back:hover,
vc-datepicker[theme="noire"]:not([data-touch="true"]) .vc-datepicker-close:hover {
  background-color: #454545;
}
vc-datepicker[theme="noire"]:not([data-touch="true"]) .vc-datepicker-day:not([data-disabled="true"]):hover {
  background-color: #18c796;
  color: inherit;
}
vc-datepicker[theme="noire"] .vc-datepicker-body .vc-datepicker-row div:not([data-disabled="true"]):hover {
  background-color: #18c796;
  color: inherit;
}
