/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
vc-datebox {
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
}
vc-datebox[disabled="true"] .vc-datebox-current {
  background: #454545;
}
vc-datebox .vc-fg1-hoverable:hover {
  -webkit-text-fill-color: #ffffff;
}
vc-datebox .vc-datebox-underline:before,
vc-datebox .vc-datebox-underline:after {
  background: #18c796;
}
vc-datebox .vc-datebox-underline.vc-datebox-noMatches:before,
vc-datebox .vc-datebox-underline.vc-datebox-noMatches:after {
  background: #c33232;
}
vc-datebox[disabled="true"] ::-webkit-input-placeholder {
  color: #565656;
}
vc-datebox[disabled="true"] :-moz-placeholder {
  color: #565656;
}
vc-datebox[disabled="true"] ::-moz-placeholder {
  color: #565656;
}
vc-datebox[disabled="true"] :-ms-input-placeholder {
  color: #565656 !important;
}
