vc-datepicker[theme="noire"]:not([data-touch="true"]) .vc-datepicker-previous:hover,
vc-datepicker[theme="noire"]:not([data-touch="true"]) .vc-datepicker-next:hover,
vc-datepicker[theme="noire"]:not([data-touch="true"]) .vc-datepicker-back:hover,
vc-datepicker[theme="noire"]:not([data-touch="true"]) .vc-datepicker-close:hover {
  background-color: #454545;
}
vc-datepicker[theme="noire"] .vc-datepicker-body .vc-datepicker-row div:hover {
  background-color: #18c796;
}
vc-datepicker[theme="noire"]:not([data-touch="true"]) .vc-datepicker-day:hover {
  background-color: #18c796;
}
vc-datepicker[theme="noire"] .vc-datepicker-leftNavigation div[data-disabled="true"] {
  color: #747474;
}
vc-datepicker[theme="noire"] .vc-datepicker-body div.vc-datepicker-day[data-disabled="true"] {
  color: #747474;
}
vc-datepicker[theme="noire"] .vc-datepicker-body div.vc-datepicker-day[data-disabled="true"]:hover {
  color: #747474;
}
vc-datepicker[theme="noire"] .vc-datepicker-body div.vc-datepicker-month[data-disabled="true"]:hover {
  color: #747474;
}
vc-datepicker[theme="noire"] .vc-datepicker-body div.vc-datepicker-year[data-disabled="true"] {
  color: #747474;
}
vc-datepicker[theme="noire"] .vc-datepicker-body div.vc-datepicker-year[data-disabled="true"]:hover {
  color: #747474;
}
