/* Elements colors */
/* datebox */
vc-grid[editable="true"] vc-cell:hover {
  background: #454545;
}
vc-grid .vc-grid-header .vc-grid-wrapper vc-cell {
  color: #e6e6e6;
}
vc-grid .vc-grid-header .vc-grid-wrapper vc-cell:hover {
  background-color: #454545;
}
vc-grid .vc-grid-entryRow:first-child {
  border-top: 1px solid #383838;
}
vc-grid .vc-grid-entryRow vc-cell {
  color: #e6e6e6;
  border-right: 1px solid #383838;
}
vc-grid .vc-grid-disabled {
  color: #565656 !important;
}
