/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
vc-radio {
  /* Change the radio style when it's checked */
  /* Change the inside radio style when it's checked */
  /* Style of the circle when the radio it's disabled */
  /* Circle style when the radio it's checked and disabled */
}
vc-radio .vc-radio-input:checked + .vc-radio-label .vc-radio-outspan {
  border-color: #18c796;
}
vc-radio .vc-radio-input:checked + .vc-radio-label .vc-radio-inspan {
  border-color: #18c796;
  background-color: #18c796;
}
vc-radio .vc-radio-input:disabled + .vc-radio-label .vc-radio-outspan {
  border-color: #747474;
}
vc-radio .vc-radio-input:disabled + .vc-radio-label,
vc-radio .vc-radio-input[type="radio"]:disabled + .vc-radio-label .vc-radio-outspan {
  color: #747474;
}
vc-radio .vc-radio-checkedDisabledRadio:checked + .vc-radio-label .vc-radio-inspan,
vc-radio .vc-radio-disabledRadio[type="radio"]:checked + .vc-radio-label .vc-radio-inspan {
  border-color: #747474;
  background-color: #747474;
}
