vc-radiogroup[theme="noire"] {
  /* Change the radio style when it's checked */
  /* Change the inside radio style when it's checked */
  /* Style of the circle when the radio it's disable */
  /* Circle style when the radio it's checked and disable */
}
vc-radiogroup[theme="noire"] .vc-radiogroup-radio:checked + .vc-radiogroup-radioLabel .vc-radiogroup-outspan {
  border-color: #18c796;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-radio:checked + .vc-radiogroup-radioLabel .vc-radiogroup-inspan {
  border-color: #18c796;
  background-color: #18c796;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-radio:disabled + .vc-radiogroup-radioLabel .vc-radiogroup-outspan {
  border-color: #747474;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-radio:disabled + .vc-radiogroup-radioLabel,
vc-radiogroup[theme="noire"] .vc-radiogroup-radio[type="radio"]:disabled + .vc-radiogroup-radioLabel .vc-radiogroup-outspan {
  color: #747474;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-checkedDisableRadio:checked + .vc-radiogroup-radioLabel .vc-radiogroup-inspan,
vc-radiogroup[theme="noire"] .vc-radiogroup-disableRadio[type="radio"]:checked + .vc-radiogroup-radioLabel .vc-radiogroup-inspan {
  border-color: #747474;
  background-color: #747474;
}
