vc-selector[theme="noire"] .vc-selector-main {
  border-bottom: 1px solid #e6e6e6;
}
vc-selector[theme="noire"] .vc-selector-underline:before,
vc-selector[theme="noire"] .vc-selector-underline:after {
  background: #18c796;
}
vc-selector[theme="noire"].noMatches .vc-selector-main {
  border-bottom: 1px solid #c33232;
}
vc-selector[theme="noire"].noMatches .vc-selector-underline:before,
vc-selector[theme="noire"].noMatches .vc-selector-underline:after {
  background: #c33232;
}
