/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
vc-swiper[theme="noire"] {
  /*
   * NAVIGATION CONTROLLERS
   */
  /*
   * Gallery elements
   */
}
vc-swiper[theme="noire"] .vc-swiper-thumbnail {
  background-color: #ffffff;
}
vc-swiper[theme="noire"] .vc-swiper-navBtn {
  color: #ffffff;
  text-align: center;
}
vc-swiper[theme="noire"].vc-swiper-vertical .vc-swiper-navBtn {
  position: absolute;
  color: #ffffff;
}
vc-swiper[theme="noire"].vc-swiper-gallery > .vc-swiper-pagination {
  background-color: #000000;
}
vc-swiper[theme="noire"].vc-swiper-gallery.vc-swiper-vertical > .vc-swiper-pagination {
  background-color: #000000;
}
