vc-text[theme="noire"] {
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
}
vc-text[theme="noire"] .vc-text-editable:empty:before {
  content: attr(placeholder);
  color: #9a9a9a;
}
vc-text[theme="noire"] ::-webkit-input-placeholder {
  color: #9a9a9a;
}
vc-text[theme="noire"] :-moz-placeholder {
  color: #9a9a9a;
}
vc-text[theme="noire"] ::-moz-placeholder {
  color: #9a9a9a;
}
vc-text[theme="noire"] :-ms-input-placeholder {
  color: #9a9a9a !important;
}
vc-text[theme="noire"] .vc-text-underline:before,
vc-text[theme="noire"] .vc-text-underline:after {
  background: #18c796;
}
vc-text[theme="noire"].focus .vc-text-label,
vc-text[theme="noire"].focus .vc-text-counter {
  color: #18c796;
}
vc-text[theme="noire"].focus .vc-text-label {
  color: #18c796;
}
vc-text[theme="noire"][disabled="true"] .vc-text-editable:empty:before {
  color: #565656;
}
vc-text[theme="noire"][disabled="true"] ::-webkit-input-placeholder {
  color: #565656;
}
vc-text[theme="noire"][disabled="true"] :-moz-placeholder {
  color: #565656;
}
vc-text[theme="noire"][disabled="true"] ::-moz-placeholder {
  color: #565656;
}
vc-text[theme="noire"][disabled="true"] :-ms-input-placeholder {
  color: #565656 !important;
}
vc-text[theme="noire"] input:disabled {
  -webkit-text-fill-color: #747474;
  /* Override iOS / Android font color change */
  -webkit-opacity: 1;
  /* Override iOS opacity change affecting text & background color */
}
