vc-tabs[theme="noire"] .vc-tabs-scrolls.enabled div {
  color: #9a9a9a;
}
vc-tabs[theme="noire"] .vc-tabs-scrolls.enabled div:hover {
  color: #ffffff;
}
vc-tabs[theme="noire"] .vc-tabs-selected .vc-tabs-closeButton:hover i {
  color: #ffffff;
}
vc-tabs[theme="noire"] .vc-tabs-selected span {
  color: #e6e6e6;
}
