vc-toggle[theme="noire"] .vc-toggle-input[type="checkbox"] + .vc-toggle-label::after {
  background: #e6e6e6;
}
vc-toggle[theme="noire"] .vc-toggle-input:checked ~ .vc-toggle-label {
  background: #45e9bb;
}
vc-toggle[theme="noire"] .vc-toggle-input[type="checkbox"]:checked + .vc-toggle-label::after {
  background: #18c796;
}
vc-toggle[theme="noire"] .vc-toggle-input:disabled ~ .vc-toggle-label {
  background: #ababab;
}
vc-toggle[theme="noire"] .vc-toggle-input:disabled ~ .vc-toggle-label::after {
  background: #9a9a9a;
}
vc-toggle[theme="noire"] .vc-toggle-input[type="checkbox"]:disabled + .vc-toggle-label::after {
  background: #9a9a9a;
}
