vc-treenode[theme="noire"] .vc-treenode-selected::before,
vc-treenode[theme="noire"] .vc-treenode-selected:hover::before {
  background-color: #454545;
}
vc-treenode[theme="noire"] .vc-treenode-head:hover::before {
  background-color: #383838;
}
vc-treenode[theme="noire"] .vc-treenode-selected:hover::before {
  background-color: #454545;
}
vc-treenode[theme="noire"] .vc-treenode-head:hover .vc-treenode-name {
  color: #ffffff;
}
vc-treenode[theme="noire"] .vc-treenode-head:hover i {
  color: #ffffff;
}
vc-treenode[theme="noire"] .vc-treenode-selected:hover .vc-treenode-name {
  color: #ffffff;
}
