eon-stack {
  height: 100%;
  display: flex;
}
eon-stack.eon-stack-flex {
  flex-grow: 1;
}
eon-stack.eon-stack-flex > eon-panel {
  height: auto;
  flex-grow: 1;
}
eon-stack eon-panel.eon-stack-visible {
  display: block;
}
eon-stack.eon-stack-flex eon-panel.eon-stack-visible {
  display: flex;
}
