eon-spinner[theme="claro"] {
  position: relative !important;
  display: flex !important;
  /* LABEL */
  /* BOTTOM BAR*/
  /* active state */
}
eon-spinner[theme="claro"] .eon-spinner-group {
  display: flex !important;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
  flex-grow: 1;
}
eon-spinner[theme="claro"] .eon-spinner-spinner {
  display: flex;
  flex-direction: row;
  outline: none;
  background-color: #3a3a3a;
}
eon-spinner[theme="claro"] .eon-spinner-input {
  font-size: 15px;
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #e6e6e6;
  border: none;
  background-color: transparent;
}
eon-spinner[theme="claro"] .eon-spinner-control {
  font-weight: bold;
  display: flex;
  width: 24px;
  padding: 5px;
  pointer-events: all !important;
  text-align: center;
  align-items: center;
  justify-content: center;
}
eon-spinner[theme="claro"][disable="false"] .eon-spinner-control:hover {
  cursor: pointer;
  color: #ffffff;
}
eon-spinner[theme="claro"] .eon-spinner-control i {
  font-size: 20px;
}
eon-spinner[theme="claro"] .eon-spinner-input:focus {
  outline: none;
}
eon-spinner[theme="claro"] .eon-spinner-label {
  font-size: 15px;
  margin-bottom: 5px;
  height: 18px;
  display: none;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
eon-spinner[theme="claro"] .eon-spinner-labelDisplay {
  display: flex;
}
eon-spinner[theme="claro"] .eon-spinner-focusLabel {
  color: #c718be;
}
eon-spinner[theme="claro"] .eon-spinner-disable {
  cursor: auto;
  pointer-events: none;
  color: #747474;
  border-bottom: 1px solid #747474;
}
eon-spinner[theme="claro"] .eon-spinner-disable .eon-spinner-input {
  color: #747474;
}
eon-spinner[theme="claro"] .eon-spinner-input[type=number]::-webkit-inner-spin-button,
eon-spinner[theme="claro"] .eon-spinner-input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
eon-spinner[theme="claro"] .eon-spinner-input[type=number] {
  -webkit--appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
eon-spinner[theme="claro"] .eon-spinner-inputBar {
  position: relative;
  display: block;
  width: auto;
}
eon-spinner[theme="claro"] .eon-spinner-inputBar:before,
eon-spinner[theme="claro"] .eon-spinner-inputBar:after {
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
  background: #c718be;
}
eon-spinner[theme="claro"] .eon-spinner-inputBar:before {
  left: 50%;
}
eon-spinner[theme="claro"] .eon-spinner-inputBar:after {
  right: 50%;
}
eon-spinner[theme="claro"] .eon-spinner-animate:before,
eon-spinner[theme="claro"] .eon-spinner-animate:after {
  width: 50%;
}
@media (max-width: 768px) {
  eon-spinner[theme="claro"] {
    width: auto !important;
  }
}
