eon-treenode[theme="claro"] {
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0px 5px 0 5px;
  overflow: hidden;
  -webkit-user-drag: element;
  user-select: none;
}
eon-treenode[theme="claro"] .eon-treenode-head {
  display: flex;
  min-height: 20px;
  padding: 5px;
  overflow: hidden;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
eon-treenode[theme="claro"] .eon-treenode-head > .eon-treenode-expand {
  font-size: 19px;
  width: 19px;
  cursor: pointer;
  z-index: 0;
}
eon-treenode[theme="claro"] .eon-treenode-name {
  font-size: 12px;
  color: white;
  z-index: 0;
  line-height: 20px;
  margin-left: 2px;
}
eon-treenode[theme="claro"] .eon-treenode-icon {
  font-size: 18px;
  display: inline-block;
  vertical-align: sub;
  z-index: 1;
}
eon-treenode[theme="claro"] .eon-treenode-expand {
  visibility: hidden;
}
eon-treenode[theme="claro"] .eon-treenode-selected::before {
  content: "";
  height: 25px;
  margin-top: -3px;
  position: absolute;
  background-color: #444548;
  left: 0;
  right: 0;
}
eon-treenode[theme="claro"] .eon-treenode-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
eon-treenode[theme="claro"] .eon-treenode-wrapper > eon-treenode {
  margin: 0px 0px 0px 18px;
}
