/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
           radio, contextmenu, slider, treenode) */
eon-datebox[theme="claro"],
div[data-theme="claro"] eon-datebox,
body[data-theme="claro"] eon-datebox {
  /*Underline animation*/
  /* TOOLBAR DISPLAY*/
}
eon-datebox[theme="claro"] .eon-datebox-data,
div[data-theme="claro"] eon-datebox .eon-datebox-data,
body[data-theme="claro"] eon-datebox .eon-datebox-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
}
eon-datebox[theme="claro"][label=""][counter="false"] .eon-datebox-data,
div[data-theme="claro"] eon-datebox[label=""][counter="false"] .eon-datebox-data,
body[data-theme="claro"] eon-datebox[label=""][counter="false"] .eon-datebox-data {
  display: none;
}
eon-datebox[theme="claro"] .eon-datebox-label,
div[data-theme="claro"] eon-datebox .eon-datebox-label,
body[data-theme="claro"] eon-datebox .eon-datebox-label {
  font-size: 15px;
  height: 100%;
  flex-grow: 1;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
eon-datebox[theme="claro"] .eon-datebox-counter,
div[data-theme="claro"] eon-datebox .eon-datebox-counter,
body[data-theme="claro"] eon-datebox .eon-datebox-counter {
  height: 100%;
  flex-grow: 0;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
eon-datebox[theme="claro"].focus .eon-datebox-label,
div[data-theme="claro"] eon-datebox.focus .eon-datebox-label,
body[data-theme="claro"] eon-datebox.focus .eon-datebox-label,
eon-datebox[theme="claro"].focus .eon-datebox-counter,
div[data-theme="claro"] eon-datebox.focus .eon-datebox-counter,
body[data-theme="claro"] eon-datebox.focus .eon-datebox-counter {
  color: #18c796;
}
eon-datebox[theme="claro"].focus .eon-datebox-label,
div[data-theme="claro"] eon-datebox.focus .eon-datebox-label,
body[data-theme="claro"] eon-datebox.focus .eon-datebox-label {
  color: #18c796;
}
eon-datebox[theme="claro"].disabled,
div[data-theme="claro"] eon-datebox.disabled,
body[data-theme="claro"] eon-datebox.disabled {
  pointer-events: none;
}
eon-datebox[theme="claro"].disabled .eon-datebox-label,
div[data-theme="claro"] eon-datebox.disabled .eon-datebox-label,
body[data-theme="claro"] eon-datebox.disabled .eon-datebox-label {
  color: #5f5f5f;
}
eon-datebox[theme="claro"].disabled .eon-datebox-counter,
div[data-theme="claro"] eon-datebox.disabled .eon-datebox-counter,
body[data-theme="claro"] eon-datebox.disabled .eon-datebox-counter {
  color: #5f5f5f;
}
eon-datebox[theme="claro"] .eon-datebox-main,
div[data-theme="claro"] eon-datebox .eon-datebox-main,
body[data-theme="claro"] eon-datebox .eon-datebox-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
  background: #3a3a3a;
  min-width: 200px;
}
eon-datebox[theme="claro"] .eon-datebox-input,
div[data-theme="claro"] eon-datebox .eon-datebox-input,
body[data-theme="claro"] eon-datebox .eon-datebox-input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  border: none;
}
eon-datebox[theme="claro"] .eon-datebox-input.eon-datebox-error,
div[data-theme="claro"] eon-datebox .eon-datebox-input.eon-datebox-error,
body[data-theme="claro"] eon-datebox .eon-datebox-input.eon-datebox-error {
  border-bottom: 1px solid #c33232;
}
eon-datebox[theme="claro"] .eon-datebox-input .eon-datebox-wrapper,
div[data-theme="claro"] eon-datebox .eon-datebox-input .eon-datebox-wrapper,
body[data-theme="claro"] eon-datebox .eon-datebox-input .eon-datebox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
eon-datebox[theme="claro"] .eon-datebox-subInputs,
div[data-theme="claro"] eon-datebox .eon-datebox-subInputs,
body[data-theme="claro"] eon-datebox .eon-datebox-subInputs {
  display: flex;
  color: #c1c1c1;
  background-color: transparent;
  padding: 10px;
  align-items: center;
  flex-grow: 1;
}
eon-datebox[theme="claro"] .eon-datebox-subInputs div[data-field="day"],
div[data-theme="claro"] eon-datebox .eon-datebox-subInputs div[data-field="day"],
body[data-theme="claro"] eon-datebox .eon-datebox-subInputs div[data-field="day"],
eon-datebox[theme="claro"] .eon-datebox-subInputs div[data-field="month"],
div[data-theme="claro"] eon-datebox .eon-datebox-subInputs div[data-field="month"],
body[data-theme="claro"] eon-datebox .eon-datebox-subInputs div[data-field="month"] {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
}
eon-datebox[theme="claro"] .eon-datebox-subInputs div[data-field="year"],
div[data-theme="claro"] eon-datebox .eon-datebox-subInputs div[data-field="year"],
body[data-theme="claro"] eon-datebox .eon-datebox-subInputs div[data-field="year"] {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1.5;
}
eon-datebox[theme="claro"] .eon-datebox-subInputs div[data-field],
div[data-theme="claro"] eon-datebox .eon-datebox-subInputs div[data-field],
body[data-theme="claro"] eon-datebox .eon-datebox-subInputs div[data-field] {
  transition: 0.3s all;
  outline: none;
  display: flex;
}
eon-datebox[theme="claro"] .eon-datebox-subInputs div[data-field] input:focus,
div[data-theme="claro"] eon-datebox .eon-datebox-subInputs div[data-field] input:focus,
body[data-theme="claro"] eon-datebox .eon-datebox-subInputs div[data-field] input:focus {
  background-color: #969696;
  background-color: rgba(99, 99, 99, 0.4);
}
eon-datebox[theme="claro"] .eon-datebox-subInput input,
div[data-theme="claro"] eon-datebox .eon-datebox-subInput input,
body[data-theme="claro"] eon-datebox .eon-datebox-subInput input {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: inherit;
  font-size: 15px;
  padding: 0;
}
eon-datebox[theme="claro"] .eon-datebox-subInput:hover,
div[data-theme="claro"] eon-datebox .eon-datebox-subInput:hover,
body[data-theme="claro"] eon-datebox .eon-datebox-subInput:hover {
  background-color: #969696;
  background-color: rgba(99, 99, 99, 0.2);
}
eon-datebox[theme="claro"] .eon-datebox-separator,
div[data-theme="claro"] eon-datebox .eon-datebox-separator,
body[data-theme="claro"] eon-datebox .eon-datebox-separator {
  display: flex;
  padding: 0 5px;
  align-items: center;
  flex-basis: 0;
  flex-grow: 0;
  justify-content: center;
  font-size: 15px;
}
eon-datebox[theme="claro"] .eon-datebox-button,
div[data-theme="claro"] eon-datebox .eon-datebox-button,
body[data-theme="claro"] eon-datebox .eon-datebox-button {
  margin-right: 5px;
  color: #c1c1c1;
  flex-grow: 0;
}
eon-datebox[theme="claro"] .eon-datebox-button:hover,
div[data-theme="claro"] eon-datebox .eon-datebox-button:hover,
body[data-theme="claro"] eon-datebox .eon-datebox-button:hover {
  color: white;
}
eon-datebox[theme="claro"] div[contenteditable=true]:empty:before,
div[data-theme="claro"] eon-datebox div[contenteditable=true]:empty:before,
body[data-theme="claro"] eon-datebox div[contenteditable=true]:empty:before {
  display: flex;
  content: attr(data-placeholder);
  color: #7d7d7d;
  align-items: center;
  justify-content: center;
}
eon-datebox[theme="claro"] .eon-datebox-underline,
div[data-theme="claro"] eon-datebox .eon-datebox-underline,
body[data-theme="claro"] eon-datebox .eon-datebox-underline {
  position: relative;
  display: block;
  width: auto;
}
eon-datebox[theme="claro"] .eon-datebox-underline:before,
div[data-theme="claro"] eon-datebox .eon-datebox-underline:before,
body[data-theme="claro"] eon-datebox .eon-datebox-underline:before,
eon-datebox[theme="claro"] .eon-datebox-underline:after,
div[data-theme="claro"] eon-datebox .eon-datebox-underline:after,
body[data-theme="claro"] eon-datebox .eon-datebox-underline:after {
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
  background: #18c796;
}
eon-datebox[theme="claro"] .eon-datebox-underline:before,
div[data-theme="claro"] eon-datebox .eon-datebox-underline:before,
body[data-theme="claro"] eon-datebox .eon-datebox-underline:before {
  left: 50%;
}
eon-datebox[theme="claro"] .eon-datebox-underline:after,
div[data-theme="claro"] eon-datebox .eon-datebox-underline:after,
body[data-theme="claro"] eon-datebox .eon-datebox-underline:after {
  right: 50%;
}
eon-datebox[theme="claro"] .eon-datebox-underline.animate:before,
div[data-theme="claro"] eon-datebox .eon-datebox-underline.animate:before,
body[data-theme="claro"] eon-datebox .eon-datebox-underline.animate:before,
eon-datebox[theme="claro"] .eon-datebox-underline.animate:after,
div[data-theme="claro"] eon-datebox .eon-datebox-underline.animate:after,
body[data-theme="claro"] eon-datebox .eon-datebox-underline.animate:after {
  width: 50%;
}
eon-datebox[theme="claro"] .eon-datebox-underline.eon-datebox-error:before,
div[data-theme="claro"] eon-datebox .eon-datebox-underline.eon-datebox-error:before,
body[data-theme="claro"] eon-datebox .eon-datebox-underline.eon-datebox-error:before,
eon-datebox[theme="claro"] .eon-datebox-underline.eon-datebox-error:after,
div[data-theme="claro"] eon-datebox .eon-datebox-underline.eon-datebox-error:after,
body[data-theme="claro"] eon-datebox .eon-datebox-underline.eon-datebox-error:after {
  background: #c33232;
}
eon-datebox[theme="claro"] .toolbar,
div[data-theme="claro"] eon-datebox .toolbar,
body[data-theme="claro"] eon-datebox .toolbar {
  border: none;
}
eon-datebox[theme="claro"] .toolbar .eon-datebox-underline,
div[data-theme="claro"] eon-datebox .toolbar .eon-datebox-underline,
body[data-theme="claro"] eon-datebox .toolbar .eon-datebox-underline {
  display: none;
}
eon-datebox[theme="claro"] .toolbar .eon-datebox-input,
div[data-theme="claro"] eon-datebox .toolbar .eon-datebox-input,
body[data-theme="claro"] eon-datebox .toolbar .eon-datebox-input {
  border: none;
}
