/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-stackcontainer[theme="hotel"] {
  height: 100%;
  display: flex;
}
eon-stackcontainer[theme="hotel"] > eon-container {
  width: 100%;
  height: 100%;
  display: none;
}
eon-stackcontainer[theme="hotel"] eon-container.visible {
  display: block;
}
