/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-layout[theme="hotel"] {
  /*
    Items wrapping
   */
  /*
    Items horizontal alignment and spacing
   */
  /*
   **This should be on item css file
   Items vertical align
   */
}
eon-layout[theme="hotel"] .eon-layout-columnContainer {
  display: flex;
  flex-direction: column;
}
eon-layout[theme="hotel"] .eon-layout-rowContainer {
  display: flex;
  flex-direction: row;
}
eon-layout[theme="hotel"] .eon-layout-wrap {
  flex-wrap: wrap;
}
eon-layout[theme="hotel"] .eon-layout-wrapReverse {
  flex-wrap: wrap-reverse;
}
eon-layout[theme="hotel"] .eon-layout-nowrap {
  flex-wrap: nowrap;
}
eon-layout[theme="hotel"] .eon-layout-justifiedSstart {
  align-items: start;
}
eon-layout[theme="hotel"] .eon-layout-justifiedEnd {
  align-items: end;
}
eon-layout[theme="hotel"] .eon-layout-justifiedCenter {
  align-items: center;
}
eon-layout[theme="hotel"] .eon-layout-alignStart {
  align-self: flex-start;
}
eon-layout[theme="hotel"] .eon-layout-alignEnd {
  align-self: flex-end;
}
eon-layout[theme="hotel"] .eon-layout-alignCenter {
  align-self: center;
}
eon-layout[theme="hotel"] .eon-layout-alignStretch {
  align-self: stretch;
}
