/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
           radio, contextmenu, slider, treenode) */
eon-button[theme="claro"] .eon-button-button,
div[data-theme="claro"] eon-button .eon-button-button,
body[data-theme="claro"] eon-button .eon-button-button {
  background-position: center;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 0), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-button[theme="claro"][design="filled"] .eon-button-button:hover,
div[data-theme="claro"] eon-button[design="filled"] .eon-button-button:hover,
body[data-theme="claro"] eon-button[design="filled"] .eon-button-button:hover {
  background: #79d7e9 radial-gradient(circle, transparent 1%, #79d7e9 1%) center / 15000%;
  box-shadow: 0 3px 9px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}
eon-button[theme="claro"][design="filled"] .eon-button-button:active,
div[data-theme="claro"] eon-button[design="filled"] .eon-button-button:active,
body[data-theme="claro"] eon-button[design="filled"] .eon-button-button:active {
  background-color: #b3e8f1;
  background-size: 100%;
  transition: background 0s;
}
eon-button[theme="claro"] .eon-button-button:hover,
div[data-theme="claro"] eon-button .eon-button-button:hover,
body[data-theme="claro"] eon-button .eon-button-button:hover {
  background: #bef2ff radial-gradient(circle, transparent 1%, #bef2ff 1%) center / 15000%;
}
eon-button[theme="claro"] .eon-button-button:active,
div[data-theme="claro"] eon-button .eon-button-button:active,
body[data-theme="claro"] eon-button .eon-button-button:active {
  background-color: #e6fbff;
  background-size: 100%;
  transition: background 0s;
}
