/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-spinner[theme="claro"][readonly="true"] .eon-spinner-control:hover,
div[data-theme="claro"] eon-spinner[readonly="true"] .eon-spinner-control:hover,
body[data-theme="claro"] eon-spinner[readonly="true"] .eon-spinner-control:hover {
  color: #888888;
}
eon-spinner[theme="claro"] .eon-spinner-inputBar:before,
div[data-theme="claro"] eon-spinner .eon-spinner-inputBar:before,
body[data-theme="claro"] eon-spinner .eon-spinner-inputBar:before,
eon-spinner[theme="claro"] .eon-spinner-inputBar:after,
div[data-theme="claro"] eon-spinner .eon-spinner-inputBar:after,
body[data-theme="claro"] eon-spinner .eon-spinner-inputBar:after {
  background: #47cce2;
}
eon-spinner[theme="claro"].eon-spinner-error .eon-spinner-label,
div[data-theme="claro"] eon-spinner.eon-spinner-error .eon-spinner-label,
body[data-theme="claro"] eon-spinner.eon-spinner-error .eon-spinner-label {
  color: #c33232;
}
eon-spinner[theme="claro"].eon-spinner-error .eon-spinner-group,
div[data-theme="claro"] eon-spinner.eon-spinner-error .eon-spinner-group,
body[data-theme="claro"] eon-spinner.eon-spinner-error .eon-spinner-group {
  border-bottom: 1px solid #c33232;
}
eon-spinner[theme="claro"].eon-spinner-error .eon-spinner-inputBar:before,
div[data-theme="claro"] eon-spinner.eon-spinner-error .eon-spinner-inputBar:before,
body[data-theme="claro"] eon-spinner.eon-spinner-error .eon-spinner-inputBar:before,
eon-spinner[theme="claro"].eon-spinner-error .eon-spinner-inputBar:after,
div[data-theme="claro"] eon-spinner.eon-spinner-error .eon-spinner-inputBar:after,
body[data-theme="claro"] eon-spinner.eon-spinner-error .eon-spinner-inputBar:after {
  background: #c33232;
}
eon-spinner[theme="claro"].eon-spinner-error .eon-spinner-description,
div[data-theme="claro"] eon-spinner.eon-spinner-error .eon-spinner-description,
body[data-theme="claro"] eon-spinner.eon-spinner-error .eon-spinner-description {
  color: #c33232;
}
eon-spinner[theme="claro"] .eon-spinner-control,
div[data-theme="claro"] eon-spinner .eon-spinner-control,
body[data-theme="claro"] eon-spinner .eon-spinner-control {
  cursor: pointer;
}
