vc-button[theme="noire"][fill-width="false"] {
  display: flex;
}
vc-button[theme="noire"] .vc-button-button {
  font-weight: bold;
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: auto;
  height: 30px;
  padding: 16px;
  cursor: pointer;
  -webkit-transition: background-color ease 0.5s;
  -moz-transition: background-color ease 0.5s;
  transition: background-color ease 0.5s;
  border-width: 3px;
  border-style: solid;
  align-items: center;
  justify-content: center;
}
vc-button[theme="noire"] .vc-button-buttonIcon {
  font-size: 22px;
}
vc-button[theme="noire"][icon-position="left"] .vc-button-button {
  flex-direction: row-reverse;
}
vc-button[theme="noire"][icon-position="left"] .vc-button-buttonIcon {
  margin-right: 5px;
}
vc-button[theme="noire"][icon-position="right"] .vc-button-button {
  flex-direction: row;
}
vc-button[theme="noire"][icon-position="right"] .vc-button-buttonIcon {
  margin-left: 5px;
  flex-direction: row;
}
vc-button[theme="noire"][text="false"] .vc-button-buttonIcon {
  margin-right: 0;
  margin-left: 0;
}
vc-button[theme="noire"][text="false"] .vc-button-button {
  padding: 16px 5px;
}
vc-button[theme="noire"][icon-position="left"][text="true"] .vc-button-addedIcon {
  padding-left: 10px;
}
vc-button[theme="noire"][icon-position="right"][text="true"] .vc-button-addedIcon {
  padding-right: 10px;
}
@media (max-width: 800px) {
  vc-button[theme="noire"][fill-width="false"] {
    display: block;
  }
}
