@element: vc-form;

@{element} {
  // Fill style
  &.vc-fill{
    height: 100%;
    width: 100%;
  }
  // Default style
  &.vc-spaced{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 0 0;
  }
  &.vc-spaced > *{
    margin: 0 0 10px 10px;
  }
}