html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #2d2d2d;
  display: flex;
  flex-wrap: wrap;
}
.main {
  height: 100%;
  width: 100%;
  justify-content: flex-start;
}
.gutterContainer {
  height: 250px;
  padding: 0;
}
.innerCard {
  height: 50px;
  width: 50px;
  min-width: 50px;
  margin: 8px;
  background: #519a51;
}
.blue {
  background-color: #3b78b7;
}
.orange {
  background-color: #b78f47;
}
.red {
  background-color: #9c4747;
}
.section {
  justify-content: center;
  align-items: center;
}
