.title {
  margin-top: 0;
  margin-bottom: 10px;
}
input {
  border: 0;
  color: white;
  height: 25px;
  padding-left: 0px;
}
input[type="checkbox"] {
  margin-left: 0;
  margin-top: 0;
  width: auto;
}
textarea {
  width: 100% !important;
  padding-left: 0;
}
.subCard {
  width: 100%;
  background-color: #353535;
  color: white;
  border: 0;
  padding-right: 0;
}
.subTitle {
  margin-top: 5px;
  margin-bottom: 5px;
}
.flexStretch {
  flex-grow: 1;
  margin: 0;
  max-height: 375px;
  overflow-y: auto;
}
