@element: vc-stack;

@{element} {
  & {
    height: 100%;
    display: flex;
  }

  & > vc-panel {
    width: 100%;
    height: 100%;
    display: none;
  }

  vc-panel.vc-stack-visible {
    display: block;
  }
}
