html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* OLD */
    /* background-color: #2d2d2d; */
    background-color: #ffffff !important;
    color: #e6e6e6;
    overflow: hidden;
}

.d-left-margin {
    margin-left: 20px;
}
.d-top-margin {
    margin-top: 20px;
}

.main {
    width: 100%;
    height: 100%;
}
.welcome {
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Theme Menu Bar */
.tMenuBar {
    width: 100%;
    height: 46px;
    flex-grow: 0;
    z-index: 2;
    box-sizing: border-box;
    display: none;
}
.tStickyClass {
    background-color: #fafcff;
    flex-grow: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px #d8d8d8;
    -moz-box-shadow: 0px 0px 10px #d8d8d8;
    box-shadow: 0px 0px 10px #d8d8d8
}
@media (min-width: 1300px) {
    .tStickyClass {
        justify-content: flex-end !important;
    }
}
@media (max-width: 1300px) {
    .tMenuBar{
      display: block;
    }
    .card.first-card {
      margin-top: 0 !important;
    }
}

.tVLogo {
    position: absolute;
    font-size: 40px;
    left: 0;
    top: 9px;
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-left: 6px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms;
}
.tMenuBtn {
    position: absolute;
    color: #4a4a4a !important;
    font-size: 40px;
    left: 0;
    top: 0;
    height: 100%;
    margin-top: 0;
    margin-left: 6px;
    cursor: pointer;
    align-items: center;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
    visibility: visible;
    z-index: 1;
}
@media (min-width: 1300px) {
    .tVLogo {
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
        visibility: visible;
        font-size: 36px !important;
    }
    .tMenuBtn {
        opacity: 0;
        visibility: hidden;
        transition: opacity 300ms;
    }
}
.tIcon {
  background-image: url(../img/eon-logo.svg);
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
  margin-top: 0px;
  margin: 14px;
  cursor: pointer;
}
/* Theme Menu Bar End */

/* Theme Tester Content */

.tContent {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

/* Theme Tester Tree */

.tTreeContainer {
  background-color: #ffffff;
  width: 300px;
  z-index: 5;
  flex-grow: 0;
  border-right: 1px solid #bcf2ff;
}

@media (max-width: 1024px) {
    .tTreeContainer {
        width: 300px !important;
    }
}
@media (max-width: 1299px) {
    .tMenuBtn{
        display: flex;
    }
}

/* Searchbar */
.tSearchbar {
  width: 220px;
  display: flex;
  margin: 20px auto 30px auto;
  padding: 0px 20px 10px 20px;
  box-sizing: border-box;
}

.tSearchbar:hover .eon-searchbar-searchButton {
    color: #ffffff;
}

.tSearchbar .eon-searchbar-main {
    box-shadow: none;
    background-color: transparent;
}

.tSearchbar .eon-searchbar-field {
    background-color: transparent !important;
    /* margin-left: 10px; */
}

.tSearchbar .eon-searchbar-main {
    border: none !important;
    flex-grow: 1;
    padding: 0 !important;
    justify-content: center;
    height: 30px;
}

.tSearchbar .eon-searchbar-field input {
    outline: none;
    background: transparent;
    border: none;
    color: #888888;
    /* padding: 0 10px; */
}
/* END Searchbar */

.tTree .notVisible {
    display: none;
}
.tTree {
    flex-grow: 1;
    margin-left: 5px;
    height: calc(100% - 60px);
}

/* -- ** TODO - Theming - Tree override -- */
@media (max-width: 580px) {
    .tTree .eon-treenode-name {
        font-size: 14px;
    }
}
/* END Theme Tester Tree */

/* Theme Tester View */

.tViewContainer {
    /* OLD */
    /* background-color: #383838; */
    background-color: #fafcff;
    padding: 0 40px;
    flex-grow: 1;
}

.tScrollContainer {
    width: 100%;
    height: 100%;
}

#tViewContent {
    width: 100%;
}

#tViewContent>.eon-scroll-content {
    padding: 20px;
}

/* END Theme Tester View */

/********************/

.card {
  padding: 10px;
  margin: 40px 10px !important;
    /* OLD */
  /* background-color: #2d2d2d; */
  box-sizing: border-box;
  width: calc(100% - 20px);
}
.first-card {
  margin-top: 10px !important;
}

.card h1 {
    color: #4a4a4a;
    font-weight: bold;
    font-size: 25px;
}

@media (max-width: 580px) {
  .tViewContainer {
    padding: 0 4px;
  }
  .card {
    box-sizing: border-box;
    margin: 40px 5px !important;
    width: calc(100% - 10px);
  }
}

.d-pg {
    height: 250px;
    box-shadow: 0px 0px 10px #d8d8d8;
}
.d-pg-wrapper {
    padding: 7px 10px 10px 10px;
}

/* GENERAL COLOURED*/
.pink {
    background-color: #b73ba2;
}
.blue {
    background-color: #3b78b7;
}
.yellow {
    background-color: #b78f47;
}
.green {
    background-color: #519a51;
}
.red {
    background-color: #9c4747;
}
.purple {
    background-color: #6c479c;
}

/********************/

eon-button, eon-checkbox, eon-combobox, eon-datebox, eon-text {
    margin: 5px;
}

eon-combobox {
    width: 300px;
}

/* eon-scroll overrides */
.eon-scroll-verticalBar {
    background-color: #696969;
}

/* -- ** TODO - Theming - Showcase override -- */
eon-showcase.d-pg iframe {
    margin: 3px 0 3px 0 !important;
}
eon-showcase eon-panel{
    padding: 0 !important;
}

/* -- TODO - MOVE TO THEME -- */
eon-treenode .eon-treenode-head:hover::before {
  background-color: #98eaff !important;
}
eon-treenode .eon-treenode-selected::before,
eon-treenode .eon-treenode-selected:hover::before {
  background-color: #bef2ff !important;
}

eon-searchbar .eon-bg1{
  background-color: transparent !important;
}
eon-searchbar .eon-searchbar-main{
  border-radius: 20px;
}
eon-searchbar .eon-searchbar-main.eon-boxshadow1{
  box-shadow: 0px 0px 10px #d8d8d8;
}
eon-searchbar .eon-searchbar-searchButton{
  color: #888888 !important;
}
eon-searchbar .eon-searchbar-searchButton:hover{
  color: #00bad8 !important;
}
