body.noire .tStickyClass,
body.noire .tMenuBtn,
body.noire .tViewContainer,
body.noire .tTreeContainer,
body.noire .theme-selector .eon-combobox-wrapper,
body.noire .theme-selector-container,
body.noire .d-searchbar-colors {
  background-color: #2d2d2d !important;
  color: #ffffff !important;
}

body.noire .tStickyClass,
body.noire eon-searchbar .eon-searchbar-main.eon-boxshadow1,
body.noire .d-layout-child,
body.noire #d-lazy-remote,
body.noire .d-stack-example,
body.noire .d-tabs,
body.noire .d-swiper,
body.noire .viewer-video eon-video {
  -webkit-box-shadow: rgb(27, 27, 27) 0px 0px 10px;
  -moz-box-shadow: rgb(27, 27, 27) 0px 0px 10px;
  box-shadow: rgb(27, 27, 27) 0px 0px 10px;
}
body.noire .tIcon {
  background-image: url(../img/eon-logo-w.svg);
}
body.noire .card h1 {
  color: #ffffff !important;
}
