@element: vc-playground;

@{element} {
    & {
        height: 600px;
        width: 100%;
        overflow: hidden;
    }


    & vc-panel {
        height: 100%;
        width: 100%;
        overflow: hidden !important;
    }

    #@{element}-content {
        height: 100%;
        width: 100%;
    }

    & iframe {
        border: none;
        height: 100%;
        width: 100%;
        flex-grow: 1;
        background-color: white;
        box-sizing: border-box;
    }

    & vc-gutter vc-editor {
        margin-bottom: 0px;
    }

    & vc-editor {
        min-height: 100% !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        max-height: 100%;
        box-sizing: border-box;
        background-color: #1e1e1e;
    }


    & vc-editor vc-scroll {
        max-height: 564.5px !important;
        min-height: 100% !important;
    }


    & vc-section {
        flex-direction: column;
    }

    & vc-section vc-editor {
        flex-grow: 1;
    }

    .@{element}-htmlTags {
        position: absolute;
        right: 20px;
        z-index: 500;
        top: 10px;
        color: #ffffff42;
    }

    .@{element}-until-render {
        display: none;
    }

    .@{element}-fullScreenBttn {
        cursor: pointer;
    }

    .@{element}-fullScreenBttn i {
        line-height: 30px;
    }
    
}