app-showcase {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

app-showcase .app-showcase-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #888888;
}

app-showcase .app-showcase-content {}