eon-progressbar {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.eon-progressbar-progress {
  top: auto;
  position: static;
}
.eon-progressbar-bar {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.eon-progressbar-rail {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.eon-progressbar-loadingBar {
  height: 100%;
  width: 1px;
  transition: width 0s;
  z-index: 1;
}
.eon-progressbar-indicator {
  font-size: 15px;
  margin-top: 2px;
  margin-right: 5px;
  float: right;
}
