@import "variables";
@element: eon-viewer;

@{element}[theme="noire"],
div[data-theme="noire"] @{element},
body[data-theme="noire"] @{element} {

  & {
    box-shadow: 0px 0px 10px #1b1b1b;
    background-color: #2d2d2d;
  }

}
