.eon-menu-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
eon-menu eon-item,
.eon-menu-page eon-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
eon-menu eon-item {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}
.eon-menu-page eon-item {
  font-size: 30px;
  max-height: 60px;
  width: 100%;
  flex-grow: 1;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
eon-menu eon-item a,
.eon-menu-page eon-item a {
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
  width: 100%;
  height: 100%;
  display: block;
}
eon-menu eon-item a span,
.eon-menu-page eon-item a span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.eon-menu-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.eon-menu-dropdown.eon-menu-hidden {
  opacity: 0;
}
.eon-menu-dropdown[data-position="bottom"] {
  top: 100%;
  left: 0;
}
.eon-menu-dropdown[data-position="right"] {
  top: 0;
  left: 100%;
}
.eon-menu-dropdown[data-position="left"] {
  top: 0;
  left: -100%;
}
.eon-menu-dropdown .eon-menu-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.eon-menu-dropdown eon-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
}
.eon-menu-modal {
  position: absolute;
  margin: 0;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.eon-menu-modal-fixed {
  position: fixed;
}
.eon-menu-head {
  height: 60px;
  width: 100%;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.eon-menu-modalButton {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
}
.eon-menu-modalButton i {
  font-size: 35px;
}
eon-menu.eon-menu-device .eon-menu-modalButton {
  display: flex;
}
eon-menu.eon-menu-device .eon-menu-wrapper {
  display: none;
}
.eon-menu-button {
  font-size: 35px;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 0;
  cursor: pointer;
}
.eon-menu-button.eon-menu-hidden {
  display: none;
}
.eon-menu-path {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.eon-menu-path span {
  font-size: 25px;
  font-weight: bold;
}
.eon-menu-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.eon-menu-page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  opacity: 0;
  overflow-x: hidden;
  transform: scale3d(0.5, 0.5, 0.5);
  -webkit-transition: opacity 0.3s, transform 0.3s;
  -moz-transition: opacity 0.3s, transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.eon-menu-page.eon-menu-front {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
@media (max-height: 500px) and (orientation: landscape) {
  .eon-menu-modal {
    padding-bottom: 45px;
  }
  .eon-menu-head {
    height: 45px;
  }
  .eon-menu-button {
    font-size: 25px;
  }
  .eon-menu-page eon-item {
    font-size: 22px;
  }
}
