eon-menu .eon-menu-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
eon-menu eon-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
}
eon-menu eon-item > eon-item.eon-menu-header {
  width: 100%;
  height: 100%;
}
eon-menu eon-item.eon-menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
eon-menu eon-item[icon-position="left"].eon-menu-header {
  flex-direction: row-reverse;
}
eon-menu eon-item[icon-position="left"].eon-menu-header i {
  margin-right: 10px;
}
eon-menu eon-item[icon-position="right"].eon-menu-header {
  flex-direction: row;
}
eon-menu eon-item[icon-position="right"].eon-menu-header i {
  margin-left: 10px;
}
eon-menu eon-item.eon-menu-header i {
  font-size: 16px;
}
eon-menu eon-item[type="dropdown"] .eon-menu-dropdown {
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  width: 100%;
}
eon-menu[direction="bottom-right"] .eon-menu-dropdown {
  top: 0;
  right: auto;
  bottom: auto;
  left: 100%;
}
eon-menu[direction="bottom-right"] > .eon-menu-wrapper eon-item > .eon-menu-dropdown {
  top: 100%;
  right: auto;
  bottom: auto;
  left: 0;
}
eon-menu[direction="bottom-right"] > .eon-menu-dropdown > eon-item > .eon-menu-dropdown {
  top: 0;
  left: 100%;
}
eon-menu eon-item[type="dropdown"][data-visible="true"] > .eon-menu-dropdown {
  display: flex;
}
eon-menu > eon-item[type="dropdown"][data-direction="bottom-left"] > .eon-menu-dropdown {
  top: 100%;
  left: 0%;
}
