vc-layout > vc-item.vc-layout-justifiedStart {
  justify-self: flex-start;
}
vc-layout > vc-item.vc-layout-justifiedEnd {
  justify-self: flex-end;
}
vc-layout > vc-item.vc-layout-justifiedCenter {
  justify-self: center;
}
vc-layout > vc-item.vc-layout-alignStart {
  align-self: flex-start;
}
vc-layout > vc-item.vc-layout-alignEnd {
  align-self: flex-end;
}
vc-layout > vc-item.vc-layout-alignCenter {
  align-self: center;
}
.vc-layout-columnContainer {
  display: flex;
  flex-direction: column;
}
.vc-layout-rowContainer {
  display: flex;
  flex-direction: row;
}
.vc-layout-wrap {
  flex-wrap: wrap;
}
.vc-layout-wrapReverse {
  flex-wrap: wrap-reverse;
}
.vc-layout-nowrap {
  flex-wrap: nowrap;
}
.vc-layout-justifiedStart {
  justify-content: flex-start;
}
.vc-layout-justifiedEnd {
  justify-content: flex-end;
}
.vc-layout-justifiedCenter {
  justify-content: center;
}
.vc-layout-justifiedSpaceBetween {
  justify-content: space-between;
}
.vc-layout-justifiedSpaceAround {
  justify-content: space-around;
}
.vc-layout-alignStart {
  align-items: flex-start;
}
.vc-layout-alignEnd {
  align-items: flex-end;
}
.vc-layout-alignCenter {
  align-items: center;
}
