vc-layout[theme="noire"] {
  /*
    Children wrapping
   */
  /*
    Children horizontal alignment and spacing
   */
  /*
    Children vertical alignment and spacing
   */
  /*
    Items horizontal alignment and spacing
   */
  /*
    Items vertical alignment and spacing
   */
}
vc-layout[theme="noire"].vc-layout-columnContainer {
  display: flex;
  flex-direction: column;
}
vc-layout[theme="noire"].vc-layout-rowContainer {
  display: flex;
  flex-direction: row;
}
vc-layout[theme="noire"].vc-layout-wrap {
  flex-wrap: wrap;
}
vc-layout[theme="noire"].vc-layout-wrapReverse {
  flex-wrap: wrap-reverse;
}
vc-layout[theme="noire"].vc-layout-nowrap {
  flex-wrap: nowrap;
}
vc-layout[theme="noire"].vc-layout-justifiedStart {
  justify-content: flex-start;
}
vc-layout[theme="noire"].vc-layout-justifiedEnd {
  justify-content: flex-end;
}
vc-layout[theme="noire"].vc-layout-justifiedCenter {
  justify-content: center;
}
vc-layout[theme="noire"].vc-layout-justifiedSpaceBetween {
  justify-content: center;
}
vc-layout[theme="noire"].vc-layout-justifiedSpaceAround {
  justify-content: center;
}
vc-layout[theme="noire"].vc-layout-alignStart {
  align-items: flex-start;
}
vc-layout[theme="noire"].vc-layout-alignEnd {
  align-items: flex-end;
}
vc-layout[theme="noire"].vc-layout-alignCenter {
  align-items: center;
}
vc-layout[theme="noire"] > vc-item.vc-layout-justifiedStart {
  justify-self: flex-start;
}
vc-layout[theme="noire"] > vc-item.vc-layout-justifiedEnd {
  justify-self: flex-end;
}
vc-layout[theme="noire"] > vc-item.vc-layout-justifiedCenter {
  justify-self: center;
}
vc-layout[theme="noire"] > vc-item.vc-layout-alignStart {
  align-self: flex-start;
}
vc-layout[theme="noire"] > vc-item.vc-layout-alignEnd {
  align-self: flex-end;
}
vc-layout[theme="noire"] > vc-item.vc-layout-alignCenter {
  align-self: center;
}
