@element: vc-toggle;

@{element}[theme="noire"] {
  & {
    position: relative !important;
    display: flex !important;
    align-items: center;
  }

  /* Hide native checkbox style*/
  .@{element}-toggle[type="checkbox"] {
    display: none;
  }

  .@{element}-nameLabel {
    cursor: pointer;
  }

  .@{element}-label {
    position: relative;
    display: block;
    width: 40px;
    height: 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 100px;
  }

  .@{element}-toggle[type="checkbox"] + .@{element}-label::after {
    position: absolute;
    top: -2.5px;
    left: -2px;
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    transition: all 0.3s ease;
    border-radius: 100px;
  }
  .@{element}-toggle[type="checkbox"]:checked + .@{element}-label::after {
    left: 20px;
  }
  .@{element}-toggle:disabled ~ .@{element}-label {
    pointer-events: none;
  }
}
