@element: vc-toggle;

@{element} {
  & {
    position: relative;
  }

  &[inline="true"] {
    display: inline-block;
  }
  
  &[inline="true"] .@{element}-toggle {
    width: auto;  
  }

  .@{element}-toggle {
    height: 22px;
    display: flex;
    align-items: center;
    position: relative;
  }

  // Hide native checkbox style
  .@{element}-input[type="checkbox"] {
    display: none;
  }

  &[readonly="true"] .@{element}-label {
    cursor: auto;
    pointer-events: none;
  } 

  .@{element}-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &[disabled="true"] .@{element}-label {
    cursor: auto;
  }

  .@{element}-input[type="checkbox"] + .@{element}-label .@{element}-span {
    width: 40px;
    height: 15px;
    margin: 0 5px 0 0;
    border-radius: 100px;
    transition: all 0.3s ease;
  }
  
  .@{element}-input[type="checkbox"] + .@{element}-label::after {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    width: 20px;
    height: 20px;
    content: "";
    border-radius: 100%;
  }
  .@{element}-input[type="checkbox"]:checked + .@{element}-label::after {
    left: 20px;
  }
  .@{element}-input:disabled ~ .@{element}-span {
    pointer-events: none;
  }
}
