eon-playground {
  height: 600px;
  width: 100%;
  overflow: hidden;
}
eon-playground eon-panel {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
eon-playground iframe {
  border: none;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
}
eon-playground eon-gutter eon-editor {
  margin-bottom: 0px;
}
eon-playground eon-editor {
  min-height: 100% !important;
  margin: 0px !important;
  margin-top: 3px !important;
  max-height: 100%;
  box-sizing: border-box;
  background-color: #1e1e1e;
}
eon-playground eon-editor eon-scroll {
  max-height: 564.5px !important;
  min-height: 100% !important;
}
eon-playground eon-section {
  flex-direction: column;
}
eon-playground eon-section eon-editor {
  flex-grow: 1;
}
#eon-playground-content {
  height: 100%;
  width: 100%;
}
.eon-playground-htmlTags {
  position: absolute;
  right: 20px;
  z-index: 500;
  top: 10px;
  color: #ffffff42;
  margin-right: 10px;
}
.eon-playground-until-render {
  display: none;
}
.eon-playground-fullScreenBttn {
  cursor: pointer;
  width: 30px;
  display: flex;
}
.eon-playground-fullScreenBttn i {
  font-size: 25px;
}
