
@element: eon-label;

@{element} { 

    &[inline="true"] {  
        display: inline-block; 
        width: 200px;
        padding: 10px;
    }

    .@{element}-data {
        padding: 0 0 10px 10px;
    }

    &[label=""] .@{element}-data {
        display: none;
    }

    .@{element}-label {
        font-size: 15px; 
        height: 100%;
        flex-grow: 1;
    }

    &[editable="false"] .@{element}-button , &[editable="true"][blur-save="true"] .@{element}-edit .@{element}-button{
        display: none;
    }

    .@{element}-button {
        margin-left: 10px;
        cursor: pointer;
    }

    .@{element}-main {
        flex-grow: 1; 
        box-sizing: border-box;
        display: flex;
        padding: 10px;
    }

    .@{element}-default {
        width: 100%;
        display: flex;
    }

    .@{element}-default .@{element}-button{
        font-size: 16px;
    }

    .@{element}-value {
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       display: flex;
       align-items: center;
    }

    .@{element}-edit {
        width: 100%;
        display: none;
    }

    .@{element}-inputWrapper {
        flex-grow: 1;
    }

    .@{element}-input {
        width: 100%;
        font-family: sans-serif;
        outline: none;
        background: transparent;
        padding: 0;
        border: none;
    }

    &.@{element}-editing {  
        display: inline-block; 
        width: 200px;
    }

    .@{element}-editing.@{element}-main {
        border-bottom-width: 1px;
        border-bottom-style: solid; 
    } 

    .@{element}-editing .@{element}-default {
        display: none;
    }

    .@{element}-editing .@{element}-edit {
        display: flex;
    }

    // UNDERLINE
    .@{element}-underline {
        position: relative;
        display: block;
        width: auto;
    }
    
    .@{element}-underline:before, .@{element}-underline:after {
        position: absolute;
        bottom: 0px;
        width: 0;
        height: 2px;
        content: "";
        -webkit-transition: 0.5s ease all;
            -moz-transition: 0.5s ease all;
                transition: 0.5s ease all;
    }
    
    .@{element}-underline:before {
        left: 50%;
    }
    
    .@{element}-underline:after {
        right: 50%;
    }

    &.@{element}-focus .@{element}-underline:before, &.@{element}-focus .@{element}-underline:after {
        width: 50%;
    }

}
