vc-checkbox[theme="noire"] {
  position: relative;
  /* Hide native checkbox*/
  /* Create the box for the checkbox */
  /* Create the tick inside the checkbox */
  /* Change the box style when it's checked */
  /* Style of the box when the checkbox it's disabled */
}
vc-checkbox[theme="noire"][inline="true"] {
  display: inline-block;
}
vc-checkbox[theme="noire"][inline="true"] .vc-checkbox-checkbox {
  width: auto;
}
vc-checkbox[theme="noire"] .vc-checkbox-checkbox {
  display: flex;
  width: 100%;
}
vc-checkbox[theme="noire"] .vc-checkbox-input[type="checkbox"] {
  display: none;
}
vc-checkbox[theme="noire"] .vc-checkbox-label {
  display: flex;
  cursor: pointer;
  align-items: center;
}
vc-checkbox[theme="noire"] .vc-checkbox-input[type="checkbox"] + .vc-checkbox-label .vc-checkbox-span {
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  margin: -2px 5px 0 0;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  vertical-align: middle;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  background-color: transparent;
}
vc-checkbox[theme="noire"] .vc-checkbox-checked[type="checkbox"] + .vc-checkbox-label:after {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 10px;
  height: 5px;
  content: "";
  cursor: pointer;
  transform: rotate(-45deg);
}
vc-checkbox[theme="noire"] .vc-checkbox-checked[type="checkbox"] + .vc-checkbox-label .vc-checkbox-span {
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background-color: #18c796;
}
vc-checkbox[theme="noire"] .vc-checkbox-input[type="checkbox"]:disabled + .vc-checkbox-label .vc-checkbox-span {
  cursor: auto;
}
vc-checkbox[theme="noire"] .vc-checkbox-input:disabled + .vc-checkbox-label,
vc-checkbox[theme="noire"] .checkbox[type="checkbox"]:disabled + .vc-checkbox-label .vc-checkbox-span,
vc-checkbox[theme="noire"] .vc-checkbox-input[type="checkbox"]:disabled + .vc-checkbox-label:after {
  cursor: auto;
}
