vc-checkbox {
  position: relative;
}
vc-checkbox[inline="true"] {
  display: inline-block;
}
vc-checkbox[inline="true"] .vc-checkbox-checkbox {
  width: auto;
}
vc-checkbox[readonly="false"] .vc-checkbox-label {
  cursor: pointer;
}
.vc-checkbox-checkbox {
  width: 100%;
  display: flex;
}
.vc-checkbox-input[type="checkbox"] {
  display: none;
}
.vc-checkbox-label {
  display: flex;
  align-items: center;
}
.vc-checkbox-input[type="checkbox"] + .vc-checkbox-label .vc-checkbox-span {
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  margin: -2px 5px 0 0;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  vertical-align: middle;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  background-color: transparent;
}
.vc-checkbox-checked[type="checkbox"] + .vc-checkbox-label:after {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 10px;
  height: 5px;
  content: "";
  transform: rotate(-45deg);
}
.vc-checkbox-checked[type="checkbox"] + .vc-checkbox-label .vc-checkbox-span {
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background-color: #18c796;
}
.vc-checkbox-input[type="checkbox"]:disabled + .vc-checkbox-label .vc-checkbox-span {
  cursor: auto;
}
.vc-checkbox-input:disabled + .vc-checkbox-label,
.checkbox[type="checkbox"]:disabled + .vc-checkbox-label .vc-checkbox-span,
.vc-checkbox-input[type="checkbox"]:disabled + .vc-checkbox-label:after {
  cursor: auto;
}
