vc-radiogroup[theme="noire"] {
  position: relative !important;
  display: flex !important;
  flex-direction: column;
  /* Hide native radio*/
  /* Create the circle for the radio */
  /* Change the radio style when it's checked */
  /* Initial inside radio style*/
  /* Change the inside radio style when it's checked */
  /* Style of the circle when the radio it's disable */
  /* Circle style when the radio it's checked and disable */
}
vc-radiogroup[theme="noire"] .vc-radiogroup-radio {
  display: none;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-outspan {
  display: inline-block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  margin: -1px 5px 0 0;
  cursor: pointer;
  vertical-align: middle;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-radioLabel {
  display: flex;
  cursor: pointer;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-radio:checked + .vc-radiogroup-radioLabel .vc-radiogroup-outspan {
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-inspan {
  position: relative;
  box-sizing: border-box;
  width: 1px;
  height: 1px;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border: 1px solid transparent;
  border-radius: 100%;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-radio:checked + .vc-radiogroup-radioLabel .vc-radiogroup-inspan {
  position: relative;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  align-items: center;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-radio:disabled + .vc-radiogroup-radioLabel .vc-radiogroup-outspan {
  border-width: 2px;
  border-style: solid;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-radio:disabled + .vc-radiogroup-radioLabel,
vc-radiogroup[theme="noire"] .vc-radiogroup-radio[type="radio"]:disabled + .vc-radiogroup-radioLabel .vc-radiogroup-outspan {
  cursor: auto;
}
vc-radiogroup[theme="noire"] .vc-radiogroup-checkedDisableRadio:checked + .vc-radiogroup-radioLabel .vc-radiogroup-inspan,
vc-radiogroup[theme="noire"] .vc-radiogroup-disableRadio[type="radio"]:checked + .vc-radiogroup-radioLabel .vc-radiogroup-inspan {
  border-width: 1px;
  border-style: solid;
}
