vc-tree[theme="noire"] {
  height: 100%;
}
vc-tree[theme="noire"] .vc-tree-tree {
  position: relative;
  padding: 10px 5px;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  overflow: hidden;
}
vc-tree[theme="noire"] .vc-tree-tree .vc-tree-wrapper {
  transition: max-height 0.3s;
}
