eon-number {
  position: relative;
  min-width: 130px;
}
eon-number[inline="true"] {
  display: inline-block;
  width: 200px;
}
eon-number[readonly="false"] .eon-number-control:hover {
  cursor: pointer;
}
eon-number[disabled="true"] {
  pointer-events: none;
}
.eon-number-group {
  display: flex;
  flex-direction: column;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100%;
}
.eon-number-number {
  display: flex;
  flex-direction: row;
  outline: none;
  width: 100%;
}
.eon-number-inputBox {
  width: 100%;
}
.eon-number-input {
  font-size: 15px;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  background-color: transparent;
}
.eon-number-control {
  font-weight: bold;
  flex-grow: 0;
  display: flex;
  min-width: 36px;
  padding: 8px 8px 5px 8px;
  box-sizing: border-box;
  pointer-events: all;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.eon-number-control i {
  font-size: 20px;
}
.eon-number-input:focus {
  outline: none;
}
.eon-number-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}
.eon-number-label {
  position: absolute;
  transform: translate3d(0, 0, 0);
  font-size: 15px;
  display: none;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.eon-number-label.eon-number-movedLabel {
  transform: translate3d(10px, 33px, 0);
  pointer-events: none;
}
.eon-number-labelDisplay {
  display: flex;
}
.eon-number-disabled .eon-number-control {
  pointer-events: none;
}
.eon-number-disabled .eon-number-control:hover {
  cursor: auto;
  pointer-events: none;
}
.eon-number-input[type=number]::-webkit-inner-spin-button,
.eon-number-input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.eon-number-input[type=number] {
  -webkit--appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.eon-number-inputBar {
  position: relative;
  display: block;
  width: auto;
}
.eon-number-inputBar:before,
.eon-number-inputBar:after {
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.eon-number-inputBar:before {
  left: 50%;
}
.eon-number-inputBar:after {
  right: 50%;
}
.eon-number-animate:before,
.eon-number-animate:after {
  width: 50%;
}
.eon-number-description {
  margin-top: 5px;
  font-size: 14px;
  width: 100%;
}
