vc-slider[theme="noire"] {
  position: relative;
  /* Makes transparent all the default elements of the range input.
 	Uses color:transparent to eliminate the default tick marks in IE. */
  /* Make the thumbs the same size as the custom sliderThumb.
 	they will not be visible but they will be draggable. 	*/
  /* microsoft IE10+ and Edge - eliminates default fills before and after thumb */
  /* Thumb active */
  /******** HORIZONTAL slider ********/
  /* Display position*/
  /* Display margin*/
  /******** VERTICAL slider ********/
}
vc-slider[theme="noire"][inline="true"] {
  display: inline-block;
}
vc-slider[theme="noire"][inline="true"] .vc-slider-wrapper {
  width: auto;
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-wrapper {
  display: inline-flex;
  width: auto;
}
vc-slider[theme="noire"] .vc-slider-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: row;
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-shell {
  width: auto;
}
vc-slider[theme="noire"] .vc-slider-shell {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}
vc-slider[theme="noire"] .vc-slider-slider {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: all !important;
}
vc-slider[theme="noire"] .vc-slider-track {
  position: absolute;
  width: 4px;
  height: 4px;
  pointer-events: none;
}
vc-slider[theme="noire"] .vc-slider-fill {
  position: absolute;
  z-index: 20;
  left: 0;
  width: 4px;
  height: 4px;
  pointer-events: none;
}
vc-slider[theme="noire"] .vc-slider-thumb {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
  pointer-events: all !important;
  border: 0 none;
  border-radius: 50%;
}
vc-slider[theme="noire"] .vc-slider-display {
  position: relative;
  display: none;
  min-width: 30px;
  min-height: 20px;
}
vc-slider[theme="noire"][display-visibility="true"] .vc-slider-display {
  display: flex;
}
vc-slider[theme="noire"] input[type=range] {
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  color: transparent;
  border: 0 none;
  background: transparent;
}
vc-slider[theme="noire"] input[type=range]::-ms-track {
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  color: transparent;
  border: 0 none;
  background: transparent;
}
vc-slider[theme="noire"] input[type=range]:focus::-webkit-slider-runnable-track {
  border: transparent;
  background: transparent;
}
vc-slider[theme="noire"] input[type=range]:focus {
  outline: none;
}
vc-slider[theme="noire"] input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: transparent;
}
vc-slider[theme="noire"] input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: transparent;
}
vc-slider[theme="noire"] input[type=range]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: transparent;
  -webkit-appearance: none;
}
vc-slider[theme="noire"] input[type=range]::-ms-fill-lower {
  border: 0 none;
  background: transparent;
}
vc-slider[theme="noire"] input[type=range]::-ms-fill-upper {
  border: 0 none;
  background: transparent;
}
vc-slider[theme="noire"] input[type=range]::-ms-tooltip {
  display: none;
}
vc-slider[theme="noire"][disable="false"] .vc-slider-thumb:active {
  transform: scale(1.2);
}
vc-slider[theme="noire"][orientation="horizontal"] .vc-slider-slider {
  height: 10px;
}
vc-slider[theme="noire"][orientation="horizontal"] .vc-slider-shell {
  height: 10px;
}
vc-slider[theme="noire"][orientation="horizontal"] .vc-slider-display {
  justify-content: center;
}
vc-slider[theme="noire"][orientation="horizontal"] .vc-slider-track {
  top: calc(50% - 2px);
}
vc-slider[theme="noire"][orientation="horizontal"] .vc-slider-fill {
  top: calc(50% - 2px);
}
vc-slider[theme="noire"][orientation="horizontal"] .vc-slider-thumb {
  top: -5.7px;
}
vc-slider[theme="noire"][orientation="horizontal"][display-align="left"] .vc-slider-wrapper {
  flex-direction: row-reverse;
  align-items: center;
}
vc-slider[theme="noire"][orientation="horizontal"][display-align="right"] .vc-slider-wrapper {
  align-items: center;
}
vc-slider[theme="noire"][orientation="horizontal"][display-position="top"] .vc-slider-wrapper {
  flex-direction: column-reverse;
  align-items: center;
}
vc-slider[theme="noire"][orientation="horizontal"][display-position="bottom"] .vc-slider-wrapper {
  flex-direction: column;
  align-items: center;
}
vc-slider[theme="noire"][orientation="horizontal"][display-align="right"] .vc-slider-display {
  margin-left: 15px;
  align-items: center;
}
vc-slider[theme="noire"][orientation="horizontal"][display-align="left"] .vc-slider-display {
  margin-right: 15px;
  align-items: center;
}
vc-slider[theme="noire"][orientation="horizontal"][display-position="bottom"] .vc-slider-display {
  width: 100%;
  margin-top: 10px;
}
vc-slider[theme="noire"][orientation="horizontal"][display-position="top"] .vc-slider-display {
  width: 100%;
  margin-bottom: 10px;
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-wrapper {
  flex-direction: column;
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-shell {
  height: calc(100% - 35px);
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-track {
  left: calc(50% - 2px);
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-fill {
  left: calc(50% - 2px);
}
vc-slider[theme="noire"][orientation="vertical"] {
  min-height: 150px;
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-shell {
  min-height: 150px;
}
vc-slider[theme="noire"][orientation="vertical"][inline="false"] .vc-slider-slider {
  height: 100%;
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-slider {
  flex-grow: 1;
  width: 10px;
  left: calc(50% - 5px);
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  appearance: slider-vertical;
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-track {
  top: 0;
  height: 100%;
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-fill {
  bottom: 0;
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-thumb {
  left: -5.7px;
}
vc-slider[theme="noire"][orientation="vertical"] .vc-slider-display {
  justify-content: center;
  height: 20px;
}
vc-slider[theme="noire"][orientation="vertical"][display-position="top"] .vc-slider-wrapper {
  flex-direction: column-reverse;
}
vc-slider[theme="noire"][orientation="vertical"][display-position="left"] .vc-slider-wrapper {
  flex-direction: row-reverse;
}
vc-slider[theme="noire"][orientation="vertical"][display-position="right"] .vc-slider-wrapper {
  flex-direction: row;
}
vc-slider[theme="noire"][orientation="vertical"][display-position="bottom"] .vc-slider-display {
  margin-top: 15px;
}
vc-slider[theme="noire"][orientation="vertical"][display-position="top"] .vc-slider-display {
  margin-bottom: 15px;
}
vc-slider[theme="noire"][orientation="vertical"][display-position="left"] .vc-slider-display {
  margin-right: 15px;
}
vc-slider[theme="noire"][orientation="vertical"][display-position="right"] .vc-slider-display {
  margin-left: 15px;
}
