@element: vc-dialog;

.@{element}-dialog {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.@{element}-visible {
  display: flex;
}

  // TO BE REMOVED (Replaced by default style)
  // .@{element}-dialog .@{element}-heading {
  //   font-weight: bold;
  //   display: flex;
  //   padding: 5px 5px 5px 10px;
  //   height: 40px;
  //   flex-grow: 0;
  //   align-items: center;
  //   flex: none;
  //   justify-content: flex-end;
  // }
  // .@{element}-dialog .@{element}-title {
  //   flex-grow: 1;
  //   cursor: default;
  // }
  // .@{element}-dialog .@{element}-headingButtons {
  //   display: flex;
  //   justify-content: flex-end;
  // }

  .@{element}-dialog .@{element}-close,  
  .@{element}-dialog .@{element}-minimize, 
  .@{element}-dialog .@{element}-maximize{
    cursor: pointer;
    width: 24px;
    height: 100%;
    align-items: center;
    padding-left: 5px;

  }
  .@{element}-dialog > vc-scroll {
    flex-grow: 1;
  }
  .@{element}-dialog .@{element}-content {
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
    word-wrap: break-all;
  }

  // TO BE REMOVED (Replaced by default style)
  // .@{element}-dialog .@{element}-footer {
  //   display: flex;
  //   min-height: 40px;
  //   padding: 5px 10px;
  //   flex-direction: row;
  //   align-items: center;
  //   flex-grow: 0;
  // }

  .@{element}-dialog .@{element}-footer[location="right"] {
    justify-content: flex-end;
  }

  .@{element}-dialog .@{element}-footer[location="left"] {
    justify-content: flex-start;
  }

  .@{element}-dialog .@{element}-footer[location="separate"] {
    justify-content: space-between;
  }

  .@{element}-dialog .@{element}-footer[location="center"] {
    justify-content: center;
  }

  .@{element}-overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .@{element}-dialog .@{element}-sideResizer {
    position: absolute;
  }

  .@{element}-dialog .@{element}-topResizer {
    top: 0;
    right: 0;
    left: 0;
    height: 5px;
    cursor: n-resize;
    border-top: 2px solid transparent;
  }
  .@{element}-dialog .@{element}-bottomResizer {
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
    cursor: s-resize;
    border-bottom: 2px solid transparent;
  }
  .@{element}-dialog .@{element}-leftResizer {
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    cursor: w-resize;
    border-left: 2px solid transparent;
  }
  .@{element}-dialog .@{element}-rightResizer {
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    cursor: e-resize;
    border-right: 2px solid transparent;
  }
  .@{element}-dialog .@{element}-cornerResizer {
    position: absolute;
    width: 6px;
    height: 6px;
    border: 2px solid transparent;
  }
  .@{element}-dialog .@{element}-topLeftResizer {
    top: 0;
    left: 0;
    cursor: nw-resize;
  }
  .@{element}-dialog .@{element}-topRightResizer {
    top: 0;
    right: 0;
    cursor: ne-resize;
  }
  .@{element}-dialog .@{element}-bottomLeftResizer {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
  }
  .@{element}-dialog .@{element}-bottomRightResizer {
    right: 0;
    bottom: 0;
    cursor: se-resize;
  }  

  .@{element}-minBar {
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
  
    flex-wrap: wrap-reverse;
  }

  .@{element}-minimized {
    position: relative;
    margin-left: 5px; 
  }

  .@{element}-minimized .@{element}-content, .@{element}-minimized .@{element}-footer {
    display: none;
  }

  .@{element}-dialog .@{element}-hidden {
    display: none;
  }

  .@{element}-dialog object {
    opacity: 0;
    }

  @media (max-width: 600px), (max-height: 600px) {

    .@{element}-visible[data-mobile="true"] {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width:  ~"calc(100% - 30px)";
      height:  ~"calc(100% - 30px)";
      max-width: inherit;
      max-height: inherit;
    }
  }

  // DEFAULT STYLE 
  .@{element}-dialog.vc-spaced .@{element}-heading{
    display: flex;
    flex: none;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 0;
    font-weight: bold;
    padding: 5px 5px 5px 10px;
    height: 40px;
  }
  .@{element}-dialog.vc-spaced .@{element}-title {
    flex-grow: 1;
    cursor: default;
  }
  .@{element}-dialog.vc-spaced .@{element}-headingButtons{
    display: flex;
    justify-content: flex-end;
  }
  .@{element}-dialog.vc-spaced .@{element}-footer{
    display: flex;
    flex-grow: 0;
    min-height: 40px;
    padding: 5px 10px;
    align-items: center;
  }


