/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
           radio, contextmenu, slider, treenode) */
eon-date[theme="claro"],
eon-overlay[theme="claro"],
div[data-theme="claro"] eon-date,
body[data-theme="claro"] eon-date {
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
}
eon-date[theme="claro"][disabled="true"] .eon-date-current,
eon-overlay[theme="claro"][disabled="true"] .eon-date-current,
div[data-theme="claro"] eon-date[disabled="true"] .eon-date-current,
body[data-theme="claro"] eon-date[disabled="true"] .eon-date-current {
  background: #f1fbff;
}
eon-date[theme="claro"] .eon-fg1-hoverable:hover,
eon-overlay[theme="claro"] .eon-fg1-hoverable:hover,
div[data-theme="claro"] eon-date .eon-fg1-hoverable:hover,
body[data-theme="claro"] eon-date .eon-fg1-hoverable:hover {
  -webkit-text-fill-color: #57cde3;
}
eon-date[theme="claro"] .eon-date-underline:before,
eon-overlay[theme="claro"] .eon-date-underline:before,
div[data-theme="claro"] eon-date .eon-date-underline:before,
body[data-theme="claro"] eon-date .eon-date-underline:before,
eon-date[theme="claro"] .eon-date-underline:after,
eon-overlay[theme="claro"] .eon-date-underline:after,
div[data-theme="claro"] eon-date .eon-date-underline:after,
body[data-theme="claro"] eon-date .eon-date-underline:after {
  background: #57cde3;
}
eon-date[theme="claro"].eon-date-focus .eon-date-label,
eon-overlay[theme="claro"].eon-date-focus .eon-date-label,
div[data-theme="claro"] eon-date.eon-date-focus .eon-date-label,
body[data-theme="claro"] eon-date.eon-date-focus .eon-date-label {
  color: #57cde3;
}
eon-date[theme="claro"].eon-date-error .eon-date-underline:before,
eon-overlay[theme="claro"].eon-date-error .eon-date-underline:before,
div[data-theme="claro"] eon-date.eon-date-error .eon-date-underline:before,
body[data-theme="claro"] eon-date.eon-date-error .eon-date-underline:before,
eon-date[theme="claro"].eon-date-error .eon-date-underline:after,
eon-overlay[theme="claro"].eon-date-error .eon-date-underline:after,
div[data-theme="claro"] eon-date.eon-date-error .eon-date-underline:after,
body[data-theme="claro"] eon-date.eon-date-error .eon-date-underline:after {
  background: #c33232;
}
eon-date[theme="claro"].eon-date-error .eon-date-main,
eon-overlay[theme="claro"].eon-date-error .eon-date-main,
div[data-theme="claro"] eon-date.eon-date-error .eon-date-main,
body[data-theme="claro"] eon-date.eon-date-error .eon-date-main {
  border-color: #c33232;
}
eon-date[theme="claro"].eon-date-error .eon-date-label,
eon-overlay[theme="claro"].eon-date-error .eon-date-label,
div[data-theme="claro"] eon-date.eon-date-error .eon-date-label,
body[data-theme="claro"] eon-date.eon-date-error .eon-date-label,
eon-date[theme="claro"].eon-date-error .eon-date-description,
eon-overlay[theme="claro"].eon-date-error .eon-date-description,
div[data-theme="claro"] eon-date.eon-date-error .eon-date-description,
body[data-theme="claro"] eon-date.eon-date-error .eon-date-description {
  color: #c33232;
}
eon-date[theme="claro"][disabled="true"] ::-webkit-input-placeholder,
eon-overlay[theme="claro"][disabled="true"] ::-webkit-input-placeholder,
div[data-theme="claro"] eon-date[disabled="true"] ::-webkit-input-placeholder,
body[data-theme="claro"] eon-date[disabled="true"] ::-webkit-input-placeholder {
  color: #565656;
}
eon-date[theme="claro"][disabled="true"] :-moz-placeholder,
eon-overlay[theme="claro"][disabled="true"] :-moz-placeholder,
div[data-theme="claro"] eon-date[disabled="true"] :-moz-placeholder,
body[data-theme="claro"] eon-date[disabled="true"] :-moz-placeholder {
  color: #565656;
}
eon-date[theme="claro"][disabled="true"] ::-moz-placeholder,
eon-overlay[theme="claro"][disabled="true"] ::-moz-placeholder,
div[data-theme="claro"] eon-date[disabled="true"] ::-moz-placeholder,
body[data-theme="claro"] eon-date[disabled="true"] ::-moz-placeholder {
  color: #565656;
}
eon-date[theme="claro"][disabled="true"] :-ms-input-placeholder,
eon-overlay[theme="claro"][disabled="true"] :-ms-input-placeholder,
div[data-theme="claro"] eon-date[disabled="true"] :-ms-input-placeholder,
body[data-theme="claro"] eon-date[disabled="true"] :-ms-input-placeholder {
  color: #565656 !important;
}
