/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
           radio, contextmenu, slider, treenode) */
eon-progressbar[theme="claro"],
div[data-theme="claro"] eon-progressbar,
body[data-theme="claro"] eon-progressbar {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
eon-progressbar[theme="claro"].eon-progressbar-progress,
div[data-theme="claro"] eon-progressbar.eon-progressbar-progress,
body[data-theme="claro"] eon-progressbar.eon-progressbar-progress {
  top: auto;
  position: static;
}
eon-progressbar[theme="claro"] .eon-progressbar-bar,
div[data-theme="claro"] eon-progressbar .eon-progressbar-bar,
body[data-theme="claro"] eon-progressbar .eon-progressbar-bar {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
eon-progressbar[theme="claro"] .eon-progressbar-rail,
div[data-theme="claro"] eon-progressbar .eon-progressbar-rail,
body[data-theme="claro"] eon-progressbar .eon-progressbar-rail {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #cecece;
  opacity: 0;
}
eon-progressbar[theme="claro"] .eon-progressbar-loadingBar,
div[data-theme="claro"] eon-progressbar .eon-progressbar-loadingBar,
body[data-theme="claro"] eon-progressbar .eon-progressbar-loadingBar {
  height: 100%;
  width: 1px;
  transition: width 0s;
  z-index: 1;
}
eon-progressbar[theme="claro"] .eon-progressbar-indicator,
div[data-theme="claro"] eon-progressbar .eon-progressbar-indicator,
body[data-theme="claro"] eon-progressbar .eon-progressbar-indicator {
  color: #444444;
  font-size: 15px;
  margin-top: 2px;
  margin-right: 5px;
  float: right;
}
