/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
           radio, contextmenu, slider, treenode) */
eon-slider[theme="claro"].eon-slider-error .eon-slider-fill,
div[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-fill,
body[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-fill,
eon-slider[theme="claro"].eon-slider-error .eon-slider-thumb,
div[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-thumb,
body[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-thumb {
  background-color: #c33232;
}
eon-slider[theme="claro"].eon-slider-error .eon-slider-fill,
div[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-fill,
body[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-fill,
eon-slider[theme="claro"].eon-slider-error .eon-slider-thumb,
div[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-thumb,
body[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-thumb {
  background-color: #c33232;
}
eon-slider[theme="claro"].eon-slider-error .eon-slider-description,
div[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-description,
body[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-description {
  color: #c33232;
}
eon-slider[theme="claro"] .eon-slider-thumb::before,
div[data-theme="claro"] eon-slider .eon-slider-thumb::before,
body[data-theme="claro"] eon-slider .eon-slider-thumb::before {
  border-radius: 50px;
  transform: translate(-50%, -50%) scale(0);
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 2px;
  height: 2px;
  visibility: visible;
}
eon-slider[theme="claro"][disabled="true"] .eon-slider-thumb::before,
div[data-theme="claro"] eon-slider[disabled="true"] .eon-slider-thumb::before,
body[data-theme="claro"] eon-slider[disabled="true"] .eon-slider-thumb::before,
eon-slider[theme="claro"][readonly="true"] .eon-slider-thumb::before,
div[data-theme="claro"] eon-slider[readonly="true"] .eon-slider-thumb::before,
body[data-theme="claro"] eon-slider[readonly="true"] .eon-slider-thumb::before {
  visibility: hidden;
}
eon-slider[theme="claro"] .eon-slider-thumb:active.eon-slider-thumb::before,
div[data-theme="claro"] eon-slider .eon-slider-thumb:active.eon-slider-thumb::before,
body[data-theme="claro"] eon-slider .eon-slider-thumb:active.eon-slider-thumb::before {
  border-radius: 50px;
  background-color: rgba(133, 221, 236, 0.5);
  animation: ripple 0.5s ease-out;
}
@keyframes ripple {
  0% {
    border-radius: 50px;
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    border-radius: 50px;
    transform: scale(15, 15);
    opacity: 1;
  }
  100% {
    border-radius: 50px;
    opacity: 0;
    transform: scale(22, 22);
  }
}
