eon-stack {
  height: 100%;
  display: flex;
}
eon-stack > eon-panel {
  width: 100%;
  height: 100%;
  display: none;
}
eon-stack.vc-stack-flex {
  flex-grow: 1;
}
eon-stack.vc-stack-flex > vc-panel {
  height: auto;
  flex-grow: 1;
}
eon-stack eon-panel.eon-stack-visible {
  display: block;
}
eon-stack.vc-stack-flex eon-panel.vc-stack-visible {
  display: flex;
}
