eon-checkbox {
  position: relative;
  padding: 3px 0;
}
eon-checkbox[inline="true"] {
  display: inline-block;
}
eon-checkbox[inline="true"] .eon-checkbox-checkbox {
  width: auto;
}
eon-checkbox[readonly="false"] .eon-checkbox-label {
  cursor: pointer;
}
.eon-checkbox-checkbox {
  width: 100%;
  display: flex;
  position: relative;
}
.eon-checkbox-input[type="checkbox"] {
  display: none;
}
.eon-checkbox-label {
  display: flex;
  align-items: center;
}
.eon-checkbox-input[type="checkbox"] + .eon-checkbox-label .eon-checkbox-span {
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  margin: -2px 5px 0 0;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  vertical-align: middle;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  background-color: transparent;
}
.eon-checkbox-checked[type="checkbox"] + .eon-checkbox-label:after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 5px;
  content: "";
  transform: rotate(-45deg);
}
.eon-checkbox-checked[type="checkbox"] + .eon-checkbox-label .eon-checkbox-span {
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.eon-checkbox-input[type="checkbox"]:disabled + .eon-checkbox-label .eon-checkbox-span {
  cursor: auto;
}
.eon-checkbox-input:disabled + .eon-checkbox-label,
.checkbox[type="checkbox"]:disabled + .eon-checkbox-label .eon-checkbox-span,
.eon-checkbox-input[type="checkbox"]:disabled + .eon-checkbox-label:after {
  cursor: auto;
}
