@import "variables";

html, body {
  font-family: sans-serif;
  color: @fontColor;
}

.eon-unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
          user-select: none;
  /* Rules below not implemented in browsers yet */

       -o-user-select: none;
}

@import "../font/vimlet/fonts/vimlet-vicons.less";
