eon-appmenu[theme="claro"] {
  position: relative !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  /********* RIGHT location *********/
  /********* LEFT location *********/
  /********* CENTER location *********/
}
eon-appmenu[theme="claro"] .eon-appmenu-appMenu {
  position: relative;
  display: flex;
  margin: 5px 10px;
  cursor: pointer;
  align-items: center;
}
eon-appmenu[theme="claro"] .eon-appmenu-appMenu .vicon {
  font-size: 25px;
}
eon-appmenu[theme="claro"] .eon-appmenu-appMenu:hover {
  color: #ffffff;
}
eon-appmenu[theme="claro"] .eon-appmenu-appsBox {
  position: absolute;
  z-index: 1000;
  top: 20px;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-end;
}
eon-appmenu[theme="claro"] .eon-appmenu-visibleApps {
  display: flex;
}
eon-appmenu[theme="claro"] .eon-appmenu-tipSup {
  position: relative;
  z-index: 1500;
  top: 9px;
  border-width: 0 9px 9px;
  border-style: dashed dashed solid;
  border-color: transparent;
  border-bottom-color: #c718be;
}
eon-appmenu[theme="claro"] .eon-appmenu-tipSub {
  position: relative;
  z-index: 1500;
  top: 3px;
  border-width: 0 8.5px 8.5px;
  border-style: dashed dashed solid;
  border-color: transparent;
  border-bottom-color: #303030;
}
eon-appmenu[theme="claro"] .eon-appmenu-windowBox {
  z-index: 100;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid #c718be;
  background-color: #303030;
  -webkit-box-shadow: 0px 2px 9px 0px #2f2f2f;
  -moz-box-shadow: 0px 2px 9px 0px #2f2f2f;
  box-shadow: 0px 2px 9px 0px #2f2f2f;
}
eon-appmenu[theme="claro"] eon-scroll {
  flex-grow: 1;
  max-width: 239px;
  max-height: 355px;
}
eon-appmenu[theme="claro"] .eon-appmenu-appsWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 15px;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}
eon-appmenu[theme="claro"] .eon-appmenu-windowBox::-webkit-scrollbar {
  display: none;
}
eon-appmenu[theme="claro"] .eon-appmenu-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 69px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}
eon-appmenu[theme="claro"] .eon-appmenu-item:hover {
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #c718be inset;
}
eon-appmenu[theme="claro"] .eon-appmenu-itemIcon {
  font-size: 45px !important;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
eon-appmenu[theme="claro"] .eon-appmenu-itemSpan {
  font-size: 12px;
}
eon-appmenu[theme="claro"][location="right"] {
  align-items: flex-end;
}
eon-appmenu[theme="claro"][location="right"] .eon-appmenu-appsBox {
  align-items: flex-end;
}
eon-appmenu[theme="claro"][location="right"] .eon-appmenu-tipSup {
  right: 13.5px;
  left: initial;
}
eon-appmenu[theme="claro"][location="right"] .eon-appmenu-tipSub {
  right: 14.5px;
  left: initial;
}
eon-appmenu[theme="claro"][location="left"] {
  align-items: flex-start;
}
eon-appmenu[theme="claro"][location="left"] .eon-appmenu-appsBox {
  align-items: flex-start;
}
eon-appmenu[theme="claro"][location="left"] .eon-appmenu-tipSup {
  right: initial;
  left: 14.4px;
}
eon-appmenu[theme="claro"][location="left"] .eon-appmenu-tipSub {
  right: initial;
  left: 15px;
}
eon-appmenu[theme="claro"][location="center"] {
  align-items: center;
}
eon-appmenu[theme="claro"][location="center"] .eon-appmenu-appsBox {
  align-items: center;
}
eon-appmenu[theme="claro"][location="center"] .eon-appmenu-tipSup {
  right: initial;
  left: initial;
}
eon-appmenu[theme="claro"][location="center"] .eon-appmenu-tipSub {
  right: initial;
  left: initial;
}
@media (max-width: 800px) {
  eon-appmenu[theme="claro"] {
    position: inherit !important;
  }
  eon-appmenu[theme="claro"] .eon-appmenu-appsBox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
  }
  eon-appmenu[theme="claro"] .eon-appmenu-windowBox {
    flex-direction: column;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    align-self: center;
  }
  eon-appmenu[theme="claro"] eon-scroll {
    max-height: 100%;
    max-width: 100%;
  }
  eon-appmenu[theme="claro"] .eon-appmenu-appsWrapper {
    max-width: inherit !important;
    max-height: inherit !important;
    justify-content: space-around;
  }
  eon-appmenu[theme="claro"] .eon-appmenu-tipSup,
  eon-appmenu[theme="claro"] .eon-appmenu-tipSub {
    display: none;
  }
  eon-appmenu[theme="claro"] .eon-appmenu-close {
    display: flex;
    padding: 15px 15px 0 15px;
    cursor: pointer;
    justify-content: flex-end;
  }
  eon-appmenu[theme="claro"] .eon-appmenu-item {
    width: 80px;
    padding: 10px;
  }
  eon-appmenu[theme="claro"] .eon-appmenu-itemIcon {
    font-size: 60px !important;
    width: 65px;
    height: 65px;
  }
}
