eon-swiper[theme="claro"] {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  /*
   * NAVIGATION CONTROLLERS
   */
  /*
   * Gallery elements
   */
}
eon-swiper[theme="claro"].eon-swiper-gallery {
  display: flex;
}
eon-swiper[theme="claro"] .eon-swiper-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}
eon-swiper[theme="claro"].eon-swiper-vertical > .eon-swiper-wrapper {
  display: block;
}
eon-swiper[theme="claro"] .eon-swiper-child {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
eon-swiper[theme="claro"].eon-swiper-vertical .eon-swiper-child {
  height: 100%;
}
eon-swiper[theme="claro"] .eon-swiper-pagination {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  right: 0;
}
eon-swiper[theme="claro"].eon-swiper-vertical > .eon-swiper-pagination {
  position: absolute;
  top: 50%;
  bottom: auto;
  right: 10px;
  width: auto;
  transform: translate3d(0, -50%, 0);
}
eon-swiper[theme="claro"] .eon-swiper-paginationHideControl {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 20%;
}
eon-swiper[theme="claro"].eon-swiper-vertical > .eon-swiper-paginationHideControl {
  position: absolute;
  z-index: 1;
  right: 0;
  height: 100%;
  width: 20%;
}
eon-swiper[theme="claro"] .eon-swiper-thumbnail {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 5px;
  background-color: white;
  opacity: 0.5;
  transition: transform 0.3s;
}
eon-swiper[theme="claro"].eon-swiper-vertical .eon-swiper-thumbnail {
  display: block;
  margin: 10px 5px;
}
eon-swiper[theme="claro"] .eon-swiper-thumbnail:hover {
  cursor: pointer;
  transform: scale(1.2);
}
eon-swiper[theme="claro"] .eon-swiper-thumbnailActive {
  opacity: 1;
  transform: scale(1);
}
eon-swiper[theme="claro"] .eon-swiper-image {
  background-size: cover;
  background-position: center;
}
eon-swiper[theme="claro"] .eon-swiper-navBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 12%;
  font-size: 50px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: height 0.2s, width 0.2s, background 0.2s;
}
eon-swiper[theme="claro"].eon-swiper-vertical .eon-swiper-navBtn {
  position: absolute;
  z-index: 1;
  height: 12%;
  width: 100%;
  color: white;
  text-align: center;
  cursor: pointer;
}
eon-swiper[theme="claro"] .eon-swiper-navBtn:hover {
  background: rgba(0, 0, 0, 0.2);
}
eon-swiper[theme="claro"] .eon-swiper-back {
  left: 0px;
  top: 0;
}
eon-swiper[theme="claro"] .eon-swiper-next {
  right: 0;
  top: 0;
}
eon-swiper[theme="claro"].eon-swiper-vertical .eon-swiper-back {
  top: 0;
  right: 0;
}
eon-swiper[theme="claro"].eon-swiper-vertical .eon-swiper-next {
  bottom: 0;
  top: auto;
  left: 0;
}
eon-swiper[theme="claro"].eon-swiper-gallery > .eon-swiper-pagination {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
  height: 25%;
  width: 100%;
  bottom: 0;
  right: 0;
  transition: bottom 0.2s;
  transform: translate3d(0, 0, 0);
}
eon-swiper[theme="claro"].eon-swiper-gallery > .eon-swiper-paginationStatic {
  position: static;
  height: 33%;
}
eon-swiper[theme="claro"].eon-swiper-gallery.eon-swiper-vertical > .eon-swiper-pagination {
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
  height: 100%;
  width: 20%;
  top: 0;
  right: 0;
  transition: right 0.2s;
}
eon-swiper[theme="claro"].eon-swiper-gallery.eon-swiper-vertical > .eon-swiper-paginationStatic {
  position: static;
  width: 25%;
}
eon-swiper[theme="claro"].eon-swiper-gallery .eon-swiper-paginationWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 3px 5px 3px 5px;
  transition: transform 0.2s;
  box-sizing: border-box;
}
eon-swiper[theme="claro"].eon-swiper-vertical.eon-swiper-gallery .eon-swiper-paginationWrapper {
  display: block;
  height: 100%;
  width: auto;
  padding: 5px 3px 5px 3px;
  transition: transform 0.2s;
}
eon-swiper[theme="claro"].eon-swiper-gallery .eon-swiper-thumbnail {
  flex-shrink: 0;
  height: calc(100% - 10px);
  width: auto;
  border-radius: 0px;
  margin: 5px 5px 5px 5px;
  transform: scale(0.85);
  box-sizing: border-box;
}
eon-swiper[theme="claro"].eon-swiper-gallery.eon-swiper-vertical .eon-swiper-thumbnail {
  height: auto;
  width: calc(100% - 10px);
  border-radius: 0px;
  margin: 5px 5px 5px 5px;
}
eon-swiper[theme="claro"].eon-swiper-gallery .eon-swiper-thumbnailActive {
  transform: scale(1);
}
eon-swiper[theme="claro"].eon-swiper-gallery.eon-swiper-vertical .eon-swiper-thumbnailActive {
  transform: scale(1);
}
eon-swiper[theme="claro"].eon-swiper-gallery.eon-swiper-fullscreen {
  position: fixed;
  max-width: 100%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
eon-swiper[theme="claro"].eon-swiper-gallery.eon-swiper-fullscreen .eon-swiper-screenBtn {
  font-size: 35px;
}
eon-swiper[theme="claro"].eon-swiper-gallery .eon-swiper-screenBtn {
  top: 0px;
  right: 0px;
  position: absolute;
  font-size: 25px;
  z-index: 1;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
eon-swiper[theme="claro"].eon-swiper-gallery.eon-swiper-vertical .eon-swiper-screenBtn {
  left: 0px;
  right: auto;
}
eon-swiper[theme="claro"].eon-swiper-gallery .eon-swiper-screenBtn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
