
@import "variables";
@element: eon-tabs;

@{element}[theme="@{theme}"] {
    
    .@{element}-scrolls.enabled div {
        color: @fg0;
    }
      
    .@{element}-scrolls.enabled div:hover {
        color: @white;
    }
    
    .@{element}-selected .@{element}-closeButton i {
        color: @fg1;
    }
    .@{element}-selected .@{element}-closeButton:hover i {
        color: @bg0;
    }
      
    .@{element}-selected span {
        color: @fg1;
    }
}