/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-label[theme="noire"] .eon-label-placeholder {
  color: #9a9a9a;
}
eon-label[theme="noire"].eon-label-focus .eon-label-label {
  color: #47cce2;
}
eon-label[theme="noire"] .eon-label-underline:before,
eon-label[theme="noire"] .eon-label-underline:after {
  background: #47cce2;
}
