/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-text[theme="noire"] {
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
}
eon-text[theme="noire"] .eon-text-editable:empty:before {
  content: attr(placeholder);
  color: #9a9a9a;
}
eon-text[theme="noire"] ::-webkit-input-placeholder {
  color: #9a9a9a;
}
eon-text[theme="noire"] :-moz-placeholder {
  color: #9a9a9a;
}
eon-text[theme="noire"] ::-moz-placeholder {
  color: #9a9a9a;
}
eon-text[theme="noire"] :-ms-input-placeholder {
  color: #9a9a9a !important;
}
eon-text[theme="noire"] .eon-text-underline:before,
eon-text[theme="noire"] .eon-text-underline:after {
  background: #47cce2;
}
eon-text[theme="noire"].focus .eon-text-label,
eon-text[theme="noire"].focus .eon-text-counter {
  color: #47cce2;
}
eon-text[theme="noire"].eon-text-error .eon-text-label,
eon-text[theme="noire"].eon-text-error .eon-text-counter,
eon-text[theme="noire"].eon-text-error .eon-text-description {
  color: #c33232;
}
eon-text[theme="noire"].eon-text-error .eon-text-main {
  border-bottom: 1px solid #c33232;
}
eon-text[theme="noire"].eon-text-error .eon-text-underline:before,
eon-text[theme="noire"].eon-text-error .eon-text-underline:after {
  background: #c33232;
}
eon-text[theme="noire"][disabled="true"] .eon-text-editable:empty:before {
  color: #9a9a9a;
}
eon-text[theme="noire"][disabled="true"] ::-webkit-input-placeholder {
  color: #9a9a9a;
}
eon-text[theme="noire"][disabled="true"] :-moz-placeholder {
  color: #9a9a9a;
}
eon-text[theme="noire"][disabled="true"] ::-moz-placeholder {
  color: #9a9a9a;
}
eon-text[theme="noire"][disabled="true"] :-ms-input-placeholder {
  color: #9a9a9a !important;
}
eon-text[theme="noire"] input:disabled {
  -webkit-text-fill-color: #747474;
  /* Override iOS / Android font color change */
  -webkit-opacity: 1;
  /* Override iOS opacity change affecting text & background color */
}
