/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-tabs[theme="noire"] .eon-tabs-scrolls.enabled div {
  color: #9a9a9a;
}
eon-tabs[theme="noire"] .eon-tabs-scrolls.enabled div:hover {
  color: #ffffff;
}
eon-tabs[theme="noire"] .eon-tabs-selected .eon-tabs-closeButton i {
  color: #e6e6e6;
}
eon-tabs[theme="noire"] .eon-tabs-selected .eon-tabs-closeButton:hover i {
  color: #ffffff;
}
eon-tabs[theme="noire"] .eon-tabs-selected span {
  color: #e6e6e6;
}
