/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-date[theme="noire"] {
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
}
eon-date[theme="noire"][disabled="true"] .eon-date-current {
  background: #454545;
}
eon-date[theme="noire"] .eon-fg1-hoverable:hover {
  -webkit-text-fill-color: #ffffff;
}
eon-date[theme="noire"] .eon-date-underline:before,
eon-date[theme="noire"] .eon-date-underline:after {
  background: #47cce2;
}
eon-date[theme="noire"].eon-date-focus .eon-date-label {
  color: #47cce2;
}
eon-date[theme="noire"].eon-date-error .eon-date-underline:before,
eon-date[theme="noire"].eon-date-error .eon-date-underline:after {
  background: #c33232;
}
eon-date[theme="noire"].eon-date-error .eon-date-main {
  border-color: #c33232;
}
eon-date[theme="noire"].eon-date-error .eon-date-label,
eon-date[theme="noire"].eon-date-error .eon-date-description {
  color: #c33232;
}
eon-date[theme="noire"][disabled="true"] ::-webkit-input-placeholder {
  color: #565656;
}
eon-date[theme="noire"][disabled="true"] :-moz-placeholder {
  color: #565656;
}
eon-date[theme="noire"][disabled="true"] ::-moz-placeholder {
  color: #565656;
}
eon-date[theme="noire"][disabled="true"] :-ms-input-placeholder {
  color: #565656 !important;
}
