eon-grid[editable="true"] eon-cell:hover {
  background: #454545;
}
eon-grid .eon-grid-header .eon-grid-wrapper eon-cell {
  color: #e6e6e6;
}
eon-grid .eon-grid-header .eon-grid-wrapper eon-cell:hover {
  background-color: #454545;
}
eon-grid .eon-grid-entryRow:first-child {
  border-top: 1px solid #383838;
}
eon-grid .eon-grid-entryRow eon-cell {
  color: #e6e6e6;
  border-right: 1px solid #383838;
}
eon-grid .eon-grid-disabled {
  color: #565656 !important;
}
