vc-swiper[theme="noire"] {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  /*
   * NAVIGATION CONTROLLERS
   */
  /*
   * Gallery elements
   */
}
vc-swiper[theme="noire"] .vc-swiper-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  transition: transform .2s;
}
vc-swiper[theme="noire"].vc-swiper-gallery > .vc-swiper-wrapper {
  height: calc(100% - 26%);
}
vc-swiper[theme="noire"].vc-swiper-gallery.vc-swiper-vertical {
  display: flex;
  height: 100%;
}
vc-swiper[theme="noire"].vc-swiper-gallery.vc-swiper-vertical > .vc-swiper-wrapper,
vc-swiper[theme="noire"].vc-swiper-vertical .vc-swiper-wrapper {
  display: block;
  height: 100%;
}
vc-swiper[theme="noire"] .vc-swiper-child {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
vc-swiper[theme="noire"].vc-swiper-vertical .vc-swiper-child {
  height: 100%;
}
vc-swiper[theme="noire"] .vc-swiper-pagination {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  right: 0;
}
vc-swiper[theme="noire"].vc-swiper-vertical > .vc-swiper-pagination {
  position: absolute;
  top: 50%;
  bottom: auto;
  right: 10px;
  width: auto;
  transform: translate3d(0, -50%, 0);
}
vc-swiper[theme="noire"] .vc-swiper-paginationHideControl {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 20%;
}
vc-swiper[theme="noire"].vc-swiper-vertical > .vc-swiper-paginationHideControl {
  position: absolute;
  z-index: 1;
  right: 0;
  height: 100%;
  width: 20%;
}
vc-swiper[theme="noire"] .vc-swiper-thumbnail {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 5px;
  opacity: 0.5;
  transition: transform .3s;
}
vc-swiper[theme="noire"].vc-swiper-vertical .vc-swiper-thumbnail {
  display: block;
  margin: 10px 5px;
}
vc-swiper[theme="noire"] .vc-swiper-thumbnail:hover {
  cursor: pointer;
  transform: scale(1.2);
}
vc-swiper[theme="noire"] .vc-swiper-thumbnailActive {
  opacity: 1;
  transform: scale(1);
}
vc-swiper[theme="noire"] .vc-swiper-image {
  background-size: cover;
  background-position: center;
}
vc-swiper[theme="noire"] .vc-swiper-navBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 12%;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  transition: height .2s, width .2s, background .2s;
}
vc-swiper[theme="noire"].vc-swiper-vertical .vc-swiper-navBtn {
  position: absolute;
  z-index: 1;
  height: 12%;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
vc-swiper[theme="noire"] .vc-swiper-back {
  left: 0px;
  top: 0;
}
vc-swiper[theme="noire"] .vc-swiper-next {
  right: 0;
  top: 0;
}
vc-swiper[theme="noire"].vc-swiper-vertical .vc-swiper-back {
  top: 0;
  right: 0;
}
vc-swiper[theme="noire"].vc-swiper-vertical .vc-swiper-next {
  bottom: 0;
  top: auto;
  left: 0;
}
vc-swiper[theme="noire"].vc-swiper-gallery > .vc-swiper-pagination {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #272727;
  height: 26%;
  width: 100%;
  bottom: 0;
  right: 0;
  transition: bottom .2s;
  transform: translate3d(0, 0, 0);
}
vc-swiper[theme="noire"].vc-swiper-gallery > .vc-swiper-paginationStatic {
  position: static;
  height: 26%;
}
vc-swiper[theme="noire"].vc-swiper-gallery.vc-swiper-vertical > .vc-swiper-pagination {
  overflow: hidden;
  box-sizing: border-box;
  background-color: #272727;
  height: 100%;
  width: 20%;
  top: 0;
  right: 0;
  transition: right .2s;
}
vc-swiper[theme="noire"].vc-swiper-gallery.vc-swiper-vertical > .vc-swiper-paginationStatic {
  position: static;
  width: 25%;
}
vc-swiper[theme="noire"].vc-swiper-gallery .vc-swiper-paginationWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 3px 5px 3px 5px;
  transition: transform .2s;
  box-sizing: border-box;
}
vc-swiper[theme="noire"].vc-swiper-vertical.vc-swiper-gallery .vc-swiper-paginationWrapper {
  display: block;
  height: 100%;
  width: auto;
  padding: 5px 3px 5px 3px;
  transition: transform .2s;
}
vc-swiper[theme="noire"].vc-swiper-gallery .vc-swiper-thumbnail {
  flex-shrink: 0;
  height: calc(100% - 10px);
  width: auto;
  border-radius: 0px;
  margin: 5px 5px 5px 5px;
  transform: scale(0.85);
  box-sizing: border-box;
}
vc-swiper[theme="noire"].vc-swiper-gallery.vc-swiper-vertical .vc-swiper-thumbnail {
  height: auto;
  width: calc(100% - 10px);
  border-radius: 0px;
  margin: 5px 5px 5px 5px;
}
vc-swiper[theme="noire"].vc-swiper-gallery .vc-swiper-thumbnailActive {
  opacity: 1;
  transform: scale(1);
}
vc-swiper[theme="noire"].vc-swiper-gallery.vc-swiper-vertical .vc-swiper-thumbnailActive {
  opacity: 1;
  transform: scale(1);
}
vc-swiper[theme="noire"].vc-swiper-gallery.vc-swiper-fullscreen {
  position: fixed;
  max-width: 100%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
vc-swiper[theme="noire"].vc-swiper-gallery.vc-swiper-fullscreen .vc-swiper-screenBtn {
  font-size: 35px;
}
vc-swiper[theme="noire"].vc-swiper-gallery .vc-swiper-screenBtn {
  top: 0px;
  right: 0px;
  position: absolute;
  font-size: 25px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: color 0.2s, background-color 0.2s;
}
vc-swiper[theme="noire"].vc-swiper-gallery.vc-swiper-vertical .vc-swiper-screenBtn {
  left: 0px;
  right: auto;
}
