eon-button[inline="true"] {
  display: inline-block;
}
eon-button[inline="true"] .eon-button-button {
  width: auto;
}
eon-button[icon-position="left"] .eon-button-button {
  flex-direction: row-reverse;
}
eon-button[icon-position="left"] .eon-button-buttonIcon {
  margin-right: 5px;
}
eon-button[icon-position="right"] .eon-button-button {
  flex-direction: row;
}
eon-button[icon-position="right"] .eon-button-buttonIcon {
  margin-left: 5px;
  flex-direction: row;
}
eon-button[text="false"] .eon-button-buttonIcon {
  margin-right: 0;
  margin-left: 0;
}
eon-button[text="false"] .eon-button-button {
  padding: 16px 6px;
}
eon-button[text="false"][design="flat"] .eon-button-button,
eon-button[text="false"][design="filled"] .eon-button-button {
  padding: 16px 8px;
}
eon-button[icon-position="left"][text="true"] .eon-button-addedIcon {
  padding-left: 10px;
}
eon-button[icon-position="right"][text="true"] .eon-button-addedIcon {
  padding-right: 10px;
}
eon-button a {
  text-decoration: none;
}
eon-button[design="flat"] .eon-button-button {
  border-width: 0;
  font-weight: bold;
}
eon-button[design="filled"] .eon-button-button {
  border-width: 0;
}
.eon-button-button {
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 36px;
  padding: 16px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0), color 0.2s cubic-bezier(0.4, 0, 0.2, 0), border-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  -moz-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0), color 0.2s cubic-bezier(0.4, 0, 0.2, 0), border-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0), color 0.2s cubic-bezier(0.4, 0, 0.2, 0), border-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  border-width: 2px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
.eon-button-buttonIcon {
  font-size: 22px;
}
