eon-check {
  position: relative;
  padding: 3px 0;
}
eon-check[inline="true"] {
  display: inline-block;
}
eon-check[inline="true"] .eon-check-check {
  width: auto;
}
eon-check[readonly="false"] .eon-check-label {
  cursor: pointer;
}
.eon-check-check {
  width: 100%;
  display: flex;
  position: relative;
}
.eon-check-input[type="check"] {
  display: none;
}
.eon-check-label {
  display: flex;
  align-items: center;
}
.eon-check-input[type="check"] + .eon-check-label .eon-check-span {
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  margin: -2px 5px 0 0;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  vertical-align: middle;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  background-color: transparent;
}
.eon-check-checked[type="check"] + .eon-check-label:after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 5px;
  content: "";
  transform: rotate(-45deg);
}
.eon-check-checked[type="check"] + .eon-check-label .eon-check-span {
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.eon-check-input[type="check"]:disabled + .eon-check-label .eon-check-span {
  cursor: auto;
}
.eon-check-input:disabled + .eon-check-label,
.check[type="check"]:disabled + .eon-check-label .eon-check-span,
.eon-check-input[type="check"]:disabled + .eon-check-label:after {
  cursor: auto;
}
