vc-datebox {
  min-width: 200px;
}
vc-datebox[inline="true"] {
  display: inline-block;
  width: 200px;
}
vc-datebox[type="calendar"][inline="false"] {
  width: 100%;
}
.vc-datebox-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
}
vc-datebox[label=""] .vc-datebox-data {
  display: none;
}
.vc-datebox-label {
  font-size: 15px;
  height: 100%;
  flex-grow: 1;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.vc-datebox-counter {
  height: 100%;
  flex-grow: 0;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
vc-datebox[disabled="true"] {
  pointer-events: none;
}
.vc-datebox-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.vc-datebox-input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}
.vc-datebox-subInputs {
  display: flex;
  background-color: transparent;
  padding: 10px;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}
.vc-datebox-subInputs div[data-field="day"],
.vc-datebox-subInputs div[data-field="month"] {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
}
.vc-datebox-subInputs div[data-field="year"] {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1.5;
}
.vc-datebox-subInputs div[data-field] {
  transition: 0.3s all;
  outline: none;
  display: flex;
}
.vc-datebox-subInput input {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: inherit;
  font-size: 15px;
  padding: 0;
  -moz-appearance: textfield;
}
.vc-datebox-subInput input[readonly="true"] {
  cursor: default;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.vc-datebox-separator {
  display: flex;
  padding: 0 5px;
  align-items: center;
  flex-basis: 0;
  flex-grow: 0;
  justify-content: center;
  font-size: 15px;
}
.vc-datebox-button {
  margin-right: 10px;
  flex-grow: 0;
}
vc-datebox:not([readonly="true"]) .vc-datebox-button {
  cursor: pointer;
}
.vc-datebox-underline {
  position: relative;
  display: block;
  width: auto;
}
.vc-datebox-underline:before,
.vc-datebox-underline:after {
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.vc-datebox-underline:before {
  left: 50%;
}
.vc-datebox-underline:after {
  right: 50%;
}
.vc-datebox-underline.animate:before,
.vc-datebox-underline.animate:after {
  width: 50%;
}
vc-datebox[toolbar="true"] {
  border: none;
}
vc-datebox[toolbar="true"] .vc-datebox-underline {
  display: none;
}
vc-datebox[toolbar="true"] .vc-datebox-main {
  border: none;
}
vc-datebox[toolbar="true"] .vc-datebox-data {
  display: none;
}
.vc-datebox-overlay {
  position: fixed;
  margin: 0;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vc-datebox-overlay.vc-datebox-device {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vc-datebox-overlay.vc-datebox-device .vc-datebox-calendar {
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  position: relative;
}
.vc-datebox-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  min-height: 180px;
}
[readonly="true"] .vc-datebox-calendar {
  pointer-events: none;
}
.vc-datebox-year,
.vc-datebox-month {
  cursor: pointer;
}
vc-datebox:not([selectable*=y]) .vc-datebox-year:hover,
.vc-datebox-yearsGridSelectors .vc-datebox-year:hover {
  text-decoration: none;
  cursor: default;
}
vc-datebox:not([data-touch="true"]) .vc-datebox-day:hover {
  cursor: pointer;
}
vc-datebox[disabled="true"] {
  pointer-events: none;
}
.vc-datebox-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  cursor: default;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.vc-datebox-header {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  display: flex;
  width: 100%;
  height: 18%;
  max-height: 60px;
  text-transform: capitalize;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
div[data-disabled="true"]:hover {
  cursor: default;
  text-decoration: none;
}
.vc-datebox-header .vc-datebox-hidden {
  display: none;
}
.vc-datebox-daysGridSelectors,
.vc-datebox-monthsGridSelectors,
.vc-datebox-yearsGridSelectors {
  display: flex;
  height: 100%;
  top: 0;
  bottom: 0;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.vc-datebox-daysGridSelectors .vc-datebox-month {
  display: flex;
  height: 100%;
  padding-right: 1.5%;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}
.vc-datebox-monthsGridSelectors .vc-datebox-month {
  display: none;
}
.vc-datebox-daysGridSelectors .vc-datebox-year {
  display: flex;
  height: 100%;
  padding-left: 1.5%;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}
.vc-datebox-monthsGridSelectors .vc-datebox-year {
  display: flex;
  height: 100%;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.vc-datebox-leftNavigation {
  position: absolute;
  left: 0;
  display: flex;
  width: 22%;
  max-width: 120px;
  height: 100%;
  top: 0;
  bottom: 0;
}
.vc-datebox-rightNavigation {
  position: absolute;
  right: 0;
  display: flex;
  width: 22%;
  max-width: 120px;
  height: 100%;
  top: 0;
  bottom: 0;
  justify-content: flex-end;
}
.vc-datebox-previous,
.vc-datebox-next,
.vc-datebox-back,
.vc-datebox-close {
  display: flex;
  width: 50%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
}
.vc-datebox-body {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5px 10px 5px;
  flex-grow: 1;
}
.vc-datebox-body .vc-datebox-row div {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
}
.vc-datebox-body .vc-bg1-hoverable:not([data-disabled="true"]) {
  cursor: pointer;
}
.vc-datebox-body div[data-disabled="true"] {
  text-decoration: line-through;
  pointer-events: none;
  cursor: default;
}
.vc-datebox-daysGrid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.vc-datebox-daysGrid .vc-datebox-weekDays {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  text-transform: capitalize;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
}
.vc-datebox-daysGrid .vc-datebox-grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.vc-datebox-row,
.vc-datebox-week {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
.vc-datebox-monthsGrid,
.vc-datebox-yearsGrid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  opacity: 0;
}
.vc-datebox-dayHeader {
  display: flex;
  height: 100%;
  cursor: default;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.vc-datebox-day {
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
}
