.vc-datebox-picker {
  position: fixed;
  margin: 0;
  z-index: 100;
}
.vc-datebox-picker.vc-datebox-device {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vc-datebox-picker.vc-datebox-device .vc-datepicker-calendar {
  width: 90%;
}
.vc-datebox-picker.vc-datebox-device .vc-datepicker-close {
  display: flex;
}
.vc-datebox-picker.hidden {
  display: none;
}
vc-datebox[inline="true"] {
  display: inline-block;
  width: 200px;
}
vc-datebox .vc-datebox-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
}
vc-datebox[label=""][counter="false"] .vc-datebox-data {
  display: none;
}
vc-datebox .vc-datebox-label {
  font-size: 15px;
  height: 100%;
  flex-grow: 1;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
vc-datebox .vc-datebox-counter {
  height: 100%;
  flex-grow: 0;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
vc-datebox[disabled="true"] {
  pointer-events: none;
}
vc-datebox .vc-datebox-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 200px;
}
vc-datebox .vc-datebox-input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}
vc-datebox .vc-datebox-input .vc-datebox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
vc-datebox .vc-datebox-subInputs {
  display: flex;
  background-color: transparent;
  padding: 10px;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}
vc-datebox .vc-datebox-subInputs div[data-field="day"],
vc-datebox .vc-datebox-subInputs div[data-field="month"] {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
}
vc-datebox .vc-datebox-subInputs div[data-field="year"] {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1.5;
}
vc-datebox .vc-datebox-subInputs div[data-field] {
  transition: 0.3s all;
  outline: none;
  display: flex;
}
vc-datebox .vc-datebox-subInput input {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: inherit;
  font-size: 15px;
  padding: 0;
  -moz-appearance: textfield;
}
vc-datebox input[type=number]::-webkit-outer-spin-button,
vc-datebox input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
vc-datebox .vc-datebox-separator {
  display: flex;
  padding: 0 5px;
  align-items: center;
  flex-basis: 0;
  flex-grow: 0;
  justify-content: center;
  font-size: 15px;
}
vc-datebox .vc-datebox-button {
  margin-right: 10px;
  flex-grow: 0;
}
vc-datebox:not([readonly="true"]) .vc-datebox-button {
  cursor: pointer;
}
vc-datebox .vc-datebox-underline {
  position: relative;
  display: block;
  width: auto;
}
vc-datebox .vc-datebox-underline:before,
vc-datebox .vc-datebox-underline:after {
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
vc-datebox .vc-datebox-underline:before {
  left: 50%;
}
vc-datebox .vc-datebox-underline:after {
  right: 50%;
}
vc-datebox .vc-datebox-underline.animate:before,
vc-datebox .vc-datebox-underline.animate:after {
  width: 50%;
}
vc-datebox[toolbar="true"] {
  border: none;
}
vc-datebox[toolbar="true"] .vc-datebox-underline {
  display: none;
}
vc-datebox[toolbar="true"] .vc-datebox-main {
  border: none;
}
vc-datebox[toolbar="true"] .vc-datebox-data {
  display: none;
}
