app-fading {
    position:absolute;
    height: 100%;
    width: 100%;
    z-index:9999;
    transition: all;
    /* transition: all 0.5s; */
    opacity: 1;
    pointer-events: none;
}
.app-fading-hidden {
    /* display: none; */
    /* transition-duration: 0s; */
    opacity: 0;
}
.app-fading-shown {
    /* display: none; */
    /* transition-duration: 0.5s; */
    opacity: 1;
}