eon-date {
  min-width: 200px;
}
eon-date[inline="true"] {
  display: inline-block;
  width: 200px;
}
eon-date[type="calendar"][inline="false"] {
  width: 100%;
}
.eon-date-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
}
eon-date[label=""] .eon-date-data {
  display: none;
}
.eon-date-label {
  font-size: 15px;
  height: 100%;
  flex-grow: 1;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.eon-date-counter {
  height: 100%;
  flex-grow: 0;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
eon-date[disabled="true"] {
  pointer-events: none;
}
.eon-date-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.eon-date-input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}
.eon-date-subInputs {
  display: flex;
  background-color: transparent;
  padding: 10px;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}
.eon-date-subInputs div[data-field="day"],
.eon-date-subInputs div[data-field="month"] {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
}
.eon-date-subInputs div[data-field="year"] {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1.5;
}
.eon-date-subInputs div[data-field] {
  transition: 0.3s all;
  outline: none;
  display: flex;
}
.eon-date-subInput input {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: inherit;
  font-size: 15px;
  padding: 0;
  -moz-appearance: textfield;
}
.eon-date-subInput input[readonly="true"] {
  cursor: default;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.eon-date-separator {
  display: flex;
  padding: 0 5px;
  align-items: center;
  flex-basis: 0;
  flex-grow: 0;
  justify-content: center;
  font-size: 15px;
}
.eon-date-button {
  margin-right: 10px;
  flex-grow: 0;
}
eon-date:not([readonly="true"]) .eon-date-button {
  cursor: pointer;
}
.eon-date-underline {
  position: relative;
  display: block;
  width: auto;
}
.eon-date-underline:before,
.eon-date-underline:after {
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.eon-date-underline:before {
  left: 50%;
}
.eon-date-underline:after {
  right: 50%;
}
.eon-date-focus .eon-date-underline:before,
.eon-date-focus .eon-date-underline:after {
  width: 50%;
}
eon-date[toolbar="true"] {
  border: none;
}
eon-date[toolbar="true"] .eon-date-underline {
  display: none;
}
eon-date[toolbar="true"] .eon-date-main {
  border: none;
}
eon-date[toolbar="true"] .eon-date-data {
  display: none;
}
.eon-date-overlay {
  position: fixed;
  margin: 0;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.eon-date-overlay.eon-date-device {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eon-date-overlay.eon-date-device .eon-date-calendar {
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  position: relative;
}
@media screen and (orientation: landscape) {
  .eon-date-overlay.eon-date-device .eon-date-calendar {
    height: 90%;
    min-height: 90%;
    max-height: 90%;
  }
}
.eon-date-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  min-height: 180px;
}
[readonly="true"] .eon-date-calendar {
  pointer-events: none;
}
.eon-date-year,
.eon-date-month {
  cursor: pointer;
}
eon-date:not([selectable*=y]) .eon-date-year:hover,
.eon-date-yearsGridSelectors .eon-date-year:hover {
  text-decoration: none;
  cursor: default;
}
eon-date:not([data-touch="true"]) .eon-date-day:hover {
  cursor: pointer;
}
eon-date[disabled="true"] {
  pointer-events: none;
}
.eon-date-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  cursor: default;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.eon-date-header {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  display: flex;
  width: 100%;
  height: 18%;
  max-height: 60px;
  text-transform: capitalize;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
div[data-disabled="true"]:hover {
  cursor: default;
  text-decoration: none;
}
.eon-date-header .eon-date-hidden {
  display: none;
}
.eon-date-daysGridSelectors,
.eon-date-monthsGridSelectors,
.eon-date-yearsGridSelectors {
  display: flex;
  height: 100%;
  top: 0;
  bottom: 0;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.eon-date-daysGridSelectors .eon-date-month {
  display: flex;
  height: 100%;
  padding-right: 1.5%;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}
.eon-date-monthsGridSelectors .eon-date-month {
  display: none;
}
.eon-date-daysGridSelectors .eon-date-year {
  display: flex;
  height: 100%;
  padding-left: 1.5%;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}
.eon-date-monthsGridSelectors .eon-date-year {
  display: flex;
  height: 100%;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.eon-date-leftNavigation {
  position: absolute;
  left: 0;
  display: flex;
  width: 22%;
  max-width: 120px;
  height: 100%;
  top: 0;
  bottom: 0;
}
.eon-date-rightNavigation {
  position: absolute;
  right: 0;
  display: flex;
  width: 22%;
  max-width: 120px;
  height: 100%;
  top: 0;
  bottom: 0;
  justify-content: flex-end;
}
.eon-date-previous,
.eon-date-next,
.eon-date-back,
.eon-date-close {
  display: flex;
  width: 50%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
}
.eon-date-body {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5px 10px 5px;
  flex-grow: 1;
}
.eon-date-body .eon-date-row div {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
}
.eon-date-body .eon-bg1-hoverable:not([data-disabled="true"]) {
  cursor: pointer;
}
.eon-date-body div[data-disabled="true"] {
  text-decoration: line-through;
  pointer-events: none;
  cursor: default;
}
.eon-date-daysGrid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.eon-date-daysGrid .eon-date-weekDays {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  text-transform: capitalize;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
}
.eon-date-daysGrid .eon-date-grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.eon-date-row,
.eon-date-week {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
.eon-date-monthsGrid,
.eon-date-yearsGrid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  opacity: 0;
}
.eon-date-dayHeader {
  display: flex;
  height: 100%;
  cursor: default;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.eon-date-day {
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
}
.eon-date-description {
  margin-top: 5px;
  font-size: 14px;
  width: 100%;
}
