eon-text[inline="true"] {
  display: inline-block;
  width: 200px;
}
eon-text[label=""][counter="false"] .eon-text-data {
  display: none;
}
eon-text input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
eon-text textarea.eon-text-editable {
  height: 100%;
  width: 100%;
  background: transparent;
  overflow: auto;
  resize: none;
}
eon-text.eon-text-focus .eon-text-underline:before,
eon-text.eon-text-focus .eon-text-underline:after {
  width: 50%;
}
eon-text[disabled="true"] {
  pointer-events: none;
}
eon-text.disabled .eon-text-editable:empty:before {
  content: attr(placeholder);
}
.eon-text-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
  position: relative;
}
.eon-text-label {
  position: absolute;
  transform: translate3d(0, 0, 0);
  font-size: 15px;
  height: 18px;
  flex-grow: 1;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.eon-text-label.eon-text-movedLabel {
  transform: translate3d(10px, 33px, 0);
  pointer-events: none;
}
.eon-text-counter {
  height: 18px;
  flex-grow: 0;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  right: 0;
  top: 0;
}
.eon-text-main {
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.eon-text-editable:empty:before {
  content: attr(placeholder);
}
.eon-text-editable,
input {
  font-family: sans-serif;
  font-size: 15px;
  padding: 0;
  -webkit-user-select: text;
  user-select: text;
}
.eon-text-editable {
  outline: none;
  cursor: text;
  word-wrap: break-word;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  overflow: hidden;
}
.eon-text-editable div {
  max-width: 100%;
  word-wrap: break-word;
}
.eon-text-editable p {
  margin: 0;
}
.eon-text-underline {
  position: relative;
  display: block;
  width: auto;
}
.eon-text-underline:before,
.eon-text-underline:after {
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.eon-text-underline:before {
  left: 50%;
}
.eon-text-underline:after {
  right: 50%;
}
.eon-text-description {
  margin-top: 5px;
  font-size: 14px;
  width: 100%;
}
