/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-checkbox[theme="noire"] {
  /* Create the tick inside the checkbox */
  /* Style of the box when the checkbox it's disabled */
  /* Box style when the checkbox it's checked and disabled */
}
eon-checkbox[theme="noire"] .eon-checkbox-checked[type="checkbox"] + .eon-checkbox-label:after {
  border: 2px solid #3a3a3a;
  border-top: none;
  border-right: none;
  background: transparent;
}
eon-checkbox[theme="noire"] .eon-checkbox-checked[type="checkbox"] + .eon-checkbox-label .eon-checkbox-span {
  background-color: #47cce2;
}
eon-checkbox[theme="noire"] .eon-checkbox-input[type="checkbox"]:disabled + .eon-checkbox-label span {
  border: 2px solid #747474;
}
eon-checkbox[theme="noire"] .eon-checkbox-checked[type="checkbox"]:disabled + .eon-checkbox-label span {
  border: 2px solid #747474;
  background-color: #747474;
}
eon-checkbox[theme="noire"] .eon-checkbox-input:disabled + .eon-checkbox-label,
eon-checkbox[theme="noire"] .checkbox[type="checkbox"]:disabled + .eon-checkbox-label span,
eon-checkbox[theme="noire"] .eon-checkbox-input[type="checkbox"]:disabled + .eon-checkbox-label:after {
  color: #747474;
}
