/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
radio, contextmenu, slider, treenode) */
eon-tabs[theme="noire"] .eon-tabs-scrolls.enabled div,
div[data-theme="noire"] eon-tabs .eon-tabs-scrolls.enabled div,
body[data-theme="noire"] eon-tabs .eon-tabs-scrolls.enabled div {
  color: #9a9a9a;
}
eon-tabs[theme="noire"] .eon-tabs-scrolls.enabled div:hover,
div[data-theme="noire"] eon-tabs .eon-tabs-scrolls.enabled div:hover,
body[data-theme="noire"] eon-tabs .eon-tabs-scrolls.enabled div:hover {
  color: #ffffff;
}
eon-tabs[theme="noire"] .eon-tabs-closing,
div[data-theme="noire"] eon-tabs .eon-tabs-closing,
body[data-theme="noire"] eon-tabs .eon-tabs-closing {
  background-color: #c33232;
  color: #ffffff;
}
eon-tabs[theme="noire"] .eon-tabs-dragTarget,
div[data-theme="noire"] eon-tabs .eon-tabs-dragTarget,
body[data-theme="noire"] eon-tabs .eon-tabs-dragTarget {
  background-color: rgba(61, 165, 183, 0.5);
}
