/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-grid[theme="noire"] {
  color: #e6e6e6;
}
eon-grid[theme="noire"][editable="true"] eon-cell:hover {
  background: #454545;
}
eon-grid[theme="noire"] .eon-grid-header .eon-grid-wrapper eon-cell:hover {
  background-color: #454545;
}
eon-grid[theme="noire"] .eon-grid-entryRow:first-child {
  border-top: 1px solid #383838;
}
eon-grid[theme="noire"] .eon-grid-entryRow eon-cell {
  border-right: 1px solid #383838;
}
eon-grid[theme="noire"] .eon-row-dropdown {
  background: #383838;
}
eon-grid[theme="noire"] .eon-grid-disabled {
  color: #565656 !important;
}
