/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
radio, contextmenu, slider, treenode) */
eon-button[theme="noire"] .eon-button-button,
div[data-theme="noire"] eon-button .eon-button-button,
body[data-theme="noire"] eon-button .eon-button-button {
  background-position: center;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-button[theme="noire"][design="filled"] .eon-button-button:hover,
div[data-theme="noire"] eon-button[design="filled"] .eon-button-button:hover,
body[data-theme="noire"] eon-button[design="filled"] .eon-button-button:hover {
  background: #54b7c7 radial-gradient(circle, transparent 1%, #54b7c7 1%) center / 15000%;
  box-shadow: 0 3px 9px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}
eon-button[theme="noire"][design="filled"] .eon-button-button:active,
div[data-theme="noire"] eon-button[design="filled"] .eon-button-button:active,
body[data-theme="noire"] eon-button[design="filled"] .eon-button-button:active {
  background-color: #99c8d0;
  background-size: 100%;
  transition: background 0s;
}
eon-button[theme="noire"] .eon-button-button:hover,
div[data-theme="noire"] eon-button .eon-button-button:hover,
body[data-theme="noire"] eon-button .eon-button-button:hover {
  background: #245d67 radial-gradient(circle, transparent 1%, #245d67 1%) center / 15000%;
}
eon-button[theme="noire"] .eon-button-button:active,
div[data-theme="noire"] eon-button .eon-button-button:active,
body[data-theme="noire"] eon-button .eon-button-button:active {
  background-color: #368897;
  background-size: 100%;
  transition: background 0s;
}
