vc-appmenu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}
vc-appmenu.vc-fill {
  height: 100%;
  width: 100%;
}
vc-appmenu[data-mobile="true"] {
  position: inherit;
}
vc-appmenu[location="right"] {
  align-items: flex-end;
}
vc-appmenu[location="left"] {
  align-items: flex-start;
}
vc-appmenu[location="center"] {
  align-items: center;
}
vc-appmenu .vc-appmenu-appMenu {
  position: relative;
  display: flex;
  margin: 5px 10px;
  cursor: pointer;
}
vc-appmenu .vc-appmenu-appMenu .vicon {
  font-size: 25px;
}
.vc-appmenu-appsBox {
  max-width: 244px;
  max-height: 360px;
  position: absolute;
  z-index: 100;
  top: 20px;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
}
.vc-appmenu-visibleApps {
  display: flex;
}
.vc-appmenu-tipSup {
  position: relative;
  z-index: 100;
  top: 9px;
  border-width: 0 9px 9px;
  border-style: dashed dashed solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.vc-appmenu-tipSub {
  position: relative;
  z-index: 100;
  top: 3px;
  border-width: 0 8.5px 8.5px;
  border-style: dashed dashed solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.vc-appmenu-windowBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
}
.vc-appmenu-appsBox[data-version="desktop"] .vc-appmenu-windowBox {
  height: 100%;
}
.vc-appmenu-close {
  display: none;
  padding: 15px 15px 0 15px;
  justify-content: flex-end;
}
.vc-appmenu-closeVisible {
  display: flex;
}
.vc-appmenu-appsBox vc-scroll {
  flex-grow: 1;
}
.vc-appmenu-appsBox[data-mobile="false"] .vc-scroll-content object {
  display: block !important;
}
.vc-appmenu-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vc-appmenu-windowBox::-webkit-scrollbar {
  display: none;
}
.vc-appmenu-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  align-items: center;
}
.vc-appmenu-itemIcon {
  font-size: 45px ;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.vc-appmenu-itemSpan {
  font-size: 12px;
}
.vc-appmenu-appsBox[data-location="right"] {
  align-items: flex-end;
}
.vc-appmenu-appsBox[data-location="right"] .vc-appmenu-tipSup {
  right: 13.5px;
  left: initial;
}
.vc-appmenu-appsBox[data-location="right"] .vc-appmenu-tipSub {
  right: 14.5px;
  left: initial;
}
.vc-appmenu-appsBox[data-location="left"] {
  align-items: flex-start;
}
.vc-appmenu-appsBox[data-location="left"] .vc-appmenu-tipSup {
  right: initial;
  left: 14.4px;
}
.vc-appmenu-appsBox[data-location="left"] .vc-appmenu-tipSub {
  right: initial;
  left: 15px;
}
.vc-appmenu-appsBox[data-location="center"] {
  align-items: center;
}
.vc-appmenu-appsBox[data-location="center"] .vc-appmenu-tipSup {
  right: initial;
  left: initial;
}
.vc-appmenu-appsBox[data-location="center"] .vc-appmenu-tipSub {
  right: initial;
  left: initial;
}
@media (max-width: 800px) {
  .vc-appmenu-appsBox[data-mobile="true"] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: none;
    max-width: none;
    justify-content: center;
  }
  .vc-appmenu-appsBox[data-mobile="true"] vc-scroll {
    height: 100%;
  }
  .vc-appmenu-appsBox[data-mobile="true"] .vc-scroll-content {
    flex-grow: 1;
  }
  .vc-appmenu-appsBox[data-mobile="true"] .vc-scroll-content object {
    display: none !important;
  }
  .vc-appmenu-appsBox[data-location="center"][data-mobile="true"] .vc-appmenu-appsBox {
    transform: translate(0, 0);
  }
  .vc-appmenu-appsBox[data-mobile="true"] .vc-appmenu-windowBox {
    flex-direction: column;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    align-self: center;
  }
  .vc-appmenu-appsBox[data-mobile="true"] .vc-appmenu-appsWrapper {
    max-width: inherit;
    max-height: inherit;
    justify-content: space-around;
  }
  .vc-appmenu-appsBox[data-mobile="true"] .vc-appmenu-tipSup,
  .vc-appmenu-appsBox[data-mobile="true"] .vc-appmenu-tipSub {
    display: none;
  }
  .vc-appmenu-appsWrapper.vc-spaced .vc-appmenu-item {
    width: 80px;
    padding: 10px;
  }
  .vc-appmenu-appsBox[data-mobile="true"] .vc-appmenu-itemIcon {
    font-size: 60px;
    width: 65px;
    height: 65px;
  }
}
.vc-appmenu-appsWrapper.vc-spaced {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 15px;
}
.vc-appmenu-appsWrapper.vc-spaced .vc-appmenu-item {
  width: 70px;
  padding: 8px;
}
