vc-menu[theme="noire"] {
  color: #c1c1c1;
}
vc-menu[theme="noire"][background="true"] {
  background-color: #3a3a3a;
}
vc-menu[theme="noire"][background="true"] vc-item[type="dropdown"] .dropdown {
  background-color: #3a3a3a;
}
vc-menu[theme="noire"] .wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
vc-menu[theme="noire"] vc-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
}
vc-menu[theme="noire"] vc-item > vc-item.header {
  width: 100%;
  height: 100%;
}
vc-menu[theme="noire"] vc-item.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
vc-menu[theme="noire"] vc-item[icon-position="left"].header {
  flex-direction: row-reverse;
}
vc-menu[theme="noire"] vc-item[icon-position="left"].header i {
  margin-right: 10px;
}
vc-menu[theme="noire"] vc-item[icon-position="right"].header {
  flex-direction: row;
}
vc-menu[theme="noire"] vc-item[icon-position="right"].header i {
  margin-left: 10px;
}
vc-menu[theme="noire"] vc-item.header i {
  font-size: 16px;
}
vc-menu[theme="noire"] vc-item[type="dropdown"] .dropdown {
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  width: 100%;
}
vc-menu[theme="noire"][direction="bottom-right"] .dropdown {
  top: 0;
  right: auto;
  bottom: auto;
  left: 100%;
}
vc-menu[theme="noire"][direction="bottom-right"] > .wrapper vc-item > .dropdown {
  top: 100%;
  right: auto;
  bottom: auto;
  left: 0;
}
vc-menu[theme="noire"][direction="bottom-right"] > .dropdown > vc-item > .dropdown {
  top: 0;
  left: 100%;
}
vc-menu[theme="noire"] vc-item[type="dropdown"][data-visible="true"] > .dropdown {
  display: flex;
}
vc-menu[theme="noire"] vc-item[type="dropdown"][data-visible="true"] {
  background-color: #484848;
}
vc-menu[theme="noire"][background="true"] vc-item:hover {
  background-color: #484848;
}
vc-menu[theme="noire"] > vc-item[type="dropdown"][data-direction="bottom-left"] > .dropdown {
  top: 100%;
  left: 0%;
}
