vc-textbox[theme="noire"] {
  position: relative;
  display: flex;
  flex-direction: column;
  /* LABEL */
  /* BOTTOM bar*/
  /* Counter div*/
  /* active state */
}
vc-textbox[theme="noire"] .textboxGroup {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
  flex-grow: 1;
}
vc-textbox[theme="noire"] .disableTextGroup {
  pointer-events: none;
  color: #747474;
  border-bottom: 1px dashed #747474;
}
vc-textbox[theme="noire"] .disableTextGroup .textbox,
vc-textbox[theme="noire"] .disableTextGroup + .counter {
  color: #747474;
  -webkit-text-fill-color: #747474;
}
vc-textbox[theme="noire"] .readonlyTextGroup {
  pointer-events: none;
}
vc-textbox[theme="noire"] .textbox {
  font-size: 15px;
  position: relative;
  display: block;
  padding: 10px 10px 10px 5px;
  color: #ababab;
  border: none;
  outline: none;
  background-color: transparent;
}
vc-textbox[theme="noire"] .focusTextbox {
  color: #e6e6e6;
}
vc-textbox[theme="noire"] .readonlyTextbox {
  color: #e6e6e6;
}
vc-textbox[theme="noire"] .displayLabel {
  font-size: 15px;
  height: 18px;
}
vc-textbox[theme="noire"] .focusLabel {
  font-size: 14px;
  color: #18c796;
}
vc-textbox[theme="noire"] .inputBar {
  position: relative;
  display: block;
  width: auto;
}
vc-textbox[theme="noire"] .inputBar:before,
vc-textbox[theme="noire"] .inputBar:after {
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
  background-color: #18c796;
}
vc-textbox[theme="noire"] .inputBar:before {
  left: 50%;
}
vc-textbox[theme="noire"] .inputBar:after {
  right: 50%;
}
vc-textbox[theme="noire"] .counter {
  font-size: 14px;
  display: flex;
  margin: 5px;
  justify-content: flex-end;
}
vc-textbox[theme="noire"] .focusCounter {
  color: #18c796;
}
vc-textbox[theme="noire"] .textbox:focus ~ .inputBar:before,
vc-textbox[theme="noire"] .textbox:focus ~ .inputBar:after {
  width: 50%;
}
vc-textbox[theme="noire"] .invalidInputText {
  border-bottom: 1px solid #d30f01;
}
vc-textbox[theme="noire"] .invalidInputText:before,
vc-textbox[theme="noire"] .invalidInputText:after {
  background: #d30f01;
}
@media (max-width: 768px) {
  vc-textbox[theme="noire"] {
    width: auto !important;
  }
}
