
@element: eon-button;

@{element} {
  &[inline="true"] {
    display: inline-block;  
  }

  &[inline="true"] .@{element}-button {
    width: auto;  
  }
  &[icon-position="left"] .@{element}-button {
    flex-direction: row-reverse;
  }

  &[icon-position="left"] .@{element}-buttonIcon {
    margin-right: 5px;
  }

  &[icon-position="right"] .@{element}-button {
    flex-direction: row;
  }

  &[icon-position="right"] .@{element}-buttonIcon {
    margin-left: 5px;
    flex-direction: row;
  }

  &[text="false"] .@{element}-buttonIcon {
    margin-right: 0;
    margin-left: 0;
  }

  &[text="false"] .@{element}-button {
    padding: 16px 5px;
  }

  &[icon-position="left"][text="true"] .@{element}-addedIcon {
    padding-left: 10px;
  }

  &[icon-position="right"][text="true"] .@{element}-addedIcon {
    padding-right: 10px;
  }

  a {
    text-decoration: none;
  }

  &[design="flat"] .@{element}-button {
    border-width: 0;
  }
  &[design="filled"] .@{element}-button {
    border-width: 0;
  }
}

.@{element}-button {
  font-weight: bold;
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 36px;
  padding:16px;
  cursor: pointer;
  -webkit-transition: background-color .2s cubic-bezier(.4,0,.2,0), color .2s cubic-bezier(.4,0,.2,0), border-color .2s cubic-bezier(.4,0,.2,0);
     -moz-transition: background-color .2s cubic-bezier(.4,0,.2,0), color .2s cubic-bezier(.4,0,.2,0), border-color .2s cubic-bezier(.4,0,.2,0);
          transition: background-color .2s cubic-bezier(.4,0,.2,0), color .2s cubic-bezier(.4,0,.2,0), border-color .2s cubic-bezier(.4,0,.2,0);
  border-width: 2px;
  border-style: solid;
  align-items: center;
  justify-content: center;
}

.@{element}-buttonIcon {
  font-size: 22px;
}


