.passed {
  color: lightgreen;
}

.failed {
  color: red;
}

.resultTable, .componentView {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.rr {
  display: flex;
}

.rd {
  margin: 0 20px;
  display: block;
}
