.d-headerpanel-example-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.d-headerpanel {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    transition: all .2s;
}
.d-headerpanel-square {
    width: 100%;
    height: 100px;
    margin-top: 12px;
    background-color: #9a9a9a;
    transition: all .2s;
}
.d-headerpanel-square-single {
    margin-top: 25%;
    margin-left: 10px;
    width: 90%;
    box-sizing: border-box;
}
.d-headerpanel-header-white {
    background-color: white !important;
    color: #5d5d5d !important;
}
