vc-text[theme="noire"] {
  /* Begin underline animation*/
  /* End underline animation*/
}
vc-text[theme="noire"][inline="true"] {
  display: inline-block;
  width: 200px;
}
vc-text[theme="noire"] .vc-text-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
}
vc-text[theme="noire"][label=""][counter="false"] .vc-text-data {
  display: none;
}
vc-text[theme="noire"] .vc-text-label {
  font-size: 15px;
  height: 100%;
  flex-grow: 1;
}
vc-text[theme="noire"] .vc-text-counter {
  height: 100%;
  flex-grow: 0;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
vc-text[theme="noire"] .vc-text-main {
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
vc-text[theme="noire"][type="area"] .vc-text-main {
  display: block;
}
vc-text[theme="noire"] .vc-text-editable:empty:before {
  content: attr(placeholder);
}
vc-text[theme="noire"] input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
vc-text[theme="noire"] .vc-text-editable,
vc-text[theme="noire"] input {
  font-family: sans-serif;
  font-size: 15px;
  padding: 0;
  -webkit-user-select: text;
  user-select: text;
}
vc-text[theme="noire"] .vc-text-editable {
  outline: none;
  cursor: text;
  word-wrap: break-word;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  overflow: hidden;
}
vc-text[theme="noire"] textarea.vc-text-editable {
  height: 100%;
  width: 100%;
  background: transparent;
  overflow: auto;
  resize: none;
}
vc-text[theme="noire"] .vc-text-editable div {
  max-width: 100%;
  word-wrap: break-word;
}
vc-text[theme="noire"] .vc-text-editable p {
  margin: 0;
}
vc-text[theme="noire"] .vc-text-underline {
  position: relative;
  display: block;
  width: auto;
}
vc-text[theme="noire"] .vc-text-underline:before,
vc-text[theme="noire"] .vc-text-underline:after {
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
vc-text[theme="noire"] .vc-text-underline:before {
  left: 50%;
}
vc-text[theme="noire"] .vc-text-underline:after {
  right: 50%;
}
vc-text[theme="noire"].focus .vc-text-underline:before,
vc-text[theme="noire"].focus .vc-text-underline:after {
  width: 50%;
}
vc-text[theme="noire"][disabled="true"] {
  pointer-events: none;
}
vc-text[theme="noire"].disabled .vc-text-editable:empty:before {
  content: attr(placeholder);
}
