html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main {
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  color: #e6e6e6;
  box-sizing: border-box;
  overflow: auto;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
  flex-wrap: wrap;
  width: 100%;
  color: #e6e6e6;
  box-sizing: border-box;
  overflow: auto;
}
.form {
  height: 350px;
  width: 500px;
  background-color: #424242;
  color: white;
  font-size: 13px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.lightForm {
  background-color: #ececec;
  color: #1b1b1b;
  margin-left: 20px;
}
.horizontalForm {
  flex-direction: row;
}
.content {
  height: 100px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.horizontalContent{
  height: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 50px;
}
@media (max-width: 400px) {
 .content.horizontalContent {
   min-width: 10px;
   width: 50px;
 }
}
@media (max-width: 1075px) {
 .form{
   width: 100%;
 }
 .lightForm{
   margin-left: 0;
 }
}
.twoRows {
  flex-direction: row;
  flex-wrap: wrap;
}
