vc-grid[theme="noire"] {


  & {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  vc-scroll {
    flex-grow: 1;
  }

  vc-row {
    display: flex;
    flex-direction: row;
  }

  vc-cell {
    display: flex;
    box-sizing: border-box;
    min-width: 150px;
    word-break: break-all;

    align-items: center;
    flex-basis: 150px;
    flex-grow: 1;
    justify-content: center;
  }

  &[editable="true"] vc-cell:hover {
    background: #2f2f2f;
  }

  .cellContent {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    outline-color: @gridFontColor;
  }

  .header {
    display: flex;
    flex-direction: column;
    min-height: 50px;

    flex-grow: 0;
  }

  .header .wrapper {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    background-color: @gridHeader;

    align-items: center;
    flex-grow: 0;
  }

  .header .wrapper vc-cell {
    position: relative;
    height: 100%;
    min-height: 50px;
    color: @color01;
  }

  .header .wrapper vc-cell:hover {
    cursor: pointer;
    background-color: @gridHoverBackgroundColor;
  }

  .sortIcon {
    position: absolute;
    right: 10px;
  }

  .autofitRows {
    overflow-y: hidden;
  }

  .entryRow:first-child {
    border-top: 1px solid @gridEntriesBorderColor;
  }

  .entryRow {
    box-sizing: border-box;
    min-height: 50px;
    border-bottom: 1px solid @gridEntriesBorderColor;
  }

  .entryRow:hover {
    background-color: @gridHoverBackgroundColor;
  }

  .entryRow:hover vc-cell {
    border-color: transparent;
  }

  .entryRow vc-cell {
    min-height: 100%;
    color: @gridFontColor;
    border-right: 1px solid @gridEntriesBorderColor;
  }

  .entryRow vc-cell:last-child {
    border: none;
  }

  .autofit {
    flex-grow: 1;
  }

  .dummyRow {
    min-height: 50px;
    border: none;
  }

  .footer {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    padding: 0 20px;
    background-color: @gridFooter;

    align-items: center;
    flex-grow: 0;
    justify-content: flex-end;
  }

  .entriesCount {
    color: @gridFontColor;
  }

  .pagControls {
    display: flex;
    flex-direction: row;
    color: @gridFontColor;

    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .pagIcon {
    margin: 0 5px;
    cursor: pointer;
  }

  .pagIcon:first-child {
    margin-left: 0;
  }

  .pagControls .pagIcon:hover {
    color: white;
  }

  .disabled {
    cursor: default;
    color: @gridDisasbled !important;
  }

  .expanded {
    visibility: visible;
  }

  .currentPage {
    display: flex;
    box-sizing: border-box;
    padding: 5px 0;

    align-items: center;
    justify-content: center;
  }

  .currentPage:hover {
    cursor: pointer;
    border: 2px solid @gridHoverBackgroundColor;
  }

  .page {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 25px;
    padding: 5px 0;

    align-items: center;
    justify-content: center;
  }

  .page:hover {
    cursor: pointer;
    background-color: @gridHoverBackgroundColor;
  }

  .page.selected {
    background-color: @gridHoverBackgroundColor;
  }

  .resizeIndicator {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -7px;
    bottom: 0;
    width: 15px;
    cursor: col-resize;
    background-color: transparent;
  }

  .resizingHeader {
    background-color: @gridHoverBackgroundColor;
  }

  .rows {
    display: flex;
    overflow-x: auto;
    flex-direction: column;

    flex-grow: 1;
  }

  .rows .wrapper {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;

    flex-grow: 1;
  }

  .stripPageSelector {
    display: flex;
    flex-direction: row;
  }

  .stripPage {
    display: flex;
    box-sizing: border-box;
    width: 28px;
    height: 28px;

    align-items: center;
    justify-content: center;
  }

  .stripPage:hover {
    cursor: pointer;
    border: 2px solid @gridHoverBackgroundColor;
  }

  .stripPageSelector .currentPage {
    color: #e2e2e2;
    background-color: @gridHoverBackgroundColor;
  }

  .stripPageSelector .currentPage:hover {
    cursor: default;
    border: none;
  }

  .inputPageSelector {
    display: flex;
    flex-direction: row;
    min-width: 80px;
    height: 28px;
    padding: 0 5px;
    background-color: #2f2f2f;

    align-items: center;
    justify-content: center;
  }

  .inputPageSelector .pageInput {
    box-sizing: border-box;
    text-align: center;
    border: 2px solid transparent;

    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
  }

  .inputPageSelector .pageInput:hover {
    border: 2px solid @gridHoverBackgroundColor;
  }

  .inputPageSelector .pageInput:focus {
    border: 2px solid @gridHoverBackgroundColor;
  }

  .inputPageSelector .separator {
    padding: 0 5px;
    cursor: default;
    text-align: center;

    align-items: center;
    flex-grow: 0;
    justify-content: center;
  }

  .inputPageSelector .totalPages {
    cursor: default;
    text-align: center;

    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
  }

  .unselectable {
    -webkit-user-select: none;
    /* Chrome/Safari */
       -moz-user-select: none;
    /* Firefox */
        -ms-user-select: none;
    /* IE10+ */
            user-select: none;
    /* Rules below not implemented in browsers yet */

         -o-user-select: none;
  }

  @media (max-width: 800px) {
    .pagControls {
      justify-content: center;
    }
    .entriesCount {
      display: none;
    }
  }


}
