/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
           radio, contextmenu, slider, treenode) */
eon-separator[theme="claro"],
div[data-theme="claro"] eon-separator,
body[data-theme="claro"] eon-separator {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}
eon-separator[theme="claro"].eon-separator-vertical,
div[data-theme="claro"] eon-separator.eon-separator-vertical,
body[data-theme="claro"] eon-separator.eon-separator-vertical {
  flex-direction: row;
  height: 100%;
  width: 1px;
  overflow-y: hidden;
  bottom: auto;
  left: auto;
  right: 0;
  top: 0;
}
eon-separator[theme="claro"] .eon-separator-bar,
div[data-theme="claro"] eon-separator .eon-separator-bar,
body[data-theme="claro"] eon-separator .eon-separator-bar {
  background-color: #525252;
  height: 100%;
  width: 100%;
  left: 0;
}
eon-separator[theme="claro"] .eon-separator-bar-full,
div[data-theme="claro"] eon-separator .eon-separator-bar-full,
body[data-theme="claro"] eon-separator .eon-separator-bar-full {
  left: 0;
}
eon-separator[theme="claro"] .eon-separator-bar-mid,
div[data-theme="claro"] eon-separator .eon-separator-bar-mid,
body[data-theme="claro"] eon-separator .eon-separator-bar-mid {
  left: auto;
}
eon-separator[theme="claro"] .eon-separator-bar-start,
div[data-theme="claro"] eon-separator .eon-separator-bar-start,
body[data-theme="claro"] eon-separator .eon-separator-bar-start {
  left: 0;
  align-self: flex-start;
}
eon-separator[theme="claro"] .eon-separator-bar-end,
div[data-theme="claro"] eon-separator .eon-separator-bar-end,
body[data-theme="claro"] eon-separator .eon-separator-bar-end {
  right: 0;
  align-self: flex-end;
}
