/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-grid[theme="claro"],
div[data-theme="claro"] eon-grid,
body[data-theme="claro"] eon-grid {
  color: #888888;
}
eon-grid[theme="claro"][editable="true"] eon-cell:hover,
div[data-theme="claro"] eon-grid[editable="true"] eon-cell:hover,
body[data-theme="claro"] eon-grid[editable="true"] eon-cell:hover {
  background: #ddf5ff;
}
eon-grid[theme="claro"] .eon-grid-header .eon-grid-wrapper eon-cell:hover,
div[data-theme="claro"] eon-grid .eon-grid-header .eon-grid-wrapper eon-cell:hover,
body[data-theme="claro"] eon-grid .eon-grid-header .eon-grid-wrapper eon-cell:hover {
  background-color: #ddf5ff;
}
eon-grid[theme="claro"] .eon-grid-entryRow:first-child,
div[data-theme="claro"] eon-grid .eon-grid-entryRow:first-child,
body[data-theme="claro"] eon-grid .eon-grid-entryRow:first-child {
  border-top: 1px solid #ddf5ff;
}
eon-grid[theme="claro"] .eon-grid-entryRow eon-cell,
div[data-theme="claro"] eon-grid .eon-grid-entryRow eon-cell,
body[data-theme="claro"] eon-grid .eon-grid-entryRow eon-cell {
  border-right: 1px solid #ddf5ff;
}
eon-grid[theme="claro"] .eon-row-dropdown,
div[data-theme="claro"] eon-grid .eon-row-dropdown,
body[data-theme="claro"] eon-grid .eon-row-dropdown {
  background: #ddf5ff;
}
eon-grid[theme="claro"] .eon-grid-disabled,
div[data-theme="claro"] eon-grid .eon-grid-disabled,
body[data-theme="claro"] eon-grid .eon-grid-disabled {
  color: #888888 !important;
}
