/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
           radio, contextmenu, slider, treenode) */
eon-text[theme="claro"],
div[data-theme="claro"] eon-text,
body[data-theme="claro"] eon-text {
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
}
eon-text[theme="claro"] .eon-text-editable:empty:before,
div[data-theme="claro"] eon-text .eon-text-editable:empty:before,
body[data-theme="claro"] eon-text .eon-text-editable:empty:before {
  content: attr(placeholder);
  color: #9a9a9a;
}
eon-text[theme="claro"] ::-webkit-input-placeholder,
div[data-theme="claro"] eon-text ::-webkit-input-placeholder,
body[data-theme="claro"] eon-text ::-webkit-input-placeholder {
  color: #9a9a9a;
}
eon-text[theme="claro"] :-moz-placeholder,
div[data-theme="claro"] eon-text :-moz-placeholder,
body[data-theme="claro"] eon-text :-moz-placeholder {
  color: #9a9a9a;
}
eon-text[theme="claro"] ::-moz-placeholder,
div[data-theme="claro"] eon-text ::-moz-placeholder,
body[data-theme="claro"] eon-text ::-moz-placeholder {
  color: #9a9a9a;
}
eon-text[theme="claro"] :-ms-input-placeholder,
div[data-theme="claro"] eon-text :-ms-input-placeholder,
body[data-theme="claro"] eon-text :-ms-input-placeholder {
  color: #9a9a9a !important;
}
eon-text[theme="claro"] .eon-text-underline:before,
div[data-theme="claro"] eon-text .eon-text-underline:before,
body[data-theme="claro"] eon-text .eon-text-underline:before,
eon-text[theme="claro"] .eon-text-underline:after,
div[data-theme="claro"] eon-text .eon-text-underline:after,
body[data-theme="claro"] eon-text .eon-text-underline:after {
  background: #57cde3;
}
eon-text[theme="claro"].eon-text-focus .eon-text-label,
div[data-theme="claro"] eon-text.eon-text-focus .eon-text-label,
body[data-theme="claro"] eon-text.eon-text-focus .eon-text-label,
eon-text[theme="claro"].eon-text-focus .eon-text-counter,
div[data-theme="claro"] eon-text.eon-text-focus .eon-text-counter,
body[data-theme="claro"] eon-text.eon-text-focus .eon-text-counter {
  color: #57cde3;
}
eon-text[theme="claro"].eon-text-error .eon-text-label,
div[data-theme="claro"] eon-text.eon-text-error .eon-text-label,
body[data-theme="claro"] eon-text.eon-text-error .eon-text-label,
eon-text[theme="claro"].eon-text-error .eon-text-counter,
div[data-theme="claro"] eon-text.eon-text-error .eon-text-counter,
body[data-theme="claro"] eon-text.eon-text-error .eon-text-counter,
eon-text[theme="claro"].eon-text-error .eon-text-description,
div[data-theme="claro"] eon-text.eon-text-error .eon-text-description,
body[data-theme="claro"] eon-text.eon-text-error .eon-text-description {
  color: #c33232;
}
eon-text[theme="claro"].eon-text-error .eon-text-main,
div[data-theme="claro"] eon-text.eon-text-error .eon-text-main,
body[data-theme="claro"] eon-text.eon-text-error .eon-text-main {
  border-bottom: 1px solid #c33232;
}
eon-text[theme="claro"].eon-text-error .eon-text-underline:before,
div[data-theme="claro"] eon-text.eon-text-error .eon-text-underline:before,
body[data-theme="claro"] eon-text.eon-text-error .eon-text-underline:before,
eon-text[theme="claro"].eon-text-error .eon-text-underline:after,
div[data-theme="claro"] eon-text.eon-text-error .eon-text-underline:after,
body[data-theme="claro"] eon-text.eon-text-error .eon-text-underline:after {
  background: #c33232;
}
eon-text[theme="claro"] .eon-text-label.eon-text-movedLabel,
div[data-theme="claro"] eon-text .eon-text-label.eon-text-movedLabel,
body[data-theme="claro"] eon-text .eon-text-label.eon-text-movedLabel {
  color: #9a9a9a;
}
eon-text[theme="claro"][disabled="true"] .eon-text-editable:empty:before,
div[data-theme="claro"] eon-text[disabled="true"] .eon-text-editable:empty:before,
body[data-theme="claro"] eon-text[disabled="true"] .eon-text-editable:empty:before {
  color: #9a9a9a;
}
eon-text[theme="claro"][disabled="true"] ::-webkit-input-placeholder,
div[data-theme="claro"] eon-text[disabled="true"] ::-webkit-input-placeholder,
body[data-theme="claro"] eon-text[disabled="true"] ::-webkit-input-placeholder {
  color: #9a9a9a;
}
eon-text[theme="claro"][disabled="true"] :-moz-placeholder,
div[data-theme="claro"] eon-text[disabled="true"] :-moz-placeholder,
body[data-theme="claro"] eon-text[disabled="true"] :-moz-placeholder {
  color: #9a9a9a;
}
eon-text[theme="claro"][disabled="true"] ::-moz-placeholder,
div[data-theme="claro"] eon-text[disabled="true"] ::-moz-placeholder,
body[data-theme="claro"] eon-text[disabled="true"] ::-moz-placeholder {
  color: #9a9a9a;
}
eon-text[theme="claro"][disabled="true"] :-ms-input-placeholder,
div[data-theme="claro"] eon-text[disabled="true"] :-ms-input-placeholder,
body[data-theme="claro"] eon-text[disabled="true"] :-ms-input-placeholder {
  color: #9a9a9a !important;
}
eon-text[theme="claro"] input:disabled,
div[data-theme="claro"] eon-text input:disabled,
body[data-theme="claro"] eon-text input:disabled {
  -webkit-text-fill-color: #cecece;
  /* Override iOS / Android font color change */
  -webkit-opacity: 1;
  /* Override iOS opacity change affecting text & background color */
}
