@import "variables";
@element: eon-tree;

eon-tree[theme="@{theme}"],
div[data-theme="@{theme}"] eon-tree,
body[data-theme="@{theme}"] eon-tree {
  & {
    height: 100%;
  }
  .@{element}-tree .@{element}-wrapper{
    transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 0);;
  }
}
