/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-separator[theme="hotel"] {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}
eon-separator[theme="hotel"].eon-separator-vertical {
  flex-direction: row;
  height: 100%;
  width: 1px;
  overflow-y: hidden;
  bottom: auto;
  left: auto;
  right: 0;
  top: 0;
}
eon-separator[theme="hotel"] .eon-separator-bar {
  background-color: #525252;
  height: 100%;
  width: 100%;
  left: 0;
}
eon-separator[theme="hotel"] .eon-separator-bar-full {
  left: 0;
}
eon-separator[theme="hotel"] .eon-separator-bar-mid {
  left: auto;
}
eon-separator[theme="hotel"] .eon-separator-bar-start {
  left: 0;
  align-self: flex-start;
}
eon-separator[theme="hotel"] .eon-separator-bar-end {
  right: 0;
  align-self: flex-end;
}
