/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-datepicker[theme="hotel"] .eon-datepicker-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
}
eon-datepicker[theme="hotel"] .eon-datepicker-calendar .eon-datepicker-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  cursor: default;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
eon-datepicker[theme="hotel"] .eon-datepicker-header {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  display: flex;
  width: 100%;
  height: 18%;
  min-height: 32px;
  max-height: 60px;
  text-transform: capitalize;
  color: white;
  background-color: #333333;
  align-items: center;
  justify-content: center;
}
eon-datepicker[theme="hotel"] .eon-datepicker-header div[data-disabled="true"]:hover {
  cursor: default;
  text-decoration: none;
}
eon-datepicker[theme="hotel"] .eon-datepicker-header .eon-datepicker-month:hover,
eon-datepicker[theme="hotel"] .eon-datepicker-header .eon-datepicker-year:hover {
  text-decoration: underline;
}
eon-datepicker[theme="hotel"] .eon-datepicker-header .hidden {
  display: none;
}
eon-datepicker[theme="hotel"] .eon-datepicker-daysGridSelectors,
eon-datepicker[theme="hotel"] .eon-datepicker-monthsGridSelectors,
eon-datepicker[theme="hotel"] .eon-datepicker-yearsGridSelectors {
  display: flex;
  height: 100%;
  top: 0;
  bottom: 0;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
eon-datepicker[theme="hotel"] .eon-datepicker-daysGridSelectors .eon-datepicker-month {
  display: flex;
  height: 100%;
  padding-right: 1.5%;
  cursor: pointer;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}
eon-datepicker[theme="hotel"] .eon-datepicker-monthsGridSelectors .eon-datepicker-month {
  display: none;
}
eon-datepicker[theme="hotel"] .eon-datepicker-daysGridSelectors .eon-datepicker-year {
  display: flex;
  height: 100%;
  padding-left: 1.5%;
  cursor: pointer;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}
eon-datepicker[theme="hotel"] .eon-datepicker-monthsGridSelectors .eon-datepicker-year {
  display: flex;
  height: 100%;
  cursor: pointer;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
eon-datepicker[theme="hotel"] .eon-datepicker-yearsGridSelectors .eon-datepicker-year:hover {
  cursor: default;
  text-decoration: none;
}
eon-datepicker[theme="hotel"] .eon-datepicker-leftNavigation {
  position: absolute;
  left: 0;
  display: flex;
  width: 22%;
  max-width: 120px;
  height: 100%;
  top: 0;
  bottom: 0;
}
eon-datepicker[theme="hotel"] .eon-datepicker-rightNavigation {
  position: absolute;
  right: 0;
  display: flex;
  width: 22%;
  max-width: 120px;
  height: 100%;
  top: 0;
  bottom: 0;
  justify-content: flex-end;
}
eon-datepicker[theme="hotel"] .eon-datepicker-previous,
eon-datepicker[theme="hotel"] .eon-datepicker-next,
eon-datepicker[theme="hotel"] .eon-datepicker-back,
eon-datepicker[theme="hotel"] .eon-datepicker-close {
  display: flex;
  width: 50%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
}
eon-datepicker[theme="hotel"] .eon-datepicker-previous:hover,
eon-datepicker[theme="hotel"] .eon-datepicker-next:hover,
eon-datepicker[theme="hotel"] .eon-datepicker-back:hover,
eon-datepicker[theme="hotel"] .eon-datepicker-close:hover {
  background-color: #404040;
}
eon-datepicker[theme="hotel"] .eon-datepicker-body {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px;
  min-height: 140px;
  color: white;
  background-color: #404040;
  flex-grow: 1;
}
eon-datepicker[theme="hotel"] .eon-datepicker-daysGrid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
eon-datepicker[theme="hotel"] .eon-datepicker-daysGrid .eon-datepicker-weekDays {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 15%;
  margin-bottom: 10px;
  text-transform: capitalize;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
}
eon-datepicker[theme="hotel"] .eon-datepicker-daysGrid .eon-datepicker-grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
eon-datepicker[theme="hotel"] .eon-datepicker-row {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
eon-datepicker[theme="hotel"] .eon-datepicker-body .eon-datepicker-row div {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
}
eon-datepicker[theme="hotel"] .eon-datepicker-body .eon-datepicker-row div:hover {
  cursor: pointer;
  background-color: #18c796;
}
eon-datepicker[theme="hotel"] .eon-datepicker-monthsGrid,
eon-datepicker[theme="hotel"] .eon-datepicker-yearsGrid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  opacity: 0;
  background-color: #404040;
}
eon-datepicker[theme="hotel"] .eon-datepicker-dayHeader {
  display: flex;
  height: 100%;
  cursor: default;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
eon-datepicker[theme="hotel"] .eon-datepicker-week {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
eon-datepicker[theme="hotel"] .eon-datepicker-day {
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
}
eon-datepicker[theme="hotel"] .eon-datepicker-day:hover {
  cursor: pointer;
  color: white;
  background-color: #18c796;
}
eon-datepicker[theme="hotel"] .eon-datepicker-previousMonth,
eon-datepicker[theme="hotel"] .eon-datepicker-nextMonth {
  color: #6f6f6f;
}
eon-datepicker[theme="hotel"] .eon-datepicker-current {
  background-color: #18c796;
}
eon-datepicker[theme="hotel"] .eon-datepicker-leftNavigation div[data-disabled="true"] {
  color: #6f6f6f;
}
eon-datepicker[theme="hotel"] .eon-datepicker-leftNavigation div[data-disabled="true"]:hover {
  cursor: default;
  background-color: transparent;
}
eon-datepicker[theme="hotel"] .eon-datepicker-body div.eon-datepicker-day[data-disabled="true"] {
  text-decoration: line-through;
  color: #6f6f6f;
}
eon-datepicker[theme="hotel"] .eon-datepicker-body div.eon-datepicker-day[data-disabled="true"]:hover {
  cursor: default;
  color: #6f6f6f;
  background-color: transparent;
}
eon-datepicker[theme="hotel"] .eon-datepicker-body div.eon-datepicker-month[data-disabled="true"] {
  text-decoration: line-through;
  color: #6f6f6f;
}
eon-datepicker[theme="hotel"] .eon-datepicker-body div.eon-datepicker-month[data-disabled="true"]:hover {
  cursor: default;
  color: #6f6f6f;
  background-color: transparent;
}
eon-datepicker[theme="hotel"] .eon-datepicker-body div.eon-datepicker-year[data-disabled="true"] {
  text-decoration: line-through;
  color: #6f6f6f;
}
eon-datepicker[theme="hotel"] .eon-datepicker-body div.eon-datepicker-year[data-disabled="true"]:hover {
  cursor: default;
  color: #6f6f6f;
  background-color: transparent;
}
eon-datepicker[theme="hotel"] .eon-datepicker-leftNavigation div[data-hidden="true"] {
  display: none;
}
