/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-treenode[theme="claro"] .eon-treenode-selected::before,
div[data-theme="claro"] eon-treenode .eon-treenode-selected::before,
body[data-theme="claro"] eon-treenode .eon-treenode-selected::before,
eon-treenode[theme="claro"] .eon-treenode-selected:hover::before,
div[data-theme="claro"] eon-treenode .eon-treenode-selected:hover::before,
body[data-theme="claro"] eon-treenode .eon-treenode-selected:hover::before {
  background-color: #bef2ff;
}
eon-treenode[theme="claro"] .eon-treenode-head:hover::before,
div[data-theme="claro"] eon-treenode .eon-treenode-head:hover::before,
body[data-theme="claro"] eon-treenode .eon-treenode-head:hover::before {
  background-color: #ddf5ff;
}
eon-treenode[theme="claro"] .eon-treenode-selected:hover::before,
div[data-theme="claro"] eon-treenode .eon-treenode-selected:hover::before,
body[data-theme="claro"] eon-treenode .eon-treenode-selected:hover::before {
  background-color: #bef2ff;
}
eon-treenode[theme="claro"] .eon-treenode-head:hover .eon-treenode-name,
div[data-theme="claro"] eon-treenode .eon-treenode-head:hover .eon-treenode-name,
body[data-theme="claro"] eon-treenode .eon-treenode-head:hover .eon-treenode-name {
  color: #444444;
}
eon-treenode[theme="claro"] .eon-treenode-head:hover i,
div[data-theme="claro"] eon-treenode .eon-treenode-head:hover i,
body[data-theme="claro"] eon-treenode .eon-treenode-head:hover i {
  color: #444444;
}
eon-treenode[theme="claro"] .eon-treenode-selected:hover .eon-treenode-name,
div[data-theme="claro"] eon-treenode .eon-treenode-selected:hover .eon-treenode-name,
body[data-theme="claro"] eon-treenode .eon-treenode-selected:hover .eon-treenode-name {
  color: #444444;
}
