/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-tree[theme="hotel"] {
  height: 100%;
}
eon-tree[theme="hotel"] .eon-tree-tree {
  position: relative;
  padding: 10px 5px;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  overflow: auto;
}
eon-tree[theme="hotel"] .eon-tree-tree .eon-tree-wrapper {
  transition: max-height 0.3s;
}
