/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
           radio, contextmenu, slider, treenode) */
eon-sticky[theme="claro"] .eon-sticky-stickyWrapper,
div[data-theme="claro"] eon-sticky .eon-sticky-stickyWrapper,
body[data-theme="claro"] eon-sticky .eon-sticky-stickyWrapper {
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
}
