/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-scroll {
  max-height: 250px;
}
eon-contextmenu[theme="hotel"] {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  white-space: nowrap;
}
eon-contextmenu[theme="hotel"][visible="true"] {
  display: flex;
}
eon-contextmenu[theme="hotel"] .eon-contextmenu-wrapper {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
eon-contextmenu[theme="hotel"] eon-scroll {
  max-height: 250px;
}
eon-contextmenu[theme="hotel"] .eon-contextmenu-contextmenu {
  z-index: 100;
  overflow: auto;
  word-break: break-all;
  background-color: #2d2d2d;
}
eon-contextmenu[theme="hotel"] .eon-contextmenu-itemSpan {
  margin: 0 10px;
}
eon-contextmenu[theme="hotel"] .eon-contextmenu-itemIcon {
  font-size: 20px !important;
  width: 20px;
  height: 20px;
}
eon-contextmenu[theme="hotel"][clickOpen="true"] {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  align-items: center;
  justify-content: center;
}
eon-contextmenu[theme="hotel"][clickOpen="true"] .eon-contextmenu-wrapper {
  min-width: 400px;
}
eon-contextmenu[theme="hotel"] .eon-contextmenu-close {
  display: flex;
  padding: 5px;
  background-color: #2d2d2d;
  justify-content: flex-end;
}
eon-contextmenu[theme="hotel"] .eon-contextmenu-closeIcon {
  cursor: pointer;
}
@media (max-width: 800px) {
  eon-contextmenu[theme="hotel"][clickOpen="true"] .eon-contextmenu-wrapper {
    width: calc(100% - 400px);
    min-width: 350px;
  }
  eon-contextmenu[theme="hotel"] eon-scroll {
    max-height: 150px;
  }
}
@media (max-width: 450px) {
  eon-contextmenu[theme="hotel"][clickOpen="true"] .eon-contextmenu-wrapper {
    width: calc(100% - 100px);
    min-width: inherit;
  }
  eon-contextmenu[theme="hotel"] eon-scroll {
    max-height: 250px;
  }
}
eon-item {
  display: flex !important;
  flex-direction: row;
  height: 48px;
  padding: 0 16px;
  text-decoration: none;
  align-items: center;
}
eon-item:hover {
  cursor: pointer;
  background-color: #353535;
}
