/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
           radio, contextmenu, slider, treenode) */
eon-combobox[theme="claro"],
eon-overlay[theme="claro"],
div[data-theme="claro"] eon-combobox,
body[data-theme="claro"] eon-combobox {
  /* - Chrome ≤56,
  - Safari 5-10.0
  - iOS Safari 4.2-10.2
  - Opera 15-43
  - Opera Mobile >12
  - Android Browser 2.1-4.4.4
  - Samsung Internet
  - UC Browser for Android
  - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
  - Internet Explorer Mobile 10-11 */
}
eon-combobox[theme="claro"] ::-webkit-input-placeholder,
eon-overlay[theme="claro"] ::-webkit-input-placeholder,
div[data-theme="claro"] eon-combobox ::-webkit-input-placeholder,
body[data-theme="claro"] eon-combobox ::-webkit-input-placeholder {
  color: #9a9a9a;
}
eon-combobox[theme="claro"] :-moz-placeholder,
eon-overlay[theme="claro"] :-moz-placeholder,
div[data-theme="claro"] eon-combobox :-moz-placeholder,
body[data-theme="claro"] eon-combobox :-moz-placeholder {
  color: #9a9a9a;
}
eon-combobox[theme="claro"] ::-moz-placeholder,
eon-overlay[theme="claro"] ::-moz-placeholder,
div[data-theme="claro"] eon-combobox ::-moz-placeholder,
body[data-theme="claro"] eon-combobox ::-moz-placeholder {
  color: #9a9a9a;
}
eon-combobox[theme="claro"] :-ms-input-placeholder,
eon-overlay[theme="claro"] :-ms-input-placeholder,
div[data-theme="claro"] eon-combobox :-ms-input-placeholder,
body[data-theme="claro"] eon-combobox :-ms-input-placeholder {
  color: #9a9a9a !important;
}
eon-combobox[theme="claro"].eon-combobox-focus .eon-combobox-label,
eon-overlay[theme="claro"].eon-combobox-focus .eon-combobox-label,
div[data-theme="claro"] eon-combobox.eon-combobox-focus .eon-combobox-label,
body[data-theme="claro"] eon-combobox.eon-combobox-focus .eon-combobox-label {
  color: #57cde3;
}
eon-combobox[theme="claro"] .eon-combobox-underline:before,
eon-overlay[theme="claro"] .eon-combobox-underline:before,
div[data-theme="claro"] eon-combobox .eon-combobox-underline:before,
body[data-theme="claro"] eon-combobox .eon-combobox-underline:before,
eon-combobox[theme="claro"] .eon-combobox-underline:after,
eon-overlay[theme="claro"] .eon-combobox-underline:after,
div[data-theme="claro"] eon-combobox .eon-combobox-underline:after,
body[data-theme="claro"] eon-combobox .eon-combobox-underline:after {
  background: #57cde3;
}
eon-combobox[theme="claro"].eon-combobox-error .eon-combobox-label,
eon-overlay[theme="claro"].eon-combobox-error .eon-combobox-label,
div[data-theme="claro"] eon-combobox.eon-combobox-error .eon-combobox-label,
body[data-theme="claro"] eon-combobox.eon-combobox-error .eon-combobox-label,
eon-combobox[theme="claro"].eon-combobox-error .eon-combobox-description,
eon-overlay[theme="claro"].eon-combobox-error .eon-combobox-description,
div[data-theme="claro"] eon-combobox.eon-combobox-error .eon-combobox-description,
body[data-theme="claro"] eon-combobox.eon-combobox-error .eon-combobox-description {
  color: #c33232;
}
eon-combobox[theme="claro"].eon-combobox-error .eon-combobox-main,
eon-overlay[theme="claro"].eon-combobox-error .eon-combobox-main,
div[data-theme="claro"] eon-combobox.eon-combobox-error .eon-combobox-main,
body[data-theme="claro"] eon-combobox.eon-combobox-error .eon-combobox-main {
  border-bottom: 1px solid #c33232;
}
eon-combobox[theme="claro"].eon-combobox-error .eon-combobox-underline:before,
eon-overlay[theme="claro"].eon-combobox-error .eon-combobox-underline:before,
div[data-theme="claro"] eon-combobox.eon-combobox-error .eon-combobox-underline:before,
body[data-theme="claro"] eon-combobox.eon-combobox-error .eon-combobox-underline:before,
eon-combobox[theme="claro"].eon-combobox-error .eon-combobox-underline:after,
eon-overlay[theme="claro"].eon-combobox-error .eon-combobox-underline:after,
div[data-theme="claro"] eon-combobox.eon-combobox-error .eon-combobox-underline:after,
body[data-theme="claro"] eon-combobox.eon-combobox-error .eon-combobox-underline:after {
  background: #c33232;
}
eon-combobox[theme="claro"] .eon-combobox-dropdown eon-item,
eon-overlay[theme="claro"] .eon-combobox-dropdown eon-item,
div[data-theme="claro"] eon-combobox .eon-combobox-dropdown eon-item,
body[data-theme="claro"] eon-combobox .eon-combobox-dropdown eon-item {
  background-position: center;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-combobox[theme="claro"] .eon-combobox-dropdown eon-item:hover,
eon-overlay[theme="claro"] .eon-combobox-dropdown eon-item:hover,
div[data-theme="claro"] eon-combobox .eon-combobox-dropdown eon-item:hover,
body[data-theme="claro"] eon-combobox .eon-combobox-dropdown eon-item:hover {
  background: #bef2ff radial-gradient(circle, transparent 1%, #bef2ff 1%) center / 15000%;
}
eon-combobox[theme="claro"] .eon-combobox-dropdown eon-item:active,
eon-overlay[theme="claro"] .eon-combobox-dropdown eon-item:active,
div[data-theme="claro"] eon-combobox .eon-combobox-dropdown eon-item:active,
body[data-theme="claro"] eon-combobox .eon-combobox-dropdown eon-item:active {
  background-color: #e6fbff;
  background-size: 100%;
  transition: background 0s;
}
eon-combobox[theme="claro"] .eon-combobox-label.eon-combobox-movedLabel,
eon-overlay[theme="claro"] .eon-combobox-label.eon-combobox-movedLabel,
div[data-theme="claro"] eon-combobox .eon-combobox-label.eon-combobox-movedLabel,
body[data-theme="claro"] eon-combobox .eon-combobox-label.eon-combobox-movedLabel {
  color: #9a9a9a;
}
