/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
           radio, contextmenu, slider, treenode) */
eon-drawer[theme="claro"],
div[data-theme="claro"] eon-drawer,
body[data-theme="claro"] eon-drawer {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  transition: transform 0.2s;
  z-index: 1;
}
eon-drawer[theme="claro"][type="right"],
div[data-theme="claro"] eon-drawer[type="right"],
body[data-theme="claro"] eon-drawer[type="right"] {
  right: 0;
  left: auto;
}
eon-drawer[theme="claro"][type="top"],
div[data-theme="claro"] eon-drawer[type="top"],
body[data-theme="claro"] eon-drawer[type="top"] {
  left: auto;
  right: auto;
  width: 100%;
  height: 250px;
}
eon-drawer[theme="claro"][type="bottom"],
div[data-theme="claro"] eon-drawer[type="bottom"],
body[data-theme="claro"] eon-drawer[type="bottom"] {
  top: auto;
  bottom: 0;
  left: auto;
  width: 100%;
  height: 250px;
}
eon-drawer[theme="claro"] .eon-drawer-static,
div[data-theme="claro"] eon-drawer .eon-drawer-static,
body[data-theme="claro"] eon-drawer .eon-drawer-static {
  position: relative;
  z-index: inherit;
}
