/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-toggle[theme="claro"] .eon-toggle-circle,
div[data-theme="claro"] eon-toggle .eon-toggle-circle,
body[data-theme="claro"] eon-toggle .eon-toggle-circle {
  background: #888888;
}
eon-toggle[theme="claro"][checked="true"] .eon-toggle-circle,
div[data-theme="claro"] eon-toggle[checked="true"] .eon-toggle-circle,
body[data-theme="claro"] eon-toggle[checked="true"] .eon-toggle-circle {
  background: #47cce2;
}
eon-toggle[theme="claro"] .eon-toggle-input:checked ~ .eon-toggle-label .eon-toggle-span,
div[data-theme="claro"] eon-toggle .eon-toggle-input:checked ~ .eon-toggle-label .eon-toggle-span,
body[data-theme="claro"] eon-toggle .eon-toggle-input:checked ~ .eon-toggle-label .eon-toggle-span {
  background: #bef2ff;
}
eon-toggle[theme="claro"] .eon-toggle-input:disabled ~ .eon-toggle-label .eon-toggle-span,
div[data-theme="claro"] eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label .eon-toggle-span,
body[data-theme="claro"] eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label .eon-toggle-span {
  background: #cecece;
}
eon-toggle[theme="claro"] .eon-toggle-input:disabled ~ .eon-toggle-label::after,
div[data-theme="claro"] eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label::after,
body[data-theme="claro"] eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label::after {
  background: #9a9a9a;
}
eon-toggle[theme="claro"] .eon-toggle-input[type="checkbox"]:disabled + .eon-toggle-label::after,
div[data-theme="claro"] eon-toggle .eon-toggle-input[type="checkbox"]:disabled + .eon-toggle-label::after,
body[data-theme="claro"] eon-toggle .eon-toggle-input[type="checkbox"]:disabled + .eon-toggle-label::after {
  background: #9a9a9a;
}
eon-toggle[theme="claro"] .eon-toggle-input[type="checkbox"]:disabled ~ .eon-toggle-label .eon-toggle-circle,
div[data-theme="claro"] eon-toggle .eon-toggle-input[type="checkbox"]:disabled ~ .eon-toggle-label .eon-toggle-circle,
body[data-theme="claro"] eon-toggle .eon-toggle-input[type="checkbox"]:disabled ~ .eon-toggle-label .eon-toggle-circle {
  background: #cecece;
}
