/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
           radio, contextmenu, slider, treenode) */
eon-checkbox[theme="claro"],
div[data-theme="claro"] eon-checkbox,
body[data-theme="claro"] eon-checkbox {
  /* Create the tick inside the checkbox */
  /* Style of the box when the checkbox it's disabled */
  /* Box style when the checkbox it's checked and disabled */
}
eon-checkbox[theme="claro"] .eon-checkbox-checked[type="checkbox"] + .eon-checkbox-label:after,
div[data-theme="claro"] eon-checkbox .eon-checkbox-checked[type="checkbox"] + .eon-checkbox-label:after,
body[data-theme="claro"] eon-checkbox .eon-checkbox-checked[type="checkbox"] + .eon-checkbox-label:after {
  border: 2px solid #f1f0f0;
  border-top: none;
  border-right: none;
  background: transparent;
}
eon-checkbox[theme="claro"] .eon-checkbox-checked[type="checkbox"] + .eon-checkbox-label .eon-checkbox-span,
div[data-theme="claro"] eon-checkbox .eon-checkbox-checked[type="checkbox"] + .eon-checkbox-label .eon-checkbox-span,
body[data-theme="claro"] eon-checkbox .eon-checkbox-checked[type="checkbox"] + .eon-checkbox-label .eon-checkbox-span {
  background-color: #57cde3;
}
eon-checkbox[theme="claro"] .eon-checkbox-input[type="checkbox"]:disabled + .eon-checkbox-label span,
div[data-theme="claro"] eon-checkbox .eon-checkbox-input[type="checkbox"]:disabled + .eon-checkbox-label span,
body[data-theme="claro"] eon-checkbox .eon-checkbox-input[type="checkbox"]:disabled + .eon-checkbox-label span {
  border: 2px solid #cecece;
}
eon-checkbox[theme="claro"] .eon-checkbox-checked[type="checkbox"]:disabled + .eon-checkbox-label span,
div[data-theme="claro"] eon-checkbox .eon-checkbox-checked[type="checkbox"]:disabled + .eon-checkbox-label span,
body[data-theme="claro"] eon-checkbox .eon-checkbox-checked[type="checkbox"]:disabled + .eon-checkbox-label span {
  border: 2px solid #cecece;
  background-color: #cecece;
}
eon-checkbox[theme="claro"] .eon-checkbox-input:disabled + .eon-checkbox-label,
div[data-theme="claro"] eon-checkbox .eon-checkbox-input:disabled + .eon-checkbox-label,
body[data-theme="claro"] eon-checkbox .eon-checkbox-input:disabled + .eon-checkbox-label,
eon-checkbox[theme="claro"] .checkbox[type="checkbox"]:disabled + .eon-checkbox-label span,
div[data-theme="claro"] eon-checkbox .checkbox[type="checkbox"]:disabled + .eon-checkbox-label span,
body[data-theme="claro"] eon-checkbox .checkbox[type="checkbox"]:disabled + .eon-checkbox-label span,
eon-checkbox[theme="claro"] .eon-checkbox-input[type="checkbox"]:disabled + .eon-checkbox-label:after,
div[data-theme="claro"] eon-checkbox .eon-checkbox-input[type="checkbox"]:disabled + .eon-checkbox-label:after,
body[data-theme="claro"] eon-checkbox .eon-checkbox-input[type="checkbox"]:disabled + .eon-checkbox-label:after {
  color: #cecece;
}
eon-checkbox[theme="claro"] .eon-checkbox-span,
div[data-theme="claro"] eon-checkbox .eon-checkbox-span,
body[data-theme="claro"] eon-checkbox .eon-checkbox-span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
eon-checkbox[theme="claro"] .eon-checkbox-span::before,
div[data-theme="claro"] eon-checkbox .eon-checkbox-span::before,
body[data-theme="claro"] eon-checkbox .eon-checkbox-span::before {
  content: '';
  border-radius: 50px;
  position: absolute;
  box-sizing: border-box;
  transform: translate(-50%, -50%) scale(0);
  width: 1.8px;
  height: 1.8px;
  visibility: hidden;
}
eon-checkbox[theme="claro"][checked="true"] .eon-checkbox-span::before,
div[data-theme="claro"] eon-checkbox[checked="true"] .eon-checkbox-span::before,
body[data-theme="claro"] eon-checkbox[checked="true"] .eon-checkbox-span::before {
  background-color: rgba(133, 221, 236, 0.5);
  animation: ripple 0.5s ease-out;
}
eon-checkbox[theme="claro"][checked="false"] .eon-checkbox-span::before,
div[data-theme="claro"] eon-checkbox[checked="false"] .eon-checkbox-span::before,
body[data-theme="claro"] eon-checkbox[checked="false"] .eon-checkbox-span::before {
  background-color: rgba(222, 222, 222, 0.5);
  animation: ripple-deactive 0.5s ease-out;
}
eon-checkbox[theme="claro"].eon-ripple .eon-checkbox-span::before,
div[data-theme="claro"] eon-checkbox.eon-ripple .eon-checkbox-span::before,
body[data-theme="claro"] eon-checkbox.eon-ripple .eon-checkbox-span::before {
  visibility: visible;
}
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(15, 15);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(22, 22);
  }
}
@keyframes ripple-deactive {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(15, 15);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(22, 22);
  }
}
