/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-loader[theme="hotel"] {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
eon-loader[theme="hotel"].eon-loader-progress {
  top: auto;
  position: static;
}
eon-loader[theme="hotel"] .eon-loader-bar {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
eon-loader[theme="hotel"] .eon-loader-rail {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(121, 121, 121, 0.52);
  opacity: 0;
}
eon-loader[theme="hotel"] .eon-loader-loadingBar {
  height: 100%;
  width: 1px;
  transition: width 0s;
  z-index: 1;
}
eon-loader[theme="hotel"] .eon-loader-indicator {
  color: #d6d5d5;
  font-size: 15px;
  margin-top: 2px;
  margin-right: 5px;
  float: right;
}
