@import "variables.less";
@element: eon-gutter;

eon-gutter[theme="@{theme}"],
div[data-theme="@{theme}"] eon-gutter,
body[data-theme="@{theme}"] eon-gutter {

  .@{element}-splitterClickable:hover .@{element}-splitterCollapseIcon{
    color: @fg4-hoverable;
  }
  .@{element}-splitter.eon-sect1{
    background-color: @bg9;
  }

}