/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-drawer[theme="hotel"] {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  transition: transform 0.2s;
  z-index: 1;
}
eon-drawer[theme="hotel"][type="right"] {
  right: 0;
  left: auto;
}
eon-drawer[theme="hotel"][type="top"] {
  left: auto;
  right: auto;
  width: 100%;
  height: 250px;
}
eon-drawer[theme="hotel"][type="bottom"] {
  top: auto;
  bottom: 0;
  left: auto;
  width: 100%;
  height: 250px;
}
eon-drawer[theme="hotel"] .eon-drawer-static {
  position: relative;
  z-index: inherit;
}
