/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
           radio, contextmenu, slider, treenode) */
eon-grid[theme="claro"],
div[data-theme="claro"] eon-grid,
body[data-theme="claro"] eon-grid {
  color: #444444;
}
eon-grid[theme="claro"][editable="true"] eon-cell:hover,
div[data-theme="claro"] eon-grid[editable="true"] eon-cell:hover,
body[data-theme="claro"] eon-grid[editable="true"] eon-cell:hover {
  background: #ddf5ff;
}
eon-grid[theme="claro"] .eon-grid-header .eon-grid-wrapper eon-cell:hover,
div[data-theme="claro"] eon-grid .eon-grid-header .eon-grid-wrapper eon-cell:hover,
body[data-theme="claro"] eon-grid .eon-grid-header .eon-grid-wrapper eon-cell:hover {
  background-color: #ddf5ff;
}
eon-grid[theme="claro"] .eon-row-dropdown,
div[data-theme="claro"] eon-grid .eon-row-dropdown,
body[data-theme="claro"] eon-grid .eon-row-dropdown {
  background: #ddf5ff;
}
eon-grid[theme="claro"] .eon-grid-entryRow:first-child,
div[data-theme="claro"] eon-grid .eon-grid-entryRow:first-child,
body[data-theme="claro"] eon-grid .eon-grid-entryRow:first-child {
  border-top: 1px solid #ebebeb;
}
eon-grid[theme="claro"] .eon-grid-entryRow:not(.eon-bg2-active),
div[data-theme="claro"] eon-grid .eon-grid-entryRow:not(.eon-bg2-active),
body[data-theme="claro"] eon-grid .eon-grid-entryRow:not(.eon-bg2-active) {
  color: #767676;
}
eon-grid[theme="claro"] .eon-grid-entryRow,
div[data-theme="claro"] eon-grid .eon-grid-entryRow,
body[data-theme="claro"] eon-grid .eon-grid-entryRow {
  border-bottom: 1px solid #ebebeb;
}
eon-grid[theme="claro"] .eon-grid-expandedRow,
div[data-theme="claro"] eon-grid .eon-grid-expandedRow,
body[data-theme="claro"] eon-grid .eon-grid-expandedRow {
  border-width: 1px;
  border-style: solid;
  border-color: #57cde3;
}
