/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
/* Vimlet panel element */
eon-headerpanel[theme="hotel"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  background-color: white;
  position: relative;
  flex-direction: column;
  /* Header */
  /* Content panel */
  /* Content top shadow div */
  /* Floating button */
  /* Close button */
}
eon-headerpanel[theme="hotel"] .eon-headerpanel-header {
  display: none;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  background-color: #676767;
  color: #e4e4e4;
  font-weight: bold;
  font-family: arial;
  transition: height 0.2s;
}
eon-headerpanel[theme="hotel"] .eon-headerpanel-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-basis: 0;
}
eon-headerpanel[theme="hotel"] .eon-headerpanel-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12px;
}
eon-headerpanel[theme="hotel"] .eon-headerpanel-shadowDrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  opacity: 0;
  pointer-events: none;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s;
}
eon-headerpanel[theme="hotel"] .eon-headerpanel-actionButton {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background-color: #7687a7;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s, box-shadow 0.4s;
}
eon-headerpanel[theme="hotel"] .eon-headerpanel-actionButtonDark {
  background-color: #d3e2ff;
}
eon-headerpanel[theme="hotel"] .eon-headerpanel-actionButton:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
eon-headerpanel[theme="hotel"] .eon-headerpanel-closeButton {
  display: none;
  position: absolute;
  top: 14px;
  right: 10px;
  font-size: 20px;
  color: white;
  transition: box-shadow 0.2s;
  cursor: pointer;
}
eon-headerpanel[theme="hotel"] .eon-headerpanel-closeButtonDark {
  color: #525252;
}
eon-headerpanel[theme="hotel"] .eon-headerpanel-closeButton:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
