/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-menu[theme="claro"] .eon-menu-button:hover,
eon-overlay[theme="claro"] .eon-menu-button:hover,
div[data-theme="claro"] eon-menu .eon-menu-button:hover,
body[data-theme="claro"] eon-menu .eon-menu-button:hover {
  color: #47cce2;
}
eon-menu[theme="claro"] .eon-menu-page eon-item:hover,
eon-overlay[theme="claro"] .eon-menu-page eon-item:hover,
div[data-theme="claro"] eon-menu .eon-menu-page eon-item:hover,
body[data-theme="claro"] eon-menu .eon-menu-page eon-item:hover {
  color: #47cce2;
}
eon-menu[theme="claro"] eon-item,
eon-overlay[theme="claro"] eon-item,
div[data-theme="claro"] eon-menu eon-item,
body[data-theme="claro"] eon-menu eon-item {
  background-color: #f1fbff;
}
eon-menu[theme="claro"] eon-item:hover,
eon-overlay[theme="claro"] eon-item:hover,
div[data-theme="claro"] eon-menu eon-item:hover,
body[data-theme="claro"] eon-menu eon-item:hover {
  background-color: #ddf5ff !important;
}
