/*TEST*/
/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
eon-slider[theme="claro"].eon-slider-error .eon-slider-fill,
div[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-fill,
body[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-fill,
eon-slider[theme="claro"].eon-slider-error .eon-slider-thumb,
div[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-thumb,
body[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-thumb {
  background-color: #c33232;
}
eon-slider[theme="claro"].eon-slider-error .eon-slider-fill,
div[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-fill,
body[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-fill,
eon-slider[theme="claro"].eon-slider-error .eon-slider-thumb,
div[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-thumb,
body[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-thumb {
  background-color: #c33232;
}
eon-slider[theme="claro"].eon-slider-error .eon-slider-description,
div[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-description,
body[data-theme="claro"] eon-slider.eon-slider-error .eon-slider-description {
  color: #c33232;
}
