eon-stackcontainer[theme="claro"] {
  height: 100%;
  display: flex;
}
eon-stackcontainer[theme="claro"] > eon-container {
  width: 100%;
  height: 100%;
  display: none;
}
eon-stackcontainer[theme="claro"] eon-container.visible {
  display: block;
}
