/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
           radio, contextmenu, slider, treenode) */
eon-toggle[theme="claro"] .eon-toggle-circle,
div[data-theme="claro"] eon-toggle .eon-toggle-circle,
body[data-theme="claro"] eon-toggle .eon-toggle-circle {
  background: #ffffff;
}
eon-toggle[theme="claro"][checked="true"] .eon-toggle-circle,
div[data-theme="claro"] eon-toggle[checked="true"] .eon-toggle-circle,
body[data-theme="claro"] eon-toggle[checked="true"] .eon-toggle-circle {
  background: #57cde3;
}
eon-toggle[theme="claro"] .eon-toggle-input:checked ~ .eon-toggle-label .eon-toggle-span,
div[data-theme="claro"] eon-toggle .eon-toggle-input:checked ~ .eon-toggle-label .eon-toggle-span,
body[data-theme="claro"] eon-toggle .eon-toggle-input:checked ~ .eon-toggle-label .eon-toggle-span {
  background: #bef2ff;
}
eon-toggle[theme="claro"] .eon-toggle-input:disabled ~ .eon-toggle-label .eon-toggle-span,
div[data-theme="claro"] eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label .eon-toggle-span,
body[data-theme="claro"] eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label .eon-toggle-span {
  background: #cecece;
}
eon-toggle[theme="claro"] .eon-toggle-input:disabled ~ .eon-toggle-label::after,
div[data-theme="claro"] eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label::after,
body[data-theme="claro"] eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label::after {
  background: #9a9a9a;
}
eon-toggle[theme="claro"] .eon-toggle-input[type="checkbox"]:disabled + .eon-toggle-label::after,
div[data-theme="claro"] eon-toggle .eon-toggle-input[type="checkbox"]:disabled + .eon-toggle-label::after,
body[data-theme="claro"] eon-toggle .eon-toggle-input[type="checkbox"]:disabled + .eon-toggle-label::after {
  background: #9a9a9a;
}
eon-toggle[theme="claro"] .eon-toggle-input[type="checkbox"]:disabled ~ .eon-toggle-label .eon-toggle-circle,
div[data-theme="claro"] eon-toggle .eon-toggle-input[type="checkbox"]:disabled ~ .eon-toggle-label .eon-toggle-circle,
body[data-theme="claro"] eon-toggle .eon-toggle-input[type="checkbox"]:disabled ~ .eon-toggle-label .eon-toggle-circle {
  background: #a3a3a3;
}
eon-toggle[theme="claro"] .eon-toggle-input:disabled ~ .eon-toggle-label .eon-toggle-circle,
div[data-theme="claro"] eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label .eon-toggle-circle,
body[data-theme="claro"] eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label .eon-toggle-circle {
  background: #a3a3a3;
}
eon-toggle[theme="claro"] .eon-toggle-circle,
div[data-theme="claro"] eon-toggle .eon-toggle-circle,
body[data-theme="claro"] eon-toggle .eon-toggle-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
eon-toggle[theme="claro"] .eon-toggle-circle::before,
div[data-theme="claro"] eon-toggle .eon-toggle-circle::before,
body[data-theme="claro"] eon-toggle .eon-toggle-circle::before {
  content: '';
  border-radius: 50px;
  position: absolute;
  box-sizing: border-box;
  transform: translate(-50%, -50%) scale(0);
  width: 1.5px;
  height: 1.5px;
  visibility: hidden;
}
eon-toggle[theme="claro"][checked="true"] .eon-toggle-circle::before,
div[data-theme="claro"] eon-toggle[checked="true"] .eon-toggle-circle::before,
body[data-theme="claro"] eon-toggle[checked="true"] .eon-toggle-circle::before {
  background-color: rgba(133, 221, 236, 0.5);
  animation: ripple 0.5s ease-out;
}
eon-toggle[theme="claro"][checked="false"] .eon-toggle-circle::before,
div[data-theme="claro"] eon-toggle[checked="false"] .eon-toggle-circle::before,
body[data-theme="claro"] eon-toggle[checked="false"] .eon-toggle-circle::before {
  background-color: rgba(222, 222, 222, 0.5);
  animation: ripple-deactive 0.5s ease-out;
}
eon-toggle[theme="claro"].eon-ripple .eon-toggle-circle::before,
div[data-theme="claro"] eon-toggle.eon-ripple .eon-toggle-circle::before,
body[data-theme="claro"] eon-toggle.eon-ripple .eon-toggle-circle::before {
  visibility: visible;
}
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(15, 15);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(22, 22);
  }
}
@keyframes ripple-deactive {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(15, 15);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(22, 22);
  }
}
