/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
           radio, contextmenu, slider, treenode) */
eon-tabs[theme="claro"] .eon-tabs-scrolls.enabled div,
div[data-theme="claro"] eon-tabs .eon-tabs-scrolls.enabled div,
body[data-theme="claro"] eon-tabs .eon-tabs-scrolls.enabled div {
  color: #9a9a9a;
}
eon-tabs[theme="claro"] .eon-tabs-scrolls.enabled div:hover,
div[data-theme="claro"] eon-tabs .eon-tabs-scrolls.enabled div:hover,
body[data-theme="claro"] eon-tabs .eon-tabs-scrolls.enabled div:hover {
  color: #ffffff;
}
eon-tabs[theme="claro"] .eon-tabs-closing,
div[data-theme="claro"] eon-tabs .eon-tabs-closing,
body[data-theme="claro"] eon-tabs .eon-tabs-closing {
  background-color: #c33232;
  color: #ffffff;
}
eon-tabs[theme="claro"] .eon-tabs-dragTarget,
div[data-theme="claro"] eon-tabs .eon-tabs-dragTarget,
body[data-theme="claro"] eon-tabs .eon-tabs-dragTarget {
  background-color: rgba(133, 221, 236, 0.5);
}
