/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
           radio, contextmenu, slider, treenode) */
eon-check[theme="claro"],
div[data-theme="claro"] eon-check,
body[data-theme="claro"] eon-check {
  /* Create the tick inside the check */
  /* Style of the box when the check it's disabled */
  /* Box style when the check it's checked and disabled */
}
eon-check[theme="claro"] .eon-check-checked[type="check"] + .eon-check-label:after,
div[data-theme="claro"] eon-check .eon-check-checked[type="check"] + .eon-check-label:after,
body[data-theme="claro"] eon-check .eon-check-checked[type="check"] + .eon-check-label:after {
  border: 2px solid #f1f0f0;
  border-top: none;
  border-right: none;
  background: transparent;
}
eon-check[theme="claro"] .eon-check-checked[type="check"] + .eon-check-label .eon-check-span,
div[data-theme="claro"] eon-check .eon-check-checked[type="check"] + .eon-check-label .eon-check-span,
body[data-theme="claro"] eon-check .eon-check-checked[type="check"] + .eon-check-label .eon-check-span {
  background-color: #57cde3;
}
eon-check[theme="claro"] .eon-check-input[type="check"]:disabled + .eon-check-label span,
div[data-theme="claro"] eon-check .eon-check-input[type="check"]:disabled + .eon-check-label span,
body[data-theme="claro"] eon-check .eon-check-input[type="check"]:disabled + .eon-check-label span {
  border: 2px solid #cecece;
}
eon-check[theme="claro"] .eon-check-checked[type="check"]:disabled + .eon-check-label span,
div[data-theme="claro"] eon-check .eon-check-checked[type="check"]:disabled + .eon-check-label span,
body[data-theme="claro"] eon-check .eon-check-checked[type="check"]:disabled + .eon-check-label span {
  border: 2px solid #cecece;
  background-color: #cecece;
}
eon-check[theme="claro"] .eon-check-input:disabled + .eon-check-label,
div[data-theme="claro"] eon-check .eon-check-input:disabled + .eon-check-label,
body[data-theme="claro"] eon-check .eon-check-input:disabled + .eon-check-label,
eon-check[theme="claro"] .check[type="check"]:disabled + .eon-check-label span,
div[data-theme="claro"] eon-check .check[type="check"]:disabled + .eon-check-label span,
body[data-theme="claro"] eon-check .check[type="check"]:disabled + .eon-check-label span,
eon-check[theme="claro"] .eon-check-input[type="check"]:disabled + .eon-check-label:after,
div[data-theme="claro"] eon-check .eon-check-input[type="check"]:disabled + .eon-check-label:after,
body[data-theme="claro"] eon-check .eon-check-input[type="check"]:disabled + .eon-check-label:after {
  color: #cecece;
}
eon-check[theme="claro"] .eon-check-span,
div[data-theme="claro"] eon-check .eon-check-span,
body[data-theme="claro"] eon-check .eon-check-span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
eon-check[theme="claro"] .eon-check-span::before,
div[data-theme="claro"] eon-check .eon-check-span::before,
body[data-theme="claro"] eon-check .eon-check-span::before {
  content: '';
  border-radius: 50px;
  position: absolute;
  box-sizing: border-box;
  transform: translate(-50%, -50%) scale(0);
  width: 1.8px;
  height: 1.8px;
  visibility: hidden;
}
eon-check[theme="claro"][checked="true"] .eon-check-span::before,
div[data-theme="claro"] eon-check[checked="true"] .eon-check-span::before,
body[data-theme="claro"] eon-check[checked="true"] .eon-check-span::before {
  background-color: rgba(133, 221, 236, 0.5);
  animation: ripple 0.5s ease-out;
}
eon-check[theme="claro"][checked="false"] .eon-check-span::before,
div[data-theme="claro"] eon-check[checked="false"] .eon-check-span::before,
body[data-theme="claro"] eon-check[checked="false"] .eon-check-span::before {
  background-color: rgba(222, 222, 222, 0.5);
  animation: ripple-deactive 0.5s ease-out;
}
eon-check[theme="claro"].eon-ripple .eon-check-span::before,
div[data-theme="claro"] eon-check.eon-ripple .eon-check-span::before,
body[data-theme="claro"] eon-check.eon-ripple .eon-check-span::before {
  visibility: visible;
}
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(15, 15);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(22, 22);
  }
}
@keyframes ripple-deactive {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(15, 15);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(22, 22);
  }
}
