/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
           radio, contextmenu, slider, treenode) */
eon-radio[theme="claro"],
div[data-theme="claro"] eon-radio,
body[data-theme="claro"] eon-radio {
  /* Change the radio style when it's checked */
  /* Change the inside radio style when it's checked */
  /* Style of the circle when the radio it's disabled */
  /* Circle style when the radio it's checked and disabled */
}
eon-radio[theme="claro"] .eon-radio-input:checked + .eon-radio-label .eon-radio-outspan,
div[data-theme="claro"] eon-radio .eon-radio-input:checked + .eon-radio-label .eon-radio-outspan,
body[data-theme="claro"] eon-radio .eon-radio-input:checked + .eon-radio-label .eon-radio-outspan {
  border-color: #57cde3;
}
eon-radio[theme="claro"] .eon-radio-input:checked + .eon-radio-label .eon-radio-inspan,
div[data-theme="claro"] eon-radio .eon-radio-input:checked + .eon-radio-label .eon-radio-inspan,
body[data-theme="claro"] eon-radio .eon-radio-input:checked + .eon-radio-label .eon-radio-inspan {
  border-color: #57cde3;
  background-color: #57cde3;
}
eon-radio[theme="claro"] .eon-radio-input:disabled + .eon-radio-label .eon-radio-outspan,
div[data-theme="claro"] eon-radio .eon-radio-input:disabled + .eon-radio-label .eon-radio-outspan,
body[data-theme="claro"] eon-radio .eon-radio-input:disabled + .eon-radio-label .eon-radio-outspan {
  border-color: #cecece;
}
eon-radio[theme="claro"] .eon-radio-input:disabled + .eon-radio-label,
div[data-theme="claro"] eon-radio .eon-radio-input:disabled + .eon-radio-label,
body[data-theme="claro"] eon-radio .eon-radio-input:disabled + .eon-radio-label,
eon-radio[theme="claro"] .eon-radio-input[type="radio"]:disabled + .eon-radio-label .eon-radio-outspan,
div[data-theme="claro"] eon-radio .eon-radio-input[type="radio"]:disabled + .eon-radio-label .eon-radio-outspan,
body[data-theme="claro"] eon-radio .eon-radio-input[type="radio"]:disabled + .eon-radio-label .eon-radio-outspan {
  color: #cecece;
}
eon-radio[theme="claro"] .eon-radio-checkedDisabledRadio:checked + .eon-radio-label .eon-radio-inspan,
div[data-theme="claro"] eon-radio .eon-radio-checkedDisabledRadio:checked + .eon-radio-label .eon-radio-inspan,
body[data-theme="claro"] eon-radio .eon-radio-checkedDisabledRadio:checked + .eon-radio-label .eon-radio-inspan,
eon-radio[theme="claro"] .eon-radio-disabledRadio[type="radio"]:checked + .eon-radio-label .eon-radio-inspan,
div[data-theme="claro"] eon-radio .eon-radio-disabledRadio[type="radio"]:checked + .eon-radio-label .eon-radio-inspan,
body[data-theme="claro"] eon-radio .eon-radio-disabledRadio[type="radio"]:checked + .eon-radio-label .eon-radio-inspan {
  border-color: #cecece;
  background-color: #cecece;
}
eon-radio[theme="claro"] .eon-radio-inspan,
div[data-theme="claro"] eon-radio .eon-radio-inspan,
body[data-theme="claro"] eon-radio .eon-radio-inspan {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
eon-radio[theme="claro"] .eon-radio-inspan::before,
div[data-theme="claro"] eon-radio .eon-radio-inspan::before,
body[data-theme="claro"] eon-radio .eon-radio-inspan::before {
  content: '';
  border-radius: 50px;
  position: absolute;
  box-sizing: border-box;
  transform: translate(-50%, -50%) scale(0);
  width: 1.5px;
  height: 1.5px;
  visibility: hidden;
}
eon-radio[theme="claro"][checked="true"] .eon-radio-inspan::before,
div[data-theme="claro"] eon-radio[checked="true"] .eon-radio-inspan::before,
body[data-theme="claro"] eon-radio[checked="true"] .eon-radio-inspan::before {
  background-color: rgba(133, 221, 236, 0.5);
  animation: ripple 0.5s ease-out;
}
eon-radio[theme="claro"].eon-ripple .eon-radio-inspan::before,
div[data-theme="claro"] eon-radio.eon-ripple .eon-radio-inspan::before,
body[data-theme="claro"] eon-radio.eon-ripple .eon-radio-inspan::before {
  visibility: visible;
}
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(15, 15);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(22, 22);
  }
}
