/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
           radio, contextmenu, slider, treenode) */
eon-number[theme="claro"][readonly="true"] .eon-number-control:hover,
div[data-theme="claro"] eon-number[readonly="true"] .eon-number-control:hover,
body[data-theme="claro"] eon-number[readonly="true"] .eon-number-control:hover {
  color: #444444;
}
eon-number[theme="claro"].eon-number-focus .eon-number-label,
div[data-theme="claro"] eon-number.eon-number-focus .eon-number-label,
body[data-theme="claro"] eon-number.eon-number-focus .eon-number-label {
  color: #57cde3;
}
eon-number[theme="claro"] .eon-number-inputBar:before,
div[data-theme="claro"] eon-number .eon-number-inputBar:before,
body[data-theme="claro"] eon-number .eon-number-inputBar:before,
eon-number[theme="claro"] .eon-number-inputBar:after,
div[data-theme="claro"] eon-number .eon-number-inputBar:after,
body[data-theme="claro"] eon-number .eon-number-inputBar:after {
  background: #57cde3;
}
eon-number[theme="claro"].eon-number-error .eon-number-label,
div[data-theme="claro"] eon-number.eon-number-error .eon-number-label,
body[data-theme="claro"] eon-number.eon-number-error .eon-number-label {
  color: #c33232;
}
eon-number[theme="claro"].eon-number-error .eon-number-group,
div[data-theme="claro"] eon-number.eon-number-error .eon-number-group,
body[data-theme="claro"] eon-number.eon-number-error .eon-number-group {
  border-bottom: 1px solid #c33232;
}
eon-number[theme="claro"].eon-number-error .eon-number-inputBar:before,
div[data-theme="claro"] eon-number.eon-number-error .eon-number-inputBar:before,
body[data-theme="claro"] eon-number.eon-number-error .eon-number-inputBar:before,
eon-number[theme="claro"].eon-number-error .eon-number-inputBar:after,
div[data-theme="claro"] eon-number.eon-number-error .eon-number-inputBar:after,
body[data-theme="claro"] eon-number.eon-number-error .eon-number-inputBar:after {
  background: #c33232;
}
eon-number[theme="claro"].eon-number-error .eon-number-description,
div[data-theme="claro"] eon-number.eon-number-error .eon-number-description,
body[data-theme="claro"] eon-number.eon-number-error .eon-number-description {
  color: #c33232;
}
eon-number[theme="claro"] .eon-number-control,
div[data-theme="claro"] eon-number .eon-number-control,
body[data-theme="claro"] eon-number .eon-number-control {
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
