/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
           radio, contextmenu, slider, treenode) */
/* Vimlet panel element */
eon-panel[theme="claro"],
div[data-theme="claro"] eon-panel,
body[data-theme="claro"] eon-panel {
  /* Header */
  /* Content top shadow div */
}
eon-panel[theme="claro"] .eon-panel-header,
div[data-theme="claro"] eon-panel .eon-panel-header,
body[data-theme="claro"] eon-panel .eon-panel-header {
  background-color: #f1f0f0;
  color: #9a9a9a;
}
eon-panel[theme="claro"] .eon-panel-shadowDrop,
div[data-theme="claro"] eon-panel .eon-panel-shadowDrop,
body[data-theme="claro"] eon-panel .eon-panel-shadowDrop {
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}
