/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
           radio, contextmenu, slider, treenode) */
eon-swiper[theme="claro"],
div[data-theme="claro"] eon-swiper,
body[data-theme="claro"] eon-swiper {
  /*
   * Navigation controllers
   */
  /*
   * Gallery elements
   */
}
eon-swiper[theme="claro"] .eon-swiper-thumbnail,
div[data-theme="claro"] eon-swiper .eon-swiper-thumbnail,
body[data-theme="claro"] eon-swiper .eon-swiper-thumbnail {
  background-color: #ffffff;
}
eon-swiper[theme="claro"] .eon-swiper-navBtn,
div[data-theme="claro"] eon-swiper .eon-swiper-navBtn,
body[data-theme="claro"] eon-swiper .eon-swiper-navBtn {
  color: #ffffff;
  text-align: center;
}
eon-swiper[theme="claro"].eon-swiper-vertical .eon-swiper-navBtn,
div[data-theme="claro"] eon-swiper.eon-swiper-vertical .eon-swiper-navBtn,
body[data-theme="claro"] eon-swiper.eon-swiper-vertical .eon-swiper-navBtn {
  position: absolute;
  color: #ffffff;
}
eon-swiper[theme="claro"] .eon-swiper-screenBtn.eon-fg1-hoverable,
div[data-theme="claro"] eon-swiper .eon-swiper-screenBtn.eon-fg1-hoverable,
body[data-theme="claro"] eon-swiper .eon-swiper-screenBtn.eon-fg1-hoverable {
  color: #ffffff80;
}
eon-swiper[theme="claro"] .eon-fg1-hoverable:hover,
div[data-theme="claro"] eon-swiper .eon-fg1-hoverable:hover,
body[data-theme="claro"] eon-swiper .eon-fg1-hoverable:hover {
  color: #ffffff;
}
eon-swiper[theme="claro"].eon-swiper-gallery > .eon-swiper-pagination,
div[data-theme="claro"] eon-swiper.eon-swiper-gallery > .eon-swiper-pagination,
body[data-theme="claro"] eon-swiper.eon-swiper-gallery > .eon-swiper-pagination {
  background-color: black;
}
eon-swiper[theme="claro"].eon-swiper-gallery.eon-swiper-vertical > .eon-swiper-pagination,
div[data-theme="claro"] eon-swiper.eon-swiper-gallery.eon-swiper-vertical > .eon-swiper-pagination,
body[data-theme="claro"] eon-swiper.eon-swiper-gallery.eon-swiper-vertical > .eon-swiper-pagination {
  background-color: black;
}
