/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
           radio, contextmenu, slider, treenode) */
eon-contextmenu[theme="claro"] .eon-contextmenu-contextmenu eon-item,
eon-overlay[theme="claro"] .eon-contextmenu-contextmenu eon-item,
div[data-theme="claro"] eon-contextmenu .eon-contextmenu-contextmenu eon-item,
body[data-theme="claro"] eon-contextmenu .eon-contextmenu-contextmenu eon-item {
  background-position: center;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0), background 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-contextmenu[theme="claro"] .eon-contextmenu-contextmenu eon-item:hover,
eon-overlay[theme="claro"] .eon-contextmenu-contextmenu eon-item:hover,
div[data-theme="claro"] eon-contextmenu .eon-contextmenu-contextmenu eon-item:hover,
body[data-theme="claro"] eon-contextmenu .eon-contextmenu-contextmenu eon-item:hover {
  background: #bef2ff radial-gradient(circle, transparent 1%, #bef2ff 1%) center / 15000%;
}
eon-contextmenu[theme="claro"] .eon-contextmenu-contextmenu eon-item:active,
eon-overlay[theme="claro"] .eon-contextmenu-contextmenu eon-item:active,
div[data-theme="claro"] eon-contextmenu .eon-contextmenu-contextmenu eon-item:active,
body[data-theme="claro"] eon-contextmenu .eon-contextmenu-contextmenu eon-item:active {
  background-color: #e6fbff;
  background-size: 100%;
  transition: background 0s;
}
eon-contextmenu[theme="claro"] .eon-contextmenu-label.eon-contextmenu-movedLabel,
eon-overlay[theme="claro"] .eon-contextmenu-label.eon-contextmenu-movedLabel,
div[data-theme="claro"] eon-contextmenu .eon-contextmenu-label.eon-contextmenu-movedLabel,
body[data-theme="claro"] eon-contextmenu .eon-contextmenu-label.eon-contextmenu-movedLabel {
  color: #9a9a9a;
}
