/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
           radio, contextmenu, slider, treenode) */
eon-menu[theme="claro"] .eon-menu-button,
eon-overlay[theme="claro"] .eon-menu-button,
div[data-theme="claro"] eon-menu .eon-menu-button,
body[data-theme="claro"] eon-menu .eon-menu-button,
eon-menu[theme="claro"] .eon-menu-modalButton,
eon-overlay[theme="claro"] .eon-menu-modalButton,
div[data-theme="claro"] eon-menu .eon-menu-modalButton,
body[data-theme="claro"] eon-menu .eon-menu-modalButton {
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-menu[theme="claro"] .eon-menu-button:hover,
eon-overlay[theme="claro"] .eon-menu-button:hover,
div[data-theme="claro"] eon-menu .eon-menu-button:hover,
body[data-theme="claro"] eon-menu .eon-menu-button:hover,
eon-menu[theme="claro"] .eon-menu-modalButton:hover,
eon-overlay[theme="claro"] .eon-menu-modalButton:hover,
div[data-theme="claro"] eon-menu .eon-menu-modalButton:hover,
body[data-theme="claro"] eon-menu .eon-menu-modalButton:hover {
  color: #57cde3;
}
eon-menu[theme="claro"] eon-item,
eon-overlay[theme="claro"] eon-item,
div[data-theme="claro"] eon-menu eon-item,
body[data-theme="claro"] eon-menu eon-item {
  background-position: center;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0), background 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-menu[theme="claro"] eon-item:hover,
eon-overlay[theme="claro"] eon-item:hover,
div[data-theme="claro"] eon-menu eon-item:hover,
body[data-theme="claro"] eon-menu eon-item:hover {
  color: #57cde3;
  background: #bef2ff radial-gradient(circle, transparent 1%, #bef2ff 1%) center / 15000%;
}
eon-menu[theme="claro"] eon-item:active,
eon-overlay[theme="claro"] eon-item:active,
div[data-theme="claro"] eon-menu eon-item:active,
body[data-theme="claro"] eon-menu eon-item:active {
  background-color: #e6fbff;
  background-size: 100%;
  transition: background 0s;
}
