eon-showcase-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  box-sizing: border-box;
}
.eon-showcase-item-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.eon-showcase-item-content {
  height: calc(100% - 33px);
}
