app-combobox {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    position:relative;
}

app-combobox .app-combobox-label {
    width: auto;
    user-select: none;
    cursor: pointer;
    padding: 10px 0px;
}
app-combobox eon-combo {
    width:100% !important;
    height: 100%;
    position:absolute;
    pointer-events: none;
}
app-combobox .eon-combo-wrapper, app-combobox .eon-combo-label {
    display:none !important;
}
app-combobox .eon-combo-main {
    border:none !important;
    width:100%;
    height: 100%;
    pointer-events: none;
}

.app-combobox-dropdown-width{
    width:200px !important;
}

eon-overlay .eon-combo-dropdown eon-item{
    padding:0px 5px;
}
eon-overlay .eon-combo-dropdown  eon-item eon-searchbar{
    width:100%;
    height:100%;
}
eon-overlay .eon-combo-dropdown  eon-item eon-searchbar .eon-text-main{
    background-color:transparent;
}
eon-overlay .eon-combo-dropdown  eon-item eon-searchbar .eon-searchbar-searchbar, eon-overlay .eon-combo-dropdown  eon-item eon-searchbar .eon-searchbar-main{
    height:100%;
    padding:0px;
    background-color:transparent;
    box-shadow:none;
}