eon-slider {
  position: relative;
}
eon-slider[inline="true"] {
  display: inline-block;
}
eon-slider[inline="true"] .eon-slider-wrapper {
  width: auto;
}
eon-slider[orientation="vertical"] .eon-slider-wrapper {
  display: inline-flex;
  width: auto;
}
eon-slider[orientation="vertical"] .eon-slider-shell {
  width: auto;
}
eon-slider[display-visibility="true"] .eon-slider-display {
  display: flex;
}
eon-slider input[type=range] {
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  color: transparent;
  border: 0 none;
  background: transparent;
}
eon-slider input[type=range]::-ms-track {
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  color: transparent;
  border: 0 none;
  background: transparent;
}
eon-slider input[type=range]:focus::-webkit-slider-runnable-track {
  border: transparent;
  background: transparent;
}
eon-slider input[type=range]:focus {
  outline: none;
}
eon-slider input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: transparent;
}
eon-slider input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: transparent;
}
eon-slider input[type=range]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: transparent;
  -webkit-appearance: none;
}
eon-slider input[type=range]::-ms-fill-lower {
  border: 0 none;
  background: transparent;
}
eon-slider input[type=range]::-ms-fill-upper {
  border: 0 none;
  background: transparent;
}
eon-slider input[type=range]::-ms-tooltip {
  display: none;
}
eon-slider[disable="false"] .eon-slider-thumb:active {
  transform: scale(1.2);
}
eon-slider[orientation="horizontal"] .eon-slider-slider {
  height: 10px;
  width: 100%;
  min-width: 150px;
}
eon-slider[orientation="horizontal"] .eon-slider-shell {
  height: 10px;
}
eon-slider[orientation="horizontal"] .eon-slider-display {
  margin-left: 15px;
  justify-content: center;
}
eon-slider[orientation="horizontal"] .eon-slider-track {
  top: calc(50% - 2px);
}
eon-slider[orientation="horizontal"] .eon-slider-fill {
  top: calc(50% - 2px);
}
eon-slider[orientation="horizontal"] .eon-slider-thumb {
  top: -5.7px;
}
eon-slider[orientation="horizontal"][display-align="left"] .eon-slider-wrapper {
  flex-direction: row-reverse;
  align-items: center;
}
eon-slider[orientation="horizontal"][display-align="right"] .eon-slider-wrapper {
  align-items: center;
}
eon-slider[orientation="horizontal"][display-position="top"] .eon-slider-wrapper {
  flex-direction: column-reverse;
  align-items: center;
}
eon-slider[orientation="horizontal"][display-position="bottom"] .eon-slider-wrapper {
  flex-direction: column;
  align-items: center;
}
eon-slider[orientation="horizontal"][display-align="right"] .eon-slider-display {
  margin-left: 15px;
  align-items: center;
}
eon-slider[orientation="horizontal"][display-align="left"] .eon-slider-display {
  margin-right: 15px;
  align-items: center;
}
eon-slider[orientation="horizontal"][display-position="bottom"] .eon-slider-display {
  width: 100%;
  margin-top: 10px;
}
eon-slider[orientation="horizontal"][display-position="top"] .eon-slider-display {
  width: 100%;
  margin-bottom: 10px;
}
eon-slider[orientation="vertical"] .eon-slider-wrapper {
  flex-direction: column;
}
eon-slider[orientation="vertical"] .eon-slider-shell {
  height: calc(100% - 35px);
}
eon-slider[orientation="vertical"] .eon-slider-track {
  left: calc(50% - 2px);
}
eon-slider[orientation="vertical"] .eon-slider-fill {
  left: calc(50% - 2px);
}
eon-slider[orientation="vertical"] {
  min-height: 150px;
}
eon-slider[orientation="vertical"] .eon-slider-shell {
  min-height: 150px;
}
eon-slider[orientation="vertical"][inline="false"] .eon-slider-slider {
  height: 100%;
}
eon-slider[orientation="vertical"] .eon-slider-slider {
  flex-grow: 1;
  width: 10px;
  left: calc(50% - 5px);
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  appearance: slider-vertical;
}
eon-slider[orientation="vertical"] .eon-slider-track {
  top: 0;
  height: 100%;
}
eon-slider[orientation="vertical"] .eon-slider-fill {
  bottom: 0;
}
eon-slider[orientation="vertical"] .eon-slider-thumb {
  left: -5.7px;
}
eon-slider[orientation="vertical"] .eon-slider-display {
  justify-content: center;
  height: 20px;
  margin-top: 15px;
}
eon-slider[orientation="vertical"][display-position="top"] .eon-slider-wrapper {
  flex-direction: column-reverse;
}
eon-slider[orientation="vertical"][display-position="left"] .eon-slider-wrapper {
  flex-direction: row-reverse;
}
eon-slider[orientation="vertical"][display-position="right"] .eon-slider-wrapper {
  flex-direction: row;
}
eon-slider[orientation="vertical"][display-position="bottom"] .eon-slider-display {
  margin-top: 15px;
}
eon-slider[orientation="vertical"][display-position="top"] .eon-slider-display {
  margin-bottom: 15px;
}
eon-slider[orientation="vertical"][display-position="left"] .eon-slider-display {
  margin-right: 15px;
}
eon-slider[orientation="vertical"][display-position="right"] .eon-slider-display {
  margin-left: 15px;
}
.eon-slider-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: row;
}
.eon-slider-shell {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}
.eon-slider-slider {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: all !important;
}
.eon-slider-track {
  position: absolute;
  width: 4px;
  height: 4px;
  pointer-events: none;
}
.eon-slider-fill {
  position: absolute;
  z-index: 20;
  left: 0;
  width: 4px;
  height: 4px;
  pointer-events: none;
}
.eon-slider-thumb {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
  pointer-events: all !important;
  border: 0 none;
  border-radius: 50%;
}
.eon-slider-display {
  position: relative;
  display: none;
  min-width: 30px;
  min-height: 20px;
  justify-content: center;
}
.eon-slider-description {
  font-size: 14px;
  width: 100%;
}
