eon-datepicker:not([data-touch="true"]) .eon-datepicker-previous:hover,
eon-datepicker:not([data-touch="true"]) .eon-datepicker-next:hover,
eon-datepicker:not([data-touch="true"]) .eon-datepicker-back:hover,
eon-datepicker:not([data-touch="true"]) .eon-datepicker-close:hover {
  background-color: #454545;
}
eon-datepicker:not([data-touch="true"]) .eon-datepicker-day:not([data-disabled="true"]):hover {
  background-color: #18c796;
  color: inherit;
}
eon-datepicker .eon-datepicker-body .eon-datepicker-row div:not([data-disabled="true"]):hover {
  background-color: #18c796;
  color: inherit;
}
