/* Elements colors */
/* datebox */
eon-treenode .eon-treenode-selected::before,
eon-treenode .eon-treenode-selected:hover::before {
  background-color: #454545;
}
eon-treenode .eon-treenode-head:hover::before {
  background-color: #383838;
}
eon-treenode .eon-treenode-selected:hover::before {
  background-color: #454545;
}
eon-treenode .eon-treenode-head:hover .eon-treenode-name {
  color: #ffffff;
}
eon-treenode .eon-treenode-head:hover i {
  color: #ffffff;
}
eon-treenode .eon-treenode-selected:hover .eon-treenode-name {
  color: #ffffff;
}
