app-playground{
    width:100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 10px #d8d8d8;
    background-color: white;
}

app-playground .app-playground-menu {
    width: 100%;
    height: 50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    color: #9a9a9a;
    background-color: rgb(232, 232, 232);
    font-size:20px;
    user-select: none;
}
app-playground .app-playground-menu .app-playground-menu-links{
    display: flex;
}
app-playground .app-playground-menu app-vicon{
    margin-left:5px;
}
app-playground .app-playground-menu eon-button{
    margin-left:5px;
}
app-playground .app-playground-menu-tabs{
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left:10px;
    font-size: 14px;
}
app-playground .app-playground-menu-tabs .app-playground-menu-tabs-bttn{
    padding:0px 5px;
    cursor:pointer;
    transition: 0.5s all;
    border-radius: 2px;
}
app-playground .app-playground-menu-tabs .app-playground-menu-tabs-bttn-selected{
    background-color:rgba(0,0,0,0.1);
}

app-playground .app-playground-content{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:relative;
}

app-playground .app-playground-filler{
    flex-grow:1;
}
app-playground .app-playground-hidden{
    display:none;
}


app-playground .app-playground-content iframe {
    border: none;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
  }
  app-playground .app-playground-content eon-loading {
    min-height:100px;
  }
app-playground .app-playground-content eon-editor {
  min-height: 300px !important;
  height: 100%;
  margin: 0px !important;
  max-height: 100%;
  box-sizing: border-box;
  background-color: #1e1e1e;
}