eon-radio {
  position: relative;
  padding: 3px 0;
}
eon-radio[inline="true"] {
  display: inline-block;
}
eon-radio[inline="true"] .eon-radio-radio {
  width: auto;
}
eon-radio[readonly="true"] .eon-radio-input {
  pointer-events: none;
}
eon-radio[readonly="true"] .eon-radio-label {
  pointer-events: none;
  cursor: auto;
}
.eon-radio-radio {
  width: 100%;
  display: flex;
}
.eon-radio-input {
  display: none;
}
.eon-radio-label {
  display: flex;
  cursor: pointer;
  align-items: flex-start;
}
.eon-radio-outspan {
  box-sizing: border-box;
  min-width: 22px;
  min-height: 22px;
  margin: 0 5px 0 0;
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  display: flex;
}
.eon-radio-inspan {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  visibility: hidden;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border-radius: 100%;
}
.eon-radio-input:checked + .eon-radio-label .eon-radio-inspan {
  visibility: visible;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.eon-radio-input:disabled + .eon-radio-label,
.eon-radio-input[type="radio"]:disabled + .eon-radio-label .eon-radio-outspan {
  cursor: auto;
}
