vc-toggle[theme="noire"] {
  position: relative;
  /* Hide native checkbox style*/
}
vc-toggle[theme="noire"][inline="true"] {
  display: inline-block;
}
vc-toggle[theme="noire"][inline="true"] .vc-toggle-toggle {
  width: auto;
}
vc-toggle[theme="noire"] .vc-toggle-toggle {
  height: 22px;
  display: flex;
  align-items: center;
  position: relative;
}
vc-toggle[theme="noire"] .vc-toggle-input[type="checkbox"] {
  display: none;
}
vc-toggle[theme="noire"] .vc-toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
vc-toggle[theme="noire"][disabled="true"] .vc-toggle-label {
  cursor: auto;
}
vc-toggle[theme="noire"] .vc-toggle-input[type="checkbox"] + .vc-toggle-label .vc-toggle-span {
  width: 40px;
  height: 15px;
  margin: 0 5px 0 0;
  border-radius: 100px;
  transition: all 0.3s ease;
}
vc-toggle[theme="noire"] .vc-toggle-input[type="checkbox"] + .vc-toggle-label::after {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 100%;
}
vc-toggle[theme="noire"] .vc-toggle-input[type="checkbox"]:checked + .vc-toggle-label::after {
  left: 20px;
}
vc-toggle[theme="noire"] .vc-toggle-input:disabled ~ .vc-toggle-span {
  pointer-events: none;
}
