vc-toggle[theme="noire"] {
  position: relative;
  /* Hide native checkbox style*/
}
vc-toggle[theme="noire"][inline="true"] {
  display: inline-block;
}
vc-toggle[theme="noire"][inline="true"] .vc-toggle-toggle {
  width: auto;
}
vc-toggle[theme="noire"] .vc-toggle-toggle {
  display: flex;
  align-items: center;
}
vc-toggle[theme="noire"] .vc-toggle-input[type="checkbox"] {
  display: none;
}
vc-toggle[theme="noire"] .vc-toggle-nameLabel {
  cursor: pointer;
}
vc-toggle[theme="noire"] .vc-toggle-label {
  position: relative;
  display: block;
  width: 40px;
  height: 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 100px;
}
vc-toggle[theme="noire"] .vc-toggle-input[type="checkbox"] + .vc-toggle-label::after {
  position: absolute;
  top: -2.5px;
  left: -2px;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  transition: all 0.3s ease;
  border-radius: 100px;
}
vc-toggle[theme="noire"] .vc-toggle-input[type="checkbox"]:checked + .vc-toggle-label::after {
  left: 20px;
}
vc-toggle[theme="noire"] .vc-toggle-input:disabled ~ .vc-toggle-label {
  pointer-events: none;
}
