
@import "variables.less";
@element: eon-toggle;

eon-toggle[theme="claro"],
div[data-theme="claro"] eon-toggle,
body[data-theme="claro"] eon-toggle {
  
  .@{element}-circle {
    background: @fg1;
  }
  &[checked="true"] .@{element}-circle{
    background: @eonFrontColor;
  }
  .@{element}-input:checked ~ .@{element}-label .@{element}-span {
    background: @bg7-light;
  }
  .@{element}-input:disabled ~ .@{element}-label .@{element}-span {
    background: @bg6-disabled2;
  }
  .@{element}-input:disabled ~ .@{element}-label::after {
    background: @placeholder-color;
  }
  .@{element}-input[type="checkbox"]:disabled + .@{element}-label::after {
    background: @placeholder-color;
  }
  .@{element}-input[type="checkbox"]:disabled ~ .@{element}-label .@{element}-circle{
    background: @bg6-disabled2;
  }                         
}
