
@import "variables.less";
@element: eon-slider;

eon-slider[theme="claro"],
div[data-theme="claro"] eon-slider,
body[data-theme="claro"] eon-slider {

  &.@{element}-error .@{element}-fill, &.@{element}-error .@{element}-thumb {
    background-color: @error1;
  }

  &.@{element}-error .@{element}-fill, &.@{element}-error .@{element}-thumb {
    background-color: @error1;
  }

  &.@{element}-error .@{element}-description {
    color: @error1;
  }
}