@import "variables.less";
@element: eon-menu;

eon-menu[theme="claro"],
eon-overlay[theme="claro"],
div[data-theme="claro"] eon-menu,
body[data-theme="claro"] eon-menu {

   .@{element}-button:hover {
      color: @eonFrontColor;
   }
   .@{element}-page eon-item:hover {
      color: @eonFrontColor;
   }
}