
@import "variables.less";
@element: eon-tabs;

eon-tabs[theme="claro"],
div[data-theme="claro"] eon-tabs,
body[data-theme="claro"] eon-tabs {
  .@{element}-scrolls.enabled div {
      color: @fg1;
  }
    
  .@{element}-scrolls.enabled div:hover {
      color: @eonFrontColor;
  }
  
  .@{element}-selected span {
      color: @fg1;
  }
}