
@import "variables.less";
@element: eon-spinner;

eon-spinner[theme="claro"],
div[data-theme="claro"] eon-spinner,
body[data-theme="claro"] eon-spinner {
  &[readonly="true"] .@{element}-control:hover {
    color: @fg1;
  }

  .@{element}-inputBar:before, .@{element}-inputBar:after {
    background: @eonFrontColor;
  }

  &.@{element}-error .@{element}-label {
    color: @error1;
  }

  &.@{element}-error .@{element}-group {
      border-bottom: 1px solid @error1;
  }

  &.@{element}-error .@{element}-inputBar:before, &.@{element}-error .@{element}-inputBar:after {
    background: @error1;
  }

  &.@{element}-error .@{element}-description {
    color: @error1;
  }

  // New
  .@{element}-control {
    cursor: pointer;
  }

}