vc-selector[theme="noire"] {
  position: relative;
  /* Begin underline animation*/
  /* End underline animation*/
}
vc-selector[theme="noire"] .vc-selector-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
}
vc-selector[theme="noire"] .vc-selector-data.hidden {
  display: none;
}
vc-selector[theme="noire"] .vc-selector-label {
  font-size: 15px;
  height: 100%;
  flex-grow: 1;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
vc-selector[theme="noire"] .vc-selector-main {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
}
vc-selector[theme="noire"][editable="false"] .vc-selector-main:hover {
  color: white;
}
vc-selector[theme="noire"] .vc-selector-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
vc-selector[theme="noire"] .matchingError {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}
vc-selector[theme="noire"] .vc-selector-underline {
  position: relative;
  display: block;
  width: auto;
}
vc-selector[theme="noire"] .vc-selector-underline:before,
vc-selector[theme="noire"] .vc-selector-underline:after {
  position: absolute;
  bottom: 0;
  width: 0;
  top: 0;
  height: 2px;
  content: "";
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
vc-selector[theme="noire"] .vc-selector-underline:before {
  left: 50%;
}
vc-selector[theme="noire"] .vc-selector-underline:after {
  right: 50%;
}
vc-selector[theme="noire"] .vc-selector-underline.animate:before,
vc-selector[theme="noire"] .vc-selector-underline.animate:after {
  width: 50%;
}
vc-selector[theme="noire"] .vc-selector-dropButton {
  flex-grow: 0;
}
vc-selector[theme="noire"] input {
  font-size: 15px;
  padding: 10px;
  border: 0;
  background-color: transparent;
  flex-grow: 1;
}
vc-selector[theme="noire"] input:focus {
  outline: none;
}
.vc-selector-dropdown {
  font-size: 16px;
  position: absolute;
  z-index: 1;
  overflow: auto;
  width: 100%;
  max-height: 300px;
  top: calc(100% + 1px);
  max-height: 150px;
}
.vc-selector-dropdown vc-scroll {
  flex-grow: 1;
}
.vc-selector-dropdown.hidden {
  display: none;
}
.vc-selector-dropdown vc-item {
  display: flex;
  height: 50px;
  padding: 0 20px;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.vc-selector-dropdown vc-item:hover {
  cursor: pointer;
}
