vc-datepicker[theme="noire"] {
  display: flex;
  width: 200px;
}
vc-datepicker[theme="noire"] .vc-datepicker-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
vc-datepicker[theme="noire"] .vc-datepicker-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  cursor: default;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
vc-datepicker[theme="noire"] .vc-datepicker-header {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  display: flex;
  width: 100%;
  height: 18%;
  min-height: 32px;
  max-height: 60px;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
}
vc-datepicker[theme="noire"] div[data-disabled="true"]:hover {
  cursor: default;
  text-decoration: none;
}
vc-datepicker[theme="noire"] .vc-datepicker-header .vc-datepicker-month:hover,
vc-datepicker[theme="noire"] .vc-datepicker-header .vc-datepicker-year:hover {
  text-decoration: underline;
}
vc-datepicker[theme="noire"] .vc-datepicker-header .hidden {
  display: none;
}
vc-datepicker[theme="noire"] .vc-datepicker-daysGridSelectors,
vc-datepicker[theme="noire"] .vc-datepicker-monthsGridSelectors,
vc-datepicker[theme="noire"] .vc-datepicker-yearsGridSelectors {
  display: flex;
  height: 100%;
  top: 0;
  bottom: 0;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
vc-datepicker[theme="noire"] .vc-datepicker-daysGridSelectors .vc-datepicker-month {
  display: flex;
  height: 100%;
  padding-right: 1.5%;
  cursor: pointer;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}
vc-datepicker[theme="noire"] .vc-datepicker-monthsGridSelectors .vc-datepicker-month {
  display: none;
}
vc-datepicker[theme="noire"] .vc-datepicker-daysGridSelectors .vc-datepicker-year {
  display: flex;
  height: 100%;
  padding-left: 1.5%;
  cursor: pointer;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}
vc-datepicker[theme="noire"] .vc-datepicker-monthsGridSelectors .vc-datepicker-year {
  display: flex;
  height: 100%;
  cursor: pointer;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
vc-datepicker[theme="noire"] .vc-datepicker-yearsGridSelectors .vc-datepicker-year:hover {
  cursor: default;
  text-decoration: none;
}
vc-datepicker[theme="noire"] .vc-datepicker-leftNavigation {
  position: absolute;
  left: 0;
  display: flex;
  width: 22%;
  max-width: 120px;
  height: 100%;
  top: 0;
  bottom: 0;
}
vc-datepicker[theme="noire"] .vc-datepicker-rightNavigation {
  position: absolute;
  right: 0;
  display: flex;
  width: 22%;
  max-width: 120px;
  height: 100%;
  top: 0;
  bottom: 0;
  justify-content: flex-end;
}
vc-datepicker[theme="noire"] .vc-datepicker-previous,
vc-datepicker[theme="noire"] .vc-datepicker-next,
vc-datepicker[theme="noire"] .vc-datepicker-back,
vc-datepicker[theme="noire"] .vc-datepicker-close {
  display: flex;
  width: 50%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
}
vc-datepicker[theme="noire"] .vc-datepicker-close {
  display: none;
}
vc-datepicker[theme="noire"] .vc-datepicker-body {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px;
  min-height: 140px;
  flex-grow: 1;
}
vc-datepicker[theme="noire"] .vc-datepicker-daysGrid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
vc-datepicker[theme="noire"] .vc-datepicker-daysGrid .vc-datepicker-weekDays {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  text-transform: capitalize;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
}
vc-datepicker[theme="noire"] .vc-datepicker-daysGrid .vc-datepicker-grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
vc-datepicker[theme="noire"] .vc-datepicker-row {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
vc-datepicker[theme="noire"] .vc-datepicker-body .vc-datepicker-row div {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
}
vc-datepicker[theme="noire"] .vc-datepicker-body .vc-datepicker-row div:not([data-disabled="true"]):hover {
  cursor: pointer;
}
vc-datepicker[theme="noire"] .vc-datepicker-monthsGrid,
vc-datepicker[theme="noire"] .vc-datepicker-yearsGrid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  opacity: 0;
}
vc-datepicker[theme="noire"] .vc-datepicker-dayHeader {
  display: flex;
  height: 100%;
  cursor: default;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
vc-datepicker[theme="noire"] .vc-datepicker-week {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
vc-datepicker[theme="noire"] .vc-datepicker-day {
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
}
vc-datepicker[theme="noire"]:not([data-touch="true"]) .vc-datepicker-day:hover {
  cursor: pointer;
}
vc-datepicker[theme="noire"] .vc-datepicker-leftNavigation div[data-disabled="true"]:hover {
  cursor: default;
  background-color: transparent;
}
vc-datepicker[theme="noire"] .vc-datepicker-body div.vc-datepicker-day[data-disabled="true"] {
  text-decoration: line-through;
}
vc-datepicker[theme="noire"] .vc-datepicker-body div.vc-datepicker-day[data-disabled="true"]:hover {
  cursor: default;
  background-color: transparent;
}
vc-datepicker[theme="noire"] .vc-datepicker-body div.vc-datepicker-month[data-disabled="true"] {
  text-decoration: line-through;
}
vc-datepicker[theme="noire"] .vc-datepicker-body div.vc-datepicker-month[data-disabled="true"]:hover {
  cursor: default;
  background-color: transparent;
}
vc-datepicker[theme="noire"] .vc-datepicker-body div.vc-datepicker-year[data-disabled="true"] {
  text-decoration: line-through;
}
vc-datepicker[theme="noire"] .vc-datepicker-body div.vc-datepicker-year[data-disabled="true"]:hover {
  cursor: default;
  background-color: transparent;
}
vc-datepicker[theme="noire"] .vc-datepicker-leftNavigation div[data-hidden="true"] {
  display: none;
}
vc-datepicker[theme="noire"][disabled="true"] {
  pointer-events: none;
}
