eon-togglemenu {
  z-index: 100;
  display: flex;
  overflow: visible;
  flex-direction: column;
  box-sizing: border-box;
  width: 300px;
  background-color: transparent;
  position: relative;
}
eon-togglemenu[deploy="overlap"] .eon-togglemenu-content {
  z-index: 100;
}
eon-togglemenu[occupy="fit"] {
  height: auto;
}
.eon-togglemenu-item {
  padding: 5px;
}
.eon-togglemenu-button {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 30px;
  padding: 20px 5px;
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  align-items: center;
  justify-content: center;
}
.eon-togglemenu-button:hover {
  box-sizing: border-box;
}
.eon-togglemenu-title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.eon-togglemenu-arrow {
  font-size: 22px;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.eon-togglemenu-buttonActive .eon-togglemenu-arrow {
  transform: rotate(180deg);
}
.eon-togglemenu-content {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 0;
  border-width: 3px;
  border-style: solid;
  border-top: none;
}
.eon-togglemenu-transition {
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
.eon-togglemenu-contentDisplay {
  z-index: 100;
}
@media (max-width: 800px) {
  eon-togglemenu {
    width: auto;
  }
  .eon-togglemenu-content {
    width: 100%;
  }
}
