@element: eon-panel;

@{element} {
  &[allow-scroll = "false"] {
    overflow: auto;
  }
}

.@{element}-no-scroll {
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}
.@{element}-header  {
  display: flex;
  height: 40px;
  line-height: 50px;
  padding-left: 10px;
  transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
.@{element}-content  {
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
  position: relative;
}
.@{element}-shadowDrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}