eon-video {
  position: relative;
  display: flex;
  transform: translate3d(0, 0, 0);
}
eon-video ::-webkit-media-controls {
  display: none !important;
}
eon-video *::-moz-list-bullet,
eon-video *::-moz-list-number {
  display: none !important;
}
eon-video *::-moz-list-bullet,
eon-video *::-moz-list-number {
  display: none !important;
}
eon-video *::-moz-meter-bar {
  display: none !important;
}
eon-video :-moz-full-screen:not(:root)::backdrop {
  display: none !important;
}
eon-video *::backdrop {
  display: none !important;
}
eon-video :fullscreen:not(:root) {
  display: none !important;
}
eon-video:focus {
  outline: none;
}
eon-video eon-slider {
  width: 60% !important;
}
.eon-video-fullscreenActive {
  position: fixed;
  max-width: 100%;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
}
.eon-video-fullscreenActive .eon-video-wrapper {
  z-index: 2147483647;
}
.eon-video-fullscreenActive .eon-video-controls {
  z-index: 2147483647;
}
.eon-video.eon-video-hideCursor,
.eon-video.eon-video-hideCursor > * {
  cursor: none;
}
.eon-video-video {
  width: 100%;
  height: 100%;
  min-width: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: all;
  transform: translate3d(0, 0, 0);
}
.eon-video-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.eon-video-poster {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
}
.eon-video-poster::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: inherit;
}
.eon-video-poster span {
  display: flex;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
  cursor: pointer;
  z-index: 1;
}
.eon-video-controls {
  width: 100%;
  height: 46px;
  position: absolute;
  font-size: 37px;
  display: none;
  flex-direction: column;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 0);
  width: calc(100% + 1px);
  bottom: -1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.eon-video-timerail {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  position: absolute;
  top: -35px;
  cursor: pointer;
}
.eon-video-timerail-back {
  width: 100%;
  height: 6px;
  display: flex;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 0);
  bottom: -1px;
  position: absolute;
}
.eon-video-timeline {
  width: 0;
  height: 100%;
}
.eon-video-timerail:hover .eon-video-timerail-back {
  transform: scaleY(1.4);
}
.eon-video-controls-container {
  width: 100%;
  height: 46px;
  display: flex;
}
.eon-video-controls-container > div {
  height: 100%;
  display: flex;
}
.eon-video-controls > div > span {
  justify-content: center;
  display: flex;
  align-items: center;
}
.eon-video-controls span:before {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1px;
  box-sizing: border-box;
  cursor: pointer;
}
.eon-video-play {
  width: 43px;
  padding-left: 0;
  align-items: center;
}
.eon-video-play > span {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 0);
  cursor: pointer;
}
.eon-video-volume {
  cursor: default;
  margin-left: 12px;
}
.eon-video-volume > span:before {
  width: 75px;
}
.eon-video-controls-container .eon-video-volume-container {
  width: 110px;
  display: none;
}
.eon-video-controls-container .eon-video-volume-container-display {
  display: flex;
}
.eon-video-controls-container .eon-video-volume-container-display > span {
  font-size: 26px;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
.eon-video-volume-container > span:before {
  align-items: center;
  padding-top: 1px;
}
.eon-video-time {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  cursor: default;
}
.eon-video-time > span {
  display: flex;
  align-items: center;
}
.eon-video-time .eon-video-totalTime {
  margin-left: 3px;
}
.eon-video-fullscreen {
  margin-left: auto;
  margin-right: 3px;
  cursor: pointer;
  font-size: 30px;
  width: 33px;
  align-items: center;
  justify-content: center;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
@media only screen and (max-width: 800px) {
  .eon-video-timerail-back {
    transform: scaleY(1.4);
  }
  .eon-video-poster {
    font-size: 100px;
  }
}
/* Captions */
eon-video ::cue {
  background-color: rgba(0, 0, 0, 0.36);
}
