app-menu-item{
    width:auto;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}
app-menu-item .app-menu-item-icon{
    padding:0px 5px;
}
app-menu-item .app-menu-item-selected{
    text-decoration: underline;
}