/* Elements colors */
/* datebox */
eon-swiper[theme="noire"] {
  /*
   * NAVIGATION CONTROLLERS
   */
  /*
   * Gallery elements
   */
}
eon-swiper[theme="noire"] .eon-swiper-thumbnail {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 5px;
  background-color: #ffffff;
  transition: transform .3s;
}
eon-swiper[theme="noire"] .eon-swiper-navBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 12%;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: height .2s, width .2s, background .2s;
}
eon-swiper[theme="noire"].eon-swiper-vertical .eon-swiper-navBtn {
  position: absolute;
  z-index: 1;
  height: 12%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
eon-swiper[theme="noire"].eon-swiper-gallery > .eon-swiper-pagination {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
  height: 26%;
  width: 100%;
  bottom: 0;
  right: 0;
  transition: bottom .2s;
  transform: translate3d(0, 0, 0);
}
eon-swiper[theme="noire"].eon-swiper-gallery.eon-swiper-vertical > .eon-swiper-pagination {
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
  height: 100%;
  width: 20%;
  top: 0;
  right: 0;
  transition: right .2s;
}
eon-swiper[theme="noire"].eon-swiper-gallery .eon-swiper-screenBtn {
  top: 0px;
  right: 0px;
  position: absolute;
  font-size: 25px;
  z-index: 1;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
eon-swiper[theme="noire"].eon-swiper-gallery .eon-swiper-screenBtn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
