/* Elements colors */
/* datebox */
eon-text {
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
}
eon-text .eon-text-editable:empty:before {
  content: attr(placeholder);
  color: #9a9a9a;
}
eon-text ::-webkit-input-placeholder {
  color: #9a9a9a;
}
eon-text :-moz-placeholder {
  color: #9a9a9a;
}
eon-text ::-moz-placeholder {
  color: #9a9a9a;
}
eon-text :-ms-input-placeholder {
  color: #9a9a9a !important;
}
eon-text .eon-text-underline:before,
eon-text .eon-text-underline:after {
  background: #18c796;
}
eon-text.focus .eon-text-label,
eon-text.focus .eon-text-counter {
  color: #18c796;
}
eon-text.focus .eon-text-label {
  color: #18c796;
}
eon-text[disabled="true"] .eon-text-editable:empty:before {
  color: #565656;
}
eon-text[disabled="true"] ::-webkit-input-placeholder {
  color: #565656;
}
eon-text[disabled="true"] :-moz-placeholder {
  color: #565656;
}
eon-text[disabled="true"] ::-moz-placeholder {
  color: #565656;
}
eon-text[disabled="true"] :-ms-input-placeholder {
  color: #565656 !important;
}
eon-text input:disabled {
  -webkit-text-fill-color: #747474;
  /* Override iOS / Android font color change */
  -webkit-opacity: 1;
  /* Override iOS opacity change affecting text & background color */
}
