/* Elements colors */
/* datebox */
eon-toggle .eon-toggle-input[type="checkbox"] + .eon-toggle-label::after {
  background: #e6e6e6;
}
eon-toggle .eon-toggle-input:checked ~ .eon-toggle-label .eon-toggle-span {
  background: #45e9bb;
}
eon-toggle .eon-toggle-input[type="checkbox"]:checked + .eon-toggle-label::after {
  background: #18c796;
}
eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label .eon-toggle-span {
  background: #ababab;
}
eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-label::after {
  background: #9a9a9a;
}
eon-toggle .eon-toggle-input[type="checkbox"]:disabled + .eon-toggle-label::after {
  background: #9a9a9a;
}
