vc-tree {
  height: 100%;
}
vc-tree .vc-tree-tree {
  position: relative;
  padding: 0;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  overflow: hidden;
}
vc-tree .vc-tree-tree .vc-tree-wrapper {
  transition: max-height 0.3s;
}
