vc-gutterflex[theme="noire"] {
  position: relative;
  overflow: hidden;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
vc-gutterflex[theme="noire"].vc-gutterflex-vertical {
  flex-direction: column;
}
vc-gutterflex[theme="noire"] .vc-gutterflex-section {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  min-height: 0;
  min-width: 0;
}
vc-gutterflex[theme="noire"].vc-gutterflex-vertical > .vc-gutterflex-section {
  top: 0;
  width: 100%;
  height: initial;
}
vc-gutterflex[theme="noire"] .vc-gutterflex-splitter {
  position: relative;
  height: 100%;
  cursor: col-resize;
  text-align: center;
  z-index: 1;
}
vc-gutterflex[theme="noire"].vc-gutterflex-vertical > .vc-gutterflex-splitter {
  width: 100%;
}
vc-gutterflex[theme="noire"] .vc-gutterflex-secondary {
  flex-grow: 1;
  height: 100%;
  width: 0;
}
vc-gutterflex[theme="noire"] .vc-gutterflex-splitterClickable {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 35px;
  margin-top: -17px;
  margin-left: 0;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.2s;
}
vc-gutterflex[theme="noire"] .vc-gutterflex-clickableZone {
  position: absolute;
  height: 100%;
  width: 210%;
}
vc-gutterflex[theme="noire"].vc-gutterflex-vertical > .vc-gutterflex-splitter > .vc-gutterflex-splitterClickable > .vc-gutterflex-clickableZone {
  position: absolute;
  height: 210%;
  width: 100%;
}
vc-gutterflex[theme="noire"].vc-gutterflex-vertical > .vc-gutterflex-splitter > .vc-gutterflex-splitterClickable {
  top: 0;
  left: 50%;
  width: 35px;
  height: 100%;
  margin-top: 0;
  margin-left: -17px;
}
vc-gutterflex[theme="noire"] .vc-gutterflex-splitterCollapseIcon {
  padding-top: 0px;
  font-size: 11px;
  align-items: center;
  transition: color 0.2s;
}
vc-gutterflex[theme="noire"].vc-gutterflex-vertical > .vc-gutterflex-splitter .vc-gutterflex-splitterCollapseIcon {
  padding-top: 1px;
}
