vc-gutterflex[theme="noire"] {
  position: relative;
  overflow: hidden;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
vc-gutterflex[theme="noire"] .vc-gutterflex-splitter {
  position: relative;
  width: 6px;
  height: 100%;
  cursor: col-resize;
  text-align: center;
  z-index: 1;
}
