vc-video[theme="claro"] {
  position: relative;
  display: flex;
  transform: translate3d(0, 0, 0);
  /* HIDE VIDEO FULLSCREEN CONTROLS*/
  /*------------------------*/
  /* TODO - CHANGE VC-SLIDER CORE STYLE*/
}
vc-video[theme="claro"] .vc-video.vc-video-hideCursor,
vc-video[theme="claro"] .vc-video.vc-video-hideCursor > * {
  cursor: none;
}
vc-video[theme="claro"] ::-webkit-media-controls {
  display: none !important;
}
vc-video[theme="claro"] *::-moz-list-bullet,
vc-video[theme="claro"] *::-moz-list-number {
  display: none !important;
}
vc-video[theme="claro"] *::-moz-list-bullet,
vc-video[theme="claro"] *::-moz-list-number {
  display: none !important;
}
vc-video[theme="claro"] *::-moz-meter-bar {
  display: none !important;
}
vc-video[theme="claro"] :-moz-full-screen:not(:root)::backdrop {
  display: none !important;
}
vc-video[theme="claro"] *::backdrop {
  display: none !important;
}
vc-video[theme="claro"] :fullscreen:not(:root) {
  display: none !important;
}
vc-video[theme="claro"]:focus {
  outline: none;
}
vc-video[theme="claro"] .vc-video-video {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: all;
  transform: translate3d(0, 0, 0);
}
vc-video[theme="claro"] .vc-video-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
vc-video[theme="claro"] .vc-video-poster {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 20;
  background-color: #0000004a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
}
vc-video[theme="claro"] .vc-video-poster span {
  display: flex;
  transition: color .2s;
  cursor: pointer;
}
vc-video[theme="claro"] .vc-video-poster span:hover {
  color: #b3b3b3;
}
vc-video[theme="claro"] .vc-video-controls {
  width: 100%;
  height: 46px;
  position: absolute;
  font-size: 37px;
  display: none;
  flex-direction: column;
  transition: opacity .2s;
  width: calc(100% + 1px);
  bottom: -1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
vc-video[theme="claro"] .vc-video-timerail {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  position: absolute;
  top: -35px;
  cursor: pointer;
  box-shadow: inset 0px -33px 37px -39px #000;
  -moz-box-shadow: inset 0px -33px 37px -39px #000;
  -webkit-box-shadow: inset 0px -33px 37px -39px #000;
}
vc-video[theme="claro"] .vc-video-timerail-back {
  width: 100%;
  height: 6px;
  display: flex;
  background: #333333;
  transition: transform .2s;
  bottom: -1px;
  position: absolute;
}
vc-video[theme="claro"] .vc-video-timeline {
  width: 0;
  height: 100%;
  background-color: #18c796;
}
vc-video[theme="claro"] .vc-video-timerail:hover .vc-video-timerail-back {
  transform: scaleY(1.4);
}
vc-video[theme="claro"] .vc-video-controls-container {
  width: 100%;
  height: 46px;
  display: flex;
  background-color: #484848;
}
vc-video[theme="claro"] .vc-video-controls-container > div {
  height: 100%;
  display: flex;
}
vc-video[theme="claro"] .vc-video-controls > div > span {
  justify-content: center;
  display: flex;
  align-items: center;
}
vc-video[theme="claro"] .vc-video-controls span:before {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1px;
  box-sizing: border-box;
  cursor: pointer;
}
vc-video[theme="claro"] .vc-video-play {
  width: 43px;
  padding-left: 0;
  align-items: center;
}
vc-video[theme="claro"] .vc-video-play > span {
  transition: all .2s;
  cursor: pointer;
}
vc-video[theme="claro"] .vc-video-volume {
  cursor: default;
  margin-left: 6px;
}
vc-video[theme="claro"] .vc-video-volume > span:before {
  width: 75px;
}
vc-video[theme="claro"] .vc-video-controls-container .vc-video-volume-container {
  width: 110px;
  display: none;
}
vc-video[theme="claro"] .vc-video-controls-container .vc-video-volume-container-display {
  display: flex;
}
vc-video[theme="claro"] .vc-video-volume-container > span:before {
  font-size: 26px;
  align-items: center;
  padding-top: 1px;
}
vc-video[theme="claro"] .vc-video-time {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  cursor: default;
}
vc-video[theme="claro"] .vc-video-time > span {
  display: flex;
  align-items: center;
}
vc-video[theme="claro"] .vc-video-time .vc-video-totalTime {
  margin-left: 3px;
}
vc-video[theme="claro"] .vc-video-fullscreen {
  margin-left: auto;
  margin-right: 3px;
  cursor: pointer;
  font-size: 30px;
  width: 33px;
  align-items: center;
}
vc-video[theme="claro"].vc-video-fullscreenActive {
  position: fixed;
  max-width: 100%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #2d2d2d;
}
vc-video[theme="claro"].vc-video-fullscreenActive .vc-video-wrapper {
  z-index: 2147483647;
}
vc-video[theme="claro"].vc-video-fullscreenActive .vc-video-controls {
  z-index: 2147483647;
}
vc-video[theme="claro"] vc-slider {
  width: 60% !important;
}
@media only screen and (max-width: 800px) {
  vc-video[theme="claro"] .vc-video-timerail-back {
    transform: scaleY(1.4);
  }
  vc-video[theme="claro"] .vc-video-poster {
    font-size: 100px;
  }
}
