vc-stack[theme="noire"] {
  height: 100%;
  display: flex;
}
vc-stack[theme="noire"] > vc-panel {
  width: 100%;
  height: 100%;
  display: none;
}
vc-stack[theme="noire"] vc-panel.visible {
  display: block;
}
