
@element: vc-treenode;

@{element}[theme="noire"] {
  & {
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0 5px 0 0;
    overflow: hidden;
    user-select: none;
  }
  .@{element}-draggable { 
    user-drag: element;
    -moz-user-select: element;
    -webkit-user-drag: element;
  }
  .@{element}-head { 
    display: flex;
    min-height: 20px;
    padding: 5px 5px 5px 0;
    overflow: hidden;
    height: auto;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .@{element}-head > .@{element}-expand{
    font-size: 19px;
    width: 19px;
    cursor: pointer;
    z-index: 0;
  }
  
  .@{element}-name {
    font-size: 12px;
    color: white;
    z-index: 0;
    line-height: 20px;
    margin-left: 2px;
  }
  .@{element}-icon {
    font-size: 18px;
    display: inline-block;
    vertical-align: sub;
    z-index: 1;
  }
  .@{element}-expand {
    visibility: hidden;
  }
  .@{element}-selected::before, .@{element}-selected:hover::before {
    content: "";
    height: 25px;
    margin-top: -3px;
    position: absolute;
    background-color: #444548;
    left: 0;
    right: 0;
  }
  .@{element}-head:hover::before {
    content: "";
    height: 25px;
    margin-top: -3px;
    position: absolute;
    background-color: #363638;
    left: 0;
    right: 0;
  }
  .@{element}-selected:hover::before{
    background-color: #444548;
  }
  .@{element}-marked::before, .@{element}-marked:hover::before {
    content: "";
    height: 25px;
    margin-top: -3px;
    position: absolute;
    background-color: #444548;
    left: 0;
    right: 0;
  }
  .@{element}-head:hover .@{element}-name{
    color: #cdcdcd;
  }
  .@{element}-selected:hover .@{element}-name{
    color: white;
  }
  .@{element}-wrapper{
    display: none;
    flex-direction: column;
  }
  .@{element}-wrapper > vc-treenode{
    margin: 0px 0px 0px 14px;
  }
}
