.eon-dialog-dialog {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  max-width: 95%;
  max-height: 95%;
  min-width: 200px;
  min-height: 200px;
}
.eon-dialog-visible {
  display: flex;
}
.eon-dialog-heading {
  display: flex;
  flex: none;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  height: 40px;
}
.eon-dialog-title {
  flex-grow: 1;
  cursor: default;
}
.eon-dialog-headingButtons {
  display: flex;
  justify-content: flex-end;
}
.eon-dialog-dialog .eon-dialog-close,
.eon-dialog-dialog .eon-dialog-minimize,
.eon-dialog-dialog .eon-dialog-maximize {
  cursor: pointer;
  width: 24px;
  height: 100%;
  align-items: center;
  padding-left: 5px;
}
.eon-dialog-footer,
.eon-dialog-footer > .eon-spaced-items-container {
  display: flex;
  flex-grow: 0;
  min-height: 60px;
  align-items: center;
  justify-content: flex-end;
}
.eon-dialog-dialog > eon-scroll,
.eon-dialog-dialog > eon-section[type="content"] {
  flex-grow: 1;
}
.eon-dialog-dialog .eon-dialog-content {
  word-wrap: break-all;
}
.eon-dialog-dialog .eon-dialog-footer[location="left"],
.eon-dialog-dialog[default-style="true"] .eon-dialog-footer[location="left"] > .eon-spaced-items-container {
  justify-content: flex-start;
}
.eon-dialog-dialog .eon-dialog-footer[location="separate"],
.eon-dialog-footer[location="separate"] > .eon-spaced-items-container {
  justify-content: space-between;
}
.eon-dialog-dialog .eon-dialog-footer[location="center"],
.eon-dialog-footer[location="center"] > .eon-spaced-items-container {
  justify-content: center;
}
.eon-dialog-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.eon-dialog-dialog .eon-dialog-sideResizer {
  position: absolute;
}
.eon-dialog-dialog .eon-dialog-topResizer {
  top: 0;
  right: 0;
  left: 0;
  height: 5px;
  cursor: n-resize;
  border-top: 2px solid transparent;
}
.eon-dialog-dialog .eon-dialog-bottomResizer {
  right: 0;
  bottom: 0;
  left: 0;
  height: 5px;
  cursor: s-resize;
  border-bottom: 2px solid transparent;
}
.eon-dialog-dialog .eon-dialog-leftResizer {
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  cursor: w-resize;
  border-left: 2px solid transparent;
}
.eon-dialog-dialog .eon-dialog-rightResizer {
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  cursor: e-resize;
  border-right: 2px solid transparent;
}
.eon-dialog-dialog .eon-dialog-cornerResizer {
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid transparent;
}
.eon-dialog-dialog .eon-dialog-topLeftResizer {
  top: 0;
  left: 0;
  cursor: nw-resize;
}
.eon-dialog-dialog .eon-dialog-topRightResizer {
  top: 0;
  right: 0;
  cursor: ne-resize;
}
.eon-dialog-dialog .eon-dialog-bottomLeftResizer {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
}
.eon-dialog-dialog .eon-dialog-bottomRightResizer {
  right: 0;
  bottom: 0;
  cursor: se-resize;
}
.eon-dialog-minBar {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}
.eon-dialog-minimized {
  position: relative;
  margin-left: 5px;
  min-width: auto !important;
  min-height: auto !important;
}
.eon-dialog-minimized .eon-dialog-content,
.eon-dialog-minimized .eon-dialog-footer {
  display: none;
}
.eon-dialog-dialog .eon-dialog-hidden {
  display: none;
}
.eon-dialog-dialog object {
  opacity: 0;
}
@media (max-width: 600px), (max-height: 600px) {
  .eon-dialog-visible[data-mobile="true"] {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    max-width: inherit;
    max-height: inherit;
  }
}
