.card {
    margin-top: 8px;
}

.main {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
}

.panel {
    height: 200px;
    background-color: grey;
    margin-bottom: 10px;
    overflow: hidden;
}
.square {
    height: 50px;
    width: 100px;
    background-color: brown;
    margin: 10px;
}
.content {
    height: 50px;
    width: 150px;
    background-color: greenyellow;
    margin: 10px;
}