.card {
    margin-top: 8px;
}

.main {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
}

.panel {
    display: flex;
    height: 200px;
    background-color: grey;
    margin-bottom: 10px;
    overflow: hidden;
}
.content {
    width: 150px;
    background-color: #b78f47;
    margin: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
#refreshedText {
    animation: blinker 1s linear infinite;
}
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }