.ex-reveal {
    height: 500px;
    width: 100%;
}
.ex-item {
    height: 200px;
    width: 200px;
    left: 0;
    background-color: #b78f47;
}
.ex-item-right {
    left: auto;
    right: 0;
}
.ex-red {
    background-color: #9c4747;
}