html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  text-align: start;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
vc-scroll{
  width: 100% !important;
}
.innerCard {
  flex-grow: 1;
  height: 50px;
  min-width: 50px;
  margin: 8px;
  background: orange;
}
.stickyElement {
  height: 150px;
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}
.wrapperStyle .innerCard {
  background-color: #b75252;
}
.animation .innerCard {
  background-color: orange;
  transition: background-color 0.2s;
}
.btn {
  height: 100%;
  width: 250px;
  background-color: brown;
  display: inline-block;
}
