html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #2d2d2d;
}
.main {
  height: calc(100% - 3px);
  white-space: nowrap;
  width: 3000px;
}
.stickyElement {
  height: 100%;
  width: 140px !important;
  font-size: 25px;
  color: white;
  display: inline-block;
}
.leftSticky {
  height: 100%;
  width: 100px;
  position: relative;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}
.wrapperStyle{

}
.rectangle {
  display: inline-block;
  margin-left: 30px;
  width: 200px;
  height: 100%;
}
.card {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}
.innerCard {
  width: 50px;
  min-height: 50px;
  margin-right: 18px;
  background: orange;
}
.text {
  position: absolute;
  width: 90px;
  font-weight: bold;
  left: 0;
  white-space: pre;
  line-height: 68px;
  height: 87px;
  color: #dcdcdc;
  top: 98px;
  transform: rotate(-90deg);
  font-size: 25px;
}
.animation .innerCard{
  background-color: #d666d6;
  transition: background-color 0.2s;
}

@media only screen and (max-width: 650px) {
  .stickyElement {
    width: 80px !important;
  }
  .text {
    width: 36px;
    height: 57px;
    font-size: 15px;
  }
  .innerCard {
    width: 17px;
  }
}
