.main {
    width: 100%;
    height: 100%;
}

.tMenuBar {
    background-color: #272727;
    border-bottom: 4px solid #18c796;
    box-shadow: 0 2px 14px 0 #242424;
    width: 100%;
    height: 60px;
    flex-grow: 0;
    z-index: 1;
    box-sizing: border-box;
}

/* Searchbar */

.tSearchbar {
    width: 300px;
    display: flex;
}

.tSearchbar:hover .vc-searchbar-searchButton {
    color: #ffffff;
}

.tSearchbar .vc-searchbar-main {
    box-shadow: none;
    background-color: transparent;
}

.tSearchbar .vc-searchbar-field {
    background-color: transparent !important;
    margin-left: 10px;
}

.tSearchbar .vc-searchbar-main {
    border: none !important;
    flex-grow: 1;
    padding: 0 !important;
    justify-content: center;
}

.tSearchbar .vc-searchbar-field input {
    outline: none;
    background: transparent;
    border: none;
    color: #e6e6e6;
    padding: 0 10px;
}

.tTree .notVisible {
    display: none;
}

/* END Searchbar */

.tIcon {
    background-image: url(../img/vcomet-logo.png);
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Theme Tester Content */
.tContent {
    width: 100%;
    flex-grow: 1;
    flex-basis: 0;
}

/* Theme Tester Tree */
.tTreeContainer {
    background-color: #2d2d2d;
    width: 300px;
    flex-grow: 0;
}

.tTree {
    flex-grow: 1;
}
/* END Theme Tester Tree */

/* Theme Tester View */

.tViewContainer {
    background-color: #e6e6e6;
    flex-grow: 1;
}
/* END Theme Tester View */