eon-drawer[theme="claro"] {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  transition: transform .2s;
  z-index: 1;
}
eon-drawer[theme="claro"][type="right"] {
  right: 0;
  left: auto;
}
eon-drawer[theme="claro"][type="top"] {
  left: auto;
  right: auto;
  width: 100%;
  height: 250px;
}
eon-drawer[theme="claro"][type="bottom"] {
  top: auto;
  bottom: 0;
  left: auto;
  width: 100%;
  height: 250px;
}
eon-drawer[theme="claro"] .eon-drawer-static {
  position: relative;
  z-index: inherit;
}
