eon-grid[theme="claro"] {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
eon-grid[theme="claro"] eon-scroll {
  flex-grow: 1;
}
eon-grid[theme="claro"] eon-row {
  display: flex;
  flex-direction: row;
}
eon-grid[theme="claro"] eon-cell {
  display: flex;
  box-sizing: border-box;
  min-width: 150px;
  word-break: break-all;
  align-items: center;
  flex-basis: 150px;
  flex-grow: 1;
  justify-content: center;
}
eon-grid[theme="claro"] .cellContent {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline-color: #9a9a9a;
}
eon-grid[theme="claro"] .header {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  flex-grow: 0;
}
eon-grid[theme="claro"] .header .wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  background-color: #272727;
  align-items: center;
  flex-grow: 0;
}
eon-grid[theme="claro"] .header .wrapper eon-cell {
  position: relative;
  height: 100%;
  min-height: 50px;
  color: #e6e6e6;
}
eon-grid[theme="claro"] .header .wrapper eon-cell:hover {
  cursor: pointer;
  background-color: #333232;
}
eon-grid[theme="claro"] .sortIcon {
  position: absolute;
  right: 10px;
}
eon-grid[theme="claro"] .autofitRows {
  overflow-y: hidden;
}
eon-grid[theme="claro"] .entryRow:first-child {
  border-top: 1px solid #333232;
}
eon-grid[theme="claro"] .entryRow {
  box-sizing: border-box;
  min-height: 50px;
  border-bottom: 1px solid #333232;
}
eon-grid[theme="claro"] .entryRow:hover {
  background-color: #333232;
}
eon-grid[theme="claro"] .entryRow:hover eon-cell {
  border-color: transparent;
}
eon-grid[theme="claro"] .entryRow eon-cell {
  min-height: 100%;
  color: #9a9a9a;
  border-right: 1px solid #333232;
}
eon-grid[theme="claro"] .entryRow eon-cell:last-child {
  border: none;
}
eon-grid[theme="claro"] .autofit {
  flex-grow: 1;
}
eon-grid[theme="claro"] .dummyRow {
  min-height: 50px;
  border: none;
}
eon-grid[theme="claro"] .footer {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  padding: 0 20px;
  background-color: #272727;
  align-items: center;
  flex-grow: 0;
  justify-content: flex-end;
}
eon-grid[theme="claro"] .entriesCount {
  color: #9a9a9a;
}
eon-grid[theme="claro"] .pagControls {
  display: flex;
  flex-direction: row;
  color: #9a9a9a;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}
eon-grid[theme="claro"] .pagIcon {
  margin: 0 5px;
  cursor: pointer;
}
eon-grid[theme="claro"] .pagIcon:first-child {
  margin-left: 0;
}
eon-grid[theme="claro"] .pagControls .pagIcon:hover {
  color: white;
}
eon-grid[theme="claro"] .disabled {
  cursor: default;
  color: #4d4d4d !important;
}
eon-grid[theme="claro"] .expanded {
  visibility: visible;
}
eon-grid[theme="claro"] .currentPage {
  display: flex;
  box-sizing: border-box;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}
eon-grid[theme="claro"] .currentPage:hover {
  cursor: pointer;
  border: 2px solid #333232;
}
eon-grid[theme="claro"] .page {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 25px;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}
eon-grid[theme="claro"] .page:hover {
  cursor: pointer;
  background-color: #333232;
}
eon-grid[theme="claro"] .page.selected {
  background-color: #333232;
}
eon-grid[theme="claro"] .resizeIndicator {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -7px;
  bottom: 0;
  width: 15px;
  cursor: col-resize;
  background-color: transparent;
}
eon-grid[theme="claro"] .resizingHeader {
  background-color: #333232;
}
eon-grid[theme="claro"] .rows {
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  flex-grow: 1;
}
eon-grid[theme="claro"] .rows .wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}
eon-grid[theme="claro"] .stripPageSelector {
  display: flex;
  flex-direction: row;
}
eon-grid[theme="claro"] .stripPage {
  display: flex;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
}
eon-grid[theme="claro"] .stripPage:hover {
  cursor: pointer;
  border: 2px solid #333232;
}
eon-grid[theme="claro"] .stripPageSelector .currentPage {
  color: #e2e2e2;
  background-color: #333232;
}
eon-grid[theme="claro"] .stripPageSelector .currentPage:hover {
  cursor: default;
  border: none;
}
eon-grid[theme="claro"] .inputPageSelector {
  display: flex;
  flex-direction: row;
  min-width: 80px;
  height: 28px;
  padding: 0 5px;
  background-color: #2f2f2f;
  align-items: center;
  justify-content: center;
}
eon-grid[theme="claro"] .inputPageSelector .pageInput {
  box-sizing: border-box;
  text-align: center;
  border: 2px solid transparent;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
}
eon-grid[theme="claro"] .inputPageSelector .pageInput:hover {
  border: 2px solid #333232;
}
eon-grid[theme="claro"] .inputPageSelector .pageInput:focus {
  border: 2px solid #333232;
}
eon-grid[theme="claro"] .inputPageSelector .separator {
  padding: 0 5px;
  cursor: default;
  text-align: center;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
}
eon-grid[theme="claro"] .inputPageSelector .totalPages {
  cursor: default;
  text-align: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
}
eon-grid[theme="claro"] .eon-unselectable {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none;
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
}
@media (max-width: 800px) {
  eon-grid[theme="claro"] .pagControls {
    justify-content: center;
  }
  eon-grid[theme="claro"] .entriesCount {
    display: none;
  }
}
