eon-toggle {
  position: relative;
  padding: 3px 0;
}
eon-toggle[label-position="left"] .eon-toggle-label {
  flex-direction: row-reverse;
}
eon-toggle[label-position="left"] .eon-toggle-label .eon-toggle-span {
  margin: 0 0 0 5px;
}
eon-toggle[label-position="right"] .eon-toggle-label .eon-toggle-span {
  margin: 0 5px 0 0;
}
eon-toggle[inline="true"] {
  display: inline-block;
}
eon-toggle[inline="true"] .eon-toggle-toggle {
  width: auto;
}
eon-toggle[readonly="true"] .eon-toggle-label {
  cursor: auto;
  pointer-events: none;
}
eon-toggle[disabled="true"] .eon-toggle-label {
  cursor: auto;
}
eon-toggle[checked="true"] .eon-toggle-circle {
  left: 20px;
}
.eon-toggle-toggle {
  height: 22px;
  display: flex;
  align-items: center;
  position: relative;
}
.eon-toggle-input[type="checkbox"] {
  display: none;
}
.eon-toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.eon-toggle-input[type="checkbox"] + .eon-toggle-label .eon-toggle-span {
  width: 40px;
  height: 15px;
  border-radius: 100px;
  transition: all 0.3s ease;
  position: relative;
}
.eon-toggle-circle {
  position: absolute;
  top: -3px;
  left: 0;
  transition: all 0.3s ease;
  width: 22px;
  height: 22px;
  content: "";
  border-radius: 100%;
}
.eon-toggle-input:disabled ~ .eon-toggle-span {
  pointer-events: none;
}
