@element: vc-contextmenu;


.@{element}-wrapper {
  position: fixed;
  display: none;
}

.@{element}-wrapper-visible {
  display: flex;
}

.@{element}-container {
  display: flex;
  flex-direction: column;
}

.@{element}-container .vc-scroll-content {
  max-height: 250px;
}

.@{element}-wrapper vc-item {
  display: flex;
  flex-direction: row;
  height: 48px;
  padding: 0 16px;
  text-decoration: none;
  
  align-items: center;
}
  
  .@{element}-wrapper vc-item:hover {
    cursor: pointer;
  }
  
  .@{element}-contextmenu {
    z-index: 100;
    overflow: auto;
    word-break: break-all;
  }

  .@{element}-itemSpan {
    margin: 0 10px;
  }

  .@{element}-itemIcon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }


  .@{element}-close {
    display: none;
    padding: 5px;
    justify-content: flex-end;
    flex-grow: 0;
  }

  .@{element}-closeVisible {
    display: flex;
  }

  .@{element}-container vc-scroll {
    flex-grow: 1;
    // display: flex;
  }
    
    @media (max-width: 800px) {
      
      .@{element}-wrapper-visible[data-version="device"] {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
        
      align-items: center;
      justify-content: center;
    }
      
    .@{element}-wrapper-visible[data-version="device"] .@{element}-container {
      width: ~"calc(100% - 400px)";
      min-width: 350px;
    }

  }
  
  @media (max-width: 450px) {
    .@{element}-wrapper-visible[data-version="device"] .@{element}-container {
      width: ~"calc(100% - 100px)";
      min-width: inherit;
    }
    
  }


