@element: vc-reveal;

@{element} {
    & {
        position: relative;
        overflow: hidden;
    }
    &.vc-fill {
        height: 100%;
        width: 100%;
    }
    .@{element}-wrapper {
        display: flex;
        position: absolute;
    }
}