eon-button[inline="true"] {
  display: inline-block;
}
eon-button[inline="true"] .eon-button-button {
  width: auto;
}
eon-button[icon-position="left"] .eon-button-button {
  flex-direction: row-reverse;
}
eon-button[icon-position="left"] .eon-button-buttonIcon {
  margin-right: 5px;
}
eon-button[icon-position="right"] .eon-button-button {
  flex-direction: row;
}
eon-button[icon-position="right"] .eon-button-buttonIcon {
  margin-left: 5px;
  flex-direction: row;
}
eon-button[text="false"] .eon-button-buttonIcon {
  margin-right: 0;
  margin-left: 0;
}
eon-button[text="false"] .eon-button-button {
  padding: 16px 5px;
}
eon-button[icon-position="left"][text="true"] .eon-button-addedIcon {
  padding-left: 10px;
}
eon-button[icon-position="right"][text="true"] .eon-button-addedIcon {
  padding-right: 10px;
}
eon-button a {
  text-decoration: none;
}
.eon-button-button {
  font-weight: bold;
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  padding: 16px;
  cursor: pointer;
  -webkit-transition: background-color ease 0.5s;
  -moz-transition: background-color ease 0.5s;
  transition: background-color ease 0.5s;
  border-width: 3px;
  border-style: solid;
  align-items: center;
  justify-content: center;
}
.eon-button-buttonIcon {
  font-size: 22px;
}
