.eon-scroll-container {
  overflow: hidden;
}
eon-scroll[theme="noire"][native-on-device="true"][native="true"] {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
eon-scroll[theme="noire"][native-on-device="true"][native="true"] .eon-scroll-content {
  overflow: auto;
  height: 100%;
}
eon-scroll[theme="noire"][native-on-device="true"][native="true"][fit="true"] .eon-scroll-content {
  overflow: auto;
}
eon-scroll[theme="noire"][native-on-device="true"][native="true"] .eon-scroll-verticalScroll {
  display: none;
}
eon-scroll[theme="noire"][native-on-device="true"][native="true"] .eon-scroll-horizontalScroll {
  display: none;
}
eon-scroll {
  /* Animations Mode*/
  position: relative;
  flex-direction: column;
  overflow: hidden;
}
eon-scroll.active-transitions .eon-scroll-verticalBar {
  transition: transform 0.4s cubic-bezier(0, 0, 0.54, 1.01);
}
eon-scroll.active-transitions .eon-scroll-horizontalBar {
  transition: transform 0.4s cubic-bezier(0, 0, 0.54, 1.01);
}
eon-scroll.active-transitions .eon-scroll-content {
  transition: transform 0.4s cubic-bezier(0, 0, 0.54, 1.01);
}
eon-scroll[fill-container="true"] {
  max-width: 100%;
  max-height: 100%;
}
eon-scroll .eon-scroll-content {
  padding: 0;
  box-sizing: border-box;
}
eon-scroll > object[data="about:blank"],
eon-scroll .eon-scroll-content > object[data="about:blank"] {
  visibility: hidden;
}
eon-scroll .eon-scroll-verticalScroll {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  height: 100%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
  background-color: transparent;
}
eon-scroll .eon-scroll-verticalRail {
  position: relative;
  flex-grow: 1;
}
eon-scroll .eon-scroll-verticalBar {
  position: absolute;
  width: 100%;
  opacity: 1;
}
eon-scroll .eon-scroll-horizontalScroll {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: row;
  width: 100%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
  background-color: transparent;
}
eon-scroll .eon-scroll-horizontalRail {
  position: relative;
  flex-grow: 1;
}
eon-scroll .eon-scroll-horizontalBar {
  position: absolute;
  height: 100%;
  opacity: 1;
}
eon-scroll .eon-scroll-square {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
}
eon-scroll .eon-scroll-active {
  display: flex;
}
eon-scroll .eon-scroll-arrowButton {
  display: flex;
  cursor: default;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
}
eon-scroll .eon-scroll-static {
  opacity: 1;
}
@media (max-width: 800px) {
  eon-scroll .eon-scroll-arrowButton {
    display: none;
  }
}
