eon-searchbareon-item.eon-searchbar-visible {
  display: flex;
}
.eon-searchbar-main {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.eon-searchbar-main:hover .eon-searchbar-filters {
  border-color: #454545;
}
.eon-searchbar-searchbar {
  display: flex;
}
.eon-searchbar-filtersButton,
.eon-searchbar-searchButton {
  display: flex;
  padding: 0 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.eon-searchbar-fields {
  display: flex;
  flex-grow: 1;
}
.eon-searchbar-field {
  display: flex;
  flex-grow: 1;
  margin-right: 10px;
}
.eon-searchbar-field > :first-child {
  width: 100%;
}
.eon-searchbar-field:last-child {
  margin-right: 0;
}
.eon-searchbar-filters {
  position: absolute;
  top: 100%;
  left: -2px;
  display: none;
  width: 100%;
  border: 2px solid transparent;
  border-top: 0;
}
