eon-toggle {
  position: relative;
  /* Hide native checkbox style*/
}
eon-toggle[inline="true"] {
  display: inline-block;
}
eon-toggle[inline="true"] .eon-toggle-toggle {
  width: auto;
}
eon-toggle .eon-toggle-toggle {
  height: 22px;
  display: flex;
  align-items: center;
  position: relative;
}
eon-toggle .eon-toggle-input[type="checkbox"] {
  display: none;
}
eon-toggle[readonly="true"] .eon-toggle-label {
  cursor: auto;
  pointer-events: none;
}
eon-toggle .eon-toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
eon-toggle[disabled="true"] .eon-toggle-label {
  cursor: auto;
}
eon-toggle .eon-toggle-input[type="checkbox"] + .eon-toggle-label .eon-toggle-span {
  width: 40px;
  height: 15px;
  margin: 0 5px 0 0;
  border-radius: 100px;
  transition: all 0.3s ease;
}
eon-toggle .eon-toggle-input[type="checkbox"] + .eon-toggle-label::after {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 100%;
}
eon-toggle .eon-toggle-input[type="checkbox"]:checked + .eon-toggle-label::after {
  left: 20px;
}
eon-toggle .eon-toggle-input:disabled ~ .eon-toggle-span {
  pointer-events: none;
}
