eon-grid {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
eon-grid.eon-fill {
  height: 100%;
  width: 100%;
}
eon-grid eon-scroll {
  flex-grow: 1;
  display: flex;
}
eon-grid eon-scroll .eon-scroll-content {
  flex-grow: 1;
}
eon-grid eon-grid-row {
  display: flex;
  flex-direction: column;
}
eon-grid .eon-grid-row-content {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  -moz-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-grid .eon-grid-row-dropdown {
  flex-grow: 1;
  flex-direction: column;
  flex-basis: 0;
}
eon-grid[autofit="true"] .eon-grid-row-dropdown {
  display: flex;
}
eon-grid eon-grid-cell {
  display: flex;
  box-sizing: border-box;
  min-width: 150px;
  word-break: break-all;
  align-items: center;
  flex-basis: 150px;
  flex-grow: 1;
  justify-content: center;
}
.eon-grid-cellContent {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.eon-grid-header {
  display: flex;
  flex-direction: column;
  min-height: 75px;
  flex-grow: 0;
}
.eon-grid-header .eon-grid-wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-height: 75px;
  align-items: center;
  flex-grow: 0;
}
.eon-grid-header .eon-grid-wrapper eon-grid-cell {
  position: relative;
  height: 100%;
  min-height: 50px;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  -moz-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}
.eon-grid-header .eon-grid-wrapper eon-grid-cell:hover {
  cursor: pointer;
}
.eon-grid-sortIcon {
  position: absolute;
  right: 10px;
}
.eon-grid-autofitRows {
  overflow-y: hidden;
}
.eon-grid-entryRow {
  box-sizing: border-box;
  min-height: 50px;
  position: relative;
}
.eon-grid-content:hover eon-grid-cell {
  border-color: transparent;
}
.eon-grid-entryRow eon-grid-cell {
  min-height: 100%;
}
.eon-grid-autofit {
  flex-grow: 1;
  flex-basis: 0;
}
.eon-grid-dummyRow {
  min-height: 50px;
  border: none;
}
.eon-grid-footer {
  display: flex;
  flex-direction: row;
  min-height: 75px;
  padding: 0 20px;
  align-items: center;
  flex-grow: 0;
  justify-content: flex-end;
}
.eon-grid-pagControls {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eon-grid-pagIcon {
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  -moz-transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}
.eon-grid-pagIcon:first-child {
  margin-left: 0;
}
.eon-grid-disabled {
  cursor: default;
}
.eon-grid-currentPage {
  display: flex;
  box-sizing: border-box;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}
.eon-grid-resizeIndicator {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -7px;
  bottom: 0;
  width: 15px;
  cursor: col-resize;
  background-color: transparent;
}
.eon-grid-rows {
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  flex-grow: 1;
}
.eon-grid-rows .eon-grid-wrapper {
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}
[autofit="true"] .eon-grid-wrapper {
  display: flex;
}
.eon-grid-stripPageSelector {
  display: flex;
  flex-direction: row;
}
.eon-grid-stripPage {
  display: flex;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  -moz-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}
@media (max-width: 800px) {
  .eon-grid-pagControls {
    justify-content: center;
  }
  .eon-grid-entriesCount {
    display: none;
  }
}
