eon-scroll {
  overflow: hidden;
  position: relative;
}
.eon-scroll-content {
  box-sizing: border-box;
}
.eon-scroll-content::-webkit-scrollbar {
  visibility: hidden;
}
.eon-scroll-smooth > .eon-scroll-content {
  scroll-behavior: smooth;
}
.eon-scroll-square {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
}
.eon-scroll-verticalScroll {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
  background-color: transparent;
}
.eon-scroll-verticalRail {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}
.eon-scroll-verticalBar {
  position: absolute;
  width: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  max-height: 100%;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.eon-scroll-horizontalScroll {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
  background-color: transparent;
}
.eon-scroll-horizontalRail {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}
.eon-scroll-horizontalBar {
  position: absolute;
  height: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  max-width: 100%;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.eon-scroll-arrowButton {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.eon-scroll-static {
  opacity: 1;
}
.eon-scroll-active {
  display: flex;
}
.eon-scroll-flexContainer {
  display: flex;
}
