eon-docker[theme="noire"] {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
eon-docker[theme="noire"] > .content {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
eon-docker[theme="noire"][direction="horizontal"] > .content {
  flex-direction: row;
}
eon-docker[theme="noire"][direction="vertical"] .content {
  flex-direction: column;
}
eon-docker[theme="noire"] .gutter {
  position: absolute;
  background: #606060;
  opacity: 0;
  -webkit-transition: 0.3s opacity;
  -moz-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  z-index: 1;
}
eon-docker[theme="noire"] .gutter:hover,
eon-docker[theme="noire"] .gutter.visible {
  opacity: 0.6;
}
eon-docker[theme="noire"] .gutter[data-direction="horizontal"] {
  right: -5px;
  top: 0;
  height: 100%;
  width: 8px;
  cursor: e-resize;
}
eon-docker[theme="noire"] .gutter[data-direction="vertical"] {
  bottom: -5px;
  left: 0;
  height: 8px;
  width: 100%;
  cursor: n-resize;
}
eon-docker[theme="noire"] .dropIndicator {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  width: 0;
  height: 0;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  pointer-events: none;
  background: rgba(20, 20, 20, 0.2);
}
eon-docker[theme="noire"] .tabsIndicator {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  width: 5px;
  height: 90%;
  -webkit-transition: 0.2s left;
  -moz-transition: 0.2s left;
  -o-transition: 0.2s left;
  transition: 0.2s left;
  pointer-events: none;
  background-color: #0ab0df;
}
eon-docker[theme="noire"] div.tabsIndicator[data-position="left"] {
  left: 0;
}
eon-docker[theme="noire"] div.tabsIndicator[data-position="right"] {
  right: -3px;
}
eon-docker[theme="noire"] div.tabsIndicator[data-visible="true"] {
  display: flex;
}
eon-docker[theme="noire"] eon-segment {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  background: #444444;
}
eon-docker[theme="noire"] eon-segment[type="wrapper"][direction="horizontal"] > .content {
  flex-direction: row;
}
eon-docker[theme="noire"] eon-segment[type="wrapper"][direction="vertical"] > .content {
  flex-direction: column;
}
eon-docker[theme="noire"] eon-segment > .tabs {
  display: flex;
  min-height: 30px;
  flex-grow: 0;
  background: #333232;
}
eon-docker[theme="noire"] eon-segment > .tabs .region {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}
eon-docker[theme="noire"] eon-segment > .tabs .wrapper {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  min-width: 100%;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
eon-docker[theme="noire"] eon-segment > .tabs .scrolls {
  display: flex;
  min-width: 50px;
  background: #333232;
  flex-grow: 0;
}
eon-docker[theme="noire"] eon-segment > .tabs .scrolls div {
  display: flex;
  height: 100%;
  cursor: default;
  opacity: 0.3;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
eon-docker[theme="noire"] eon-segment > .tabs .scrolls div:hover {
  opacity: 0.3;
}
eon-docker[theme="noire"] eon-segment > .tabs .scrolls.enabled div {
  opacity: 0.6;
  cursor: pointer;
}
eon-docker[theme="noire"] eon-segment > .tabs .scrolls.enabled div:hover {
  opacity: 1;
}
eon-docker[theme="noire"] eon-segment > .tabs .scrolls i {
  font-size: 20px;
}
eon-docker[theme="noire"] .minimize {
  min-width: 30px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
eon-docker[theme="noire"] .minimize > i {
  opacity: 0.6;
  cursor: pointer;
}
eon-docker[theme="noire"] .minimize > i:hover {
  opacity: 1;
}
eon-docker[theme="noire"] .maximize {
  min-width: 30px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
eon-docker[theme="noire"] .maximize > i {
  opacity: 0.6;
  cursor: pointer;
}
eon-docker[theme="noire"] .maximize > i:hover {
  opacity: 1;
}
eon-docker[theme="noire"] eon-segment > .tabs .tab {
  font-size: 12px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100px;
  min-width: 100px;
  cursor: pointer;
  border-right: 3px solid #444444;
  background: #333232;
  align-items: center;
  justify-content: center;
}
eon-docker[theme="noire"] eon-segment > .tabs .tab .title {
  opacity: 0.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  text-align: center;
}
eon-docker[theme="noire"] eon-segment > .tabs .tab:hover .title {
  opacity: 1;
}
eon-docker[theme="noire"] eon-segment > .tabs .closeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  width: 15px;
  height: 15px;
  opacity: 0.6;
  align-items: center;
  justify-content: center;
}
eon-docker[theme="noire"] eon-segment > .tabs .closeButton:hover {
  opacity: 1;
}
eon-docker[theme="noire"] eon-segment > .tabs .tab i {
  font-size: 15px;
}
eon-docker[theme="noire"] eon-segment > .tabs .selected {
  background: #272727;
}
eon-docker[theme="noire"] eon-segment > .tabs .selected .title {
  opacity: 1;
}
eon-docker[theme="noire"] eon-segment > .content {
  position: relative;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}
eon-docker[theme="noire"] eon-segment[type="content"] .content {
  padding: 8px;
  box-sizing: border-box;
  background: #272727;
}
eon-docker[theme="noire"] .tabs .dropDetector {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
eon-docker[theme="noire"] .innerWrapper,
eon-docker[theme="noire"] .outerWrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}
eon-docker[theme="noire"] .innerWrapper div[data-position],
eon-docker[theme="noire"] .outerWrapper div[data-position] {
  pointer-events: all;
}
eon-docker[theme="noire"] .top {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 20%;
}
eon-docker[theme="noire"] .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}
eon-docker[theme="noire"] .detection .row {
  display: flex;
  flex-direction: row;
}
eon-docker[theme="noire"] .left {
  position: absolute;
  left: 0;
  top: 20%;
  display: flex;
  flex-direction: row-reverse;
  width: 20%;
  height: 60%;
}
eon-docker[theme="noire"] .right {
  position: absolute;
  right: 0;
  top: 20%;
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 60%;
}
eon-docker[theme="noire"] .center {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 20%;
  bottom: 20%;
  right: 20%;
  left: 20%;
}
eon-docker[theme="noire"] .outerTop {
  position: absolute;
  top: 0;
  right: 10px;
  left: 10px;
  height: 10px;
}
eon-docker[theme="noire"] .outerBottom {
  position: absolute;
  right: 10px;
  bottom: 0;
  left: 10px;
  height: 10px;
}
eon-docker[theme="noire"] .outerLeft {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
}
eon-docker[theme="noire"] .outerRight {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 100%;
}
eon-docker[theme="noire"] .bookmarks {
  position: absolute;
  left: 3px;
  top: 80px;
  width: 140px;
  transition: 0.4s width;
  padding: 3px 3px 3px 0;
  overflow: hidden;
  pointer-events: none;
}
eon-docker[theme="noire"] .bookmarksArea {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 20px;
  width: 10px;
}
eon-docker[theme="noire"] .bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 140px;
  font-size: 12px;
  cursor: pointer;
  background: #444444;
  margin-bottom: 3px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 0.3s all;
  pointer-events: all;
  transform: translateX(-125px);
  opacity: 1;
  box-shadow: 2px 1px 1px #333333;
}
eon-docker[theme="noire"] .bookmark:hover {
  transform: translateX(0);
}
eon-docker[theme="noire"] .active {
  display: flex;
}
eon-docker[theme="noire"] .fullscreen {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  border: 3px solid #444444;
  box-sizing: border-box;
  flex-direction: column;
}
eon-docker[theme="noire"] .fullscreen .header {
  display: flex;
  min-height: 30px;
  flex-grow: 0;
  background: #333232;
}
eon-docker[theme="noire"] .fullscreen .title {
  flex-grow: 1;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
eon-docker[theme="noire"] .fullscreen .title span {
  opacity: 0.8;
  text-align: left;
  font-size: 12px;
}
eon-docker[theme="noire"] .fullscreenExit {
  min-width: 30px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
eon-docker[theme="noire"] .fullscreenExit > i {
  opacity: 0.6;
  cursor: pointer;
}
eon-docker[theme="noire"] .fullscreenExit > i:hover {
  opacity: 1;
}
eon-docker[theme="noire"] .fullscreen > .content {
  padding: 8px;
  box-sizing: border-box;
  background: #272727;
  flex-grow: 1;
  height: calc(100% - 30px);
}
eon-docker[theme="noire"] > .content > eon-segment {
  margin: 3px;
}
eon-docker[theme="noire"][direction="horizontal"] > .content > eon-segment:not(:first-child) {
  margin-left: 0;
}
eon-docker[theme="noire"][direction="vertical"] > .content > eon-segment:not(:first-child) {
  margin-top: 0;
}
eon-docker[theme="noire"] eon-segment[direction="horizontal"] > .content > eon-segment:not(:last-child) {
  margin-right: 3px;
}
eon-docker[theme="noire"] eon-segment[direction="vertical"] > .content > eon-segment:not(:last-child) {
  margin-bottom: 3px;
}
eon-docker[theme="noire"] eon-segment[type="tabs"] > .content > eon-segment {
  margin: 0 !important;
}
