eon-headerpanel {
  display: flex;
  position: relative;
  flex-direction: column;
}
.eon-headerpanel-header {
  display: none;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  font-weight: bold;
  font-family: arial;
  transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
.eon-headerpanel-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-basis: 0;
}
.eon-headerpanel-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.eon-headerpanel-shadowDrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
.eon-headerpanel-actionButton {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 0), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
.eon-headerpanel-actionButton:hover {
  transform: translateZ(0) scale(1.1);
  backface-visibility: hidden;
}
.eon-headerpanel-closeButton {
  display: none;
  position: absolute;
  top: 14px;
  right: 10px;
  font-size: 20px;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
  cursor: pointer;
}
