eon-showcase-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  background-color: #383838;
  box-sizing: border-box
}
.eon-showcase-item-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}