.d-drawer {
    display: flex;
    background-color: #2d2d2d;
    height: 250px;
}
.d-drawer[type=left], .d-drawer[type=right] {
    top: 48px !important;
    height: calc(100% - 48px) !important;
    width: 230px;
}
.d-drawer[type=top]{
    top: 0 !important;
    left: 0;
}
.d-drawer[type=bottom]{
    top: auto !important;
    left: 0;
}
.d-drawer-example {
    position: relative;
    overflow: hidden;
    height: 400px;
}
.d-drawer-btn {
    cursor: pointer;
    font-size: 40px;
    position: absolute;
}
#d-drawer-lBtn {
    left: 0;
    margin-left: 11px;
}
#d-drawer-rBtn {
    right: 0;
    margin-right: 11px;
}
#d-drawer-tBtn {
    top: 40px;
    left: 50%;
}
#d-drawer-bBtn {
    top: auto !important;
    bottom: 0;
    left: 50%;
}
.d-drawer-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.d-drawer-child {
    background-color: #606060;
    flex-grow: 1;
    margin: 6px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 17px;
    display: flex;
}
.d-drawer-child-last {
    margin-bottom: 15px;
}
.d-drawer-section {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 15px 10px 6px 10px;
}