

.d-gutter-root {
    height: calc(100% - 40px) !important;
}
.d-gutter .vc-gutter-section, .d-gutter-root .vc-gutter-section {
    background-color: #2d2d2d;
}
.d-gutter-example {
    height: 300px;
    width: calc(100% - 30px);
}

.d-gutter-inner {
    height: 50px;
    width: 50px;
    min-width: 50px;
    margin: 8px;
    background: #519a51;
}
.d-gutter-red {
    background-color: #9c4747;
}
.d-gutter-blue {
    background-color: #3b78b7;
}
.d-gutter-orange {
    background-color: #b78f47;
}


