html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #2d2d2d;
    color: #e6e6e6;
}

.main {
    width: 100%;
    height: 100%;
}

.tMenuBar {
    background-color: #272727;
    border-bottom: 4px solid #18c796;
    box-shadow: 0 2px 14px 0 #242424;
    width: 100%;
    height: 60px;
    flex-grow: 0;
    z-index: 2;
    box-sizing: border-box;
}

/* Searchbar */

.tSearchbar {
    width: 300px;
    display: flex;
}

.tSearchbar:hover .vc-searchbar-searchButton {
    color: #ffffff;
}

.tSearchbar .vc-searchbar-main {
    box-shadow: none;
    background-color: transparent;
}

.tSearchbar .vc-searchbar-field {
    background-color: transparent !important;
    margin-left: 10px;
}

.tSearchbar .vc-searchbar-main {
    border: none !important;
    flex-grow: 1;
    padding: 0 !important;
    justify-content: center;
}

.tSearchbar .vc-searchbar-field input {
    outline: none;
    background: transparent;
    border: none;
    color: #e6e6e6;
    padding: 0 10px;
}

.tTree .notVisible {
    display: none;
}

/* END Searchbar */

.tIcon {
    background-image: url(../img/vcomet-logo.png);
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Theme Tester Content */

.tContent {
    width: 100%;
    flex-grow: 1;
    flex-basis: 0;
}

/* Theme Tester Tree */

.tTreeContainer {
    background-color: #2d2d2d;
    width: 300px;
    box-shadow: 0px 0px 14px 0 #242424;
    z-index: 1;
    flex-grow: 0;
}

.tTree {
    flex-grow: 1;
}

/* END Theme Tester Tree */

/* Theme Tester View */

.tViewContainer {
    background-color: #383838;
    /* padding: 20px; */
    flex-grow: 1;
}

.tScrollContainer {
    width: 100%;
    height: 100%;
}

#tViewContent>.vc-scroll-content {
    padding: 20px;
}

/* END Theme Tester View */

/********************/

.card {
    padding: 10px;
    background-color: #2d2d2d;
    margin: 10px;
    box-sizing: border-box;
    /* width: 100%; */
}

.card h1 {
    color: #dcdcdc;
    font-weight: bold;
    font-size: 25px;
    padding: 0 20px;
}

.buttonsWrapper {
    display: flex;
}

.row {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.example {
    background-color: #383838;
    padding: 10px;
    box-sizing: border-box;
    margin: 15px;
    min-height: 50px;
}

h2 {
    margin: 0;
}

.tSubtitleContainer {
    margin-bottom: 10px;
}

.tExampleContainer {
    display: flex;
}

.twoColumns {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.twoColumns>* {
    width: calc(50% - 10px);
}

.twoRows {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
}

/********************/

vc-button, vc-checkbox, vc-combobox, vc-datebox, vc-datepicker, vc-text {
    margin: 5px;
}

vc-combobox {
    width: 300px;
}

vc-datepicker {
    max-width: 300px;
}