vc-stackcontainer[theme="noire"] {
  height: 100%;
  display: flex;
}
vc-stackcontainer[theme="noire"] > vc-container {
  width: 100%;
  height: 100%;
  display: none;
}
vc-stackcontainer[theme="noire"] vc-container.visible {
  display: block;
}
