vc-combobox[theme="noire"] {
  position: relative;
  /* Begin underline animation*/
  /* End underline animation*/
}
vc-combobox[theme="noire"] vc-item:hover {
  cursor: pointer;
  background-color: #353535;
}
vc-combobox[theme="noire"] .matchingError {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}
vc-combobox[theme="noire"] .comboboxWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}
vc-combobox[theme="noire"] .comboboxWrapperNoMatches {
  border-bottom: 1px solid #c33232;
}
vc-combobox[theme="noire"] .combobox {
  display: flex;
  flex-direction: row;
  background-color: #3a3a3a;
  align-items: center;
}
vc-combobox[theme="noire"] .underline {
  position: relative;
  display: block;
  width: auto;
}
vc-combobox[theme="noire"] .underline:before,
vc-combobox[theme="noire"] .underline:after {
  position: absolute;
  bottom: 0;
  width: 0;
  top: 0;
  height: 2px;
  content: "";
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background: #18c796;
}
vc-combobox[theme="noire"] .underline:before {
  left: 50%;
}
vc-combobox[theme="noire"] .underline:after {
  right: 50%;
}
vc-combobox[theme="noire"] .animate:before,
vc-combobox[theme="noire"] .animate:after {
  width: 50%;
}
vc-combobox[theme="noire"] .underlineNoMatches:before,
vc-combobox[theme="noire"] .underlineNoMatches:after {
  background: #c33232;
}
vc-combobox[theme="noire"] input {
  font-size: 15px;
  padding: 10px;
  color: #c1c1c1;
  border: 0;
  background-color: transparent;
  flex-grow: 1;
}
vc-combobox[theme="noire"] input:focus {
  outline: none;
}
vc-combobox[theme="noire"] button {
  display: flex;
  color: #c1c1c1;
  border: 0;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
vc-combobox[theme="noire"] .dropButton {
  color: #c1c1c1;
  flex-grow: 0;
}
vc-combobox[theme="noire"] .dropButton:hover {
  color: white;
}
vc-combobox[theme="noire"] .dropdown {
  font-size: 16px;
  position: absolute;
  z-index: 1;
  display: none;
  overflow: auto;
  width: 100%;
  max-height: 300px;
  color: #c1c1c1;
  background-color: #2d2d2d;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  top: calc(100% + 1px);
  max-height: 150px;
}
vc-combobox[theme="noire"] vc-item {
  display: flex;
  height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #e6e6e6;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
vc-combobox[theme="noire"] .expanded {
  display: flex;
}
vc-combobox[theme="noire"] .hidden {
  display: none;
}
vc-combobox[theme="noire"] .dropdown vc-scroll {
  flex-grow: 1;
}
