vc-dropdown[theme="noire"] {
  position: relative;
  min-width: 125px;
  background: #3a3a3a;
  /* Begin underline animation*/
}
vc-dropdown[theme="noire"] .vc-dropdown-main {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}
vc-dropdown[theme="noire"] .vc-dropdown-main:hover {
  color: white;
}
vc-dropdown[theme="noire"] .vc-dropdown-button {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
  color: #c1c1c1;
  border: none;
  background-color: transparent;
  align-items: center;
}
vc-dropdown[theme="noire"] .vc-dropdown-button:hover {
  color: white;
}
vc-dropdown[theme="noire"] .vc-dropdown-icon {
  flex-grow: 0;
}
vc-dropdown[theme="noire"] .vc-dropdown-dropdown {
  position: absolute;
  display: none;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #2d2d2d;
  top: calc(100% + 1px);
  max-height: 150px;
}
vc-dropdown[theme="noire"] .vc-dropdown-dropdown vc-scroll {
  flex-grow: 1;
}
vc-dropdown[theme="noire"] .expanded {
  display: flex;
}
vc-dropdown[theme="noire"] .vc-dropdown-ItemIcon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  margin-right: 20px;
  background-size: cover;
}
vc-dropdown[theme="noire"] .vc-dropdown-underline {
  position: relative;
  display: block;
  width: auto;
}
vc-dropdown[theme="noire"] .vc-dropdown-underline:before,
vc-dropdown[theme="noire"] .vc-dropdown-underline:after {
  position: absolute;
  bottom: 0;
  width: 0;
  top: 0;
  height: 2px;
  content: "";
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background: #18c796;
}
vc-dropdown[theme="noire"] .vc-dropdown-underline:before {
  left: 50%;
}
vc-dropdown[theme="noire"] .vc-dropdown-underline:after {
  right: 50%;
}
vc-dropdown[theme="noire"].focus .vc-dropdown-underline:before,
vc-dropdown[theme="noire"].focus .vc-dropdown-underline:after {
  width: 50%;
}
vc-dropdown[theme="noire"].focus .vc-dropdown-label,
vc-dropdown[theme="noire"].focus .vc-dropdown-counter {
  color: #18c796;
}
vc-dropdown[theme="noire"].focus .vc-dropdown-label {
  color: #18c796;
}
vc-dropdown[theme="noire"] input {
  font-size: 15px;
  padding: 10px;
  color: #c1c1c1;
  border: 0;
  background-color: transparent;
  flex-grow: 1;
  cursor: pointer;
}
vc-dropdown[theme="noire"] vc-item {
  display: flex;
  height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #e6e6e6;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
vc-dropdown[theme="noire"] vc-item:hover {
  cursor: pointer;
  background-color: #353535;
}
vc-dropdown[theme="noire"] vc-item span {
  flex-grow: 1;
}
