app-doc-main-menu-item{
    width:auto;
    height:auto;
    padding: 50px;
    cursor:pointer;
    user-select: none;
    display:inline-flex;
    flex-direction: column;
}
app-doc-main-menu-item .app-doc-main-menu-item-icon{
    font-size: 10vw;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
app-doc-main-menu-item .app-doc-main-menu-item-label{
    font-size: 4vw;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
app-doc-main-menu-item .app-doc-main-menu-item-brief{
    font-size: 1.2vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media (max-width: 700px) {
    app-doc-main-menu-item .app-doc-main-menu-item-icon{
        font-size: 80px;
    }
    app-doc-main-menu-item .app-doc-main-menu-item-label{
        font-size: 40px;
    }
    app-doc-main-menu-item .app-doc-main-menu-item-brief{
        font-size: 16px;
    }
}