vc-menu vc-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
}
vc-menu vc-item > vc-item.vc-menu-header {
  width: 100%;
  height: 100%;
}
vc-menu vc-item.vc-menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
vc-menu vc-item[icon-position="left"].vc-menu-header {
  flex-direction: row-reverse;
}
vc-menu vc-item[icon-position="left"].vc-menu-header i {
  margin-right: 10px;
}
vc-menu vc-item[icon-position="right"].vc-menu-header {
  flex-direction: row;
}
vc-menu vc-item[icon-position="right"].vc-menu-header i {
  margin-left: 10px;
}
vc-menu vc-item.vc-menu-header i {
  font-size: 16px;
}
vc-menu vc-item[type="dropdown"] .vc-menu-dropdown {
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  width: 100%;
}
vc-menu[direction="bottom-right"] .vc-menu-dropdown {
  top: 0;
  right: auto;
  bottom: auto;
  left: 100%;
}
vc-menu[direction="bottom-right"] > .vc-menu-wrapper vc-item > .vc-menu-dropdown {
  top: 100%;
  right: auto;
  bottom: auto;
  left: 0;
}
vc-menu[direction="bottom-right"] > .vc-menu-dropdown > vc-item > .vc-menu-dropdown {
  top: 0;
  left: 100%;
}
vc-menu vc-item[type="dropdown"][data-visible="true"] > .vc-menu-dropdown {
  display: flex;
}
vc-menu > vc-item[type="dropdown"][data-direction="bottom-left"] > .vc-menu-dropdown {
  top: 100%;
  left: 0%;
}
.vc-menu-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
