@element: vc-spinner;

@{element}[theme="noire"] {
  & {
    position: relative;
  }
  .@{element}-group {
    display: flex;
    flex-direction: column;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    flex-grow: 1;
  }
  .@{element}-spinner {
    display: flex;
    flex-direction: row;
    outline: none;
  }
  .@{element}-input {
    font-size: 15px;
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: transparent;
  }
  .@{element}-control {
    font-weight: bold;
    display: flex;
    width: 34px;
    padding: 5px;
    pointer-events: all;
    text-align: center;
    
    
    align-items: center;
    justify-content: center;
  }
  .@{element}-control:hover {
    cursor: pointer;
  }

  .@{element}-control i {
    font-size: 20px;
  }
  .@{element}-input:focus {
    outline: none;
  }

  /* LABEL */
  .@{element}-label {
    font-size: 15px;
    margin-bottom: 5px;
    height: 18px;
    display: none;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
         transition: 0.3s ease all;
  }

  .@{element}-labelDisplay {
    display: flex;
  }

  .@{element}-disabled .@{element}-control:hover {
  // .@{element}-disabled {
    cursor: auto;
    pointer-events: none;
  }
  .@{element}-input[type=number]::-webkit-inner-spin-button, .@{element}-input[type=number]::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .@{element}-input[type=number] {
    -webkit--appearance: textfield;
    -moz-appearance: textfield;
         appearance: textfield;
  }
  /* BOTTOM BAR*/
  .@{element}-inputBar {
    position: relative;
    display: block;
    width: auto;
  }
  .@{element}-inputBar:before, .@{element}-inputBar:after {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    -webkit-transition: 0.5s ease all;
       -moz-transition: 0.5s ease all;
            transition: 0.5s ease all;
    // background: #18c796;
  }
  .@{element}-inputBar:before {
    left: 50%;
  }
  .@{element}-inputBar:after {
    right: 50%;
  }
  /* active state */
  .@{element}-animate:before, .@{element}-animate:after {
    width: 50%;
  }

  @media (max-width: 768px) {
    & {
      width: auto !important;

    }
  }
}
