@element: vc-checkbox;

@{element}[theme="noire"] {
  & {
    position: relative !important;
  }
  /* Hide native checkbox*/
  .@{element}-checkbox[type="checkbox"] {
    display: none;
  }
  .@{element}-label {
    display: flex;
    cursor: pointer;

    align-items: center;
  }
  /* Create the box for the checkbox */
  .@{element}-checkbox[type="checkbox"] + .@{element}-label .@{element}-span {
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin: -3px 5px 0 0;
    cursor: pointer;
    -webkit-transition: 0.3s ease all;
       -moz-transition: 0.3s ease all;
            transition: 0.3s ease all;
    vertical-align: middle;
    border-width: 2px;
    border-style: solid; 
    border-radius: 2px;
    background-color: transparent;
  }
  /* Create the tick inside the checkbox */
  .@{element}-checked[type="checkbox"] + .@{element}-label:after {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 10px;
    height: 5px;
    content: "";
    cursor: pointer;
    transform: rotate(-45deg);
    
  }
  /* Change the box style when it's checked */
  .@{element}-checked[type="checkbox"] + .@{element}-label .@{element}-span {
    cursor: pointer;
    -webkit-transition: 0.3s ease all;
       -moz-transition: 0.3s ease all;
            transition: 0.3s ease all;
    background-color: #18c796;
  }
  /* Style of the box when the checkbox it's disabled */
  .@{element}-checkbox[type="checkbox"]:disabled + .@{element}-label .@{element}-span {
    cursor: auto;
  }
  .@{element}-checkbox:disabled + .@{element}-label, .checkbox[type="checkbox"]:disabled + .@{element}-label .@{element}-span, .@{element}-checkbox[type="checkbox"]:disabled + .@{element}-label:after {
    cursor: auto;
  }
}
