vc-radio[theme="noire"] {
  position: relative;
  /* Hide native radio*/
  /* Create the circle for the radio */
  /* Change the radio style when it's checked */
  /* Initial inside radio style*/
  /* Change the inside radio style when it's checked */
}
vc-radio[theme="noire"][inline="true"] {
  display: inline-block;
}
vc-radio[theme="noire"][inline="true"] .vc-radio-radio {
  width: auto;
}
vc-radio[theme="noire"] .vc-radio-radio {
  width: 100%;
  display: flex;
}
vc-radio[theme="noire"] .vc-radio-input {
  display: none;
}
vc-radio[theme="noire"][readonly="true"] .vc-radio-input {
  pointer-events: none;
}
vc-radio[theme="noire"][readonly="true"] .vc-radio-label {
  pointer-events: none;
}
vc-radio[theme="noire"][readonly="false"] .vc-radio-label {
  cursor: pointer;
}
vc-radio[theme="noire"] .vc-radio-label {
  display: flex;
  align-items: flex-start;
}
vc-radio[theme="noire"] .vc-radio-outspan {
  box-sizing: border-box;
  min-width: 18px;
  min-height: 18px;
  margin: 0 5px 0 0;
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  display: flex;
}
vc-radio[theme="noire"] .vc-radio-inspan {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  visibility: hidden;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border-radius: 100%;
}
vc-radio[theme="noire"] .vc-radio-input:checked + .vc-radio-label .vc-radio-inspan {
  visibility: visible;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
vc-radio[theme="noire"] .vc-radio-input:disabled + .vc-radio-label,
vc-radio[theme="noire"] .vc-radio-input[type="radio"]:disabled + .vc-radio-label .vc-radio-outspan {
  cursor: auto;
}
