@import "variables";
@element: eon-panel;

/* Vimlet panel element */
eon-panel[theme="@{theme}"],
div[data-theme="@{theme}"] eon-panel,
body[data-theme="@{theme}"] eon-panel {
  /* Header */
  .@{element}-header{
    background-color: #f1f0f0;
    color: #9a9a9a;
    font-weight: bold;
  }
  /* Content top shadow div */
  .@{element}-shadowDrop{
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  }
}