@import "variables";
@element: eon-swiper;

eon-swiper[theme="@{theme}"],
div[data-theme="@{theme}"] eon-swiper,
body[data-theme="@{theme}"] eon-swiper {

  .@{element}-thumbnail{
    background-color: @white;
  }
  /*
   * Navigation controllers
   */
  .@{element}-navBtn {
    color: @white;
    text-align: center;
  }
  
  &.@{element}-vertical .@{element}-navBtn{
    position: absolute;
    color: @white;
  }
  .@{element}-screenBtn.eon-fg1-hoverable {
    color: #ffffff80;
  }
  .eon-fg1-hoverable:hover {
    color: @white;
  }
  /*
   * Gallery elements
   */
   &.@{element}-gallery > .@{element}-pagination{
    background-color: @sect4;
  }
  &.@{element}-gallery.@{element}-vertical > .@{element}-pagination{
    background-color: @sect4;
  }
}
