@import "variables.less";
@element: eon-tree-node;

eon-tree-node[theme="claro"],
div[data-theme="claro"] eon-tree-node,
body[data-theme="claro"] eon-tree-node {
  
  .@{element}-selected::before, .@{element}-selected:hover::before {
    background-color: @bg2-hover;
  }

  .@{element}-head:hover::before {
    background-color: @sect1-hover;
  }
  .@{element}-selected:hover::before{
    background-color: @bg2-hover;
  }
  .@{element}-head:hover .@{element}-name{
    color: @fg2;
  }
  .@{element}-head:hover i {
    color: @fg2;
  }
  .@{element}-selected:hover .@{element}-name{
    color: @fg2;
  }

}