@import "variables";
@element: eon-tree;

eon-tree[theme="@{theme}"],
div[data-theme="@{theme}"] eon-tree,
body[data-theme="@{theme}"] eon-tree {
  & {
    height: 100%;
  }
  .@{element}-tree .@{element}-wrapper{
    transition: max-height .3s;
  }
}
