@import "variables.less";
@element: eon-treenode;

eon-treenode[theme="claro"],
div[data-theme="claro"] eon-treenode,
body[data-theme="claro"] eon-treenode {
  
  .@{element}-selected::before, .@{element}-selected:hover::before {
    background-color: @bg2-hover;
  }

  .@{element}-head:hover::before {
    background-color: @sect1-hover;
  }
  .@{element}-selected:hover::before{
    background-color: @bg2-hover;
  }
  .@{element}-head:hover .@{element}-name{
    color: @fg2;
  }
  .@{element}-head:hover i {
    color: @fg2;
  }
  .@{element}-selected:hover .@{element}-name{
    color: @fg2;
  }

}