@import "variables";
@element: eon-sticky;

eon-sticky[theme="@{theme}"],
div[data-theme="@{theme}"] eon-sticky,
body[data-theme="@{theme}"] eon-sticky {

  .@{element}-stickyWrapper{
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
  }
}
