@import "variables";
@element: eon-tree;

eon-tree[theme="@{theme}"],
div[data-theme="@{theme}"] eon-tree,
body[data-theme="@{theme}"] eon-tree {
  & {
    height: 100%;
  }
  .@{element}-tree {
    position: relative;
    padding: 10px 5px;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    overflow: auto;
  }
  .@{element}-tree .@{element}-wrapper{
    transition: max-height .3s;
  }
}
