@theme: "claro";

// ----- COLORS ---------
// @eonFrontColor: #47cce2; //#18c796
@eonFrontColor: #57cde3; //

@fg1: #888888; // 
@fg1-hover: #57cde3; //
@bg0: #ffffff; //
@margin: 5px;
@padding: 5px;

/* Set 1 - Containers (appmenu, searchbar, datepicker, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
@fg0: #9a9a9a;
@bg1: #ffffff; //
@bg1-hover: #bef2ff; //
@bg1-hover2: #ddf5ff; 
@bg1-hover3: #f1fbff; 
@bg1-border2: #ddf5ff;
@bg1-border3: #57cde3;
@bg1-border: #57cde3;
@bg1-border-hover: #57cde3; //
@sect1: #ffffff; //  
@sect1-hover: #ddf5ff; 
@sect2: #ddf5ff;
@sect2-border-hover: #888888;
@sect3: #f1fbff;  
@sect3-hover: #f1fbff; 
@sect4: black;
@boxshadow1: 0px 0px 10px #d8d8d8; //
@boxshadow1-color:#d8d8d8; //
@boxshadow2: 0px 0px 10px #d8d8d8; //
@boxshadow3: inset 0px 5px 11px -6px @boxshadow1-color;
@boxshadow4: 0px 2px 9px 0px @bg1;
@boxshadow5: inset 0px -33px 37px -39px @bg1;
@bg1-modal: rgba(255, 255, 255, 0.85);
@bg1-modal2-hover: rgba(0, 0, 0, 0.2); 

/* Set 2 - Elements (button, checkbox, combobox, spinner, text, 
           radio, contextmenu, slider, treenode) */
@bg2: #ffffff; 
@bg2-filled: #57cde3; //
@bg2-filled-hover: #54b7c7; //
@boxshadow-filled-hover: 0 3px 9px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12);
@fg2-filled-disabled: #a3a3a3;//
@bg2-filled-disabled: #dcdcdc;//
// @bg2-hover: #47cce2;
// @bg2-hover: rgba(61, 165, 183, 0.5);
@bg2-hover: rgba(133, 221, 236, 0.5);
@bg2-border: #57cde3; //
@bg2-active: #57cde3;
@bg2-boxshadow: 0 2px 16px 0 @bg2-boxshadow-color;
@bg2-boxshadow-color: #242424;
@bg3: #393939; 
@bg3-border: #888888;
@bg3-hover: #454545; 
@bg4: rgba(99, 99, 99, 0.2);
@bg5: rgba(99, 99, 99, 0.4);
@bg5-disabled: #cecece; //
@fg2: #444444; //
@fg2-filled: #444444; //
@fg2-hover: #57cde3; //
@fg2-disabled: #cecece;
@fg2-placeholder-disabled: #565656;
@placeholder-color: #9a9a9a;
@fg3: #57cde3; 
@no-matches: #c33232;

// Set 3 - Elements (toggle, video, datebox)
@bg6: #cecece;
@bg6-disabled2: #cecece;
@bg6-boxshadow: none;
@bg6-boxshadow-color: #242424;
@bg7: #ffffff; //
@bg7-light: #bef2ff; 

// Set 4 - Elements (gutter, loader, scroll, separator)
@bg8: #cecece;
@bg8-hover: #888888;
@fg4: #888888;
@fg4-hoverable: #ffffff;
@bg9: #f1f0f0;

// set 5 - Ripple effect (button, combobox, toggle, radio, checkbox)
@ripple-outer-bg1: rgba(133, 221, 236, 0.5); //
@ripple-outer-bg2: rgba(222, 222, 222, 0.5); //
// @ripple-inner-bg1: #368897;
@ripple-inner-bg1: #e6fbff;
// Specific flat button hover
// @ripple-inner-bg1-hover: ##245d67;
@ripple-inner-bg1-hover: #bef2ff; //
// Specific filled button bubble
@ripple-filled-bg1: #b3e8f1;
@ripple-filled-bg1-hover: #79d7e9;
// @ripple-filled-bg1: #99c8d0;
// @ripple-filled-bg1-hover: #54b7c7;

@animation: .3s cubic-bezier(.4,0,.2,0);

@white: #ffffff;
@error1: #c33232; //
@error2: #e63939; //