vc-spinner[theme="noire"] {
  position: relative;
  /* LABEL */
  /* BOTTOM BAR*/
  /* active state */
}
vc-spinner[theme="noire"][inline="true"] {
  display: inline-block;
}
vc-spinner[theme="noire"][inline="true"] .vc-spinner-group {
  width: auto;
}
vc-spinner[theme="noire"] .vc-spinner-group {
  display: flex;
  flex-direction: column;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100%;
}
vc-spinner[theme="noire"] .vc-spinner-spinner {
  display: flex;
  flex-direction: row;
  outline: none;
}
vc-spinner[theme="noire"] .vc-spinner-input {
  font-size: 15px;
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  background-color: transparent;
}
vc-spinner[theme="noire"] .vc-spinner-control {
  font-weight: bold;
  display: flex;
  padding: 8px 8px 5px 8px;
  pointer-events: all;
  text-align: center;
  align-items: center;
  justify-content: center;
}
vc-spinner[theme="noire"] .vc-spinner-control:hover {
  cursor: pointer;
}
vc-spinner[theme="noire"] .vc-spinner-control i {
  font-size: 20px;
}
vc-spinner[theme="noire"] .vc-spinner-input:focus {
  outline: none;
}
vc-spinner[theme="noire"] .vc-spinner-label {
  font-size: 15px;
  padding: 8px 0;
  display: none;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
vc-spinner[theme="noire"] .vc-spinner-labelDisplay {
  display: flex;
}
vc-spinner[theme="noire"] .vc-spinner-disabled .vc-spinner-control:hover {
  cursor: auto;
  pointer-events: none;
}
vc-spinner[theme="noire"] .vc-spinner-input[type=number]::-webkit-inner-spin-button,
vc-spinner[theme="noire"] .vc-spinner-input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
vc-spinner[theme="noire"] .vc-spinner-input[type=number] {
  -webkit--appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
vc-spinner[theme="noire"] .vc-spinner-inputBar {
  position: relative;
  display: block;
  width: auto;
}
vc-spinner[theme="noire"] .vc-spinner-inputBar:before,
vc-spinner[theme="noire"] .vc-spinner-inputBar:after {
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
vc-spinner[theme="noire"] .vc-spinner-inputBar:before {
  left: 50%;
}
vc-spinner[theme="noire"] .vc-spinner-inputBar:after {
  right: 50%;
}
vc-spinner[theme="noire"] .vc-spinner-animate:before,
vc-spinner[theme="noire"] .vc-spinner-animate:after {
  width: 50%;
}
