@element: vc-menu;

@{element} {

  vc-item {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    flex-grow: 1;
    justify-content: center;
    cursor: pointer;
  }

  vc-item > vc-item.@{element}-header {
    width: 100%;
    height: 100%;
  }

  vc-item.@{element}-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  vc-item[icon-position="left"].@{element}-header {
    flex-direction: row-reverse;
  }

  vc-item[icon-position="left"].@{element}-header i{
    margin-right: 10px;
  }

  vc-item[icon-position="right"].@{element}-header {
    flex-direction: row;
  }

  vc-item[icon-position="right"].@{element}-header i{
    margin-left: 10px;
  }

  vc-item.@{element}-header i {
    font-size: 16px;
  }

  vc-item[type="dropdown"] .@{element}-dropdown {
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    width: 100%;
  }

  &[direction="bottom-right"] .@{element}-dropdown {
    top: 0;
    right: auto;
    bottom: auto;
    left: 100%;
  }

  &[direction="bottom-right"] > .@{element}-wrapper vc-item > .@{element}-dropdown {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 0;
  }

  &[direction="bottom-right"] > .@{element}-dropdown > vc-item > .@{element}-dropdown {
    top: 0;
    left: 100%;
  }

  vc-item[type="dropdown"][data-visible="true"] > .@{element}-dropdown {
    display: flex;
  }

  & > vc-item[type="dropdown"][data-direction="bottom-left"] > .@{element}-dropdown {
    top: 100%;
    left: 0%;
  }

}

.@{element}-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}
