@element: vc-menu;

.@{element}-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}

@{element} vc-item, .@{element}-page vc-item {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
  
  justify-content: center;
  cursor: pointer;
}

@{element} vc-item {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
}

.@{element}-page vc-item {
  padding: 25px;
  font-size: 30px;
}

@{element} vc-item a, .@{element}-page vc-item a{
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.@{element}-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.@{element}-dropdown.@{element}-hidden {
  opacity: 0;
}


.@{element}-dropdown[data-position="bottom"] {
  top: 100%;
  left: 0;
}

.@{element}-dropdown[data-position="right"] {
  top: 0;
  left: 100%;
}

.@{element}-dropdown[data-position="left"] {
  top: 0;
  left: -100%;
}

.@{element}-dropdown .@{element}-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.@{element}-dropdown vc-item {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
}

.@{element}-modal {
  position: fixed;
  margin: 0;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  box-sizing: border-box;
  opacity: 0;

  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.@{element}-head {
  height: 60px;
    width: 100%;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.@{element}-modalButton {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
}

.@{element}-modalButton i{
  font-size: 35px;
}

@{element}.@{element}-device .@{element}-modalButton {
  display: flex;
}

@{element}.@{element}-device .@{element}-wrapper {
  display: none;
}

.@{element}-button {
  font-size: 35px;
  padding: 10px;
  position: absolute;
  top: 0;
}

.@{element}-button:first-child {
  left: 0;
}

.@{element}-button:last-child {
  right: 0;
}

.@{element}-button.@{element}-hidden {
  display: none;
}

.@{element}-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.@{element}-page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  transform: translate3d(0, 0, 0);

  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}

.@{element}-page.@{element}-hidden {
  transform: translate3d(100%, 0, 0);
}
