vc-tabs[theme="noire"] {
  width: 100%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  word-wrap: break-word;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  /*Tab Content related classes*/
}
vc-tabs[theme="noire"] .vc-tabs-tabsSection {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 30px;
}
vc-tabs[theme="noire"] .vc-tabs-region {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
vc-tabs[theme="noire"] .vc-tabs-tabsWrapper {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  min-width: 100%;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
vc-tabs[theme="noire"] .vc-tabs-dropArea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
}
vc-tabs[theme="noire"] .vc-tabs-hidden {
  visibility: hidden;
}
vc-tabs[theme="noire"] .vc-tabs-scrolls {
  display: flex;
  min-width: 50px;
  flex-grow: 0;
}
vc-tabs[theme="noire"] .vc-tabs-scrolls div {
  display: flex;
  cursor: default;
  height: 100%;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
vc-tabs[theme="noire"] .vc-tabs-scrolls.enabled div {
  cursor: pointer;
}
vc-tabs[theme="noire"] .vc-tabs-scrolls i {
  font-size: 20px;
}
vc-tabs[theme="noire"] vc-tab {
  font-size: 12px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100px;
  min-width: 100px;
  cursor: pointer;
  border-right-width: 3px;
  border-right-style: solid;
  align-items: center;
  justify-content: center;
}
vc-tabs[theme="noire"] vc-tab:hover .vc-tabs-title {
  opacity: 1;
}
vc-tabs[theme="noire"] .vc-tabs-closeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
}
vc-tabs[theme="noire"] .vc-tabs-closeButton i {
  font-size: 15px;
}
vc-tabs[theme="noire"] .vc-tabs-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  text-align: center;
}
vc-tabs[theme="noire"] .vc-tabs-selected {
  border-bottom: 0;
}
vc-tabs[theme="noire"] .vc-tabs-contentsSection {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}
vc-tabs[theme="noire"] .vc-tabs-contentsWrapper {
  position: relative;
  display: flex;
  overflow-y: auto;
  width: 100%;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
vc-tabs[theme="noire"] .vc-tabs-content {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
vc-tabs[theme="noire"] .vc-tabs-content span {
  font-family: sans-serif;
  font-size: 10pt;
  word-break: break-word;
}
vc-tabs[theme="noire"] .vc-tabs-draggingOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
vc-tabs[theme="noire"] .vc-tabs-dropIndicator {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  width: 5px;
  height: 90%;
  -webkit-transition: 0.2s left;
  -moz-transition: 0.2s left;
  -o-transition: 0.2s left;
  transition: 0.2s left;
  pointer-events: none;
}
vc-tabs[theme="noire"] div[data-position="left"] {
  left: 0;
}
vc-tabs[theme="noire"] div[data-position="right"] {
  right: -3px;
}
vc-tabs[theme="noire"] div[data-visible="true"] {
  display: flex;
}
vc-tabs[theme="noire"] .vc-tabs-hidden {
  display: none;
}
vc-tabs[theme="noire"] .selectable {
  -webkit-user-select: auto;
  /* Chrome/Safari */
  -moz-user-select: auto;
  /* Firefox */
  -ms-user-select: auto;
  /* IE10+ */
  user-select: auto;
  /* Rules below not implemented in browsers yet */
  -o-user-select: auto;
}
