@element: vc-datepicker;

  @{element} {
    display: flex;
    width: 200px;
  }

  @{element}[selectable*=y] .@{element}-year:hover, @{element}[selectable*=m] .@{element}-month:hover {
    cursor: pointer;
  }

  @{element}:not([selectable*=y]) .@{element}-year:hover, .@{element}-yearsGridSelectors .@{element}-year:hover {
    text-decoration: none;
    cursor: default;
  }

  @{element}:not([selectable*=m]) .@{element}-month:hover {
    text-decoration: none;
  }

  @{element}:not([data-touch="true"]) .@{element}-day:hover {
    cursor: pointer;
  }

  @{element}[disabled="true"] {
    pointer-events: none;
  }
  
  div[data-disabled="true"]:hover  {
    cursor: default;
    text-decoration: none;
  }
  
  .@{element}-header .@{element}-hidden {
    display: none;
  }
  
  .@{element}-daysGridSelectors, .@{element}-monthsGridSelectors, .@{element}-yearsGridSelectors {
    display: flex;
    height: 100%;
    top: 0;
    bottom: 0;
  
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  
  .@{element}-daysGridSelectors .@{element}-month {
    display: flex;
    height: 100%;
    padding-right: 1.5%;
  
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .@{element}-monthsGridSelectors .@{element}-month {
    display: none;
  }
  
  .@{element}-daysGridSelectors .@{element}-year {
    display: flex;
    height: 100%;
    padding-left: 1.5%;
  
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
  }
  
  .@{element}-monthsGridSelectors .@{element}-year {
    display: flex;
    height: 100%;
  
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  
  .@{element}-leftNavigation {
    position: absolute;
    left: 0;
    display: flex;
    width: 22%;
    max-width: 120px;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  
  .@{element}-rightNavigation {
    position: absolute;
    right: 0;
    display: flex;
    width: 22%;
    max-width: 120px;
    height: 100%;
    top: 0;
    bottom: 0;
  
    justify-content: flex-end;
  }
  
  .@{element}-previous, .@{element}-next, .@{element}-back, .@{element}-close {
    display: flex;
    width: 50%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
       -moz-transition: background-color 0.3s;
         -o-transition: background-color 0.3s;
            transition: background-color 0.3s;
  
    align-items: center;
    flex-grow: 0;
    justify-content: center;
  }
  
  .@{element}-body {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 5px;
    min-height: 140px;
  
    flex-grow: 1;
  }

  .@{element}-body .@{element}-row div {
    display: flex;
    text-transform: capitalize;
  
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
  }

  .@{element}-body .vc-bg1-hoverable:not([data-disabled="true"]) {
    cursor: pointer;
  }

  .@{element}-body div[data-disabled="true"] {
    text-decoration: line-through;
    pointer-events: none;
    cursor: default;
  }
  
  .@{element}-daysGrid {
    display: flex;
    flex-direction: column;
  
    flex-grow: 1;
  }
  
  .@{element}-daysGrid .@{element}-weekDays {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
  
    align-items: center;
    flex-grow: 0;
    justify-content: center;
  }
  
  .@{element}-daysGrid .@{element}-grid {
    display: flex;
    flex-direction: column;
  
    flex-grow: 1;
  }
  .@{element}-row, .@{element}-week {
    display: flex;
    width: 100%;
  
    flex-grow: 1;
  }
  
  .@{element}-monthsGrid, .@{element}-yearsGrid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 5px;
    -webkit-transition: opacity 0.1s;
       -moz-transition: opacity 0.1s;
         -o-transition: opacity 0.1s;
            transition: opacity 0.1s;
    opacity: 0;
  }
  
  .@{element}-dayHeader {
    display: flex;
    height: 100%;
    cursor: default;
  
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  
  .@{element}-day {
    display: flex;
  
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
  }
