/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
radio, contextmenu, slider, treenode) */
eon-video[theme="noire"] .eon-video-timeline,
div[data-theme="noire"] eon-video .eon-video-timeline,
body[data-theme="noire"] eon-video .eon-video-timeline {
  background-color: #3da5b7;
}
eon-video[theme="noire"] .eon-video-poster,
div[data-theme="noire"] eon-video .eon-video-poster,
body[data-theme="noire"] eon-video .eon-video-poster {
  background-color: rgba(51, 51, 51, 0.5);
}
