/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, checkbox, combobox, number, text, 
radio, contextmenu, slider, treenode) */
eon-tree-node[theme="noire"] .eon-tree-node-selected::before,
div[data-theme="noire"] eon-tree-node .eon-tree-node-selected::before,
body[data-theme="noire"] eon-tree-node .eon-tree-node-selected::before,
eon-tree-node[theme="noire"] .eon-tree-node-selected:hover::before,
div[data-theme="noire"] eon-tree-node .eon-tree-node-selected:hover::before,
body[data-theme="noire"] eon-tree-node .eon-tree-node-selected:hover::before {
  background-color: #454545;
}
eon-tree-node[theme="noire"] .eon-tree-node-expand,
div[data-theme="noire"] eon-tree-node .eon-tree-node-expand,
body[data-theme="noire"] eon-tree-node .eon-tree-node-expand {
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-tree-node[theme="noire"] .eon-tree-node-selected,
div[data-theme="noire"] eon-tree-node .eon-tree-node-selected,
body[data-theme="noire"] eon-tree-node .eon-tree-node-selected {
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-tree-node[theme="noire"] .eon-tree-node-head,
div[data-theme="noire"] eon-tree-node .eon-tree-node-head,
body[data-theme="noire"] eon-tree-node .eon-tree-node-head {
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-tree-node[theme="noire"] .eon-tree-node-head i,
div[data-theme="noire"] eon-tree-node .eon-tree-node-head i,
body[data-theme="noire"] eon-tree-node .eon-tree-node-head i {
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-tree-node[theme="noire"] .eon-tree-node-selected::before,
div[data-theme="noire"] eon-tree-node .eon-tree-node-selected::before,
body[data-theme="noire"] eon-tree-node .eon-tree-node-selected::before {
  content: "";
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-tree-node[theme="noire"] .eon-tree-node-head::before,
div[data-theme="noire"] eon-tree-node .eon-tree-node-head::before,
body[data-theme="noire"] eon-tree-node .eon-tree-node-head::before {
  content: "";
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-tree-node[theme="noire"] .eon-tree-node-head:hover::before,
div[data-theme="noire"] eon-tree-node .eon-tree-node-head:hover::before,
body[data-theme="noire"] eon-tree-node .eon-tree-node-head:hover::before {
  background-color: #383838;
}
eon-tree-node[theme="noire"] .eon-tree-node-selected:hover::before,
div[data-theme="noire"] eon-tree-node .eon-tree-node-selected:hover::before,
body[data-theme="noire"] eon-tree-node .eon-tree-node-selected:hover::before {
  background-color: #454545;
}
eon-tree-node[theme="noire"] .eon-tree-node-head:hover .eon-tree-node-name,
div[data-theme="noire"] eon-tree-node .eon-tree-node-head:hover .eon-tree-node-name,
body[data-theme="noire"] eon-tree-node .eon-tree-node-head:hover .eon-tree-node-name {
  color: #ffffff;
}
eon-tree-node[theme="noire"] .eon-tree-node-head:hover i,
div[data-theme="noire"] eon-tree-node .eon-tree-node-head:hover i,
body[data-theme="noire"] eon-tree-node .eon-tree-node-head:hover i {
  color: #ffffff;
}
eon-tree-node[theme="noire"] .eon-tree-node-selected:hover .eon-tree-node-name,
div[data-theme="noire"] eon-tree-node .eon-tree-node-selected:hover .eon-tree-node-name,
body[data-theme="noire"] eon-tree-node .eon-tree-node-selected:hover .eon-tree-node-name {
  color: #ffffff;
}
