/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
radio, contextmenu, slider, treenode) */
eon-menu[theme="noire"] .eon-menu-button,
eon-overlay[theme="noire"] .eon-menu-button,
div[data-theme="noire"] eon-menu .eon-menu-button,
body[data-theme="noire"] eon-menu .eon-menu-button,
eon-menu[theme="noire"] .eon-menu-modalButton,
eon-overlay[theme="noire"] .eon-menu-modalButton,
div[data-theme="noire"] eon-menu .eon-menu-modalButton,
body[data-theme="noire"] eon-menu .eon-menu-modalButton {
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-menu[theme="noire"] .eon-menu-button:hover,
eon-overlay[theme="noire"] .eon-menu-button:hover,
div[data-theme="noire"] eon-menu .eon-menu-button:hover,
body[data-theme="noire"] eon-menu .eon-menu-button:hover,
eon-menu[theme="noire"] .eon-menu-modalButton:hover,
eon-overlay[theme="noire"] .eon-menu-modalButton:hover,
div[data-theme="noire"] eon-menu .eon-menu-modalButton:hover,
body[data-theme="noire"] eon-menu .eon-menu-modalButton:hover {
  color: #3da5b7;
}
eon-menu[theme="noire"] eon-item,
eon-overlay[theme="noire"] eon-item,
div[data-theme="noire"] eon-menu eon-item,
body[data-theme="noire"] eon-menu eon-item {
  background-position: center;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-menu[theme="noire"] eon-item:hover,
eon-overlay[theme="noire"] eon-item:hover,
div[data-theme="noire"] eon-menu eon-item:hover,
body[data-theme="noire"] eon-menu eon-item:hover {
  color: #3da5b7;
  background: #245d67 radial-gradient(circle, transparent 1%, #245d67 1%) center / 15000%;
}
eon-menu[theme="noire"] eon-item:active,
eon-overlay[theme="noire"] eon-item:active,
div[data-theme="noire"] eon-menu eon-item:active,
body[data-theme="noire"] eon-menu eon-item:active {
  background-color: #368897;
  background-size: 100%;
  transition: background 0s;
}
