/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */
/* Set 2 - Elements (button, check, combo, number, text, 
radio, contextmenu, slider, treenode) */
eon-combo[theme="noire"],
eon-overlay[theme="noire"],
div[data-theme="noire"] eon-combo,
body[data-theme="noire"] eon-combo {
  /* - Chrome ≤56,
  - Safari 5-10.0
  - iOS Safari 4.2-10.2
  - Opera 15-43
  - Opera Mobile >12
  - Android Browser 2.1-4.4.4
  - Samsung Internet
  - UC Browser for Android
  - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
  - Internet Explorer Mobile 10-11 */
}
eon-combo[theme="noire"] ::-webkit-input-placeholder,
eon-overlay[theme="noire"] ::-webkit-input-placeholder,
div[data-theme="noire"] eon-combo ::-webkit-input-placeholder,
body[data-theme="noire"] eon-combo ::-webkit-input-placeholder {
  color: #9a9a9a;
}
eon-combo[theme="noire"] :-moz-placeholder,
eon-overlay[theme="noire"] :-moz-placeholder,
div[data-theme="noire"] eon-combo :-moz-placeholder,
body[data-theme="noire"] eon-combo :-moz-placeholder {
  color: #9a9a9a;
}
eon-combo[theme="noire"] ::-moz-placeholder,
eon-overlay[theme="noire"] ::-moz-placeholder,
div[data-theme="noire"] eon-combo ::-moz-placeholder,
body[data-theme="noire"] eon-combo ::-moz-placeholder {
  color: #9a9a9a;
}
eon-combo[theme="noire"] :-ms-input-placeholder,
eon-overlay[theme="noire"] :-ms-input-placeholder,
div[data-theme="noire"] eon-combo :-ms-input-placeholder,
body[data-theme="noire"] eon-combo :-ms-input-placeholder {
  color: #9a9a9a !important;
}
eon-combo[theme="noire"].eon-combo-focus .eon-combo-label,
eon-overlay[theme="noire"].eon-combo-focus .eon-combo-label,
div[data-theme="noire"] eon-combo.eon-combo-focus .eon-combo-label,
body[data-theme="noire"] eon-combo.eon-combo-focus .eon-combo-label {
  color: #3da5b7;
}
eon-combo[theme="noire"] .eon-combo-underline:before,
eon-overlay[theme="noire"] .eon-combo-underline:before,
div[data-theme="noire"] eon-combo .eon-combo-underline:before,
body[data-theme="noire"] eon-combo .eon-combo-underline:before,
eon-combo[theme="noire"] .eon-combo-underline:after,
eon-overlay[theme="noire"] .eon-combo-underline:after,
div[data-theme="noire"] eon-combo .eon-combo-underline:after,
body[data-theme="noire"] eon-combo .eon-combo-underline:after {
  background: #3da5b7;
}
eon-combo[theme="noire"].eon-combo-error .eon-combo-label,
eon-overlay[theme="noire"].eon-combo-error .eon-combo-label,
div[data-theme="noire"] eon-combo.eon-combo-error .eon-combo-label,
body[data-theme="noire"] eon-combo.eon-combo-error .eon-combo-label,
eon-combo[theme="noire"].eon-combo-error .eon-combo-description,
eon-overlay[theme="noire"].eon-combo-error .eon-combo-description,
div[data-theme="noire"] eon-combo.eon-combo-error .eon-combo-description,
body[data-theme="noire"] eon-combo.eon-combo-error .eon-combo-description {
  color: #c33232;
}
eon-combo[theme="noire"].eon-combo-error .eon-combo-main,
eon-overlay[theme="noire"].eon-combo-error .eon-combo-main,
div[data-theme="noire"] eon-combo.eon-combo-error .eon-combo-main,
body[data-theme="noire"] eon-combo.eon-combo-error .eon-combo-main {
  border-bottom: 1px solid #c33232;
}
eon-combo[theme="noire"].eon-combo-error .eon-combo-underline:before,
eon-overlay[theme="noire"].eon-combo-error .eon-combo-underline:before,
div[data-theme="noire"] eon-combo.eon-combo-error .eon-combo-underline:before,
body[data-theme="noire"] eon-combo.eon-combo-error .eon-combo-underline:before,
eon-combo[theme="noire"].eon-combo-error .eon-combo-underline:after,
eon-overlay[theme="noire"].eon-combo-error .eon-combo-underline:after,
div[data-theme="noire"] eon-combo.eon-combo-error .eon-combo-underline:after,
body[data-theme="noire"] eon-combo.eon-combo-error .eon-combo-underline:after {
  background: #c33232;
}
eon-combo[theme="noire"] .eon-combo-dropdown eon-item,
eon-overlay[theme="noire"] .eon-combo-dropdown eon-item,
div[data-theme="noire"] eon-combo .eon-combo-dropdown eon-item,
body[data-theme="noire"] eon-combo .eon-combo-dropdown eon-item {
  background-position: center;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 0);
}
eon-combo[theme="noire"] .eon-combo-dropdown eon-item:hover,
eon-overlay[theme="noire"] .eon-combo-dropdown eon-item:hover,
div[data-theme="noire"] eon-combo .eon-combo-dropdown eon-item:hover,
body[data-theme="noire"] eon-combo .eon-combo-dropdown eon-item:hover {
  background: #245d67 radial-gradient(circle, transparent 1%, #245d67 1%) center / 15000%;
}
eon-combo[theme="noire"] .eon-combo-dropdown eon-item:active,
eon-overlay[theme="noire"] .eon-combo-dropdown eon-item:active,
div[data-theme="noire"] eon-combo .eon-combo-dropdown eon-item:active,
body[data-theme="noire"] eon-combo .eon-combo-dropdown eon-item:active {
  background-color: #368897;
  background-size: 100%;
  transition: background 0s;
}
eon-combo[theme="noire"] .eon-combo-label.eon-combo-movedLabel,
eon-overlay[theme="noire"] .eon-combo-label.eon-combo-movedLabel,
div[data-theme="noire"] eon-combo .eon-combo-label.eon-combo-movedLabel,
body[data-theme="noire"] eon-combo .eon-combo-label.eon-combo-movedLabel {
  color: #9a9a9a;
}
