vc-dialog[theme="claro"].vc-dialog-hostMinim {
  position: relative;
  top: 0 !important;
  left: 0 !important;
}
.vc-dialog-minBar {
  position: fixed;
  z-index: 3000;
  right: 0;
  bottom: 0;
  display: flex;
  float: left;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}
.vc-dialog-hideMinBar {
  display: none;
}
.vc-dialog-minBar .vc-dialog-max {
  display: none;
}
.vc-dialog-modal {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.5);
}
vc-dialog[theme="claro"] {
  font-family: arial;
  position: absolute;
  display: flex !important;
  outline: none;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
vc-dialog[theme="claro"] .vc-dialog-dialog > vc-scroll {
  flex-grow: 1;
  background-color: #272727;
}
vc-dialog[theme="claro"] .vc-dialog-dialog {
  display: none;
  flex-direction: column;
  background-color: #4d4d4d;
  box-shadow: 1px 1px 5px 0 #2f2f2f;
  pointer-events: all;
}
vc-dialog[theme="claro"] .vc-dialog-max {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100% !important;
  max-height: 100% !important;
}
vc-dialog[theme="claro"] .vc-dialog-heading {
  font-weight: bold;
  display: flex;
  padding: 5px 5px 5px 10px;
  align-items: center;
  flex: none;
  justify-content: space-between;
}
vc-dialog[theme="claro"] .vc-dialog-title {
  flex-grow: 1;
  cursor: default;
}
vc-dialog[theme="claro"] .vc-dialog-close {
  cursor: pointer;
  width: 24px;
  padding-left: 5px;
}
vc-dialog[theme="claro"] .vc-dialog-fullscreen {
  justify-content: flex-end;
}
vc-dialog[theme="claro"] .vc-dialog-minim {
  min-width: 250px;
  min-height: auto !important;
  margin-left: 5px;
}
vc-dialog[theme="claro"] .vc-dialog-minim .vc-dialog-heading {
  padding-left: 5px;
}
vc-dialog[theme="claro"] .vc-dialog-minim .vc-dialog-content,
vc-dialog[theme="claro"] .vc-dialog-minim .vc-dialog-footer {
  display: none;
}
vc-dialog[theme="claro"] .vc-dialog-minim .vc-dialog-close,
vc-dialog[theme="claro"] .vc-dialog-minim .vc-dialog-maximize,
vc-dialog[theme="claro"] .vc-dialog-minim .vc-dialog-minimize {
  padding-right: 0;
}
vc-dialog[theme="claro"] .vc-dialog-minim .vc-dialog-title {
  padding-right: 5px;
}
vc-dialog[theme="claro"] .vc-dialog-maximize {
  display: flex;
  padding-left: 5px;
  cursor: pointer;
  width: 24px;
}
vc-dialog[theme="claro"] .vc-dialog-minimize {
  display: flex;
  padding-left: 5px;
  cursor: pointer;
  width: 24px;
}
vc-dialog[theme="claro"] .vc-dialog-close:hover,
vc-dialog[theme="claro"] .vc-dialog-maximize:hover,
vc-dialog[theme="claro"] .vc-dialog-minimize:hover {
  color: #ffffff;
}
vc-dialog[theme="claro"] .vc-dialog-content {
  display: flex;
  overflow: auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
  word-wrap: break-all;
  cursor: default;
  flex-grow: 1;
  justify-content: space-between;
}
vc-dialog[theme="claro"] .vc-dialog-footer {
  display: flex;
  min-height: 40px;
  padding: 5px 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
vc-dialog[theme="claro"] .vc-dialog-buttonsFooter {
  display: flex;
  width: 100%;
  justify-content: center;
}
vc-dialog[theme="claro"] .vc-dialog-footer[location="right"] .vc-dialog-buttonsFooter {
  justify-content: flex-end;
}
vc-dialog[theme="claro"] .vc-dialog-footer[location="left"] .vc-dialog-buttonsFooter {
  justify-content: flex-start;
}
vc-dialog[theme="claro"] .vc-dialog-footer[location="separate"] .vc-dialog-buttonsFooter {
  justify-content: space-between;
}
vc-dialog[theme="claro"] .vc-dialog-resizer .vc-dialog-resizerLine {
  position: absolute;
}
vc-dialog[theme="claro"] .vc-dialog-resizer .vc-dialog-resizerTop {
  top: 0;
  right: 0;
  left: 0;
  height: 5px;
  cursor: n-resize;
  border-top: 2px solid transparent;
}
vc-dialog[theme="claro"] .vc-dialog-resizer .vc-dialog-resizerBottom {
  right: 0;
  bottom: 0;
  left: 0;
  height: 5px;
  cursor: s-resize;
  border-bottom: 2px solid transparent;
}
vc-dialog[theme="claro"] .vc-dialog-resizer .vc-dialog-resizerLeft {
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  cursor: w-resize;
  border-left: 2px solid transparent;
}
vc-dialog[theme="claro"] .vc-dialog-resizer .vc-dialog-resizerRight {
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  cursor: e-resize;
  border-right: 2px solid transparent;
}
vc-dialog[theme="claro"] .vc-dialog-resizer .vc-dialog-resizerCorner {
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid transparent;
}
vc-dialog[theme="claro"] .vc-dialog-resizer .vc-dialog-resizerTL {
  top: 0;
  left: 0;
  cursor: nw-resize;
}
vc-dialog[theme="claro"] .vc-dialog-resizer .vc-dialog-resizerTR {
  top: 0;
  right: 0;
  cursor: ne-resize;
}
vc-dialog[theme="claro"] .vc-dialog-resizer .vc-dialog-resizerBL {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
}
vc-dialog[theme="claro"] .vc-dialog-resizer .vc-dialog-resizerBR {
  right: 0;
  bottom: 0;
  cursor: se-resize;
}
@media (max-width: 800px) {
  vc-dialog[theme="claro"][open="true"][responsive-ratio="false"] {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
  }
  vc-dialog[theme="claro"][open="true"][responsive-ratio="false"] .vc-dialog-dialog {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(100% - 30px) !important;
    height: calc(100% - 30px) !important;
    max-width: inherit !important;
    max-height: inherit !important;
  }
  vc-dialog[theme="claro"][open="true"][responsive-ratio="true"] .vc-dialog-dialog {
    max-width: calc(100% - 60px) !important;
  }
}
