@theme: "noire";

// ----- COLORS ---------
@vcometFrontColor: #18c796;
@white: #ffffff;
@color0: #e6e6e6;
@color1: #2d2d2d;

@bg1: #333333;

@color3: #9a9a9a;
@color4: #18c796;
@color5: #747474;
@color6: #2f2f2f;
@color7: rgba(51, 51, 51, 0.5);
@color8: #565656;
@color9: #383838;
@color10: #242424;
@color11: rgba(0, 0, 0, 0.2);
@color12: #454545;
@color13: #3a3a3a;
@color14: rgba(0,0,0,0.14);
@color15: rgba(0,0,0,0.12);
@color16: rgba(0,0,0,0.2);
@color17: #272727;
@color18: #303030;
@color19: #585858;

@color20: #c33232;

/* Elements colors */
/* datebox */
@color22: rgba(99, 99, 99, 0.4);
@color23: rgba(99, 99, 99, 0.2);
@color24: #45e9bb;
@color25: #ababab;
