@import "variables";

vc-combobox[theme="@{theme}"] {

  .comboboxWrapper {
    border-bottom: 1px solid #e6e6e6;
  }

  .comboboxWrapperNoMatches {
    border-bottom: 1px solid #c33232;
  }

  .underline:before, .underline:after {
    background: #18c796;
  }

  .underlineNoMatches:before, .underlineNoMatches:after {
    background: #c33232;
  }

}
