
@element: vc-combobox;

@{element}[theme="noire"] {

    .@{element}-main {
      border-bottom: 1px solid #e6e6e6;
    }

    .@{element}-underline:before, .@{element}-underline:after {
      background: #18c796;
    }

    &.noMatches .@{element}-main {
        border-bottom: 1px solid #c33232;
    }
  
    &.noMatches .@{element}-underline:before, &.noMatches .@{element}-underline:after {
      background: #c33232;
    }
  
  }
  