@element: vc-datepicker;

@{element}[theme="noire"] {
    &:not([data-touch="true"]) .@{element}-previous:hover, &:not([data-touch="true"]) .@{element}-next:hover, &:not([data-touch="true"]) .@{element}-back:hover, &:not([data-touch="true"]) .@{element}-close:hover {
        background-color: #454545;
      }

    .@{element}-body .@{element}-row div:hover {
        background-color: #18c796;
     }

    &:not([data-touch="true"]) .@{element}-day:hover {
        background-color: #18c796;
    }

    .@{element}-leftNavigation div[data-disabled="true"] {
        color: #747474;
    }

    .@{element}-body div.@{element}-day[data-disabled="true"] {
        color: #747474;
    }

    .@{element}-body div.@{element}-day[data-disabled="true"]:hover {
        color: #747474;
    }

    .@{element}-body div.@{element}-month[data-disabled="true"]:hover {
        color: #747474;
    }
      
    .@{element}-body div.@{element}-year[data-disabled="true"] {
        color: #747474;
    }
      
    .@{element}-body div.@{element}-year[data-disabled="true"]:hover {
        color: #747474;
    }
}