@element: vc-datebox;
@{element}[theme="noire"] {
    .@{element}-subInputs div[data-field] input:focus {
        background-color: #969696;
        background-color: rgba(99, 99, 99, 0.4);
    }
    &:not([data-touch="true"]) .@{element}-subInput:hover {
        background-color: #969696;
        background-color: rgba(99, 99, 99, 0.2);
    }
    .@{element}-underline:before, .@{element}-underline:after {
        background: #18c796;       
    }
    .@{element}-underline.noMatches:before, .@{element}-underline.noMatches:after {
        background: #c33232;
    }

    /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
    &[disabled="true"] ::-webkit-input-placeholder {
        color: #565656;
    }

    /* Firefox 4-18 */
    &[disabled="true"] :-moz-placeholder {
        color: #565656;
    }

    /* Firefox 19-50 */
    &[disabled="true"] ::-moz-placeholder {
        color: #565656;
    }

    /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
    &[disabled="true"] :-ms-input-placeholder {
        color: #565656 !important;
    }
}