@import "variables.less";
@element: vc-datepicker;

@{element} {

    &:not([data-touch="true"]) .@{element}-previous:hover, &:not([data-touch="true"]) .@{element}-next:hover, &:not([data-touch="true"]) .@{element}-back:hover, &:not([data-touch="true"]) .@{element}-close:hover {
        background-color: @color12;
    }

    &:not([data-touch="true"]) .@{element}-day:not([data-disabled="true"]):hover {
        background-color: @color4;
        color:inherit;
    }

    .@{element}-body .@{element}-row div:not([data-disabled="true"]):hover {
        background-color: @color4;
        color:inherit;
    }
    
}