@element: vc-datebox;
@{element}[theme="noire"] {
    &.disabled .@{element}-label {
        color: #747474;
    }
    &.disabled .@{element}-counter {
        color: #747474;
    }
    .@{element}-subInputs div[data-field] input:focus {
        background-color: #969696;
        background-color: rgba(99, 99, 99, 0.4);
    }
    &:not([data-touch="true"]) .@{element}-subInput:hover {
        background-color: #969696;
        background-color: rgba(99, 99, 99, 0.2);
    }
    div[contenteditable=true]:empty:before {
        color: #747474;        
    }
    .@{element}-underline:before, .@{element}-underline:after {
        background: #18c796;       
    }
    .@{element}-underline.noMatches:before, .@{element}-underline.noMatches:after {
        background: #c33232;
    }
}