@element: vc-datepicker;

@{element}[theme="noire"] {

    &:not([data-touch="true"]) .@{element}-previous:hover, &:not([data-touch="true"]) .@{element}-next:hover, &:not([data-touch="true"]) .@{element}-back:hover, &:not([data-touch="true"]) .@{element}-close:hover {
        background-color: #454545;
    }

    &:not([data-touch="true"]) .@{element}-day:not([data-disabled="true"]):hover {
        background-color: #18c796;
        color:inherit;
    }

    .@{element}-body .@{element}-row div:not([data-disabled="true"]):hover {
        background-color: #18c796;
        color:inherit;
    }
    
}