@import "variables.less";
@element: vc-datebox;
@{element} {
    .@{element}-subInputs div[data-field] input:focus {
        background-color: @color3;
        /* IE does not support transparencies, use the above rule */
        background-color: @color22;
    }
    &:not([data-touch="true"]) .@{element}-subInput:hover {
        background-color: @color3;
        /* IE does not support transparencies, use the above rule */
        background-color: @color23;
    }
    .@{element}-underline:before, .@{element}-underline:after {
        background: @color4;       
    }
    .@{element}-underline.noMatches:before, .@{element}-underline.noMatches:after {
        background: @color20;
    }

    /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile >12
    - Android Browser 2.1-4.4.4
    - Samsung Internet
    - UC Browser for Android
    - QQ Browser */
    &[disabled="true"] ::-webkit-input-placeholder {
        color: @color8;
    }

    /* Firefox 4-18 */
    &[disabled="true"] :-moz-placeholder {
        color: @color8;
    }

    /* Firefox 19-50 */
    &[disabled="true"] ::-moz-placeholder {
        color: @color8;
    }

    /* - Internet Explorer 10–11
    - Internet Explorer Mobile 10-11 */
    &[disabled="true"] :-ms-input-placeholder {
        color: @color8 !important;
    }
}