@import "variables.less";
@element: vc-grid;

@{element} { 
    &[editable="true"] vc-cell:hover {
        background: @sect1-hover;
      }

      .@{element}-header .@{element}-wrapper vc-cell {
        color: @fg1;
      }

      .@{element}-header .@{element}-wrapper vc-cell:hover {
        background-color: @sect1-hover;
      }

      .@{element}-entryRow:first-child {
        border-top: 1px solid @bg1-hover2;
      }

      .@{element}-entryRow vc-cell {
        color: @fg1;
        border-right: 1px solid @bg1-hover2;
      }

      .@{element}-disabled {
        color: @sect2-border-hover !important;
      }
}