@element: vc-grid;

@{element}[theme="noire"] { 
    &[editable="true"] vc-cell:hover {
        background: #2d2d2d;
      }

      .@{element}-header .@{element}-wrapper vc-cell {
        color: #e6e6e6;
      }

      .@{element}-header .@{element}-wrapper vc-cell:hover {
        background-color: #383838;
      }

      .@{element}-entryRow:first-child {
        border-top: 1px solid #383838;
      }

      .@{element}-entryRow vc-cell {
        color: #e6e6e6;
        border-right: 1px solid #383838;
      }

      .@{element}-disabled {
        color: #4d4d4d !important;
      }
}