@import "variables.less";
@element: vc-grid;

@{element} { 
    &[editable="true"] vc-cell:hover {
        background: @color1;
      }

      .@{element}-header .@{element}-wrapper vc-cell {
        color: @color0;
      }

      .@{element}-header .@{element}-wrapper vc-cell:hover {
        background-color: @color9;
      }

      .@{element}-entryRow:first-child {
        border-top: 1px solid @color9;
      }

      .@{element}-entryRow vc-cell {
        color: @color0;
        border-right: 1px solid @color9;
      }

      .@{element}-disabled {
        color: #565656 !important;
      }
}