@element: vc-radiogroup;

@{element}[theme="noire"] {
  
  /* Change the radio style when it's checked */
  .@{element}-radio:checked + .@{element}-radioLabel .@{element}-outspan {
    border-color: #18c796;
  }

    /* Change the inside radio style when it's checked */
    .@{element}-radio:checked + .@{element}-radioLabel .@{element}-inspan {
      border-color: #18c796;
      background-color: #18c796;
    }

    /* Style of the circle when the radio it's disabled */
  .@{element}-radio:disabled + .@{element}-radioLabel .@{element}-outspan {
    border-color: #747474;
  }
  .@{element}-radio:disabled + .@{element}-radioLabel, .@{element}-radio[type="radio"]:disabled + .@{element}-radioLabel .@{element}-outspan {
    color: #747474;
  }
  /* Circle style when the radio it's checked and disabled */
  .@{element}-checkedDisabledRadio:checked + .@{element}-radioLabel .@{element}-inspan, .@{element}-disabledRadio[type="radio"]:checked + .@{element}-radioLabel .@{element}-inspan {
    border-color: #747474;
    background-color: #747474;
  }
}