@element: vc-spinner;

@{element}[theme="noire"] {
  
  &[readonly="true"] .@{element}-control:hover {
    color: #e6e6e6;
  }

  .@{element}-inputBar:before, .@{element}-inputBar:after {
    background: #18c796;
  }
}
