@import "variables";
@element: vc-swiper;

@{element}[theme="@{theme}"] {

  .@{element}-thumbnail{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 5px;
    background-color: @white;
    transition: transform .3s;
  }
  /*
   * NAVIGATION CONTROLLERS
   */
  .@{element}-navBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 12%;
    font-size: 50px;
    color: @white;
    text-align: center;
    cursor: pointer;
    transition: height .2s, width .2s, background .2s;
  }
  &.@{element}-vertical .@{element}-navBtn{
    position: absolute;
    z-index: 1;
    height: 12%;
    width: 100%;
    color: @white;
    text-align: center;
    cursor: pointer;
  }

  /*
   * Gallery elements
   */
   &.@{element}-gallery > .@{element}-pagination{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    background-color: black;
    height: 26%;
    width: 100%;
    bottom: 0;
    right: 0;
    transition: bottom .2s;
    transform: translate3d(0,0,0);
  }
  &.@{element}-gallery.@{element}-vertical > .@{element}-pagination{
    overflow: hidden;
    box-sizing: border-box;
    background-color: black;
    height: 100%;
    width: 20%;
    top: 0;
    right: 0;
    transition: right .2s;
  }
  &.@{element}-gallery .vc-swiper-screenBtn {
    top: 0px;
    right: 0px;
    position: absolute;
    font-size: 25px;
    z-index: 1;
    cursor: pointer;
    transition: background-color .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  &.@{element}-gallery .vc-swiper-screenBtn:hover {
    background-color: @color11;
  }
}
