@import "variables.less";
@element: vc-spinner;

@{element} {
  
  &[readonly="true"] .@{element}-control:hover {
    color: @fg1;
  }

  .@{element}-inputBar:before, .@{element}-inputBar:after {
    background: @vcometFrontColor;
  }
}
