@element: vc-tabs;

@{element}[theme="noire"] {
    .@{element}-scrolls.enabled div {
        color: #9a9a9a;
    }
      
    .@{element}-scrolls.enabled div:hover {
        color: #ffffff;
    }
    
    .@{element}-selected .@{element}-closeButton i {
        color: #e6e6e6;
    }
    
    .@{element}-selected .@{element}-closeButton:hover i {
        color: #ffffff;
    }
      
    .@{element}-selected span {
        color: #e6e6e6;
    }
}