@element: vc-treenode;

@{element}[theme="noire"] {
  
    .@{element}-selected::before, .@{element}-selected:hover::before {
        background-color: #454545;
      }

      .@{element}-head:hover::before {
        background-color: #383838;
      }
      .@{element}-selected:hover::before{
        background-color: #454545;
      }
      .@{element}-head:hover .@{element}-name{
        color: #ffffff;
      }
      .@{element}-head:hover i {
        color: #ffffff;
      }
      .@{element}-selected:hover .@{element}-name{
        color: #ffffff;
      }

}