@element: vc-toggle;

@{element}[theme="noire"] {
  .@{element}-input[type="checkbox"] + .@{element}-label::after {
    background: #e6e6e6;
  }
  .@{element}-input:checked ~ .@{element}-label {
    background: #45e9bb;
  }
  .@{element}-input[type="checkbox"]:checked + .@{element}-label::after {
    background: #18c796;
  }
  .@{element}-input:disabled ~ .@{element}-label {
    background: #ababab;
  }
  .@{element}-input:disabled ~ .@{element}-label::after {
    background: #9a9a9a;
  }
  .@{element}-input[type="checkbox"]:disabled + .@{element}-label::after {
    background: #9a9a9a;
  }
}
