
@import "variables";
@element: vc-tabs;

@{element} {
    .@{element}-scrolls.enabled div {
        color: @color3;
    }
      
    .@{element}-scrolls.enabled div:hover {
        color: @white;
    }
    
    .@{element}-selected .@{element}-closeButton:hover i {
        color: @white;
    }
      
    .@{element}-selected span {
        color: @color0;
    }
}