@import "variables";
@element: vc-toggle;

@{element} {
  .@{element}-input[type="checkbox"] + .@{element}-label::after {
    background: @fg1;
  }
  .@{element}-input:checked ~ .@{element}-label .@{element}-span {
    background: @bg7-light;
  }
  .@{element}-input[type="checkbox"]:checked + .@{element}-label::after {
    background: @bg7;
  }
  .@{element}-input:disabled ~ .@{element}-label .@{element}-span {
    background: @bg6-disabled2;
  }
  .@{element}-input:disabled ~ .@{element}-label::after {
    background: @placeholder-color;
  }
  .@{element}-input[type="checkbox"]:disabled + .@{element}-label::after {
    background: @placeholder-color;
  }
}
