@element: vc-tabs;

@{element}[theme="noire"] {

  & {
    width: 100%;
    background: #444444;
    padding: 3px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    word-wrap: break-word;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
  }

  .@{element}-tabsSection {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    height: 30px;
    background: #333232;
  }

  .@{element}-region {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }

  .@{element}-tabsWrapper {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 100%;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
  }

  .@{element}-dropArea {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
  }

  .@{element}-hidden {
    visibility: hidden;
  }

  .@{element}-scrolls {
    display: flex;
    min-width: 50px;
    background: #333232;
    flex-grow: 0;
  }

  .@{element}-scrolls div {
    opacity: 0.3;
    display: flex;
    cursor: default;
    height: 100%;
    color: #b3b3b3;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }

  .@{element}-scrolls.enabled div {
    opacity: 0.6;
    cursor: pointer;
  }

  .@{element}-scrolls.enabled div:hover {
    opacity: 1;
  }

  .@{element}-scrolls i {
    font-size: 20px;
  }

  vc-tab {
    font-size: 12px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100px;
    min-width: 100px;
    cursor: pointer;
    border-right: 3px solid #444444;
    align-items: center;
    justify-content: center;
  }

  vc-tab:hover .vc-tabs-title {
    opacity: 1;
  }

  .@{element}-closeButton {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    width: 15px;
    height: 15px;
    opacity: 0.6;
    align-items: center;
    justify-content: center;
  }

  .@{element}-closeButton:hover {
    opacity: 1;
  }

  .@{element}-closeButton i {
    font-size: 15px;
  }

  .@{element}-title{
    opacity: 0.6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    text-align: center;
  }

  .selected .title {
    opacity: 1;
  }

  .selected {
    border-bottom: 0;
    background-color: #272727;
  }

  .selected span {
    color: #e6e6e6;
  }
  /*Tab Content related classes*/
  .@{element}-contentsSection {
    position: relative;
    display: flex;
    background-color: #272727;
    flex-grow: 1;
    flex-basis: 0;
  }

  .@{element}-contentsWrapper {
    position: relative;
    display: flex;
    overflow-y: auto;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }

  .@{element}-content {
    color: #ffffff;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .@{element}-content span {
    font-family: sans-serif;
    font-size: 10pt;
    word-break: break-word;
  }

  .@{element}-content.hidden {
    // visibility: hidden;
    display: none;
  }

  .@{element}-draggingOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .@{element}-dropIndicator {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    width: 5px;
    height: 90%;
    -webkit-transition: 0.2s left;
    -moz-transition: 0.2s left;
    -o-transition: 0.2s left;
    transition: 0.2s left;
    pointer-events: none;
    background-color: #0ab0df;
  }

  div[data-position="left"] {
    left: 0;
  }

  div[data-position="right"] {
    right: -3px;
  }

  div[data-visible="true"] {
    display: flex;
  }

  .unselectable {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
  }

  .selectable {
    -webkit-user-select: auto;
    /* Chrome/Safari */
    -moz-user-select: auto;
    /* Firefox */
    -ms-user-select: auto;
    /* IE10+ */
    user-select: auto;
    /* Rules below not implemented in browsers yet */
    -o-user-select: auto;
  }
}
