@import "variables";
@element: vc-treenode;

@{element} {
  
    .@{element}-selected::before, .@{element}-selected:hover::before {
        background-color: @color12;
      }

      .@{element}-head:hover::before {
        background-color: @color9;
      }
      .@{element}-selected:hover::before{
        background-color: @color12;
      }
      .@{element}-head:hover .@{element}-name{
        color: @white;
      }
      .@{element}-head:hover i {
        color: @white;
      }
      .@{element}-selected:hover .@{element}-name{
        color: @white;
      }

}