vc-drawer[theme="noire"] {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  transition: transform .2s;
  z-index: 1;
}
vc-drawer[theme="noire"][type="right"] {
  right: 0;
  left: auto;
}
vc-drawer[theme="noire"][type="top"] {
  left: auto;
  right: auto;
  width: 100%;
  height: 250px;
}
vc-drawer[theme="noire"][type="bottom"] {
  top: auto;
  bottom: 0;
  left: auto;
  width: 100%;
  height: 250px;
}
vc-drawer[theme="noire"] .vc-drawer-static {
  position: relative;
  z-index: inherit;
}
