html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #2d2d2d;
}

.blinking{
  animation: blinkingText 2s infinite;
}

@keyframes blinkingText{
  0% {
    color: #ad3636;
  }

  25% {
      color: #ad3636;
  }
  50% {
      color: #38753d;
  }
  75% {
      color: #38753d;
  }
  100% {
      color: #ad3636;
  }
}

/* Toolbar */
.toolbar {
  display: flex;
  height: 60px;
  background-color: #385d75;
  justify-content: center;
  position: fixed;
  width: 100%;
}
/* Second Toolbar */
.scnd-toolbar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 106px;
  position: fixed;
  width: 100%;
  top: 80px;
  padding: 11px;
  box-sizing: border-box;
}
.pwa {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-family: sans-serif;
  color: white;
}
.supported {
  background-color: #38a762;
}
.not-supported {
  color: #ad3636;
}
/* Main content */
.btn {
  width: 110px;
  min-width: 88px;
  margin-left: 17px;
  margin-top: 17px;
  /*height: 100%;
  position: relative;
  cursor: pointer;
  font-weight: bolder;
  font-family: sans-serif;
  background-color: #ababab;
  display: flex;
  justify-content: center;
  align-items: center;*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}
/* -- Override -- */
.btn .eon-button-button{
  height: 100%;
  border-color: #385d75 !important;
}
.btn .eon-fg2-hoverable:hover {
  background-color: #385d75 !important;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}
#green-box {
  background-color: #38753d;
}
#brown-box {
  background-color: #72412d;
}
#red-box {
  background-color: #ad3636;
}
#yellow-box {
  background-color: #ada136;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 90%;
  margin: 0;
  min-width: 260px;
  text-align: center;
  color: white;
  font-weight: bolder;
  top: 80px;
  position: relative;
  font-family: sans-serif;
  font-size: 24px;
}
.no-cached-text{
  color: #ad3636;
  margin-bottom: 32px;
}
.cached-text{
  color: #38753d;
  margin-bottom: 32px;
}
.circle {
  height: 200px;
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  background-color: grey;
  border-radius: 150px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  background-image: url("../images/vimlet-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  min-height: 50px;
}

/* -- -- */

/* Content loaded */
 .smile {
  border: 4px solid #fff;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  float: left;
  position: relative;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  box-sizing: border-box;
}
 .smile:before,  .smile:after {
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  bottom: 48px;
  transition: all 0.2s ease-in-out;
  content: "";
}
 .smile:before {
  left: 20px;
  float: left;
}
 .smile:after {
  right: 20px;
  float: right;
}
 .smile i:before {
  position: absolute;
  width: 40px;
  height: 20px;
  left: 50%;
  margin-left: -20px;
  content: "";
}
.happy i:before {
  border-bottom: 4px solid #fff;
  border-radius: 50px;
  bottom: 20px;
}
 .happy:hover:after {
  height: 4px;
  bottom: 54px;
}
.bored i:before {
  border-top: 4px solid #fff;
  border-radius: 0px;
  bottom: 4px;
}
.bored:hover:before, .bored:hover:after {
  height: 4px;
  bottom: 54px;
}
 .unhappy i:before {
  border-top: 4px solid #fff;
  border-radius: 50px;
  bottom: 4px;
}
 .unhappy:hover:before,  .unhappy:hover:after {
  background: none;
  border-bottom: 4px solid #fff;
  height: 5px;
}
 .item {
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
 /* .item:first-child ~ .item {
  margin-left: 20px;
} */
 .item:hover .smile {
  opacity: 1;
}

/* -- -- */

/* -- RESPONSIVE -- */
@media (max-width: 350px) and (max-height: 530px) {
  .btn {
    margin-top: 0px;
    margin-left: 0px;
    height: 86%;
  }
}
@media (max-width: 250px) {
  .btn {
    margin-left: 0px;
  }
}