@import "variables";

vc-combobox[theme="@{theme}"] {

  vc-item:hover {
    cursor: pointer;
    background-color: #353535;
  }

  .matchingError {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
  }

  & {
    position: relative;
  }

  .comboboxWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #e6e6e6;
  }

  .comboboxWrapperNoMatches {
    border-bottom: 1px solid #c33232;
  }

  .combobox {
    display: flex;
    flex-direction: row;
    background-color: #3a3a3a;
    align-items: center;
  }

  /* Begin underline animation*/
  .underline {
    position: relative;
    display: block;
    width: auto;
  }
  .underline:before, .underline:after {
    position: absolute;
    bottom: 0;
    width: 0;
    top: 0;
    height: 2px;
    content: "";
    -webkit-transition: width 0.5s ease;
       -moz-transition: width 0.5s ease;
            transition: width 0.5s ease;
    background: #18c796;
  }
  .underline:before {
    left: 50%;
  }
  .underline:after {
    right: 50%;
  }

  .animate:before, .animate:after {
    width: 50%;
  }


  .underlineNoMatches:before, .underlineNoMatches:after {
    background: #c33232;
  }

  /* End underline animation*/

  & input {
    font-size: 15px;
    padding: 10px;
    color: #c1c1c1;
    border: 0;
    background-color: transparent;

    flex-grow: 1;
  }

  & input:focus {
    outline: none;
  }

  & button {
    display: flex;
    color: #c1c1c1;
    border: 0;
    background-color: transparent;

    align-items: center;
    justify-content: center;
  }

  .dropButton {
    color: #c1c1c1;

    flex-grow: 0;
  }

  .dropButton:hover {
    color: white;
  }

  .dropdown {
    font-size: 16px;
    position: absolute;
    z-index: 1;
    display: none;
    overflow: auto;
    width: 100%;
    max-height: 300px;
    color: #c1c1c1;
    background-color: #2d2d2d;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    top: ~"calc(100% + 1px)";
    max-height: 150px;
  }

  vc-item {
    display: flex;
    height: 50px;
    padding: 0 20px;
    text-decoration: none;
    color: #e6e6e6;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .expanded {
    display: flex;
  }

  .hidden {
    display: none;
  }

   .dropdown vc-scroll {
    flex-grow: 1;
}

}
