@import "variables";
@element: vc-dropdown;

vc-dropdown[theme="@{theme}"] {
  & {
    position: relative;
    min-width: 125px;
    background: #3a3a3a;
  }

  .@{element}-main {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #e6e6e6;
  }

  .@{element}-main:hover {
    color: white;
  }

  .@{element}-button {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    color: #c1c1c1;
    border: none;
    background-color: transparent;

    align-items: center;
  }

  .@{element}-button:hover {
    color: white;
  }

  .@{element}-icon {
    flex-grow: 0;
  }

  .@{element}-dropdown {
    position: absolute;
    display: none;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #2d2d2d;
    top: ~"calc(100% + 1px)";
    max-height: 150px;
  }

  .@{element}-dropdown vc-scroll{
    flex-grow: 1;
  }

  .expanded {
    display: flex;
  }

  .@{element}-ItemIcon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    background-size: cover;
  }

  /* Begin underline animation*/
  .@{element}-underline {
    position: relative;
    display: block;
    width: auto;
  }
  .@{element}-underline:before, .@{element}-underline:after {
    position: absolute;
    bottom: 0;
    width: 0;
    top: 0;
    height: 2px;
    content: "";
    -webkit-transition: width 0.5s ease;
       -moz-transition: width 0.5s ease;
            transition: width 0.5s ease;
    background: #18c796;
  }
  .@{element}-underline:before {
    left: 50%;
  }
  .@{element}-underline:after {
    right: 50%;
  }

  &.focus .@{element}-underline:before, &.focus .@{element}-underline:after {
    width: 50%;
  }

  &.focus .@{element}-label, &.focus .@{element}-counter {
    color: #18c796;
  }

  &.focus .@{element}-label {
    color: @vcometFrontColor;
  }

  input {
    font-size: 15px;
    padding: 10px;
    color: #c1c1c1;
    border: 0;
    background-color: transparent;
    flex-grow: 1;
    cursor: pointer;
  }

  vc-item {
    display: flex;
    height: 50px;
    padding: 0 20px;
    text-decoration: none;
    color: #e6e6e6;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
  }

  vc-item:hover {
    cursor: pointer;
    background-color: #353535;
  }

  vc-item span {
    flex-grow: 1;
  }



}
