@element: vc-layout;

@{element}[theme="noire"] {
  &.@{element}-columnContainer{
    display: flex;
    flex-direction: column; 
  }
  &.@{element}-rowContainer{
    display: flex;
    flex-direction: row; 
  }
  /*
    Children wrapping
   */
  &.@{element}-wrap{
    flex-wrap: wrap;
  }
  &.@{element}-wrapReverse{
    flex-wrap: wrap-reverse;
  }
  &.@{element}-nowrap{
    flex-wrap: nowrap;
  }
  /*
    Children horizontal alignment and spacing
   */
  &.@{element}-justifiedStart{
    justify-content: flex-start;
  }
  &.@{element}-justifiedEnd{
    justify-content: flex-end;
  }
  &.@{element}-justifiedCenter{
    justify-content: center;
  }
  &.@{element}-justifiedSpaceBetween{
    justify-content: center;
  }
  &.@{element}-justifiedSpaceAround{
    justify-content: center;
  }
  /*
    Children vertical alignment and spacing
   */
  &.@{element}-alignStart{
    align-items: flex-start;
  }
  &.@{element}-alignEnd{
    align-items: flex-end;
  }
  &.@{element}-alignCenter{
    align-items: center;
  }

  /*
    Items horizontal alignment and spacing
   */
  & > vc-item.vc-layout-justifiedStart {
    justify-self: flex-start;
  }
  & > vc-item.vc-layout-justifiedEnd {
    justify-self: flex-end;
  }
  & > vc-item.vc-layout-justifiedCenter {
    justify-self: center;
  }
  /*
    Items vertical alignment and spacing
   */
  & > vc-item.vc-layout-alignStart {
    align-self: flex-start;
  }
  & > vc-item.vc-layout-alignEnd{
    align-self: flex-end;
  }
  & > vc-item.vc-layout-alignCenter{
    align-self: center;
  }
}
