html,
body {
  color: #dcdcdc;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #2d2d2d;
}
body {
  min-width: 320px;
}
a {
  color: #dcdcdc;
}
button {
  background-color: transparent;
  border: 3px solid #18c796;
  color: #dcdcdc;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}
button:hover {
  background-color: #18c796;
}
input[type="checkbox"] {
  margin-left: 20px;
}
h1 {
  color: #dcdcdc;
  font-weight: bold;
  font-size: 25px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > * {
  width: 90%;
}
.card {
  padding: 10px;
  background-color: #353535;
  margin: 10px;
}
.buttonsWrapper {
  display: flex;
}
.row {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.example {
  background-color: #2d2d2d;
  padding: 10px;
  box-sizing: border-box;
  min-height: 150px;
  margin: 0;
}
.twoColumns {
  display: flex;
  justify-content: space-around;
  margin: 8px 0;
}
.twoColumns > * {
  width: calc(50% - 10px);
}
.twoRows {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: bold;
}

@media (min-width: 1300px){
  .container > * {
    width: 70%;
  }
}