vc-text[theme="claro"] {
  min-width: 150px;
  color: #c1c1c1;
  display: flex;
  flex-direction: column;
  /* - Chrome ≤56,
   - Safari 5-10.0
   - iOS Safari 4.2-10.2
   - Opera 15-43
   - Opera Mobile >12
   - Android Browser 2.1-4.4.4
   - Samsung Internet
   - UC Browser for Android
   - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
   - Internet Explorer Mobile 10-11 */
  /* Begin underline animation*/
  /* End underline animation*/
  /* - Chrome ≤56,
   - Safari 5-10.0
   - iOS Safari 4.2-10.2
   - Opera 15-43
   - Opera Mobile >12
   - Android Browser 2.1-4.4.4
   - Samsung Internet
   - UC Browser for Android
   - QQ Browser */
  /* Firefox 4-18 */
  /* Firefox 19-50 */
  /* - Internet Explorer 10–11
   - Internet Explorer Mobile 10-11 */
}
vc-text[theme="claro"] .vc-text-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
}
vc-text[theme="claro"][label=""][counter="false"] .vc-text-data {
  display: none;
}
vc-text[theme="claro"] .vc-text-label {
  font-size: 15px;
  height: 100%;
  flex-grow: 1;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
vc-text[theme="claro"] .vc-text-counter {
  height: 100%;
  flex-grow: 0;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
vc-text[theme="claro"] .vc-text-main {
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  background-color: #3a3a3a;
  display: flex;
}
vc-text[theme="claro"][type="area"] .vc-text-main {
  display: block;
}
vc-text[theme="claro"] .vc-text-editable:empty:before {
  content: attr(placeholder);
  color: #7d7d7d;
}
vc-text[theme="claro"] ::-webkit-input-placeholder {
  color: #7d7d7d;
}
vc-text[theme="claro"] :-moz-placeholder {
  color: #7d7d7d;
}
vc-text[theme="claro"] ::-moz-placeholder {
  color: #7d7d7d;
}
vc-text[theme="claro"] :-ms-input-placeholder {
  color: #7d7d7d !important;
}
vc-text[theme="claro"] input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #c1c1c1;
}
vc-text[theme="claro"] .vc-text-editable,
vc-text[theme="claro"] input {
  font-family: sans-serif;
  font-size: 15px;
  padding: 0;
}
vc-text[theme="claro"] .vc-text-editable {
  outline: none;
  cursor: text;
  word-wrap: break-word;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  overflow: hidden;
}
vc-text[theme="claro"] .vc-text-editable div {
  max-width: 100%;
  word-wrap: break-word;
}
vc-text[theme="claro"] .vc-text-editable p {
  margin: 0;
}
vc-text[theme="claro"] .vc-text-underline {
  position: relative;
  display: block;
  width: auto;
  background: #e6e6e6;
  height: 1px;
  flex-grow: 0;
}
vc-text[theme="claro"] .vc-text-underline:before,
vc-text[theme="claro"] .vc-text-underline:after {
  position: absolute;
  top: 0;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background: #18c796;
}
vc-text[theme="claro"] .vc-text-underline:before {
  left: 50%;
}
vc-text[theme="claro"] .vc-text-underline:after {
  right: 50%;
}
vc-text[theme="claro"].focus .vc-text-underline:before,
vc-text[theme="claro"].focus .vc-text-underline:after {
  width: 50%;
}
vc-text[theme="claro"].focus .vc-text-label,
vc-text[theme="claro"].focus .vc-text-counter {
  color: #18c796;
}
vc-text[theme="claro"].focus .vc-text-label {
  color: #c718be;
}
vc-text[theme="claro"].disabled {
  pointer-events: none;
}
vc-text[theme="claro"].disabled .vc-text-label {
  color: #5f5f5f;
}
vc-text[theme="claro"].disabled .vc-text-counter {
  color: #5f5f5f;
}
vc-text[theme="claro"].disabled .vc-text-underline {
  background: #5f5f5f;
}
vc-text[theme="claro"].disabled .vc-text-editable,
vc-text[theme="claro"].disabled input {
  color: #505050;
}
vc-text[theme="claro"].disabled .vc-text-editable:empty:before {
  content: attr(placeholder);
  color: #505050;
}
vc-text[theme="claro"].disabled ::-webkit-input-placeholder {
  color: #505050;
}
vc-text[theme="claro"].disabled :-moz-placeholder {
  color: #505050;
}
vc-text[theme="claro"].disabled ::-moz-placeholder {
  color: #505050;
}
vc-text[theme="claro"].disabled :-ms-input-placeholder {
  color: #505050 !important;
}
