vc-tabs[theme="claro"] {
  width: 100%;
  background: #444444;
  padding: 3px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  word-wrap: break-word;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  /*Tab related Classes*/
  /*Tab Content related classes*/
}
vc-tabs[theme="claro"] vc-tab {
  position: relative;
}
vc-tabs[theme="claro"] > .tabs {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 30px;
  background: #333232;
}
vc-tabs[theme="claro"] > .tabs .region {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
vc-tabs[theme="claro"] > .tabs .wrapper {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  min-width: 100%;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
vc-tabs[theme="claro"] > .tabs .dropArea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
}
vc-tabs[theme="claro"] > .tabs .hidden {
  visibility: hidden;
}
vc-tabs[theme="claro"] > .tabs > .scrolls {
  display: flex;
  min-width: 50px;
  background: #333232;
  flex-grow: 0;
}
vc-tabs[theme="claro"] .scrolls div {
  opacity: 0.3;
  display: flex;
  cursor: default;
  height: 100%;
  color: #b3b3b3;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
vc-tabs[theme="claro"] .scrolls.enabled div {
  opacity: 0.6;
  cursor: pointer;
}
vc-tabs[theme="claro"] .scrolls.enabled div:hover {
  opacity: 1;
}
vc-tabs[theme="claro"] .scrolls i {
  font-size: 20px;
}
vc-tabs[theme="claro"] .tab {
  font-size: 12px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100px;
  min-width: 100px;
  cursor: pointer;
  border-right: 3px solid #444444;
  align-items: center;
  justify-content: center;
}
vc-tabs[theme="claro"] .tab:hover {
  color: #dcdcdc;
}
vc-tabs[theme="claro"] .closeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  width: 15px;
  height: 15px;
  opacity: 0.6;
  align-items: center;
  justify-content: center;
}
vc-tabs[theme="claro"] .closeButton:hover {
  opacity: 1;
}
vc-tabs[theme="claro"] .closeButton i {
  font-size: 15px;
}
vc-tabs[theme="claro"] .title {
  opacity: 0.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  text-align: center;
}
vc-tabs[theme="claro"] vc-tab:hover .title {
  opacity: 1;
}
vc-tabs[theme="claro"] .selected .title {
  opacity: 1;
}
vc-tabs[theme="claro"] .selected {
  border-bottom: 0;
  background-color: #272727;
}
vc-tabs[theme="claro"] .selected span {
  color: #e6e6e6;
}
vc-tabs[theme="claro"] .contentsSection {
  position: relative;
  display: flex;
  background-color: #272727;
  flex-grow: 1;
  flex-basis: 0;
}
vc-tabs[theme="claro"] .contentsWrapper {
  position: relative;
  display: flex;
  overflow-y: auto;
  width: 100%;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
vc-tabs[theme="claro"] .tabContent {
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
vc-tabs[theme="claro"] .tabContent span {
  font-family: sans-serif;
  font-size: 10pt;
  word-break: break-word;
}
vc-tabs[theme="claro"] .hiddenTabContent {
  display: none;
}
vc-tabs[theme="claro"] .tabDraggingOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
vc-tabs[theme="claro"] .dropIndicator {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  width: 5px;
  height: 90%;
  -webkit-transition: 0.2s left;
  -moz-transition: 0.2s left;
  -o-transition: 0.2s left;
  transition: 0.2s left;
  pointer-events: none;
  background-color: #0ab0df;
}
vc-tabs[theme="claro"] div[data-position="left"] {
  left: 0;
}
vc-tabs[theme="claro"] div[data-position="right"] {
  right: -3px;
}
vc-tabs[theme="claro"] div[data-visible="true"] {
  display: flex;
}
vc-tabs[theme="claro"] .unselectable {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none;
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
}
vc-tabs[theme="claro"] .selectable {
  -webkit-user-select: auto;
  /* Chrome/Safari */
  -moz-user-select: auto;
  /* Firefox */
  -ms-user-select: auto;
  /* IE10+ */
  user-select: auto;
  /* Rules below not implemented in browsers yet */
  -o-user-select: auto;
}
