doc-showcase {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

doc-showcase .doc-showcase-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #888888;
    user-select: none;
}

doc-showcase .doc-showcase-content {}