vc-layout[theme="noire"] {
  /*
    Items wrapping
   */
  /*
    Items horizontal alignment and spacing
   */
  /*
   **This should be on item css file
   Items vertical align
   */
}
vc-layout[theme="noire"] .vc-layout-columnContainer {
  display: flex;
  flex-direction: column;
}
vc-layout[theme="noire"] .vc-layout-rowContainer {
  display: flex;
  flex-direction: row;
}
vc-layout[theme="noire"] .vc-layout-wrap {
  flex-wrap: wrap;
}
vc-layout[theme="noire"] .vc-layout-wrapReverse {
  flex-wrap: wrap-reverse;
}
vc-layout[theme="noire"] .vc-layout-nowrap {
  flex-wrap: nowrap;
}
vc-layout[theme="noire"] .vc-layout-justifiedSstart {
  align-items: start;
}
vc-layout[theme="noire"] .vc-layout-justifiedEnd {
  align-items: end;
}
vc-layout[theme="noire"] .vc-layout-justifiedCenter {
  align-items: center;
}
vc-layout[theme="noire"] .vc-layout-alignStart {
  align-self: flex-start;
}
vc-layout[theme="noire"] .vc-layout-alignEnd {
  align-self: flex-end;
}
vc-layout[theme="noire"] .vc-layout-alignCenter {
  align-self: center;
}
vc-layout[theme="noire"] .vc-layout-alignStretch {
  align-self: stretch;
}
