vc-button[theme="claro"][expand="inline"] {
  display: inline-block;
}
vc-button[theme="claro"] .vc-button-button {
  font-weight: bold;
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: auto;
  height: 30px;
  padding: 16px;
  cursor: pointer;
  -webkit-transition: background-color ease 0.5s;
  -moz-transition: background-color ease 0.5s;
  transition: background-color ease 0.5s;
  border: 3px solid #c718be;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
vc-button[theme="claro"] .vc-button-button:hover {
  background-color: #c718be;
}
vc-button[theme="claro"] .vc-button-disableButton {
  cursor: auto;
  color: #747474;
  border: 3px solid #747474;
}
vc-button[theme="claro"] .vc-button-disableButton:hover {
  background-color: transparent;
}
vc-button[theme="claro"] .vc-button-buttonIcon {
  font-size: 22px;
}
vc-button[theme="claro"][icon-position="left"] .vc-button-button {
  flex-direction: row-reverse;
}
vc-button[theme="claro"][icon-position="left"] .vc-button-buttonIcon {
  margin-right: 5px;
}
vc-button[theme="claro"][icon-position="right"] .vc-button-button {
  flex-direction: row;
}
vc-button[theme="claro"][icon-position="right"] .vc-button-buttonIcon {
  margin-left: 5px;
  flex-direction: row;
}
vc-button[theme="claro"][text="false"] .vc-button-buttonIcon {
  margin-right: 0;
  margin-left: 0;
}
vc-button[theme="claro"][text="false"] .vc-button-button {
  padding: 16px 5px;
}
vc-button[theme="claro"][icon-position="left"][text="true"] .vc-button-addedIcon {
  padding-left: 10px;
}
vc-button[theme="claro"][icon-position="right"][text="true"] .vc-button-addedIcon {
  padding-right: 10px;
}
@media (max-width: 800px) {
  vc-button[theme="claro"][expand="inline"] {
    display: block;
  }
}
