vc-checkbox[theme="claro"] {
  position: relative !important;
  /* Hide native checkbox*/
  /* Create the box for the checkbox */
  /* Create the tick inside the checkbox */
  /* Change the box style when it's checked */
  /* Style of the box when the checkbox it's disable */
  /* Box style when the checkbox it's checked and disable */
}
vc-checkbox[theme="claro"] .vc-checkbox-checkbox[type="checkbox"] {
  display: none;
}
vc-checkbox[theme="claro"] .vc-checkbox-label {
  display: flex;
  cursor: pointer;
  align-items: center;
}
vc-checkbox[theme="claro"] .vc-checkbox-checkbox[type="checkbox"] + .vc-checkbox-label span {
  display: inline-block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  margin: -3px 5px 0 0;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  vertical-align: middle;
  border: 2px solid #c718be;
  border-radius: 2px;
  background-color: #333232;
}
vc-checkbox[theme="claro"] .vc-checkbox-checked[type="checkbox"] + .vc-checkbox-label:after {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 10px;
  height: 5px;
  content: "";
  cursor: pointer;
  transform: rotate(-45deg);
  border: 2px solid #333232;
  border-top: none;
  border-right: none;
  background: transparent;
}
vc-checkbox[theme="claro"] .vc-checkbox-checked[type="checkbox"] + .vc-checkbox-label span {
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background-color: #c718be;
}
vc-checkbox[theme="claro"] .vc-checkbox-checkbox[type="checkbox"]:disabled + .vc-checkbox-label span {
  cursor: auto;
  border: 2px solid #747474;
}
vc-checkbox[theme="claro"] .vc-checkbox-checked[type="checkbox"]:disabled + .vc-checkbox-label span {
  border: 2px solid #747474;
  background-color: #747474;
}
vc-checkbox[theme="claro"] .vc-checkbox-checkbox:disabled + .vc-checkbox-label,
vc-checkbox[theme="claro"] .checkbox[type="checkbox"]:disabled + .vc-checkbox-label span,
vc-checkbox[theme="claro"] .vc-checkbox-checkbox[type="checkbox"]:disabled + .vc-checkbox-label:after {
  cursor: auto;
  color: #747474;
}
